/* 表单列表 */
.form-list-cell{
	margin-top: 1rem;
}
.fItem{
	position: relative;
	display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    font-size: 1.4375rem;
    padding: 1rem 1rem 1rem 1.25rem;
}
.fItem:after{
	position: absolute;
    right: 0;
    bottom: 0;
    left: 1.25rem;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.fItem .form-list-label{
	width: 10.3125rem;
	line-height: 2.25rem;
	padding: 0rem 0rem;
}
.fItem .form-list-control{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 2.25rem;
    line-height: 2.25rem;
}
.form-list-control select{
	direction: rtl;
}
.form-list-icon .mui-icon{
	font-size: 1.5rem;
    line-height: 1.5rem;
	color: #bfbfbf;
	height: 2.25rem;
    line-height: 2.25rem;
}
.form-list-icon .mui-icon-clear{
	color: #bfbfbf;
}
.form-list-icon .mui-icon-arrowright{
	color: #999999;
}
/*修改mui单选框、复选框 */
.mui-radio input[type='radio'], .mui-checkbox input[type='checkbox'] {
    position: absolute;
    top: 0rem;
    right: 1rem;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    -webkit-appearance: none;
}
.mui-radio input[type='radio']:before, .mui-checkbox input[type='checkbox']:before{
	font-family: Muiicons;
    font-size: 1.5375rem;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: none;
    -webkit-font-smoothing: antialiased;
}
.mui-radio input[type='radio']:checked:before {
    content: '\e441';
}
.mui-radio input[type='radio']:checked:before, .mui-checkbox input[type='checkbox']:checked:before {
    color: #007aff;
}