/* 表单列表 */
select, textarea, input[type='text'], input[type='number'], input[type='date'],input[type='password'] {
    font-size: 1.625rem;
    height: 5.3rem;
}
.form-list-cell{margin-top: .7rem!important;}
.auto-list-cell .fItem, .form-list-cell .fItem {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    font-size: 1.625rem;
    padding: 0 1.5rem;
}

.auto-list-cell .fItem:after ,.form-list-cell .fItem:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 1.25rem;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.auto-list-cell .fItem:last-child:after,.form-list-cell .fItem:last-child:after,.fItem.no-line:after {
    height: 0;
}

.fItem .form-list-label {
    display: block;
    max-width: 70%;
    min-width: 35%;
    padding: 1.5rem 0rem;
    color: #333333;
}
.fItem .form-list-label.indent{padding: 1.5rem 0 1.5rem 1.5rem;}
.fItem .form-list-label i {
	font-size: 1.4375rem;
	font-style: normal;
}
.auto-list-cell .fItem .mui-spinner,.form-list-cell .fItem .mui-spinner {
	display: none;
	width: 2rem;
	height: 2rem;
}
.auto-list-cell .fItem.mui-active .mui-spinner,.form-list-cell .fItem.mui-active .mui-spinner {
	display: inline-block;
}

.fItem .form-list-control {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
}

.form-switch-note {
    padding-right: 5rem;
    line-height: 5.3rem;
}

.fItem .form-switch-control {
    width: 4.6875rem;
    position: absolute;
    right: 1.5rem;
    top: 1.3375rem;
    line-height: 5.3rem;
}

.form-btn-block {
    display: block;
    height: 5.3rem;
    line-height: 5.3rem;
    font-size: 1.625rem;
    background-color: #fff;
    padding: 0 1.5rem;
    color: #3b9cf5;
}

.f-ta-center {
    text-align: center;
}

.form-list-control select {
    direction: rtl;
}

.form-list-icon .mui-icon{
    font-size: 1.9rem;
    line-height: 1.5rem;
    color: #bfbfbf;
    height: 5.3rem;
    line-height: 5.3rem;
}

.form-list-icon .mui-icon-clear {
    color: #bfbfbf;
}

.form-list-icon .mui-icon-arrowright {
    color: #999;
}
.form-btn-newcar{
	padding: .3rem 1.2rem;
	font-size: 1.4375rem;
    color: #999;
    border-radius: .3rem;
}
.form-btn-newcar.active {
	color: #fff;
	background: #3B9CF5;
}
/*修改mui单选框、复选框 */
.mui-radio input[type='radio'] {
    position: absolute;
    top: 0rem;
    right: 1rem;
    display: inline-block;
    width: 1.625rem;
    height: 1.625rem;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    -webkit-appearance: none;
}

.mui-radio input[type='radio']:before {
    font-family: Muiicons;
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: none;
    -webkit-font-smoothing: antialiased;
}

.mui-radio input[type='radio']:checked:before {
    content: '\e441';
}

.mui-radio input[type='radio']:checked:before {
    color: #007aff;
}

.mui-table-view-radio a {
    font-size: 1.625rem;
}

.mui-table-view-radio .mui-table-view-cell {
    height: 5.3rem;
    line-height: 5.3rem;
}

.mui-table-view-radio .mui-table-view-cell:after {
    left: 1.5rem;
}
.mui-content > .mui-table-view:first-child{margin-top: 1rem;}

.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {
    font-size: 3rem;
    right: 1.5rem;
}
.mui-table-view-radio .mui-table-view-cell > a:not(.mui-btn) {
    padding: 0 1.5rem;
    margin-right: -2.8rem;
}

.mui-table-view:before, .mui-table-view:after {
    height: 0;
}
.mui-table-view-chevron, .mui-table-view-chevron p{
	font-size: 1.625rem;
}
.mui-table-view-chevron .mui-table-view-cell > div:not(.mui-btn) {
    padding: 1.125rem 0 1.125rem 1.5rem;
}

.mui-table-view-chevron .mui-table-view-cell {
    padding: 0 1.5rem 0 0;
}

.mui-table-view-chevron .mui-table-view-cell.edit-active {
    padding: 0 6.25rem 0 3.125rem;
}

.fItem.label-mul-line {
    padding: 1.25rem 1.5rem;
}

.label-mul-line label {
    padding-right: 4.75rem;
}

.chevron-edit {
    position: absolute;
    right: 2.625rem;
    top: 50%;
    margin-top: -1.5rem;
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #007aff;
}

.chevron-del {
    display: block;
    height: 3rem;
    width: 1.9375rem;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    margin-top: -1.5rem;
    background: url(../images/icon/icon-del.png) center no-repeat;
    background-size: 1.9375rem 1.9rem;
}
.mui-col-sm-12 .form-upload{height: 17.25rem;background: url(../images/icon/icon-plus.png) center no-repeat #fff;border:1px solid #b7b4b4;background-size: 5.78125rem;}
.form-upload {
    background: url(../images/icon/icon-upload.png) center no-repeat;
    background-size: contain;
    height: 10.625rem;
    text-align: center;
}

.form-upload input {
    opacity: 0;
    width: 100%;
    height: 100%;
}
.form-upload-img{
    width: 100%;
    height: 100%;
}
.form-p {
    display: block;
    line-height: 2.5rem;
    font-size: 1.625rem;
}

.form-row {
    padding: 1rem 1.5rem;
}

.mui-switch-mini {
    width: 4.6875rem;
}

.mui-switch {
    height: 2.8125rem;
    border-radius: 4rem;
    float: right;
    border-color: #ccc;
    background-color: #e7e7e7;
}

.mui-switch .mui-switch-handle {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 4rem;
}
/*手机验证码*/
.fItem .form-list-label.form-code{padding:0;}
.form-code input{text-align: left!important;}
.form-list-btn{font-size: 1.4375rem;border-radius: .5rem;padding: .8725rem 1.3125rem;background-color: #eee;}
.list-btn-blue{background-color: #3b9cf5;color:#fff;}
/*输入框提示文字*/
input[type='text']::-webkit-input-placeholder,input[type='password']::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:   #999999;
}
input[type='text']:-moz-placeholder, input[type='password']:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    #999999;
}
input[type='text']::-moz-placeholder,input[type='password']::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999999;
}
input[type='text']:-ms-input-placeholder,input[type='password']:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999999;
}
/*表单提示*/
.form-notice {
	font-size: 1.4375rem;
	padding: 1rem 1.5rem 0rem 1.5rem;
	color: #666666;
}
/*表单搜索框*/
.form-search {
	padding: 1rem 2.5rem;
}
.form-search .search{
	height: 3.9375rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    background-color: #ffffff;
    margin-left: 2rem;
    overflow: hidden;
}
.form-search .search input[type="search"] {
    color: #999999;
    font-size: 1.625rem;
    height: 100%;
    text-align: left;
    text-indent: 1.5rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}
.form-search .search .button {
    border-left: 1px solid #c8c8c8;
    padding-left: 1rem;
    padding-right: 1.5rem;
}
.form-search .search .button span {
    display: block;
    width: 1.625rem;
    height: 1.625rem;
    background-image: url(../images/icon/ico-search-blue.png);
}
/*表单图文列表*/
.form-list-cell-media {
	padding: 0rem 1.5rem;
	font-size: 1.625rem;
}
.form-list-cell-media .mui-table-view-cell {
	padding: 1.5rem 0;
}
.form-list-thumb {
	margin: 0;
	padding-bottom: .5rem;
}
.form-list-thumb img {
	width: 5rem;
	height: 5rem;
	margin-right: .5rem;
}
.form-tab {
	font-size: 1.4375rem;
	border: 1px solid #cccccc;
	width: 100%;
}
.form-tab td, .form-tab th {
	padding: 1rem 0rem;
	border: 1px solid #cccccc;
}
.form-list-cell-media .BL-btn-blue {
	padding: .3rem .5rem;
	font-size: 1.4375rem;
	margin-left: .5rem;
}
.mui-h5, h5{font-size: 1.4375rem;margin-bottom: 1rem;}
.mui-h4, h4{margin-bottom: 1rem;font-weight: normal}
.mui-table-view-condensed .mui-table-view-cell{padding: 1rem 1.5rem;}
.form-under-btn{padding: 1rem 1.5rem;overflow: hidden;}
.under-btn{border-radius: 2.5rem;color: #3b9cf5;border-color: #3b9cf5;margin-left: 2rem;text-align: center;font-size: 1.25rem;padding: .6rem 1.5rem;float: right}
/*表单按钮*/
.form-button-group.BL-mar-t_1 {
    margin-top: -2rem;
}
.form-button-group {
	padding: 2rem 1.5rem;
}
.form-button-group .form-btn {
	display: block;
    background: #3b9cf5;
    width: 100%;
    height: 4.6875rem;
    line-height: 4.6875rem;
    font-size: 1.625rem;
    color: #ffffff;
    border-radius: .625rem;
    text-align: center;
}
.form-button-group .form-btn.gray{
    background-color: #fff;color:#3b9cf5 }
/*条款*/
.form-clause p{font-size: 1.4375rem;line-height: 2rem;color: #333;}
.form-cal{font-size: 1.625rem;color: #3b9cf5;display: block;border-left: 1px solid #3b9cf5;padding-left: 1rem;}
/* 浮动 */
.form-float-left{
	float: left
}
.form-float-right{
	float: right
}
.form-table{font-size: 1.4375rem;padding: 1rem;background-color: #fff;}
.form-table tr{border: 1px solid #ddd;}
.form-table td{padding: 1rem;}
.form-table p{font-size: 1.4375rem;color: #333}
/*input-switch*/

.switch{
    display:none;
}
.input-switch label{
    position:relative;
    display: block;
    float: right;
    border-radius: 2.6rem;
    width: 5rem !important;
    height: 2.6rem;
    background-color: #e7e7e7;
    cursor: pointer;
    vertical-align: top;
    -webkit-user-select: none;
    border: 1px solid #ddd;
}
.input-switch label:before{
    content: '';

    display: block;
    border-radius: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    background-color: #e7e7e7;
    -webkit-transform: scale(1, 1);
    -webkit-transition: all 0.3s ease;
}

.input-switch label:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 1.7rem;
    margin-top: -1.3rem;
    margin-left: -1.3rem;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    border-radius: 2.6rem;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
    -webkit-transform: translateX(-9px);
    -webkit-transition: all 0.3s ease;
}
.switch:checked~label:after{
    -webkit-transform: translateX(2rem);
}

.switch:checked~label:before{
    background-color: #4cd964;
}