/* 首页 */
.member-skin{
	background: url(../images/member/index-bg.jpg) no-repeat #f2f2f2;
	background-size: 100% 16.125rem;
}
.member-hr{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 16.125rem;
}
.member-index .mheader{
	padding: 0 1.25rem;
}
.member-index .mheader .topic{
	width: 5.875rem;
	height: 5.875rem;
	border-radius: 100%;
	border: .3rem solid #ffffff;
	overflow: hidden;
}
.member-index .mheader .context{
	margin-left: 1.5625rem;
}
.member-index .mheader .context .name{
	color: #ffffff;
	font-size: 1.625rem;
	font-weight: 500;
	margin-bottom: 1rem;	
}
.member-index .mheader .context .text{
	color: #013d75;
	font-size: 1.4375rem;
}
.member-index .mheader .topic img{
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.member-index .mheader .mui-icon-arrowright{
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: 700;
}
.member-index .mbody{
	background-color: #f2f2f2;
}
.member-index .mbody .section{
	background-color: #ffffff;
	margin-top: 1rem;
	min-height: 5rem;
}
.member-index .section-myList .myList-hd{
	padding: 1.375rem 1.25rem;	
}
.member-index .section-myList .myList-hd .title{
	font-size: 1.625rem;	
}
.member-index .section-myList .myList-hd .mui-icon-arrowright{
	font-size: 2.5rem;	
}
.member-index .section-myList .myList-item{
	border-top: 1px solid #e7e7e7;
	height: 8.6875rem;
}
.member-index .section-myList .myList-item:first-child{
	border-right: .5px solid #e7e7e7;
}
.member-index .section-myList .myList-item:last-child{
	border-left: .5px solid #e7e7e7;
}
.member-index .section-myList .myList-item .icon{
	height: 2.8125rem;
	margin-bottom: .5rem;
}
.member-index .section-myList .myList-item .item-car .icon{
	background: url(../images/icon/member-ico1.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-myList .myList-item .item-life .icon{
	background: url(../images/icon/member-ico2.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-myList .myList-item .name{
	color: #333333;
	font-size: 1.3125rem;
}
.member-index .section-manage .manage-group:first-child{
	border-bottom: 1px solid #e7e7e7;
}
.member-index .section-manage .manage-group a{
	padding: 1.5rem 0;
}
.member-index .section-manage .manage-group a .name{
	color: #333333;
	font-size: 1.4375rem;
	text-align: center;
}
.member-index .section-manage .manage-group a .icon{
	height: 3.125rem;
	margin-bottom: .5rem;
}
.member-index .section-manage .manage-group .icon-insure{
	background: url(../images/icon/member-insure.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-team{
	background: url(../images/icon/member-team.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-profile{
	background: url(../images/icon/member-profile.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-commission{
	background: url(../images/icon/member-commission.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-integ{
	background: url(../images/icon/member-integ.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-birthday{
	background: url(../images/icon/member-birthday.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-renewal{
	background: url(../images/icon/member-renewal.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-duty{
	background: url(../images/icon/member-duty.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-receive{
	background: url(../images/icon/member-receive.png) no-repeat center center;
	background-size: contain;
}
.member-index .section-manage .manage-group .icon-calcu{
	background: url(../images/icon/member-calcu.png) no-repeat center center;
	background-size: contain;
}

/* 列表分类栏目 */
.BL-segmented-control.mui-scroll-wrapper{
	border-bottom: 1px solid #e7e7e7;
}
.BL-segmented-control.mui-scroll-wrapper, .BL-segmented-control.mui-scroll-wrapper .mui-scroll{
	height: 4.25rem;
}
.BL-segmented-control .mui-control-item {
	line-height: 0rem !important;
	padding: 0 1.25rem !important;
}
.BL-segmented-control .mui-control-item span{
	display: inline-block;
	line-height: 4.0625rem;
	padding: 0 .53125rem;
	border-bottom: 0.1875rem solid #ffffff !important;
}
.BL-segmented-control .mui-control-item.mui-active{
	border-bottom: 0 none !important;
}
.BL-segmented-control .mui-control-item.mui-active span{
	color: #3b9cf5 !important;
	border-bottom: 0.1875rem solid #3b9cf5 !important;
}

/* 个人中心共用时间段筛选*/
.member-list-filter .member-date-select {
	position: relative;
	height: 5.625rem;
	padding: 0rem 1.5rem;
	border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.member-date-select .member-date-item {
	display: inline-block;
	width: 6rem;
	margin-right: .5rem;
	padding: .4rem 0rem;
	background: #ededed;
	color: #999999;
    font-size: 1.4375rem;
    text-align: center;
    border-radius: .25rem;
}
.member-date-select .member-date-item.mui-active {
	background: #3B9CF5;
	color: #ffffff;
}
.member-date-filter {
	position: absolute;
	line-height: 5.625rem;
	right: 1.5rem;
	top: 0rem;
	font-size: 1.4375rem;
	color: #999999;
}
.member-date-filter .date-filter-ico {
	display: block;
	width: 1.4375rem;
    height: 1.4375rem;
    margin: .2rem 0rem .1rem .4rem;
    background-image: url("../images/icon/ico-filter.png");
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}
.member-date-filter.mui-active {
	color: #3B9CF5;
}
.member-date-filter.mui-active .date-filter-ico {
	 background-image: url("../images/icon/ico-filter-active.png");
}
/*佣金提取*/
.member-cmis-banner {
	background-color: #303447;
	padding: 9.125rem 0rem 2rem 0rem ;
}
.member-cmis-money {
	position: relative;
	font-size: 3.125rem;
	padding-top: .5rem;
}
.member-cmis-smallmoney {
	margin-top: 4.625rem;
	font-size: 1.4375rem;
	color: #ffffff;
}
.member-cmis-txt {
	font-size: 1.4375rem;
	color: #999999;
	margin-bottom: 0rem;
}
.member-cmis-select {
	height: 6.25rem;
	line-height: 6.25rem;
	font-size: 1.625rem;
}
.cmis-item-count a{
	line-height: 5rem;
	font-size: 1.625rem;
}
.member-cmis-ico {
	display: block;
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.member-cmis-expand {
	width: 3rem;
    height: 2.2312rem;
	background-image: url("../images/icon/ico-cmis-expand.png");
}
.member-cmis-income {
	width: 3rem;
    height: 2.2312rem;
	background-image: url("../images/icon/ico-cmis-income.png");
}
.member-cmis-count {
	width: 3rem;
    height: 3rem;
	background-image: url("../images/icon/ico-cmis-count.png");
}
.member-cmis-list-item {
	padding: .5rem 1rem .5rem 1.5rem;
}
.member-cmis-list-item a.mui-navigate-right {
	margin: 0rem -1.5rem;
	font-size: 1.9rem;
}
.member-cmis-list-item:after {
	left: 1.5rem;
}
.member-cmis-list-l{
	padding: .1rem 0rem;
	display: inline-block;
	width: 65%;
}
.member-cmis-list-r{
	padding: .1rem 0rem;
	display: inline-block;
	width: 30%;
}
.member-cmis-list-l .list-top-txt, .member-cmis-list-r .list-top-txt{
	line-height: 2.5rem;
	font-size: 1.625rem;
	color: #000000;
}
.member-cmis-list-l .list-bottom-txt, .member-cmis-list-r .list-bottom-txt{
	line-height: 2.5rem;
	font-size: 1.4375rem;
	color: #999999;
}
.cmis-detail .form-list-cell .fItem .form-list-label {
	padding: 1rem 0rem;
	color: #999999;
}
.cmis-detail .form-list-cell .fItem:after {
	height: 0;
}
.cmis-detail .form-list-cell .form-list-control {
	text-align: right;
}
.member-cmis-tax-txt {
	padding: 1rem 1.5rem 0rem 1.5rem;
	font-size: 1.3125rem;
	color: #333333;
}
.member-cmis-result {
	background: #ffffff;
    padding: 4.0625rem 0rem;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.cmis-result-success {
	width: 9rem;
	height: 9rem;
	background-image: url("../images/icon/ico-cmis-success.png");
	margin: 0 auto;
}
.cmis-result-fail {
	width: 9rem;
	height: 9rem;
	background-image: url("../images/icon/ico-cmis-fail.png");
	margin: 0 auto;
}
.member-cmis-result p {
	margin-top: 2rem;
	font-size: 2.1875rem;
}
.member-cmis-tab {
	font-size: 1.4375rem;
	overflow-x: auto;
	padding-bottom: 1rem;
}
.member-cmis-tab table{
	table-layout: fixed;
}
.member-cmis-tab td, .member-cmis-tab th {
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: 1rem;
}
.member-cmis-tab th {
	background: #ebf5fe;
    padding: 1rem;
    white-space: nowrap;
    font-weight: 500;
}
.member-cmis-tab-title {
	height: 5rem;
	line-height: 5rem;
	padding: 0 1.5rem;
	font-size: 1.4375rem;
	overflow: hidden;
}
.cmis-extract-btn {
	position: absolute;
    right: 1.5rem;
    top: .8rem;
    background: #3b9cf5;
    padding: .4rem 2rem;
    font-size: 1.625rem;
    color: #ffffff;
    border-radius: .425rem;
    border: none;
    text-align: center;  
}
/* 团队管理 */
.member-team-tab-title {
	height: 4.25rem;
	line-height: 4.25rem;
	padding: 0 1.5rem;
	font-size: 1.3125rem;
}
.member-team-tab-title span {
	margin-right: 1.5rem;
}
.member-team-tab-title i {
	padding-left: .2rem;
	font-style: normal;
}
/*团队搜索*/
.member-team-search {
	height: 5.625rem;
	line-height: 5.625rem;
	padding: 0rem 1.5rem;
}
.member-team-search .search-date,.member-team-search .search-role{
	width: 10.9375rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    background-color: #ededed;
    overflow: hidden;
    margin-right: 1rem;
}
.member-team-search .search-date input[type="text"], .member-team-search .search-role select{
	color: #999999;
    font-size: 1.4375rem;
    height: 100%;
    text-indent: 1rem;
    text-align: left;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}
.member-team-search .down {
	padding-left: .6875rem;
    padding-right: .6875rem;
} 
.member-team-search .search-down{
	display: block;
    width: 1rem;
    height: .7rem;
	background-image: url("../images/icon/ico-down.png");
}
.member-team-search .searchbtn {
	display: inline-block;
	width: 5.5rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	background: #3B9CF5;
	text-align: center;
	color: #ffffff;
	font-size: 1.4375rem;
	border-radius: .3rem;
    -webkit-border-radius: .3rem;
}
/*团队表格*/
.member-team-tab {
	table-layout: fixed;
}
.member-team-tab.fixed-thead {
	width: 100%;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
}
.member-team-scroll {
	max-height: 25rem;
	overflow: auto;
	overflow-x: hidden;
}
.member-team-tab td, .member-team-tab th {
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: .5rem;
    font-size: 1.3125rem;
}
.member-team-tab th {
	background: #ebf5fe;
    padding: 1rem .5rem;
    white-space: nowrap;
    font-weight: 500;
}
/*团队列表*/
.member-team-list-item {
	padding: .5rem 1rem .5rem 1.5rem;
}
.member-team-list-item a.item {
	margin: 0rem -1.5rem;
    font-size: 1.9rem;
}
.member-team-list-item a.item .img{
	width: 7.5rem;
	height: 7.5rem;
}
.member-team-list-item a.item .context {
	margin-left: 1.125rem;
	font-size: 1.625rem;
}
.member-team-list-item .context .team-per-intro {
	margin-bottom: 1rem;
}
.member-team-list-item .context .team-per-intro span {
	display: inline-block;
	width: 5rem;
	margin-right: 3rem;
}
.member-team-list-item .context .team-per-ins span {
	display: inline-block;
	width: 5rem;
	margin-right: 3rem;
	font-size: 1.4375rem;
	color: #999999;
}
.context .team-per-ins i {
	font-style: normal;
	padding-left: .5rem;
}
/*团队模态框*/
.member-team-modal {
	display: none !important;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.member-team-modal-title {
	height: 5.3125rem;
	line-height: 5.3125rem;
	font-size: 1.625rem;
}
.member-team-modal-body {
	padding-bottom: 2.1875rem;
}
/* 团队管理 */
.member-team-tab-title {
	height: 4.25rem;
	line-height: 4.25rem;
	padding: 0 1.5rem;
	font-size: 1.3125rem;
}
.member-team-tab-title span {
	margin-right: 1.5rem;
}
.member-team-tab-title i {
	padding-left: .2rem;
	font-style: normal;
}
/*团队搜索*/
.member-team-search {
	height: 5.625rem;
	line-height: 5.625rem;
	padding: 0rem 1.5rem;
}
.member-team-search .search-date,.member-team-search .search-role{
	width: 10.9375rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    background-color: #ededed;
    overflow: hidden;
    margin-right: 1rem;
}
.member-team-search .search-date input[type="text"], .member-team-search .search-role select{
	color: #999999;
    font-size: 1.4375rem;
    height: 100%;
    text-indent: 1rem;
    text-align: left;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}
.member-team-search .down {
	padding-left: .6875rem;
    padding-right: .6875rem;
} 
.member-team-search .search-down{
	display: block;
    width: 1rem;
    height: .7rem;
	background-image: url("../images/icon/ico-down.png");
}
.member-team-search .searchbtn {
	display: inline-block;
	width: 5.5rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	background: #3B9CF5;
	text-align: center;
	color: #ffffff;
	font-size: 1.4375rem;
	border-radius: .3rem;
    -webkit-border-radius: .3rem;
}
/*团队表格*/
.member-team-tab {
	table-layout: fixed;
}
.member-team-tab.fixed-thead {
	width: 100%;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
}
.member-team-scroll {
	max-height: 25rem;
	overflow: auto;
	overflow-x: hidden;
}
.member-team-tab td, .member-team-tab th {
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: .5rem;
    font-size: 1.3125rem;
}
.member-team-tab th {
	background: #ebf5fe;
    padding: 1rem .5rem;
    white-space: nowrap;
    font-weight: 500;
}
/*团队列表*/
.member-team-list-item {
	padding: .5rem 1rem .5rem 1.5rem;
}
.member-team-list-item a.item {
	margin: 0rem -1.5rem;
    font-size: 1.9rem;
}
.member-team-list-item a.item .img{
	width: 7.5rem;
	height: 7.5rem;
}
.member-team-list-item a.item .context {
	margin-left: 1.125rem;
	font-size: 1.625rem;
}
.member-team-list-item .context .team-per-intro {
	margin-bottom: 1rem;
}
.member-team-list-item .context .team-per-intro span {
	display: inline-block;
	width: 5rem;
	margin-right: 3rem;
}
.member-team-list-item .context .team-per-ins span {
	display: inline-block;
	width: 5rem;
	margin-right: 3rem;
	font-size: 1.4375rem;
	color: #999999;
}
.context .team-per-ins i {
	font-style: normal;
	padding-left: .5rem;
}
/*团队模态框*/
.member-team-modal {
	display: none !important;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.member-team-modal-title {
	height: 5.3125rem;
	line-height: 5.3125rem;
	font-size: 1.625rem;
}
.member-team-modal-body {
	padding-bottom: 2.1875rem;
}
