/*公共*/
.BL-ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.BL-ul li{
	border: 1px solid #e7e7e7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.BL-ul li:first-child{
	border-bottom: none;
}
.BL-ul li span{
	display: inline-block;
	float: left;
	text-align: center;
	box-sizing: border-box;
	width: 25%;
	padding: 1rem 0;
	border-right: 1px solid #e7e7e7; 
}
.BL-ul li:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.BL-ftz-42{
	font-size: 1.3125rem !important;
}
.BL-ftz-46{
	font-size: 1.4375rem !important;
}
.BL-ftz-52{
	font-size: 1.625rem !important;
}
.BL-border-b{
	border-bottom: 1px solid #e7e7e7;
}
.fr{
    float: right;
}
/*清除浮动代码*/ 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 

/* 列表——导航 */
.BL-segmented-control.mui-scroll-wrapper{
	border-bottom: 1px solid #e7e7e7;
}
.BL-segmented-control.mui-scroll-wrapper, .BL-segmented-control.mui-scroll-wrapper .mui-scroll{
	height: 4.25rem;
}
.BL-segmented-control .plans-nav  {
	display: inline-block;
    width: auto;
	line-height: 0;
	font-size: 1.4375rem;
	color: #000;
	padding: 0 1.25rem;
	text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.BL-segmented-control .plans-nav span{
	display: inline-block;
	line-height: 4.0625rem;
	padding: 0 .53125rem;
	border-bottom: 0.1875rem solid #ffffff !important;
}
.BL-segmented-control .plans-nav.mui-active{
	border-bottom: 0 none !important;
}
.BL-segmented-control .plans-nav.mui-active span{
	color: #3b9cf5 !important;
	border-bottom: 0.1875rem solid #3b9cf5 !important;
}
.modal-form-nav .plans-nav{
	width: 25% !important;
	float: left;
}

/* 列表筛选——搜索框 */
.search-pro{
	margin-left: 3rem !important;
	margin-right: 4rem;
}

/* 列表筛选——导航 */
.plan-filter{
	width: 100%;
	background-color: #fff;
	padding: 1.4rem 1.25rem;
}
.plan-filter button {
	width: 22% !important;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-size: 1.4375rem;
	text-align: center;
	padding: 0 !important;
}
.plan-list-cell{
    border-radius: 8px;
	margin-right: 2%;
}

.plan-filter .mui-active{
	color: #fff !important;
	background-color: #3B9CF5 !important;
}

/*计划书管理*/
.plan-list{
	background-color: #ffffff;
	position: relative;
}
.plan-list .plan-list-cell{
	padding-left: 1.25rem	
}

.plan-list .plan-list-cell .cItem{
	border-bottom: 1px solid #e7e7e7;
	padding: 1rem 1.25rem 1rem 0;
}
.plan-list-cell .cItem .pro-content{
	position: relative;	
}
.plan-list-cell .cItem .img{
	width: 7.5rem;
	height: 5.625rem;
	border: 1px solid #b7b4b4;
}
.plan-list-cell .cItem .img img{
	display: block;
	height: 100%;
	width: 100%;
}
.plan-list-cell .cItem .context{
	margin-left: 1.125rem;
}
.context-top{
	margin-top: .3rem;
	margin-bottom: 1.5625rem;
}
.plan-list-cell .cItem .context .tit{
	float: left;
	color: #333333;
	font-size: 1.75rem;
	font-weight: 400;
}
.plan-list-cell .cItem .context .btn{
	display: inline-block;
	width: 5.625rem;
	height: 1.75rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-align: center;
	padding: 0;
	margin: .2rem 0 0 1rem;
}
.plan-list-cell .cItem .context .data{
	float: right;
	color: #999999;
	font-size: 1.4375rem;
	margin-right: 1.55rem;
}
.plan-list-cell .cItem .context .text{
	color: #999999;
	font-size: 1.4375rem;

}
.mui-navigate-right:after{
	font-size: 1.9rem;
	top: 1.25rem;
	right: 0;
}

.selected{
	border-radius: 100%;
	border: 2px solid #e7e7e7;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 1.25rem;	
}
.mui-icon-checkmarkempty{
	color: #ffffff;
	font-size: 2.25rem;
	line-height: 2.25rem;
}
.cItem-active  .selected{
	border: 2px solid #3b9cf5;
	background-color: #3b9cf5;
}
.mui-icon-checkmarkempty{
	color: #ffffff;
}
.BL-foot-selectAll{
	padding-left: 1.25rem;
}
.BL-foot-selectAll .context{
	font-size: 1.625rem;	
}


/*计划书汇总*/

.plans-total .BL-title{
	width: 100%;
	border-bottom:1px solid #e7e7e7 ;
	border-top:1px solid #e7e7e7 ;
}
.plans-total-content div:first-child{
	width: 50%;	
}
.plans-total-font{
	padding-top: 0.625rem;
}
.plans-total-content button{
	width: 6.125rem;
	height: 2.6875rem;
}

/*单个计划书*/
.plans-detail-banner img{
	display: block;
	width: 100%;
	height: auto;
}
.plans-detail-fixed{
	position: fixed;
	top: 3rem;
	right: 0;
	z-index: 2;
}
.plans-detail-fixed > div{
	color: #fff;
	font-size: 1.4375rem;
	margin-top: .8rem;
	padding: .5rem .8rem;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	background-color: rgba(167,166,170,.8);
}
.plans-detail-box{
    margin:0 1.5rem 1rem 1.5rem;
}
.plans-detail-box-img>img{
	display: block;
	width: 100%;
	height: auto;
}
.plans-detail .plans-detail-box-first{
   	position: relative;
    margin-top: -3rem;
}
.plans-detail-item li{
	border: none;
}
.plans-detail-item li span{
	font-weight: 400;
	border: none;
}
.plans-detail-item li:last-child span{
	font-size: 1.875rem;
}
.plans-detail-behalf .title{
	font-weight: 400;
	line-height: 2.6875rem;
}
.plans-detail-behalf .title em{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-color: #3B9CF5;
	border-radius: 50%;
}
.plans-detail-behalf .title i{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-color: orange;
	border-radius: 50%;
}
.plans-detail-behalf .title button{
	margin-top: .35rem;
}
.plans-detail-behalf .content{
	margin-bottom: 1rem;
}
.plans-detail-behalf .content p{
	font-size: 1.4375rem;
}
.plans-detail-design img{
	display: inline-block;
	width: auto;
	height: 8.125rem;
}
.plans-detail-design i{
	display: block;
	position: absolute;
	width: 2.6rem;
	height: 2.6rem;
	right: 0;
	background: url(../images/icon/plan_del.png) no-repeat;
	background-size: cover;
}

.plans-detail-design-button button{
	min-width: 5rem ;
	height: 2.6875rem;
}
.plans-detail-table{
	font-size: 1rem;
    overflow-x: auto;
}
table{
	min-width: 100%;
}
table thead tr th{
	background-color: #ebf5fe;
	padding: 1rem;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.2rem;
    border: 1px solid #e7e7e7;
}
table tbody tr td{
	text-align: center;
	padding: 1rem;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.2rem;
    border: 1px solid #e7e7e7;
}
.table-td-hide{
	height: 0;padding-top: 0; padding-bottom: 0; line-height: 0;min-width: 300px;
}

.plans-detail-phone{
	float: right;
	height: 2.4rem;
	line-height: 2.4rem;
	color: #000;
	top: 0;
	right: 1rem;
}
.plans-detail-phone i{
	display: inline-block;
	float: left;
	width: 1.625rem;
	height: 2.4rem;
	margin-right: 1rem;
	background: url(../images/icon/phone.png) no-repeat;
	background-size: cover;
}

/*计划书制作/*/
/* 列表——导航 */
.BL-segmented-control.mui-scroll-wrapper{
	border-bottom: 1px solid #e7e7e7;
}
.BL-segmented-control.mui-scroll-wrapper, .BL-segmented-control.mui-scroll-wrapper .mui-scroll{
	height: 4.25rem;
}
.BL-segmented-control .plans-nav {
	line-height: 0rem !important;
	padding: 0 1.25rem !important;
}
.BL-segmented-control .plans-nav span{
	padding: 0 .53125rem;
	border-bottom: 0.1875rem solid #ffffff !important;
}
.BL-segmented-control .plans-nav i{
    height: 4.0265rem;
    line-height: 4.0265rem;
	font-size: 1.9rem;
    color: #bfbfbf;
    border: none;
}
.BL-segmented-control .plans-nav.mui-active{
	border-bottom: 0 none !important;
}
.BL-segmented-control .plans-nav.mui-active span{
	color: #3b9cf5 !important;
	border-bottom: 0.1875rem solid #3b9cf5 !important;
}

/*投保人信息*/
.prospect-info .title{
	height: 4.8125rem;
}
.prospect-info .title:before{
	content: '';
	display: inline-block;
	position: absolute;
	height: 2.8125rem;
	border-left: 5px solid #3B9CF5;
}
.prospect-info .title div{
	font-size: 1.4375rem;
}
.prospect-info .title button{
	height: 2.6875rem;
	line-height: 2.6875rem;
}
.prospect-info .title .BL-abs{
	right: 1.5rem;
	font-size: 1.4375rem;
}
.prospect-info .title button span{
	float: left;
}
.displace-icon{
	display: inline-block;
	float: left;
	background: url(../images/icon/icon-displace.png) center no-repeat;
    background-size: 2rem;
    top: 0;
    width: 2rem;
    height: 100%;
    margin: 0 .5rem;
}
.mui-switch-mini {
    width: 4.6875rem;
    background-color: #fff;
}

.mui-switch {
    height: 2.8125rem;
    border-radius: 4rem;
    float: right;
}

.mui-switch .mui-switch-handle {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 4rem;
}

/*输入框 同在线投保*/
.prospect-info .main{
	font-size: 1.4375rem;
}
.input-item {
	margin: 1.5rem 0;
}
.input-item label{
	display: block;
	width: 30%;
    line-height: 2.9375rem;
    font-size: 1.4375rem;
}
.input-wrap {
    position: relative;
    width: 50%;
}
.input-wrap input {
	height: 2.9375rem;
    border: 1px solid #c8c8c8;
    border-radius: .3125rem;
    text-align: left;
    padding-left: 1rem;
	font-size: 1.4375rem;
}
.input-wrap select {
	line-height: 2.9375rem;
    border: 1px solid #c8c8c8 !important;
    border-radius: .3125rem;
    text-align: left;
    padding-left: 1rem;
	font-size: 1.4375rem;
}
.input-wrap-planName input{
	height: 2.9375rem;
	border: none;
	text-align: right;
	padding-right: 3rem;
}
.form-clear-icon {
    position: absolute;
    right: .5rem;
    top: 0;
}
.form-clear-icon .mui-icon {
    font-size: 1.9rem;
    color: #bfbfbf;
    line-height: 2.9375rem;
}
.address-icon {
    background: url(../images/icon/icon-users.png) center no-repeat;
    background-size: 2rem;
}
.right-orange-btn {
    width: 16%;
    position: absolute;
    right: 0rem;
    height: 2.9375rem;
    line-height: 2.9375rem;
    font-size: 1.125rem;
    border: 1px solid #ff9212;
    border-radius: .3125rem;
    color: #ff9212;
    text-align: center;
}
.box-f-1 {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    -ms-flex: 1.0;
    box-flex: 1.0;
}

.input-item button{
	height: 2.9375rem;
	line-height: 2.9375rem;
	font-size: 1.4375rem;
	padding: 0 2.5rem;
}
.input-item button.ins-btn{
	padding: 0 1rem;
}
.ins-date-icon {
    background: url(../images/icon/icon-datepicker.jpg) center no-repeat;
    background-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0;
    width: 2rem;
    height: 100%;
}
.prospect-info-button{
	float: right;
	height: 2.6878rem;
	margin-right: 1.5rem;
}