/* 列表——导航 */
.BL-segmented-control.mui-scroll-wrapper{
	border-bottom: 1px solid #e7e7e7;
}
.BL-segmented-control.mui-scroll-wrapper, .BL-segmented-control.mui-scroll-wrapper .mui-scroll{
	height: 4.25rem;
}
.BL-segmented-control .mui-control-item {
	line-height: 0rem !important;
	padding: 0 1.25rem !important;
}
.BL-segmented-control .mui-control-item span{
	display: inline-block;
	line-height: 4.0625rem;
	padding: 0 .53125rem;
	border-bottom: 0.1875rem solid #ffffff !important;
}
.BL-segmented-control .mui-control-item i{
	font-size: 1.9rem;
    line-height: 1.5rem;
    color: #bfbfbf;
    border: none;
}
.BL-segmented-control .mui-control-item.mui-active{
	border-bottom: 0 none !important;
}
.BL-segmented-control .mui-control-item.mui-active span{
	color: #3b9cf5 !important;
	border-bottom: 0.1875rem solid #3b9cf5 !important;
}

/*投保人信息*/
.prospect-info .title{
	border-bottom: 1px solid #e7e7e7;
}
.prospect-info .title:before{
	content: '';
	display: inline-block;
	position: absolute;
	height: 2.2rem;
	border-left: 5px solid #3B9CF5;
}
.prospect-info .title div{
	font-size: 1.625rem;
}
.prospect-info .title .BL-abs{
	right: 1.5rem;
	font-size: 1.4375rem;
}
.prospect-info .main{
	font-size: 1.625rem;
}
.main-box {
	height: 2.9375rem;
	line-height: 2.9375rem;
	margin: 1.5rem 0;
}
.main-box .BL-abs{
	top: 0;
	right: 0;
	height: 2.9375rem;
	line-height: 2.9375rem;
}
.main-box input{
	height: 2.9375rem;
	text-align: left;
    padding-left: 1rem;
    line-height: 2.9375rem;
	border: 1px solid #c8c8c8;
    border-radius: .3125rem;
}
.input-w-18{
	width: 18rem !important;
}
.input-w-12{
	width: 12rem !important;
}
.main-box span{
	display: inline-block;
	width: 6rem;
	height: 2.9375rem;
	border: 1px solid #ff8201;
    border-radius: .3125rem;
}
.main-box button{
	width: 6rem;
	height: 2.9375rem;
	text-align: center;
	font-size: 1.625rem;
}
.prospect-info-button{
	float: right;
	height: 2.6878rem;
	margin-right: 1.5rem;
}
