
/* 活动中  */
.sns-acting{}
.sns-acting .sns-acting-cell{
	padding-left: 1.25rem;	
}
.sns-acting .sns-acting-cell .cItem{
	padding: 1rem 1rem 1rem 0rem;
	border-bottom: 1px solid #e5e5e5;
}
.sns-acting-cell .cItem .img{
	width: 11.5rem;
	height: 14.3125rem;
	border: 1px solid #bbb8b8;
}
.sns-acting-cell .cItem .context{
	margin-left: 1.5625rem;
}
.sns-acting-cell .cItem .context .tit{
	font-size: 1.625rem;
	font-weight: 400;
	color: #333333;
	line-height: 2rem;
	margin-bottom: 1rem;
}
.sns-acting-cell .cItem .context .date{
	margin-bottom: .1rem;
}
.sns-acting-cell .cItem .context .place{
	margin-bottom: .8rem;
}
.sns-acting-cell .cItem .context .date, .sns-acting-cell .cItem .context .place, .sns-acting-cell .cItem .context .state{
	position: relative;
	padding-left: 4.8rem;
}
.sns-acting-cell .cItem .context .tit-name{
	font-size: 1.4375rem;
	color: #999999;
	position: absolute;
	left: 0;
	top: 0;
}
.sns-acting-cell .cItem .context .tit-text{
	font-size: 1.4375rem;
	color: #333333;
}
.sns-acting-cell .cItem .context .tit-text b{
	font-weight: 500;
	color: #ff8201;
}


/* 活动详情 */
.sns-detail-section{
	margin-top: .625rem;
	background-color: #ffffff;
}
.sns-detail-wrapper .context{
	padding: 2.1875rem 1.25rem;			
}
.context-title{
	color: #333333;
	font-size: 1.75rem;
	margin-bottom: 1.25rem;
}
.context-cont .section{
	margin-bottom: .1rem;
}
.context-cont .section p{
	color: #999999;
	font-size: 1.4375rem;
}
.context-cont .section p span{
	color: #333333;
}
.context-cont .section .statu span{
	font-size: 1.4375rem;
}
.context-cont .section .statu-icon{
	width: 1.875rem;
	height: 1.875rem;
	margin-right: .9375rem;
	background-image: url(../images/icon/ico-time.png);
}
.context-cont .tips{
	color: #999999;
	font-size: 1.4375rem;
	background-color: #ececec;
	margin-top: 1.75rem;
	padding: 1rem 1.875rem;
}
.sns-detail-tab .tab-control{
	border-bottom: 1px solid #e5e5e5;
	padding: 0 1.25rem;
}
.tab-control .ctrl-menu{
	margin: 0 1.25rem;
}
.tab-control .ctrl-menu a{
	display: inline-block;
	color: #333333;
	font-size: 1.625rem;
	line-height: 5.0625rem;	
	border-bottom: 3px solid #ffffff;
}
.tab-control .ctrl-menu.active a{
	color: #3b9cf5;	
	border-bottom: 3px solid #3b9cf5;
}
.tab-content{
	padding: .625rem 1.25rem 1.25rem;
}



