<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>补充信息</title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/form.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
	</head>

	<body class="BL-bg-f2f">
		<header id="Js-header" class="BL-bg-fff">
			<div class="BL-mod-headbar BL-mod-headbar-pos">
				<a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
				<h1 class="BL-title">补充信息</h1>
			</div>
		</header>
		<div id="Js-content" class="mui-content BL-rel BL-overFlow-autoY" v-cloak>
			<div class="form-notice BL-pad-t-1">这不是我的车？<a onclick="changeLicenseNo()">修改车牌号</a></div>
			<ul class="mui-table-view auto-list-cell BL-mar-t-1">
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">车架号</label>
					<div class="form-list-control">
						<input type="text" placeholder="请输入" v-model.lazy="car.frameNo" @change="checkFrameNo(car.frameNo)">
					</div>
					<div class="form-list-icon" v-show="car.frameNo!=''">
						<span class="mui-icon mui-icon-clear" @click="car.frameNo=''"></span>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">发动机号</label>
					<div class="form-list-control">
						<input type="text" placeholder="请输入" v-model.lazy="car.engineNo">
					</div>
					<div class="form-list-icon" v-show="car.engineNo!=''">
						<span class="mui-icon mui-icon-clear" @click="car.engineNo=''"></span>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">初登日期</label>
					<div class="form-list-control">
						<input type="text" class="date" data-options='{"type":"date","beginYear":1900}' v-model="car.registerDate" placeholder="请选择" readonly>
					</div>
					<div class="form-list-icon">
						<div class="mui-icon mui-icon-arrowright"></div>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view auto-list-cell BL-mar-t-1">
				<li class="fItem BL-ub BL-ub-f1">
					<a class="BL-ub-f3 form-list-label" @click="openBrands">
						品牌型号
					</a>
					<div class="form-list-icon">
						<div class="mui-icon mui-icon-arrowright"></div>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1" v-if="modelName">
					<div class="BL-ub-f3 form-list-label BL-txt-r">
						{{ modelName }}
					</div>
				</li>
			</ul>
			<ul class="mui-table-view auto-list-cell BL-mar-t-1">
				<li class="fItem BL-ub BL-ub-f1">
					<div class="BL-ub-f3 form-list-label">
						是否过户车
					</div>
					<div class="form-list-control">
						<div class="input-switch">
							<input type="checkbox" class="switch" v-model="car.isTrans"/>
							<label></label>
						</div>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1" :class="{'BL-hide': !car.isTrans}">
					<label class="form-list-label">过户日期</label>
					<div class="form-list-control">
						<input type="text" class="date" data-options='{"type":"date","beginYear":1900}' v-model="car.transDate" placeholder="请选择">
					</div>
					<div class="form-list-icon">
						<div class="mui-icon mui-icon-arrowright"></div>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">核定载客数</label>
					<div class="form-list-control">
						<input type="number" placeholder="请输入" v-model.lazy="car.seatCount">
					</div>
					<div class="form-list-icon" v-show="car.seatCount!=''">
						<span class="mui-icon mui-icon-clear" @click="car.seatCount=''"></span>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<div class="BL-ub-f3 form-list-label">
						是否贷款车
					</div>
					<div class="form-list-control">
						<div class="input-switch">
							<input type="checkbox" class="switch" v-model="car.isLoanCar"/>
							<label></label>
						</div>
					</div>
				</li>
			</ul>
			<div class="form-button-group">
				<a type="button" class="form-btn" id="next">下一步</a>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script src="js/vue.min.js"></script>
	<!-- auto2.js 专用js-->
	<script src="js/auto2.js"></script>
	<script type="text/javascript">
		mui.init();
        var auto = new Vue({
            el: '#Js-content',
            data: {
                // 保单信息
				bus: null,
                // 车辆信息
                car: {
                    car_isnew: 2,   // 默认非新车
                    licenseNo: "",  // 车牌号
                    frameNo: "",  // 车架号
                    engineNo: "",  // 发动机号
                    registerDate: "",  // 初登日期
                    isTrans: false,     // 是否过户车
                    transDate: "",  // 过户日期
                    seatCount: "",   // 核定载客人
                    isLoanCar: false,    // 是否贷款车
                    responseNo: ""   // 响应码
				},
                brand: {}, // 车型信息
                modelName: ''        // 品牌名称
			},
			methods: {
                checkFrameNo: function (val) {
					if (val.length !== 17) {
                        mui.toast('请输入17位正确的车架号', {duration: 'short', type: 'div'});
                        return
                    }
                    this.queryFrame()
                },
                openBrands: function () {
                    //打开新窗口
                    mui.openWindow({
                        id: "auto2c_brand",
                        url: "auto2c-brand.html",
                        show: animateObj.aniDetal,
                        extras:{
							car: this.car,
                            cityCode: this.bus.cityCode
                        }
                    });
                },
				checkForm: function () {
                    var toast_text = ''
                    if (!this.car.frameNo) {
                        toast_text = '请输入车架号'
                    } else if (this.car.frameNo.length !== 17) {
                        //  && !this.responseNo
                        toast_text = '请输入17位正确的车架号'
                    } else if (!this.car.engineNo) {
                        toast_text = '请输入发动机号'
                    } else if (!/^.{5,25}$/i.test(this.car.engineNo)) {
                        toast_text = '请输入正确格式的发动机号'
                    } else if (!this.car.registerDate) {
                        toast_text = '请输入初登日期' //LS5A3ABRXEA112011
                    } else if (!this.modelName) {
                        toast_text = '请选择品牌型号'
                    } else if (!this.car.seatCount) {
                        toast_text = '请输入核定载客数'
                    } else if (this.car.isTrans && !this.car.transDate) {
                        toast_text = '请输入过户日期'
                    }

                    if (toast_text) {
                        mui.toast(toast_text, {duration: 'short', type: 'div'});
                        return false;
                    }
                    return true
                },
				// 根据车架号查询车辆信息
				queryFrame: function () {
                    var vm = this
                    luckyAjax({
                        data: {
                            server: 'carIns.vehicleInfoByFrameNo',
                            data: JSON.stringify({frameNo: this.car.frameNo})
                        },
                        success:function(res){
                            if(res.code == 1){
                            	var data = res.data
                            	vm.car.responseNo = data.responseNo
                            	vm.car.engineNo = data.engineNo
//                          	vm.car.licenseNo = data.licenseNo
                            	vm.car.frameNo = data.frameNo
                            	vm.car.registerDate = data.firstRegisterDate
//                          	vm.car.car_isnew = 2
                                plus.storage.setItem('car',JSON.stringify(vm.car));
                                // 根据车架号、车牌号、响应码查询车型信息
                                vm.queryBrand(vm.car)
                            } else if (res.code == 0 && res.data == null) {
                                mui.toast('没有找到车辆信息，请继续填写', {duration: 'long', type: 'div'});
                            } else {
                                mui.toast(res.msg, {duration: 'long', type: 'div'});
                            }
                        }
                    });
                },
                queryBrand: function (car) {
                    luckyAjax({
                        data: {
                            server: 'carIns.modelExactness',
                            data: JSON.stringify({
                                responseNo: car.responseNo,
                                licenseNo: car.licenseNo,
                                frameNo: car.frameNo
                            })
                        },
                        success:function(res){
                            if(res.code == 1){
                                auto.brand = res.data[0]
                                if(auto.brand.seat) {
                                	auto.car.seatCount = auto.brand.seat
                                }
                                auto.modelName = ([auto.brand.brandName,auto.brand.vehicleFgwName,auto.brand.parentVehName].join(' ')).trim() //品牌名称
                                plus.storage.setItem('brand',JSON.stringify(auto.brand));
                            } else {
                                mui.toast('没有找到车型信息', {duration: 'long', type: 'div'});
                            }
                        }
                    });
                }
			}
        })
		mui.plusReady(function() {
			statusbar();
			var winH = window.innerHeight;
			var titHeight = document.querySelector('#Js-header').offsetHeight;
			document.querySelector('#Js-content').style.height = winH - titHeight + 'px';
			// 获取本地的车辆信息
            auto.car = JSON.parse(plus.storage.getItem('car'))
            // 获取本地的保单信息
            auto.bus = JSON.parse(plus.storage.getItem('bus'))
			// 获取本地的品牌型号信息
            auto.brand = JSON.parse(plus.storage.getItem('brand'))
			if (auto.brand) {
                auto.car.seatCount = auto.brand.seat
                auto.modelName = ([auto.brand.brandName,auto.brand.vehicleFgwName,auto.brand.parentVehName].join(' ')).trim() //品牌名称
			}

            //日期选择
            mui('.date').each(function (i, d) {
                d.addEventListener('tap', function () {
                    document.activeElement.blur();
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var picker = new mui.DtPicker(options);
                    picker.show(function (rs) {
                        if (i === 0) {
                            auto.car.registerDate = rs.text;
                        } else if (i === 1) {
                            auto.car.transDate = rs.text;
                        }
                        picker.dispose();
                    });
                }, false);
            });

            // 下一步
            document.querySelector('#next').addEventListener('click', function () {
                if (!auto.checkForm()) {
                    return false
                }
                // 保存在本地
                plus.storage.setItem('car',JSON.stringify(auto.car));
                // 进入险种选择页面
                mui.openWindow({
                    url: 'auto2c-choose.html',
                    id: 'auto2c_choose',
                    show: animateObj.aniDetal
                });
            })

            window.addEventListener('selectBrand', function (e) {
                auto.brand = e.detail.brand
                auto.car.seatCount = auto.brand.seat
                auto.modelName = ([auto.brand.brandName,auto.brand.vehicleFgwName,auto.brand.parentVehName].join(' ')).trim() //品牌名称
				// 保存在本地
                plus.storage.setItem('brand',JSON.stringify(auto.brand));
            });
		})
	</script>
</html>
