<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/module.css" rel="stylesheet" />
    <link href="css/form.css" rel="stylesheet" />
    <link href="css/member.css" rel="stylesheet" />
    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/auto2.js"></script>
    <link href="css/auto.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/mui.picker.min.css"/>
</head>

<body class="BL-bg-f2f">
    <header id="Js-header" class="BL-bg-fff">
        <div class="BL-mod-headbar BL-mod-headbar-pos">
            <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
            <h1 class="BL-title">申请核保</h1>
        </div>
    </header>
    <div id="Js-content" class="mui-content BL-overFlow-autoY BL-bg-fff" v-cloak>
        <div class="form-button-group">
            <a class="form-btn BL-col-3b9cf5 BL-mar-t-1 BL-bg-f2f" @click="share">保存报价信息为图片</a>
        </div>
        <div class="BL-bg-fff" id="html2img">
            <ul class="mui-table-view mui-table-view-chevron warranty-mui-table-view">
                <li class="member-warranty-detail-item" v-if="quote && insList">
                    <div class="form-list-thumb BL-ub BL-ub-ac" style="padding: 1rem 1.7rem 0rem 1.7rem">
                        <img :src="'images/auto/'+quote.insurerCode+'.png'" :alt="quote.insurerCode">
                        <div class="form-list-title">
                            {{ getICName(quote.insurerCode) }}
                        </div>
                        <div class="BL-ub-f1 BL-txt-r">
                            合计：<i class="BL-col-ff8201">￥{{(Number(quote.biPremium)+Number(quote.ciPremium) + Number(quote.carshipTax)).toFixed(2)}}</i>
                        </div>
                    </div>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron" style="padding-top: 1rem">
                        <table>
                            <thead>
                                <tr>
                                    <td class="BL-bg-f2f">险种</td>
                                    <td class="BL-bg-f2f">保费（元）</td>
                                    <td class="BL-bg-f2f">起保日期</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>商业险</td>
                                    <td>{{ quote.biPremium }}</td>
                                    <td>{{ insList.biBeginDate }}</td>
                                </tr>
                                <tr v-if="quote.ciPremium > 0">
                                    <td>交强险</td>
                                    <td>{{ quote.ciPremium }}</td>
                                    <td>{{ insList.ciBeginDate }}</td>
                                </tr>
                                <tr v-if="quote.carshipTax > 0">
                                    <td>车船税</td>
                                    <td>{{ quote.carshipTax }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1" :class="{'BL-hide': imgSave}">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l">
                        <span class="BL-col-3b9cf5">配送信息</span>
                    </a>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron">
                        <div class="BL-ub BL-rel BL-mar-t-07 input-item">
                            <label>收件人姓名</label>
                            <div class="input-wrap">
                                <input v-model.trim.lazy="address.name" type="text" placeholder="请输入真实姓名" @change="checkName('收件人',address.name)">
                                <div class="form-clear-icon" v-show="address.name!=''">
                                    <span class="mui-icon mui-icon-clear" @click="address.name =''"></span>
                                </div>
                            </div>
                        </div>
                        <div class="BL-ub BL-rel BL-mar-t-07 input-item">
                            <label>收件人电话</label>
                            <div class="input-wrap">
                                <input v-model.trim.lazy="address.mobile" type="text" placeholder="请输入" @change="checkPhone('收件人',address.mobile)">
                                <div class="form-clear-icon" v-show="address.mobile!=''">
                                    <span class="mui-icon mui-icon-clear" @click="address.mobile =''"></span>
                                </div>
                            </div>
                        </div>
                        <div class="BL-ub BL-rel BL-mar-t-07 input-item">
                            <label>收件人地址</label>
                            <div class="input-wrap box-f-1">
                                <div class="input" id="address-select">
                                    {{ address.location }}
                                </div>
                                <div class="ins-down-icon"></div>
                            </div>
                        </div>
                        <div class="BL-ub BL-rel BL-mar-t-07 input-item">
                            <label>地址详情</label>
                            <div class="input-wrap">
                                <input v-model.trim.lazy="address.detail" type="text" placeholder="请输入">
                                <div class="form-clear-icon" v-show="address.detail!=''">
                                    <span class="mui-icon mui-icon-clear" @click="address.detail =''"></span>
                                </div>
                            </div>
                        </div>
                        <div class="BL-ub BL-rel BL-mar-t-07 input-item">
                            <label>电子邮箱</label>
                            <div class="input-wrap">
                                <input v-model.trim.lazy="address.email" type="text" placeholder="请输入" @change="checkEmail('收件人',address.email)">
                                <div class="form-clear-icon" v-show="address.email!=''">
                                    <span class="mui-icon mui-icon-clear" @click="address.email =''"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1"  :class="{'mui-collapse': !imgSave}" v-if="quote && quote.coverageList">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l" :class="{'mui-navigate-right': !imgSave}">
                        <span class="BL-col-3b9cf5">险种详情</span>
                    </a>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron" style="padding-top: 1rem">
                        <table>
                            <thead>
                                <tr>
                                    <td class="BL-bg-f2f">险种</td>
                                    <td class="BL-bg-f2f">保额（元）</td>
                                    <td class="BL-bg-f2f">保费（元）</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in quote.coverageList" v-if="quote.coverageList.length > 1">
                                    <td>{{item.coverageName}}</td>
                                    <td>{{item.amount ? (/\./.test(item.amount) ? Number((+item.amount).toFixed(2)) : Number(item.amount) / 10000 + '万') : '投保'}}</td>
                                    <td>{{Number(item.insuredPremium)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1" :class="{'mui-collapse': !imgSave}" v-if="car && brand">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l" :class="{'mui-navigate-right': !imgSave}">
                        <span class="BL-col-3b9cf5">车辆信息</span>
                    </a>
                    <div class=" BL-pad-lr-1_5 mui-table-view mui-table-view-chevron"  style="overflow: hidden;padding-top: 1rem">
                        <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                            <li>车牌号</li>
                            <li>车架号</li>
                            <li>发动机号</li>
                            <li>品牌型号</li>
                            <li>初登日期</li>
                            <li>是否过户车</li>
                        </ul>
                        <ul style="width: 60%;float: left;border-left: none;">
                            <li>{{ car.licenseNo }}</li>
                            <li>{{ car.frameNo }}</li>
                            <li>{{ car.engineNo }}</li>
                            <li>{{ ([brand.brandName,brand.vehicleFgwName,brand.parentVehName].join(' ')).trim() }}</li>
                            <li>{{ car.registerDate }}</li>
                            <li>{{ car.isTrans? "是": "否" }}</li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1" :class="{'mui-collapse': !imgSave}"  v-if="owner">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l" :class="{'mui-navigate-right': !imgSave}">
                        <span class="BL-col-3b9cf5">车主信息</span>
                    </a>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron" style="overflow: hidden;padding-top: 1rem">
                        <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                            <li>姓名</li>
                            <li>手机号码</li>
                            <li>证件号码</li>
                        </ul>
                        <ul style="width: 60%;float: left;border-left: none;">
                            <li>{{ owner.name }}</li>
                            <li>{{ owner.mobile }}</li>
                            <li>{{ owner.Idno }}</li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1"  :class="{'mui-collapse': !imgSave}" v-if="applicant">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l" :class="{'mui-navigate-right': !imgSave}">
                        <span class="BL-col-3b9cf5">投保人信息</span>
                    </a>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron"  style="overflow: hidden;padding-top: 1rem">
                        <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                            <li>姓名</li>
                            <li>手机号码</li>
                            <li>证件号码</li>
                        </ul>
                        <ul style="width: 60%;float: left;border-left: none;">
                            <li>{{ applicant.name }}</li>
                            <li>{{ applicant.mobile }}</li>
                            <li>{{ applicant.Idno }}</li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell member-warranty-detail-item BL-mar-tb-1" :class="{'mui-collapse': !imgSave}" v-if="assured">
                    <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l" :class="{'mui-navigate-right': !imgSave}">
                        <span class="BL-col-3b9cf5">被保人信息</span>
                    </a>
                    <div class="BL-pad-lr-1_5 mui-table-view mui-table-view-chevron"  style="overflow: hidden;padding-top: 1rem">
                        <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                            <li>姓名</li>
                            <li>手机号码</li>
                            <li>证件号码</li>
                        </ul>
                        <ul style="width: 60%;float: left;border-left: none;">
                            <li>{{ assured.name }}</li>
                            <li>{{ assured.mobile }}</li>
                            <li>{{ assured.Idno }}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mui-input-row mui-checkbox mui-left BL-mar-t-1 BL-ftz-48">
            <label>本人已阅读并了解</label><a class="a-link BL-col-3b9cf5" id="protocol">《投保协议》</a>和<a
                class="a-link BL-col-3b9cf5" id="contract">《特约信息》</a>
            <input name="checkbox" value="Item 1" type="checkbox" v-model="promise">
        </div>
        <div style="height: 10rem"></div>
    </div>
    <footer id="Js-footer" class="BL-footer BL-bg-fff">
        <div class="BL-ub BL-ub-ac BL-ub-f1">
            <div class="BL-ub BL-ub-f1 BL-ub-ae BL-foot-integ BL-ftz-52">
                总保费：
                <div class="BL-col-ff8201 BL-bold" id="sum"></div>
            </div>
            <div class="BL-foot-btn-sign" id="ins-save">
                申请核保
            </div>
        </div>
    </footer>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/vue.min.js"></script>
<script src="js/mui.picker.js"></script>
<script src="js/mui.poppicker.js"></script>
<script src="js/mui.dtpicker.js"></script>
<script src="js/city.data-3.js"></script>
<script src="js/Date.js"></script>
<script src="js/IDValidator.min.js"></script>
<script src="js/html2canvas.js"></script>
<script type="text/javascript">
    mui.init();
    mui.plusReady(function() {
        statusbar();
        var winH = window.innerHeight;
        var titHeight = document.querySelector('#Js-header').offsetHeight;
        document.querySelector('#Js-content').style.height = (winH - titHeight) +'px';

        var auto = new Vue({
            el: '#Js-content',
            data: {
                loading: false,
                car: {}, // 车辆信息
                brand: {}, // 车型信息
                owner: {},  // 车主信息
                applicant: {},// 投保人信息
                assured: {}, //被保人信息
                quote: {},
                bus:{},
                insList: {},
                // 收件人信息
                address: {
                    name: "",
                    mobile: "",
                    location: "请选择",  // 省市区
                    detail: "",   // 地址详情
                    email: "",  // 电子邮箱
                    province: "", // 省级代码
                    city: "",     // 市级代码
                    county: ""    // 区级代码
                },
                promise: false,
                imgSave: false
            },
            methods: {
                getICName: function(index) {
                    return ICName[index]
                },
                checkForm: function () {
                    if (!checkName('收件人',auto.address.name)) {
                        return false
                    } else if (!checkPhone('收件人',auto.address.mobile)) {
                        return false
                    } else if (auto.address.location == '请选择') {
                        mui.toast('请选择收件人省市区地址信息', {duration: 'short', type: 'div'});
                        return false
                    }else if (!auto.address.detail) {
                        mui.toast('请填写收件人地址详情', {duration: 'short', type: 'div'});
                        return false
                    } else if (!checkEmail('收件人',auto.address.email)) {
                        return false
                    }
                    return true
                },
                share: function() {
                    var vm = this

                    plus.nativeUI.showWaiting('正在保存报价信息到手机相册', {
                        style: 'white',
                        width: '120px'
                    });

                    vm.imgSave = true
                    vm.$nextTick(function () {
                        var y = document.body.scrollTop || document.documentElement.scrollTop || 0
                        window.scrollTo(0, 0)

                        var html2img = document.getElementById('html2img')
                        var width = html2img.offsetWidth //获取dom 宽度
                        var height = html2img.offsetHeight //获取dom 高度
                        var offsetTop = html2img.offsetTop //元素距离顶部的偏移量

                        var canvas = document.createElement('canvas') //创建一个canvas节点
                        var context = canvas.getContext('2d')
                        canvas.width = width * 1 //这里 由于绘制的dom 为固定宽度，居中，所以没有偏移
                        canvas.height = (height + offsetTop) * 1 // 注意高度问题，由于顶部有个距离所以要加上顶部的距离，解决图像高度偏移问题
                        context.scale(1, 1)

                        html2canvas(html2img, {
                            canvas: canvas,
                            onrendered: function (canvas) {
                                var url = canvas.toDataURL("image/png"); //base64数据
                                var image = new Image();
                                image.src = url;
                                console.log(url)
                                
                                var bitmap = new plus.nativeObj.Bitmap();
						        // 从本地加载Bitmap图片
						        bitmap.loadBase64Data(url, function() {
						            bitmap.save("_downloads/a.jpg", {
						                overwrite: true,
						                quality: 50
						            }, function(i) {
                                        plus.nativeUI.closeWaiting();
                                        plus.gallery.save(i.target, function() {
                                            mui.toast('保存图片成功', {duration: 'short', type: 'div'})
										});
                                        
						            }, function(e) {
                                        plus.nativeUI.closeWaiting();
                                        console.log('保存图片失败：' + JSON.stringify(e));
                                        mui.toast('保存图片失败', {duration: 'short', type: 'div'})
						            });
						        }, function(e) {
						            console.log('保存图片失败：' + JSON.stringify(e));
						        });
                                vm.imgSave = false
                            }
                        });
                    })
                },
            },
            created: function () {
                // 获取从订单列表传过来的业务单号
                var vm = this
                var business_no = plus.webview.currentWebview().business_no;
                if (business_no) {
                    // 获取保单数据进行组装
                    luckyAjax({
                        data: {
                            server: 'carIns.getInsDetails',
                            view: true,
                            data: JSON.stringify({
                                businessNo: business_no
                            }),
                        },
                        success:function(res){
                            if (res.code == 1) {
                                var data = res.data
                                var quote = {}

                                // 业务信息
                                vm.bus.user_id = data.user_id
                                vm.bus.business_no = data.business_no
                                vm.bus.cityCode = data.ins_city_id
                                vm.bus.isSaved = true
                                // 车辆信息
                                vm.car.licenseNo = data.vehicle_no
                                vm.car.frameNo = data.vin_code
                                vm.car.engineNo = data.engine_no
                                vm.car.registerDate = data.register_date
                                vm.car.car_isnew = data.car_isnew
                                vm.car.seatCount = data.car_seats
                                vm.car.isTrans = data.is_trans
                                vm.car.transDate = data.trans_date
                                // 品型信息
                                var model= data.vehicle_model.split(' ')
                                vm.brand.brandCode = data.vehicle_model_no
                                vm.brand.brandName = model[0]
                                vm.brand.vehicleFgwName = model[1]
                                vm.brand.parentVehName = model[2]
                                // 车主
                                vm.owner.name = data.vehicle_owner
                                vm.owner.mobile = data.vehicle_tel
                                vm.owner.Idno = data.vehicle_idcard
                                // 投保人
                                vm.applicant.name = data.app_name
                                vm.applicant.mobile = data.app_tel
                                vm.applicant.Idno = data.app_cardno
                                vm.applicant.sex = data.app_sex_code
                                vm.applicant.birthday = data.app_birthday
                                // 被保人
                                vm.assured.name = data.ass_name
                                vm.assured.mobile = data.ass_tel
                                vm.assured.Idno = data.ass_cardno
                                vm.assured.sex = data.ass_sex
                                vm.assured.birthday = data.ass_birthday
                                // 收件人
                                vm.address.name = data.address_name
                                vm.address.mobile = data.address_mobile
                                vm.address.email = data.address_mail
                                vm.address.location = "请选择"
                                vm.address.detail = ""
                                vm.address.province = "" // 省级代码
                                vm.address.city = ""     // 市级代码
                                vm.address.county = ""    // 区级代码
                                // 险种信息
                                vm.insList.commercial = data.business_exist == 1 ? true: false
                                vm.insList.forcepremium = data.compulsory_exist == 1 ? true: false
                                vm.insList.biBeginDate = data.business_start_date
                                vm.insList.ciBeginDate = data.compulsory_start_date
                                // 险种报价信息
                                quote.insurerCode = data.company
                                quote.bizID = data.thp_business_no
                                quote.channelCode = 'HUIMENG_PROXY_INSURE'
                                quote.biPremium = data.business_total
                                quote.ciPremium = data.compulsory_total
                                quote.carshipTax = data.vehicle_tax_total
                                quote.coverageList = []
                                for (var i = 0; i < data.plan.length; i++) {
                                    var item = {}
                                    var arrItem = data.plan[i]
                                    item.coverageCode = arrItem.code
                                    item.coverageName = arrItem.product_name
                                    item.insuredPremium = arrItem.amount
                                    item.flag = arrItem.flag
                                    item.amount = arrItem.pay_limit == '0.00' ? '': arrItem.pay_limit
                                    item.insuredAmount = 'Y'

                                    quote.coverageList.push(item)
                                }
                                // 本地存
                                plus.storage.setItem('bus',JSON.stringify(vm.bus));
                                plus.storage.setItem('car',JSON.stringify(vm.car));
                                plus.storage.setItem('brand',JSON.stringify(vm.brand));
                                plus.storage.setItem('owner',JSON.stringify(vm.owner));
                                plus.storage.setItem('applicant',JSON.stringify(vm.applicant));
                                plus.storage.setItem('assured',JSON.stringify(vm.assured));
                                plus.storage.setItem('address',JSON.stringify(vm.address));
                                plus.storage.setItem('insList',JSON.stringify(vm.insList));
                                
                                auto.quote = quote
                                document.getElementById('sum').innerHTML = (Number(auto.quote.biPremium)+Number(auto.quote.ciPremium)+Number(auto.quote.carshipTax)).toFixed(2)
                            } else {
                                mui.toast('获取订单详情失败', {duration: 'long', type: 'div'})
                            }
                        }
                    });
                }else {
                    // 获取本地车辆信息
                    vm.car = JSON.parse(plus.storage.getItem('car'))
                    // 获取本地车型信息
                    vm.brand = JSON.parse(plus.storage.getItem('brand'))
                    // 获取本地车主信息
                    vm.owner = JSON.parse(plus.storage.getItem('owner'))
                    // 投保人
                    vm.applicant = JSON.parse(plus.storage.getItem('applicant'))
                    // 被保人
                    vm.assured = JSON.parse(plus.storage.getItem('assured'))
                    // 保单险种信息
                    vm.insList = JSON.parse(plus.storage.getItem('insList'))

                    vm.quote = plus.webview.currentWebview().quote;

                    document.getElementById('sum').innerHTML = (Number(vm.quote.biPremium)+Number(vm.quote.ciPremium)+Number(vm.quote.carshipTax)).toFixed(2)
                }

                vm.$nextTick(function () {
                    var _getParam = function (obj, param) {
                        return obj[param] || '';
                    };
                    var cityPicker3 = new mui.PopPicker({
                        layer: 3
                    });
                    cityPicker3.setData(cityData3);
                    document.querySelector('#address-select').addEventListener('tap', function () {
                        document.activeElement.blur();
                        cityPicker3.show(function (items) {
                            // 北京1、天津2 、上海3 、重庆4直辖市特殊处理
                            vm.address.province = items[0].value
                            if (vm.address.province == 1 || vm.address.province == 2 || vm.address.province == 3 || vm.address.province == 4) {
                                vm.address.city = ""
                                vm.address.county = items[1].value
                            } else {
                                vm.address.city = items[1].value
                                vm.address.county = items[2].value
                            }
                            vm.address.location = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text') ;
                        });
                    }, false);
                })
            }
        });

        // 申请核保
        document.querySelector('#ins-save').addEventListener('click', function () {
            if (auto.loading) {
                console.log('again')
                return false;
            }
            setTimeout(function () {
                plus.nativeUI.closeWaiting();
                auto.loading = false;
            }, 15000)
            if (!auto.checkForm()) {
                return false
            }
            if (!auto.promise) {
                mui.toast('请确认阅读并了解《投保协议》和《特约信息》', {duration: 'long', type: 'div'});
                return false;
            }
            // 本地保存收件人信息
            plus.storage.setItem('address',JSON.stringify(auto.address));
            auto.loading = true;
            // 保存保单
            var data = setCarinsData(auto.quote.insurerCode,auto.quote)
            console.log("核保前保存保单："+ JSON.stringify(data))
            luckyAjax({
                data: {
                    server: 'carIns.setCarIns',
                    view: true,
                    data: JSON.stringify(data)
                },
                success: function (res) {
                    if (res.code == 1) {
                        // 开始申请核保
                        online_ins()
                    } else {
                        mui.toast(res.msg, {duration: 'long', type: 'div'});
                        return false;
                    }
                }
            })
        });
        // 获取投保协议
        document.querySelector('#protocol').addEventListener('click', function () {
            luckyAjax({
                data: {
                    server: 'carIns.statement',
                    view: true,
                    data: JSON.stringify({
                        companyCode: auto.quote.insurerCode
                    })
                },
                success: function (res) {
                    if (res.code == 1) {
                        mui.openWindow({
                            url: 'auto2c-statement.html',
                            id: 'auto2c_statement',
                            show: animateObj.aniDetal,
                            extras: {
                                statement: res.data
                            }
                        });
                    } else {
                        mui.toast("该公司没有投保协议", {duration: 'long', type: 'div'});
                        return false;
                    }
                }
            })
        });

        // 查看特约信息
        document.querySelector('#contract').addEventListener('click', function () {
            mui.openWindow({
                url: 'auto2c-contract.html',
                id: 'auto2c_contract',
                show: animateObj.aniDetal
            });
        });
        // 申请核保
        function online_ins() {
            var data= {
                insurerCode: auto.quote.insurerCode,
                bizID: auto.quote.bizID,
                channelCode: auto.quote.channelCode,
                applicantName: auto.applicant.name,
                applicantIdNo: auto.applicant.Idno,
                applicantMobile: auto.applicant.mobile,
                addresseeName: auto.address.name,
                addresseeDetails: auto.address.detail,
                addresseeCounty: auto.address.county,
                addresseeCity: auto.address.city,
                addresseeProvince: auto.address.province,
                addresseeMobile: auto.address.mobile,
                policyEmail: auto.address.email
            }
            console.log("核保数据："+ JSON.stringify(data))
            luckyAjax({
                data: {
                    server: 'carIns.applyUnderwrite',
                    view: true,
                    data: JSON.stringify(data)
                },
                success: function (res) {
                    if (res.code == 1) {
                        if (res.data.synchFlag == '1') {
                            // 转入人工核保
                            mui.toast('转入人工核保', {duration: 'long', type: 'div'})
                            mui.openWindow({
	                            url: 'member-auto-order.html',
	                            id: 'member_auto_order',
	                            show: animateObj.aniDetal
	                        });
                            return false
                        }
                        // 核保成功，跳转到付款页面
                        mui.toast('核保成功,正在跳转支付...', {duration: 'long', type: 'div'})
                        mui.openWindow({
                            url: 'auto2c-pay.html',
                            id: 'auto2c_pay',
                            show: animateObj.aniDetal,
                            extras: {
                                payLink: res.data.payLink,
                                business_no: JSON.parse(plus.storage.getItem('bus')).business_no
                            }
                        });
                        setTimeout(function () {
                            plus.webview.close('auto2c');
                            plus.webview.close('auto2c_supplement');
                            plus.webview.close('auto2c_choose');
                            plus.webview.close('auto2c_business');
                            plus.webview.close('auto2c_quotes');
                            plus.webview.close('auto2c_order');
                        }, 1000)
                    } else {
                        mui.toast(res.msg, {duration: 'long', type: 'div'});
                        return false
                    }
                }
            })
        }
    })
</script>
</html>
