<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>基本信息</title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/form.css" rel="stylesheet" />
		<link href="css/auto.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
	</head>
	
	<body class="BL-bg-f2f">
		<header id="Js-header" class="BL-bg-fff">
			<div class="BL-mod-headbar BL-mod-headbar-pos">
				<a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
				<h1 class="BL-title">基本信息</h1>
			</div>
		</header>
		<div id="Js-content" class="mui-content BL-rel BL-overFlow-autoY" v-cloak>
			<ul class="mui-table-view auto-list-cell BL-mar-t-1">
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">投保城市</label>
					<div class="form-list-control">
						<div class="BL-ub-f1 BL-txt-r">{{ city }}</div>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<div class="form-list-label">
						车牌号
						<label class="form-float-right" @click="showCitys=true">
							{{ cityAbbr }}
							<span class="mui-icon mui-icon-arrowdown BL-ftz-52" style="padding: 0 .4rem 0 .2rem; font-size: 2rem"></span>
						</label>
					</div>
					<div class="BL-ub BL-ub-f2">
						<div class="form-list-control">
							<input type="text" class="BL-txt-l" placeholder="请输入车牌号" :readonly="isNew" v-model="cityNo" @change="checkLicense(isNew,cityNo)"/>
						</div>
						<div class="form-list-icon BL-pad-r-1" v-show="cityNo!=''&& !isNew">
							<span class="mui-icon mui-icon-clear" @click="cityNo=''"></span>
						</div>
					</div>
				    <button class="form-btn-newcar" :class="{'active': isNew}" @tap="isNew=!isNew">新车</button>
				</li>
			</ul>
			<div class="form-notice BL-pad-t-1">车主信息</div>
			<ul class="mui-table-view auto-list-cell BL-mar-t-1">
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">姓名</label>
					<div class="form-list-control">
						<input type="text" placeholder="请输入" v-model.trim.lazy="owner.name" @change="checkName('车主',owner.name)">
					</div>
					<div class="form-list-icon" v-show="owner.name!=''">
						<span class="mui-icon mui-icon-clear" @click="owner.name=''"></span>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">手机号</label>
					<div class="form-list-control">
						<input type="text" placeholder="请输入" v-model.trim.lazy="owner.mobile" @change="checkPhone('车主',owner.mobile)">
					</div>
					<div class="form-list-icon" v-show="owner.mobile!=''">
						<span class="mui-icon mui-icon-clear" @click="owner.mobile=''"></span>
					</div>
				</li>
				<li class="fItem BL-ub BL-ub-f1">
					<label class="form-list-label">身份证号</label>
					<div class="form-list-control">
						<input type="text" placeholder="请输入" v-model.trim.lazy="owner.Idno" @change="IDValidate('车主',owner.Idno,owner)">
					</div>
					<div class="form-list-icon" v-show="owner.Idno!=''">
						<span class="mui-icon mui-icon-clear" @click="owner.Idno=''"></span>
					</div>
				</li>
			</ul>
			<div class="form-button-group">
				<a type="button" class="form-btn" id="next">下一步</a>
			</div>
			<div class="auto-modal-bg" v-show="showCitys">
				<div class="auto-modal-bottom">
					<button class="citybtn" v-for="item in cities" @click="setCityAbbr(item),showCitys = false">{{ item }}</button>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script src="js/mui.poppicker.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/Date.js"></script>
	<script src="js/city.data-3.js"></script>
	<script src="js/IDValidator.min.js"></script>
	<!-- auto2.js 专用js-->
	<script src="js/auto2.js"></script>
	<script type="text/javascript">
		mui.init();
		var auto = new Vue({
			el: '#Js-content',
			data: {
			    city: "",  // 投保城市
                cityNo: "",
				// 业务信息
				bus: {
			        user_id: "",   // 业务员ID
                    business_no: "",   // 业务单号
                    cityCode: "",    // 投保城市ID
					isSaved: false   // 险种信息是否保存过
				},
				car: {
                    car_isnew: 2,   // 默认非新车
                    licenseNo: "",  // 车牌号
                    frameNo: "",  // 车架号
                    engineNo: "",  // 发动机号
                    registerDate: "",  // 初登日期
                    isTrans: false,     // 是否过户车
                    transDate: "",  // 过户日期
                    seatCount: "",   // 核定载客人
                    isLoanCar: false,    // 是否贷款车
                    responseNo: ""   // 响应码
				},
				// 车主信息
                owner: {
                    name: "",   // 姓名
                    mobile: "",  // 手机号码
                    Idno: "",    // 身份证号码
					sex: "",     // 性别
                    birthday: ""   // 出生日期
				},
				// 险种信息（查询到车辆信息及车型信息跳转到计算保费页面）
                insList: {
                    commercial: false,
                    forcepremium: true,
                    biBeginDate: new Date().addDays(1).Format('yyyy-MM-dd'),   // 商业险起期
                    ciBeginDate: new Date().addDays(1).Format('yyyy-MM-dd'),
                    biCoverageList: biCoverageList,  // 商业险种信息
                    ciCoverageList: ciCoverageList  // 交强险种信息
                },
                isNew: false,
				showCitys: false,    // 展示城市简称
                cityAbbr: '粤',   // 城市简称
				cities: ['粤', '川', '鄂', '甘', '贵', '桂', '黑', '沪', '吉', '冀', '津', '晋', '京', '辽', '鲁', '蒙', '闽', '宁', '青', '琼', '陕', '苏', '皖', '湘', '新', '渝', '豫', '云', '藏', '赣', '浙']
			},
			created: function () {
			    this.bus.business_no = generatorID()
            },
			watch: {
                isNew: function (val) {
                    this.cityNo = val ? '新车' : ''
					this.car.car_isnew = val ? "1": "2"
                }
			},
			methods: {
                toblur: function () {
                    document.activeElement.blur();
                },
			    checkForm: function () {
                    var toast_text = null;
			        if (this.city == "") {
                        toast_text = "无法获取到投保城市，请联系互联网支持中心";
					} else if (!checkLicense(this.cityNo)) {
                        return false
					}else if (!checkName('车主',this.owner.name)){
                        return false
					} else if (!checkPhone('车主', this.owner.mobile)) {
                        return false
					} else if (!IDValidate('车主', this.owner.Idno,this.owner)) {
                        return false
					}
                    if (toast_text) {
                        mui.toast(toast_text, {duration: 'long', type: 'div'});
                        return false;
                    }
                    return true
                },
                setCityAbbr: function (val) {
					this.cityAbbr = val
                }
			}
		})
		mui.plusReady(function() {
			statusbar();
			var winH = window.innerHeight;
        	var titHeight = document.querySelector('#Js-header').offsetHeight;
        	document.querySelector('#Js-content').style.height = winH - titHeight + 'px';

            // 根据代理人ID获取投保城市
            auto.bus.user_id = JSON.parse(plus.storage.getItem("userinfo")).id
            luckyAjax({
                data: {
                    server: 'carIns.getCityByUserId',
                    view: true,
                    data: JSON.stringify({userId: auto.bus.user_id})
                },
                success:function(res){
                    if (res.code == 1) {
                        auto.bus.cityCode = CityID[res.data.id]
                        auto.city = res.data.name
					} else {
                        mui.toast('无法获取到投保城市，请联系互联网支持中心', {duration: 'long', type: 'div'});
					}
                }
            });

            // 下一步
            document.querySelector('#next').addEventListener('click', function () {
                if (!auto.checkForm()) {
                    return false
                }
                // 本地保存业务信息
                plus.storage.setItem('bus',JSON.stringify(auto.bus));
                // 本地保存车主信息
                plus.storage.setItem('owner',JSON.stringify(auto.owner));

                auto.car.licenseNo = auto.isNew ? '新车': auto.cityAbbr + auto.cityNo
                if (auto.isNew && auto.car.licenseNo == '新车') {
                    // 进入补充信息
                    plus.storage.setItem('car',JSON.stringify(auto.car));
                    mui.openWindow({
                        url: 'auto2c-supplement.html',
                        id: 'auto2c_supplement',
                        show: animateObj.aniDetal
                    });
                } else {
                    // 根据车牌号查询车辆信息
                    luckyAjax({
                        data: {
                            server: 'carIns.vehicleInfoByLicenseNo',
                            view: true,
                            data: JSON.stringify({licenseNo: auto.car.licenseNo})
                        },
                        success:function(res){
                            if (res.code == 1) {
                                // 保存车辆信息
								auto.car.responseNo = res.data.responseNo
								auto.car.licenseNo = res.data.licenseNo
								auto.car.frameNo = res.data.frameNo
								auto.car.engineNo = res.data.engineNo
								auto.car.registerDate = res.data.firstRegisterDate
                                // 查询到车辆信息本地保存并继续查询车型信息
                                plus.storage.setItem('car',JSON.stringify(auto.car));
								luckyAjax({
                                    data: {
                                        server: 'carIns.modelExactness',
                                        view: true,
                                        data: JSON.stringify({
                                            responseNo: auto.car.responseNo,
											licenseNo: auto.car.licenseNo,
                                            frameNo: auto.car.frameNo
                                        })
                                    },
                                    success:function(res){
                                        if (res.code == 1) {
                                            // 查询到车型信息本地保存并查询保险起期
											var brand = res.data[0]
											auto.car.seatCount = brand.seat
											// 更新载客人数重新本地保存
                                            plus.storage.setItem('car',JSON.stringify(auto.car));
                                            plus.storage.setItem('brand',JSON.stringify(brand));
                                            luckyAjax({
                                                data: {
                                                    server: 'carIns.effectiveDate',
                                                    view: true,
                                                    data: JSON.stringify({
                                                        responseNo: auto.car.responseNo,
                                                        licenseNo: auto.car.licenseNo,
                                                        frameNo: auto.car.frameNo,
                                                        engineNo: auto.car.engineNo,
                                                        firstRegisterDate: auto.car.registerDate,
                                                        brandCode: brand.brandCode,
                                                        cityCode: auto.bus.cityCode,
                                                        isTrans: auto.car.isTrans? 1 : 0
                                                    })
                                                },
                                                success: function (res) {
                                                    if (res.code == 1) {
                                                        // 保存保险起期
														auto.insList.biBeginDate = res.data.biLastEffectiveDate
                                                        auto.insList.ciBeginDate = res.data.ciLastEffectiveDate
                                                        auto.insList.forcepremium = true
														auto.insList.commercial =true

														// 险种信息保存本地
                                                        plus.storage.setItem('insList',JSON.stringify(auto.insList));
													}
                                                    mui.openWindow({
                                                        url: 'auto2c-quotes.html',
                                                        id: 'auto2c_quotes',
                                                        show: animateObj.aniDetal
                                                    });
                                                }
                                            })
                                        } else {
                                            auto.car.responseNo = ""
                                            auto.car.frameNo = ""
                                            auto.car.engineNo = ""
                                            auto.car.registerDate = ""
                                            // 查询到车辆信息本地保存并继续查询车型信息
                                            plus.storage.setItem('car',JSON.stringify(auto.car));
                                            mui.openWindow({
                                                url: 'auto2c-supplement.html',
                                                id: 'auto2c_supplement',
                                                show: animateObj.aniDetal
                                            });
										}
                                    }
								});
							} else {
                                plus.storage.setItem('car',JSON.stringify(auto.car));
                                // 查询不到车辆信息则进入补充信息页面
                                mui.openWindow({
                                    url: 'auto2c-supplement.html',
                                    id: 'auto2c_supplement',
                                    show: animateObj.aniDetal
                                });
							}
                        }
                    });
                }
            })
		})
	</script>
</html>
