<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/module.css" rel="stylesheet" />
    <link href="css/form.css" rel="stylesheet" />
    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/auto2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
</head>

<body class="BL-bg-f2f">
    <header id="Js-header" class="BL-bg-fff">
        <div class="BL-mod-headbar BL-mod-headbar-pos">
            <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
            <h1 class="BL-title">保费计算</h1>
        </div>
    </header>
    <div id="Js-content" class="mui-content BL-rel BL-overFlow-autoY" v-cloak>
        <div class="form-notice BL-pad-t-1">这不是我的车？<a onclick="changeLicenseNo()">修改车牌号</a></div>
        <ul class="mui-table-view auto-list-cell BL-mar-t-1">
            <li class="fItem BL-ub BL-ub-f1" v-if="brand">
                <div class="form-list-label BL-ub BL-ub-ver BL-ub-f1">
                    {{ ([brand.brandName,brand.vehicleFgwName,brand.parentVehName].join(' ')).trim() }}
                </div>
            </li>
            <li class="fItem BL-ub BL-ub-f1"  v-if="carInfo">
                <div class="form-list-label BL-ub BL-ub-ver BL-ub-f1 BL-col-999">
                    车牌号：{{ carInfo.licenseNo }}
                </div>
            </li>
        </ul>
        <ul class="mui-table-view auto-list-cell BL-mar-t-1">
            <li class="fItem BL-ub BL-ub-f1">
                <div class="form-list-label BL-ub-f3">
                    投保人信息
                </div>
                <div class="form-list-control">
                    <div class="input-switch">
                        <span style="margin-right: -3rem">同车主</span>
                        <input type="checkbox" class="switch" v-model="app_is_owner"/>
                        <label></label>
                    </div>
                </div>
            </li>
            <template v-if="!app_is_owner">
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">姓名</label>
                    <div class="form-list-control">
                        <input type="text" placeholder="请输入" v-model.lazy="applicant.name" @change="checkName('投保人',applicant.name)">
                    </div>
                    <div class="form-list-icon" v-show="applicant.name!=''">
                        <span class="mui-icon mui-icon-clear" @click="applicant.name=''"></span>
                    </div>
                </li>
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">联系手机</label>
                    <div class="form-list-control">
                        <input type="number" placeholder="请输入" v-model.lazy="applicant.mobile" @change="checkPhone('投保人',applicant.mobile)">
                    </div>
                    <div class="form-list-icon" v-show="applicant.mobile!=''">
                        <span class="mui-icon mui-icon-clear" @click="applicant.mobile=''"></span>
                    </div>
                </li>
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">身份证号</label>
                    <div class="form-list-control">
                        <input type="text" placeholder="请输入" v-model.lazy="applicant.Idno" @change="IDValidate('投保人',applicant.Idno,applicant)">
                    </div>
                    <div class="form-list-icon" v-show="applicant.Idno!=''">
                        <span class="mui-icon mui-icon-clear" @click="applicant.Idno=''"></span>
                    </div>
                </li>
            </template>
        </ul>
        <ul class="mui-table-view auto-list-cell BL-mar-t-1">
            <li class="fItem BL-ub BL-ub-f1">
                <div class="form-list-label BL-ub-f3">
                    被保人信息
                </div>
                <div class="form-list-control">
                    <div class="input-switch">
                        <span style="margin-right: -3rem">同车主</span>
                        <input type="checkbox" class="switch" v-model="ass_is_owner"/>
                        <label></label>
                    </div>
                </div>
            </li>
            <template v-if="!ass_is_owner">
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">姓名</label>
                    <div class="form-list-control">
                        <input type="text" placeholder="请输入" v-model.lazy="assured.name" @change="checkName('被保人',assured.name)">
                    </div>
                    <div class="form-list-icon" v-show="assured.name!=''">
                        <span class="mui-icon mui-icon-clear" @click="assured.name=''"></span>
                    </div>
                </li>
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">联系手机</label>
                    <div class="form-list-control">
                        <input type="number" placeholder="请输入" v-model.lazy="assured.mobile" @change="checkPhone('被保人',assured.mobile)">
                    </div>
                    <div class="form-list-icon" v-show="assured.mobile!=''">
                        <span class="mui-icon mui-icon-clear" @click="assured.mobile=''"></span>
                    </div>
                </li>
                <li class="fItem BL-ub BL-ub-f1">
                    <label class="form-list-label">身份证号</label>
                    <div class="form-list-control">
                        <input type="text" placeholder="请输入" v-model.lazy="assured.Idno" @change="IDValidate('被保人',assured.Idno,assured)">
                    </div>
                    <div class="form-list-icon" v-show="assured.Idno!=''">
                        <span class="mui-icon mui-icon-clear" @click="assured.Idno=''"></span>
                    </div>
                </li>
            </template>
        </ul>
        <div class="form-button-group" v-show="!calok" style="padding: 1rem 1.5rem 0rem 1.5rem">
            <a type="button" class="form-btn" @click="getAllQuotes">计算</a>
        </div>
        <template v-if="quoteList">
            <ul class="mui-table-view form-list-cell-media BL-mar-t-1" v-for="(item,index) in quoteList">
                <li v-if="item.state == 0" class="mui-table-view-cell">
                    <div class="form-list-thumb BL-ub BL-ub-ac">
                        <img :src="'images/auto/'+index+'.png'" :alt="index">
                        <div class="form-list-title">
                            {{ getICName(index) }}
                            <p class="BL-ftz-46">{{item.msg}}</p>
                        </div>
                    </div>
                </li>
                <li v-else class="mui-table-view-cell">
                    <div class="form-list-thumb BL-ub BL-ub-ac">
                        <img :src="'images/auto/'+index+'.png'" :alt="index">
                        <div class="form-list-title">{{ getICName(index) }}</div>
                        <div class="BL-ub-f1 BL-txt-r">
                            <i class="BL-col-ff8201">￥{{(Number(item.biPremium)+Number(item.ciPremium) + Number(item.carshipTax)).toFixed(2)}}</i>
                            <a class="BL-btn-blue" @click="selectIC(index)">选它投保</a>
                        </div>
                    </div>
                    <table class="BL-col-999 BL-txt-c form-tab">
                        <tbody>
                            <tr>
                                <td>商业险</td>
                                <td>交强险</td>
                                <td>车船税</td>
                            </tr>
                            <tr>
                                <td>￥{{new Number(item.biPremium)}}</td>
                                <td>￥{{new Number(item.ciPremium)}}</td>
                                <td>￥{{new Number(item.carshipTax)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </template>
    </div>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/mui.picker.js"></script>
<script src="js/mui.dtpicker.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/Date.js"></script>
<script src="js/IDValidator.min.js"></script>
<script type="text/javascript">
    mui.init();
    mui.plusReady(function() {
        statusbar();
        var winH = window.innerHeight;
        var titHeight = document.querySelector('#Js-header').offsetHeight;
        document.querySelector('#Js-content').style.height = (winH - titHeight) +'px';

        var auto = new Vue({
            el: "#Js-content",
            data: {
                carInfo: null,   // 车辆信息
                coverageList: null, // 险种信息
                brand: null,
                app_is_owner: true,
                owner: null,
                applicant: {
                    name: "",   // 姓名
                    mobile: "",  // 联系手机
                    Idno: "",    // 身份证号
                    sex: "",   // 性别
                    birthday: ""   // 生日
                },
                ass_is_owner: true,
                assured: {
                    name: "",   // 姓名
                    mobile: "",  // 联系手机
                    Idno: "",    // 身份证号
                    sex: "",   // 性别
                    birthday: ""   // 生日
                },
                isSaved: false,  // 是否已经保存过保单
                calok: true, //是否报价
                quoteList: {},  // 报价列表
                codes: insurerCodes,
                count: ""  // 报价次数
            },
            watch: {
                app_is_owner: function (val) {
                    this.resetQuote()
                    if (val) {
                        this.applicant = deepClone(this.owner)
                        plus.storage.setItem('applicant',JSON.stringify(this.applicant));
                    } else {
                        this.applicant.name = ""
                        this.applicant.mobile = ""
                        this.applicant.Idno = ""
                    }
                },
                ass_is_owner: function (val) {
                    this.resetQuote()
                    if (val) {
                        this.assured = deepClone(this.owner)
                        plus.storage.setItem('assured',JSON.stringify(this.assured));
                    } else {
                        this.assured.name = ""
                        this.assured.mobile = ""
                        this.assured.Idno = ""
                    }
                }
            },
            methods: {
                // 重置报价
                resetQuote: function () {
                    this.calok = false
                    this.quoteList = {}
                },
                // 统计报价次数
                quoteCount: function (business_no) {
                    luckyAjax({
                        data: {
                            server: 'carIns.quoteCount',
                            view: true,
                            data: JSON.stringify({
                                business_no: business_no
                            })
                        },
                        success: function (res) {
                            if (res.code == 1) {
                                auto.count = res.data.count
                            }
                        }
                    })
                },
                // 校验投保人
                checkApplicant: function () {
                    if (!checkName('投保人',this.applicant.name)){
                        return false
                    } else if (!checkPhone('投保人', this.applicant.mobile)) {
                        return false
                    } else if (!IDValidate('投保人', this.applicant.Idno,this.applicant)) {
                        return false
                    }
                    return true
                },
                // 校验被保人
                checkAssured: function () {
                    if (!checkName('被保人',this.assured.name)){
                        return false
                    } else if (!checkPhone('被保人', this.assured.mobile)) {
                        return false
                    } else if (!IDValidate('被保人', this.assured.Idno,this.assured)) {
                        return false
                    }
                    return true
                },
                getAllQuotes: function (){
                    var vm = this
                    if (!vm.checkApplicant()) return false
                    if (!vm.checkAssured()) return false

                    if (!vm.isSaved) {
                        var bus =  JSON.parse(plus.storage.getItem('bus'))
                        vm.isSaved = true
                        bus.isSaved = true
                        plus.storage.setItem('bus',JSON.stringify(bus));
//                        // 发送保单信息到后台
//                        var data = setCarinsData("")
//                        luckyAjax({
//                            data: {
//                                server: 'carIns.setCarIns',
//                                view: true,
//                                data: JSON.stringify(data)
//                            },
//                            success: function (res) {
//                                if (res.code == 1) {
//                                    var bus =  JSON.parse(plus.storage.getItem('bus'))
//                                    vm.isSaved = true
//                                    bus.isSaved = true
//                                    plus.storage.setItem('bus',JSON.stringify(bus));
//                                } else {
//                                    mui.toast(res.msg, {duration: 'long', type: 'div'});
//                                    return false
//                                }
//                            }
//                        })
                    }
                    vm.getQuote(vm.codes)
                },
                // 精准报价
                getQuote: function (codes) {
                    var vm = this
                    if (codes.length == 0) {
                        this.calok = true
                        this.codes = ['TPIC', 'TAIC', 'UTIC', 'CPIC', 'ASTP']
                        return false
                    }
                    var item = codes.shift()
                    mui.toast(vm.getICName(item) + ' 拼命算价中', {duration: 'short', type: 'div'});
                    var data =  setCalculateData(item)
                    console.log(JSON.stringify(data))
                    luckyAjax({
                        data: {
                            server: 'carIns.exactnessQuote',
                            view: true,
                            data: JSON.stringify(data)
                        },
                        success: function (res) {
                            console.log(JSON.stringify(res))
                            if (res.code == 1 || (res.code == 0 && res.data)) {
                                vm.$set(vm.quoteList, item, res.data[0])
                            } else {
                                vm.$set(vm.quoteList, item, {
                                    msg: res.msg,
                                    state: 0
                                })
                            }
                            vm.$nextTick(function () {
                                document.body.scrollTop = document.body.scrollHeight
                            })
                            vm.getQuote(codes)
                        }
                    })
                },
                getICName: function(index) {
                    return ICName[index]
                },
                // 选择报价
                selectIC: function(index) {
                    var vm = this
                    if (!vm.checkApplicant()) return false
                    if (!vm.checkAssured()) return false
                    // 获取选择公司的报价信息
                    var quote = this.quoteList[index]
                    var data = setCarinsData(index, quote)
                    console.log("选择公司投保保存保单数据："+ JSON.stringify(data))
                    luckyAjax({
                        data: {
                            server: 'carIns.setCarIns',
                            view: true,
                            data: JSON.stringify(data)
                        },
                        success: function (res) {
                        	// 进入核保页面
                        	mui.openWindow({
		                        url: 'auto2c-order.html',
		                        id: 'auto2c_order',
		                        show: animateObj.aniDetal,
                                extras:{
                                    quote: vm.quoteList[index]
                                }
		                    });
                        }
                    })
                },
            }
       })
        
        // 获取保单信息
        var bus =  JSON.parse(plus.storage.getItem('bus'))
        auto.isSaved = bus.isSaved
        
        // 获取本地车辆信息
        auto.carInfo = JSON.parse(plus.storage.getItem('car'))
        // 获取本地车型信息
        auto.brand = JSON.parse(plus.storage.getItem('brand'))
        // 获取本地车主信息
        auto.owner = JSON.parse(plus.storage.getItem('owner'))
        // 获取本地险种信息
        auto.coverageList = JSON.parse(plus.storage.getItem('coverageList'))
        // 投保人同车主
        auto.applicant = deepClone(auto.owner)
        plus.storage.setItem('applicant',JSON.stringify(auto.applicant));
        // 被保人同车主
        auto.assured = deepClone(auto.owner)
        plus.storage.setItem('assured',JSON.stringify(auto.assured));
        // 获取本地保存标志
        auto.getAllQuotes()
    })
</script>
</html>
