<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
</head>

<body class="BL-bg-f2f">

<header id="Js-header" style="position: fixed;left: 0;top: 0;width: 100%;z-index: 99;">
    <div class="BL-mod-headbar">
        <div class="BL-ub BL-ub-ac headbar-search">
            <div id="Js-ring" class="rings BL-bimg-contain" alt="消息通知">
                <!--<span id="" alt="消息红点提示"></span>-->
            </div>

            <div class="seek BL-ub BL-ub-ac BL-ub-pc BL-ub-f1">
                <div class="button"></div>
                <div class="text">搜索</div>
            </div>

            <div id="Js-communic" class="contact BL-bimg-contain" alt="通讯录"></div>
        </div>
    </div>
</header>

<div id="Js-content" class="mui-content" style="padding-top: 0;">
    <div id="Js-main">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--这里放置真实显示的DOM内容-->

                <!----------- 图片轮播  begin -------------->
                <div id="slider" class="mui-slider">
                    <div class="mui-slider-group mui-slider-loop" id="slider-html">
                        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                        <div class="mui-slider-item mui-slider-item-duplicate">
                            <a href="#">
                                <img src="images/pic/default-banner.png" id="default-banner">
                            </a>
                        </div>
                    </div>
                </div>

                <!----------- 图片轮播  end   -------------->

                <!----------- 九宫格菜单  begin -------------->
                <div class="BL-pad-a1_25 BL-mar-b-1 BL-bg-fff" style="padding-bottom: 0;">
                    <div class="mui-row squared">
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a @tap="toastMsg">
                                <div class="icon">&nbsp;</div>
                                <div class="name">SNS</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <!--<a href="ins2c.html" data-wid="ins2c" class="a-link">-->
                            <a @tap="toastMsg">
                                <div class="icon">&nbsp;</div>
                                <div class="name">交单</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <!--<a href="auto2c.html" data-wid="ins2c" class="a-link">-->
                            <a @tap="toastMsg">
                                <div class="icon">&nbsp;</div>
                                <div class="name">车险</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a href="product.html" data-wid="product" class="a-link">
                                <div class="icon">&nbsp;</div>
                                <div class="name">分类</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a href="quickly.html" data-wid="quickly" class="a-link">
                                <div class="icon">&nbsp;</div>
                                <div class="name">快速投保</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a @tap="toastMsg">
                                <div class="icon">&nbsp;</div>
                                <div class="name">需求分析</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a @tap="toastMsg">
                                <div class="icon">&nbsp;</div>
                                <div class="name">积分商城</div>
                            </a>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3 squared-menu">
                            <a href="recruit.html" data-wid="recruit" class="a-link">
                                <div class="icon">&nbsp;</div>
                                <div class="name">闪电增员</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!----------- 九宫格菜单  end -------------->

                <!----------- 意外和医疗  begin -------------->
                <div class="insure BL-mar-b-1" v-if="safegoods_1" v-cloak>
                    <div class="BL-ub BL-ub-pj BL-ub-ac insure-hd">
                        <div class="BL-ub BL-ub-ac title">
                            <div class="icon icon-1"></div>
                            <span>意外和医疗</span>
                        </div>
                        <a class="BL-ub BL-ub-ac more a-link" href="product.html" data-wid="product" data-tid="LBI0016">
                            <span>更多</span>
                            <div class="mui-icon mui-icon-arrowright"></div>
                        </a>
                    </div>
                    <div class="insure-group BL-ub BL-ub-ac" v-if="safegoods_1" v-cloak>
                        <div class="item" v-for="(item,index) in safegoods_1">
                            <div class="item-content a-link" href="product-detail.html" data-wid="product_detail"
                                 :data-pid="item.id">
                                <div class="img">
                                    <img :src="item.image_url" @error="item.image_url='images/pic/p11.jpg'"/>
                                    <span class="new" v-show="item.product_sign_text&&item.product_sign_text!=='普通'">{{item.product_sign_text}}</span>
                                </div>
                                <div class="context">
                                    <div class="tit mui-ellipsis">{{item.short_name}}</div>
                                    <!--<div class="text mui-ellipsis BL-pad-b_5">{{item.shining_point}}</div>-->
                                    <div class="price BL-ub BL-ub-ac">
                                        <span class="money">{{item.price|priceFilter}}元起</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------- 意外和医疗  end   -------------->

                <!----------- 疾病保障  begin -------------->
                <div class="insure BL-mar-b-1" v-if="safegoods_2" v-cloak>
                    <div class="BL-ub BL-ub-pj BL-ub-ac insure-hd">
                        <div class="BL-ub BL-ub-ac title">
                            <div class="icon icon-2"></div>
                            <span>疾病保障</span>
                        </div>
                        <a class="BL-ub BL-ub-ac more a-link" href="product.html" data-wid="product" data-tid="LBI0001">
                            <span>更多</span>
                            <div class="mui-icon mui-icon-arrowright"></div>
                        </a>
                    </div>
                    <div class="insure-group BL-ub BL-ub-ac">
                        <div class="item" v-for="(item,index) in safegoods_2">
                            <div class="item-content a-link" href="product-detail.html" data-wid="product_detail"
                                 :data-pid="item.id">
                                <div class="img">
                                    <img :src="item.image_url" @error="item.image_url='images/pic/p11.jpg'"/>
                                    <span class="new" v-show="item.product_sign_text&&item.product_sign_text!=='普通'">{{item.product_sign_text}}</span>
                                </div>
                                <div class="context">
                                    <div class="tit mui-ellipsis">{{item.short_name}}</div>
                                    <!--<div class="text mui-ellipsis BL-pad-b_5">{{item.shining_point}}</div>-->
                                    <div class="price BL-ub BL-ub-ac">
                                        <span class="money">{{item.price|priceFilter}}元起</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------- 疾病保障  end   -------------->

                <!----------- 年金  begin -------------->
                <div class="insure BL-mar-b-1" v-if="safegoods_3" v-cloak>
                    <div class="BL-ub BL-ub-pj BL-ub-ac insure-hd">
                        <div class="BL-ub BL-ub-ac title">
                            <div class="icon icon-4"></div>
                            <span>年金理财</span>
                        </div>
                        <a class="BL-ub BL-ub-ac more a-link" href="product.html" data-wid="product" data-tid="LBI0008">
                            <span>更多</span>
                            <div class="mui-icon mui-icon-arrowright"></div>
                        </a>
                    </div>
                    <div class="insure-group BL-ub BL-ub-ac">
                        <div class="item" v-for="(item,index) in safegoods_3">
                            <div class="item-content a-link" href="product-detail.html" data-wid="product_detail"
                                 :data-pid="item.id">
                                <div class="img">
                                    <img :src="item.image_url" @error="item.image_url='images/pic/p11.jpg'"/>
                                    <span class="new" v-show="item.product_sign_text&&item.product_sign_text!=='普通'">{{item.product_sign_text}}</span>
                                </div>
                                <div class="context">
                                    <div class="tit mui-ellipsis">{{item.short_name}}</div>
                                    <!--<div class="text mui-ellipsis BL-pad-b_5">{{item.shining_point}}</div>-->
                                    <div class="price BL-ub BL-ub-ac">
                                        <span class="money">{{item.price|priceFilter}}元起</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------- 年金  end   -------------->
                <div class="BL-ub BL-ub-f1 BL-ub-ac BL-ub-pc" style="padding: 2rem 0;">
                    <div style="font-size: 1.25rem; color: #999999;">
                        我是有底线的
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!----------- 打卡按键  begin -------------->
<a class="BL-mod-sign a-link" href="member-duty.html" data-wid="member_duty">
    <div class="sign BL-bimg-contain"></div>
</a>
<!----------- 打卡按键  end   -------------->

</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script src="js/cacheImg.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();

    //相当于jq的append
    function append(parent, text) {
        if (typeof text === 'string') {
            var temp = document.createElement('div');
            temp.innerHTML = text;
            // 防止元素太多 进行提速
            var frag = document.createDocumentFragment();
            while (temp.firstChild) {
                frag.appendChild(temp.firstChild);
            }
            parent.appendChild(frag);
        }
        else {
            parent.appendChild(text);
        }
    };
    mui.plusReady(function () {

        function init() {
            statusbar();
            var winH = window.innerHeight;
            document.querySelector('#Js-main').style.height = winH + "px";

            mui('.mui-scroll-wrapper').scroll({
                scrollY: true, //是否竖向滚动
                scrollX: false, //是否横向滚动
                startX: 0, //初始化时滚动至x
                startY: 0, //初始化时滚动至y
                indicators: false, //是否显示滚动条
                deceleration: 0.0001, //阻尼系数,系数越小滑动越灵敏
                bounce: false //是否启用回弹
            });
            // 改变头部搜索栏背景色
            document.querySelector(".mui-scroll-wrapper").addEventListener('scroll', function (e) {
                var y = Math.abs(e.detail.y) * 0.01;
                document.querySelector('#Js-header').style.background = "rgba(53,153,241," + y + ")";
            });
            
        }

        //主列表点击事件
        mui('body').on('tap', '.a-link', function () {
            var extras = null;
            var href = this.getAttribute('href');
            var id = this.getAttribute("data-wid");
            var tid = this.getAttribute("data-tid");
            var pid = this.getAttribute("data-pid");

            if (tid) {
                extras = {instype_id: tid};
            }
            if (pid) {
                extras = {product_id: pid};
            }
            if(href) {
                mui.openWindow({
                    url: href,
                    id: id,
                    show: animateObj.aniDetal,
                    extras: extras
                });
            }
        });

        mui('body').on('tap', '#Js-communic', function(){
        	mui.openWindow({
                url: 'communic.html',
                id: 'communic',
                show: animateObj.aniDetal
            });
        })
        
        
        var index = new Vue({
            el: '#Js-content',
            data: {
                banner_count: '',
                bannerList: ['images/pic/p0.jpg'],
                safegoods_1: '',
                safegoods_2: '',
                safegoods_3: '',
            },
            //过滤器
            filters: {
                //保障期间
                priceFilter: function (value) {
                    return parseInt(value)
                }
            },
            methods: {
                toastMsg: function () {
                    mui.toast('功能开发中，敬请期待', {duration: 'short', type: 'div'})
                    return false;
                }
            }
        })
//        console.log(JSON.stringify(index.bannerList));
        luckyAjax({
            data: {
                server: 'lifeProduct.getIndexProductList',
                data: JSON.stringify({ins_type: 'LBI0016,LBI0001,LBI0008',state: 1})
            },
            success: function (data) {
                console.log(JSON.stringify(data));
                if (data.code === 1) {
                    init();
                    var bannerlist = data.data.banner;
                    var bhtml = '';
                    var temp = '';
                    if (bannerlist.length) {
                        document.getElementById('default-banner').src = bannerlist[0].image;
                        bhtml = '<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="' + bannerlist[bannerlist.length-1].image + '"></a></div>'
                        mui.each(bannerlist, function (index, item) {
                            if (index === 0) {
                                temp += '<div class="mui-indicator mui-active"></div>';
                            } else {
                                temp += '<div class="mui-indicator"></div>'
                            }
                            bhtml += '<div class="mui-slider-item"><a href="#"><img src="' + item.image + '"></a></div>'
                        });
                        append(document.getElementById("slider-html"), bhtml);
                        temp = '<div class="mui-slider-indicator">' + temp + '</div>';
                    	append(document.getElementById("slider"), temp);
                    } else {
                        document.getElementById('default-banner').src = 'images/pic/p0.jpg';
                    }
                    
                    mui('.mui-slider')[0].setAttribute('data-slider', '');
                    mui('.mui-slider').slider();

                    //
                    index.safegoods_1 = data.data.list['意外险'];
                    index.safegoods_2 = data.data.list['重疾保障'];
                    index.safegoods_3 = data.data.list['年金保险'];
//                    mui.toast(data.msg, {duration: 'short', type: 'div'})
                } else {
                    plus.nativeUI.closeWaiting();
                    mui.toast(data.msg, {duration: 'short', type: 'div'})
                    return false;
                }
            },
            error: function (xhr, type, errorThrown) {
                plus.nativeUI.closeWaiting();
                mui.toast(errorThrown, {duration: 'short', type: 'div'})
                return false
            }
        });
    })
</script>

</html>