<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link href="css/mui.css" rel="stylesheet"/>
	<link href="css/common.css" rel="stylesheet"/>
	<link href="css/module.css" rel="stylesheet"/>
	<link href="css/member.css" rel="stylesheet"/>
	<link href="css/product.css" rel="stylesheet"/>
	<script src="js/config.js" type="text/javascript"></script>
</head>
<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
	<div class="BL-mod-headbar BL-mod-headbar-pos">
		<a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
		<h1 class="BL-title">寿险</h1>
		<a class="BL-icon BL-icon-search"></a>
	</div>
</header>
<div id="Js-order" v-cloak>
	<div id="Js-content" class="mui-content">
		<!------------条件筛选 begin------------->
		<div id="Js-orderFilter">
			<!--分类栏目 begin-->
			<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted BL-segmented-control">
				<div class="mui-scroll">
					<a class="pro-control-item" :class="{'mui-active':status_type=='0'}"
					   @tap="status_type='0',page=0">
						<span>全部</span>
					</a>
					<a class="pro-control-item" :class="{'mui-active':status_type=='1'}"
					   @tap="status_type='1',page=0">
						<span>待投保</span>
					</a>
					<a class="pro-control-item" :class="{'mui-active':status_type=='2'}"
					   @tap="status_type='2',page=0">
						<span>待支付</span>
					</a>
					<a class="pro-control-item" :class="{'mui-active':status_type=='3'}"
					   @tap="status_type='3',page=0">
						<span>已取消</span>
					</a>
				</div>
			</div>
			<!--分类栏目 end -->
		</div>
		<!------------条件筛选 end  ------------->

		<!------------产品列表 begin------------->
		<div id="Js-orderList" class="BL-rel">
			<div class="mui-content mui-scroll-wrapper BL-mar-t-1">
				<div class="mui-scroll">
					<!-- 数据列表-->
					<ul class="mui-table-view product-list-cell">
						<li v-for="(item,index) in listdata" :key="index" class="member-warranty-list-item BL-rel" v-if="listdata">
							<div class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-46 BL-txt-l">
								<span>保单号：</span>
								<span>{{ item.policy_sn }}</span>
								<span class="BL-col-3b9cf5 fr" v-if="item.ins_state_name=='待投保'">录入中</span>
								<span class="BL-col-3b9cf5 fr" v-else>{{item.ins_state_name}}</span>
							</div>
							<div class="BL-pad-lr-1_5 BL-pad-tb-1_5">
								<a class="mui-navigate-right context BL-col-666" @tap="Detail(item.policy_id)">
									<div class="team-per-ins BL-pad-b-1">
										<span>主险：<i>{{ item.product_name }}</i></span>
									</div>
									<div class="team-per-ins BL-pad-b-1 clearfloat">
										<span>投保人：<i>{{ item.holder_name }}</i></span>
									</div>
									<div class="team-per-ins BL-pad-b-1 clearfloat">
										<span>保费(元)：<i>{{ item.total }}</i></span>
									</div>
									<div class="team-per-ins BL-pad-b-1 clearfloat">
										<span>提交时间：<i>{{ item.create_time}}</i></span>
									</div>
									<div class="team-per-ins BL-pad-b-1 clearfloat" v-if="item.supplier_id==85">
										<span>签名状态：<i class="BL-col-3b9cf5">{{ item.extend_items.signature_status==='1'?'已完成':'未完成'}}</i></span>
									</div>
									<div class="team-per-ins BL-pad-b-1 clearfloat" v-if="item.supplier_id==85">
										<span>支付状态：<i class="BL-col-3b9cf5">{{ item.extend_items.pay_status==='1'?'已完成':'待支付'}}</i></span>
									</div>
								</a>
								<div class="BL-txt-r button">
									<!--<a class="BL-btn-white BL-pad-lr-1 BL-mar-r-1 cancel"-->
									   <!--:data-id="item.policy_id"-->
									   <!--:data-index="index"-->
									   <!--v-if="item.ins_state_name=='待投保' || item.ins_state_name=='待支付'">取消订单-->
									<!--</a>-->
									<a class="BL-btn-white BL-pad-lr-1 BL-mar-r-1 continue" v-show="btnShow(1,item)" :data-supplier="item.supplier_id" :data-policyid="item.policy_id" :data-type="1">继续录入</a>
									<a class="BL-btn-white BL-pad-lr-1 continue" v-if="item.state==0&&item.supplier_id==8" :data-supplier="item.supplier_id" :data-policyid="item.policy_id" :data-policyno="item.policy_no" :data-fee="item.total">去支付</a>
									<a class="BL-btn-white BL-pad-lr-1 continue" v-show="btnShow(2,item)" :data-supplier="item.supplier_id" :data-policyid="item.policy_id" :data-type="2">去支付</a>
									<a class="BL-btn-white BL-pad-lr-1 continue" v-show="btnShow(3,item)" :data-supplier="item.supplier_id" :data-policyid="item.policy_id" :data-type="2">去签名</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!------------产品列表 end  ------------->
	</div>
</div>
<!------------悬浮控制按钮 end --------------->
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/mui.pullToRefresh.js"></script>
<script src="js/mui.pullToRefresh.material.js"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var order = new Vue({
        el: '#Js-order',
        data: {
            status_type: '0', //状态类别id
            page: 0,
            listdata: []
        },
        watch: {
            status_type: {
                handler: function () {
                    this.page = 0;
                    mui('#Js-orderList .mui-scroll-wrapper').each(function(){
                        this.setAttribute('data-scroll', '');
                    });
                    loaddata(1);
                }
            }
        },
        methods: {
            btnShow: function (index, item) {
				switch (index){
					case 1: //继续录入 恒大 招商
                        if ((item.supplier_id === 19 && (!item.pay_status || item.pay_status === '0')) || (item.supplier_id === 85 && (item.extend_items.update_img !== '1'))) {
                            return true
                        }
						break
					case 2: //去支付 招商
                        if (item.supplier_id === 85 && item.progress === 1 && item.state !== 5 && item.extend_items.update_img === '1' && (!item.pay_status || item.pay_status === '0')) {
                            return true
                        }
					    break
					case 3: //去签名 招商
                        if (item.supplier_id == 85 && item.state === 5 && item.extend_items.signature_status === '0') {
                            return true
                        }
						break
				}
            },
            Detail: function(policy_id) {
                mui.openWindow({
                    id: 'member_warranty_manageLife_detail',
                    url: 'member-warranty-manageLife-detail.html',
                    show: animateObj.aniDetal,
                    extras:{
                        policy_id: policy_id  //扩展参数
                    }
                });
            }
        }
    });

    var self;
    var user_id;

    (function ($) {
        //阻尼系数
        var deceleration = mui.os.ios?0.003:0.0009;
        $('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: false, //是否显示滚动条
            deceleration: deceleration
        });
        $.plusReady(function () {
            user_id = JSON.parse(plus.storage.getItem("userinfo")).id

            statusbar();

            var winH = window.innerHeight;
            var titHeight = document.querySelector('#Js-header').offsetHeight;
            var divHeight = document.querySelector('#Js-orderFilter').offsetHeight;
            document.querySelector('#Js-orderList').style.height = winH - titHeight - divHeight + 'px';

            //循环初始化所有下拉刷新，上拉加载。
            $('#Js-orderList .mui-scroll').pullToRefresh({
                up: { // 上拉加载更多
                    auto: true, // 自动上拉一次
                    contentrefresh: '正在加载...',
                    contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: function() {
                        self = this
                        loaddata(1)
                    }
                },
                down:{
                    callback: function() {
                        self = this
                        order.page = 0;
                        loaddata(2,true);
                    }
                }
            });
            //继续录入-后更新列表
            window.addEventListener('reload', function () {
                plus.webview.currentWebview().reload()
            });
            // 取消订单
            mui('body').on('tap', '.cancel', function () {
                var _this = this
                var id = _this.getAttribute('data-id')
                var index = _this.getAttribute('data-index')

                mui.confirm('确定要删除该订单？', '提示', ['确定', '取消'], function (e) {
                    if (e.index == 0) {
                        luckyAjax({
                            data: {
                                server: 'PolicyIns.changePolicyState',
                                data: JSON.stringify({
                                    policy_state: '2', //取消订单固定传2
                                    policy_id: id
                                })
                            },
                            success:function(res){
                                if(res.code == 1) {
                                    // 设置按钮不可以用
                                    _this.disabled = true
                                    if (_this.nextElementSibling) {
                                        _this.nextElementSibling.disabled = true
                                    }
                                    order.listdata[index].ins_state_name = '取消'

                                    mui.toast('成功取消订单', {duration: 'short', type: 'div'})
                                } else {
                                    mui.toast(res.msg, {duration: 'short', type: 'div'})
                                }
                            }
                        });
                    }
                })
            })

            // 继续录入
            mui('body').on('tap', '.continue', function () {
                var _this = this
                var supplier_id = _this.getAttribute('data-supplier')
                var policyid = _this.getAttribute('data-policyid')
                var orderno = _this.getAttribute('data-policyno')
                var fee = _this.getAttribute('data-fee')
                var type = _this.getAttribute('data-type')
                var url = null
                var id = null
                var extras = null
                if (supplier_id == 19) {
                    url = 'hd_ins/insurance-index.html'
                    id = 'hd_insurance-index'
                    extras = {policy_id: policyid}
                } else if (supplier_id == 85 && type === '1') {
                    url = 'zs_ins/insurance-index.html'
                    id = 'zs_insurance-index'
                    extras = {policy_id: policyid}
                } else if (supplier_id == 85 && type === '2') {
                    url = 'zs_ins/order-to-pay.html'
                    id = 'order_to_pay'
                    extras = {policy_id: policyid}
                } else if (supplier_id == 8) {
                    console.log(policyid)
                    url = 'paehis/pa-pay.html'
                    id = 'pa_pay'
                    extras = {
                        policy_id: policyid,
                        order_no: orderno,
                        fee: fee
                    }
                }
                //打开新窗口
                mui.openWindow({
                    url: url,
                    id: id,
                    show: animateObj.aniDetal,
                    extras: extras
                });
            })
        });
    }(mui));
    //加载险种列表
    var loaddata = function (type, e) {
        order.page++;
        var basedata = {
            user_id: user_id,
            state: '',
            type: '2',
            ins_state: order.status_type,
            isRenewal: '2', //传1显示代理人接收的保单，传2或者不传表示显示代理人自己保单
            page: order.page,
        }

        luckyAjax({
            closeWaiting: type == 2 ? true : false,
            data: {
                server: 'PolicyIns.PolicyManage',
                data: JSON.stringify(basedata)
            },
            success: function(res){
                if(res.code == 1) {
                    if (order.page >= res.data.totalPage) {
                        if (type === 1) {
                            self.endPullUpToRefresh(true);
                        } else if (type === 2) {
                            mui.toast('更新完成', {duration: 'short', type: 'div'})
                            self.endPullDownToRefresh(true);
                        }
                    } else {
                        if (type === 1) {
                            self.endPullUpToRefresh();
                        } else if (type === 2) {
                            mui.toast('更新完成', {duration: 'short', type: 'div'})
                            self.endPullDownToRefresh();
                        }
                    }
                    if (e) {
                        order.listdata = res.data.list;
                    } else {
                        var list = res.data.list;
                        mui.each(list, function (index, item) {
                            order.listdata.push(item);
                        });
                    }
                } else {
                    order.listdata = []
                    self.endPullUpToRefresh(true)
                }
            }
        });
    };
</script>

</html>