<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/plans.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="modal" v-cloak>

			<div id="modal-bottom" class=" BL-modal-bottom-2 clearfloat" style="height: 80% !important;">
				<header id="Js-header" class="BL-bg-fff">
					<div class="BL-title">利益演示表
						<div class="form-clear-icon " @tap="close" >
							<span class="mui-icon mui-icon-clear BL-abs" style="top: 0;right: .1rem;"></span>
						</div>
					</div>
					
				</header>
				 
				<!--利益演示表-->
				<div>
					<div  style="width: 12%; float: left;">
                        <table class="BL-ftz-46">
                            <thead class=" BL-col-3b9cf5">
	                            <tr>
	                                <th>年龄</th>
	                            </tr>
                            </thead>
                        </table> 
                    </div>
                    <div id="right_div1" class="plans-detail-table" style="width: 88%;float: left;-webkit-overflow-scrolling:auto">
                   		 <table class="BL-ftz-46">
                			 <thead class=" BL-col-3b9cf5">
	                            <tr>
	                            	<template v-if="formID == '370'">
	                            		<th style="min-width: 300px;" v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 25">
	                            			{{item.title}}
	                            		</th>
	                            	</template>
	                            	<template v-else-if="formID == '16217'">
	                            		<th style="min-width: 300px;" v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 23">
	                            			{{item.title}}
	                            		</th>
	                            	</template>
	                            	<template v-else>
	                            		<th style="min-width: 300px;" v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄'">
	                            			{{item.title}}
	                            		</th>
	                            	</template>
	                            	
	                            	
                            		<template v-if="formID == '256' && status">
                            			<th style="min-width: 300px;">年金现金价值</th>
                            			<th style="min-width: 300px;">生存保险金</th>
                            		</template>
                            		<template v-else-if="formID == '354' && status">
                            			<th style="min-width: 300px;">生存保险金</th>
	                            	</template>
                            		<template v-else-if="formID == '16201' && status">
                            			<th style="min-width: 300px;">满期生存金</th>
                            			<th style="min-width: 300px;">现金价值</th>
                            			<th style="min-width: 300px;">生存保险金</th>
	                            	</template>
                            		<template v-else-if="formID == '16197' && status">
                            			<th style="min-width: 300px;">附加养老年金</th>
                            			<th style="min-width: 300px;">附加满期金</th>
                            			<th style="min-width: 300px;">附加退保金</th>
                            			<th style="min-width: 300px;">附加身故保险金</th>
                            			<th style="min-width: 300px;">部分领取</th>
	                            	</template>
                            		<template v-else-if="(formID == '370' || formID == '16217') && status">
                            			<th style="min-width: 300px;">部分领取</th>
                            			<th style="min-width: 300px;">万能账户</th>
                            			<th style="min-width: 300px;">退保总利益</th>
                            			<th style="min-width: 300px;">身故总利益</th>
	                            	</template>
                            		<template v-else-if="formID == '347' && status">
                            			<th style="min-width: 300px;">万能账户</th>
                            			<th style="min-width: 300px;">退保总利益</th>
	                            	</template>
                            		<template v-else-if="(formID == '272' || formID == '340') && status">
                            			<th style="min-width: 300px;">养老年金</th>
	                            	</template>
                            		<template v-else-if="formID == '16221'  && status">
                            			<th style="min-width: 300px;">轻症保险金</th>
	                            	</template>
	                            </tr>
                            </thead>
                		</table>
                	</div>
				</div>
				
				<div id="Js-content"  class="BL-overFlow-autoY" style="width:100%;height: 90%;overflow-y: scroll;overflow-x: hidden;padding-bottom: 2rem;">	
					<div  style="width: 12%; float: left;">
                        <table class="BL-ftz-46">
                            <tbody class="BL-bg-f2f">
	                            <tr v-for="(item, index) in main" :key="index" v-if="index <= len">
                            		<td>
                            			{{item[nl]}} 
                            		</td>
	                            </tr>
	                        </tbody>
                        </table> 
                    </div>
                    <div id="right_div2" class="plans-detail-table" style="width: 88%;float: left;-webkit-overflow-scrolling:auto">
                    	<div>
                    		<table class="BL-ftz-46">
	                            <tbody v-if="status">
	                            	<tr style="height: 0;visibility: hidden;">
		                            	<!--這個判断是用来判断万年红应该显示的字段，名字要自定义-->
	                            		<template v-if="formID == '370'">
		                            		<td class="table-td-hide" 
			                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 25">
		                            			{{item.title}}
		                            		</td>
		                            	</template>
	                            		<template v-else-if="formID == '16217'">
		                            		<td class="table-td-hide" 
			                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 23">
		                            			{{item.title}}
		                            		</td>
		                            	</template>
		                            	<template v-else>
		                            		<td class="table-td-hide" 
			                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄'">
		                            			{{item.title}}
		                            		</td>
		                            	</template>
	                            		<template v-if="formID == '256' && status">
	                            			<td class="table-td-hide" >年金现金价值</td>
	                            			<td class="table-td-hide" >生存保险金</td>
	                            		</template>
	                            		<template v-else-if="formID == '354' && status">
	                            			<td class="table-td-hide" >生存保险金</td>
	                            		</template>
	                            		<template v-else-if="formID == '16201' && status">
	                            			<td class="table-td-hide" >满期生存金</td>
	                            			<td class="table-td-hide" >现金价值</td>
	                            			<td class="table-td-hide" >生存保险金</td>
	                            		</template>
	                            		<template v-else-if="formID == '16197' && status">
	                            			<td class="table-td-hide" >养老年金</td>
	                            			<td class="table-td-hide" >附加满期金</td>
	                            			<td class="table-td-hide" >附加退保金</td>
	                            			<td class="table-td-hide" >附加身故保险金</td>
	                            			<td class="table-td-hide" >部分领取</td>
		                            	</template>
	                            		<template v-else-if="(formID == '370' || formID == '16217') && status">
	                            			<td class="table-td-hide" >部分领取</td>
	                            			<td class="table-td-hide" >万能账户</td>
	                            			<td class="table-td-hide" >退保总利益</td>
	                            			<td class="table-td-hide" >身故总利益</td>
		                            	</template>
	                            		<template v-else-if="formID == '347' && status">
	                            			<td class="table-td-hide" >万能账户</td>
	                            			<td class="table-td-hide" >退保总利益</td>
		                            	</template>
	                            		<template v-else-if="(formID == '272' || formID == '340') && status">
	                            			<td class="table-td-hide" >养老年金</td>
		                            	</template>
		                            	<template v-else-if="formID == '16221'  && status">
	                            			<td class="table-td-hide" >轻症保险金</td>
		                            	</template>
		                            </tr>
	                            
	                            		<tr v-for="(item, index) in main" :key="index" v-if="index <= len">
	                            		<template v-if="formID == '256'">
	                            			<td v-for="(data, i) in item" v-if="i != nl">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
		                            		<template v-if="status && (data.title == '生存保险金' || data.title == '现金价值')" 
		                            			v-for="(data, i) in childrenDescribes">
		                            			<td>{{children[index][i] | ToFixed}}</td> 
		                            		</template>
	                            		</template>
	                            		<template v-else-if="formID == '354'">
	                            			<!--国华康运金身-->
	                            			
	                            			<td v-if="index <= pay_year">
		                            			{{item[1] , children[index][2] | capitalize}}
		                            		</td>
	                            			<td v-else="index > pay_year">
		                            			0
		                            		</td>
		                            		<td>
		                            			{{item[2] , children[index][3] | capitalize}}
		                            		</td>
	                            			<td>
		                            			{{item[3] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{item[4] , children[index][5] | capitalize}}
		                            		</td>
	                            			<td>
		                            			{{item[5] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{children[index][6] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '16201'">
	                            			<!--国华少儿无忧-->
	                            			<td v-if="index <= pay_year">
		                            			{{item[1] , children[index][1] | capitalize}}
		                            		</td>
	                            			<td v-else="index > pay_year">
		                            			0
		                            		</td>
	                            			<td>
		                            			{{item[2] , children[index][3] | capitalize}}
		                            		</td>
		                            		<td>
		                            			{{item[3] | ToFixed}}
		                            		</td>
		                            		<td>
		                            			{{item[4] , children[index][6] | capitalize}}
		                            		</td>
	                            			<td>
		                            			{{children[index][5] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{children[index][2] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{children[index][4] | ToFixed}}
		                            		</td>
	                            			
	                            		</template>
	                            		<template v-else-if="formID == '16197'">
	                            			<!--工银鑫丰盈-->
	                            			<td v-for="(data, i) in item" v-if="i != nl">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template> 
		                            		</td>
		                            		<td>
		                            			{{children[index][17] | ToFixed}}
		                            		</td>
		                            		<td>
		                            			{{children[index][21] | ToFixed}}
		                            		</td>
		                            		<td>
		                            			{{children[index][22] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{children[index][19] | ToFixed}}
		                            		</td>
	                            			<td>
		                            			{{children[index][13] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '370'">
	                            			<!--恒大万年红-->
	                            			<td v-for="(data, i) in item" v-if="i != nl && i < 25">
		                            			<template v-if="i != njbf ">
		                            				{{data | ToFixed}}
		                            			</template>
		                            		</td>
		                            		<td>
		                            			{{item[25] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[26] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[28] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[27] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[30] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[31] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[32] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[35] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[36] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[37] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '16217'">
	                            			<!--恒大万年福-->
	                            			<td v-for="(data, i) in item" v-if="i != nl && i < 23">
		                            			<template v-if="i != njbf ">
		                            				{{data | ToFixed}}
		                            			</template>
		                            		</td>
		                            		<td>
		                            			{{item[23] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[26] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[24] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[25] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[28] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[29] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[30] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{item[31] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{item[32] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{item[33] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '347'">
	                            			<!--信泰千万人生-->
	                            			<td v-for="(data, i) in item" v-if="i != nl">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{children[index][9] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{children[index][10] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{children[index][11] | ToFixed}}
		                            		</td>
		                            		<td v-if="levelNum == 'min'">
		                            			{{children[index][13] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'mid'">
		                            			{{children[index][14] | ToFixed}}
		                            		</td>
		                            		<td v-else-if="levelNum == 'max'">
		                            			{{children[index][15] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '272' || formID == '340'">
	                            			<td v-for="(data, i) in item" v-if="i != nl && i != 8">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
		                            		<td>
		                            			{{item[8] , children[index][2] | capitalize}}
		                            		</td>
		                            		<td>
		                            			{{children[index][4] | ToFixed}}
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '16221'">
	                            			<!--复星康乐B-->
	                            			<td v-for="(data, i) in item" v-if="i != nl && i != 5">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
		                            		<td>
		                            			{{item[5] , children[index][4] | capitalize}}
		                            		</td>
		                            		<td>
		                            			{{children[index][2] | ToFixed}}
		                            		</td>
		                            		 
	                            		</template>
	                            	</tr>
	                            
	                            </tbody>
	                            <tbody  v-else>
	                            	<tr style="height: 0;visibility: hidden;">
		                            	
	                            		<template v-if="formID == '370'">
		                            		<td class="table-td-hide" 
		                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 25">
	                            			{{item.title}}
	                            		</td>
		                            	</template>
	                            		<template v-else-if="formID == '16217'">
		                            		<td class="table-td-hide" 
		                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄' && index < 23">
	                            			{{item.title}}
	                            		</td>
		                            	</template>
		                            	<template v-else>
		                            		<td class="table-td-hide" 
		                            		v-for="(item, index) in mainDescribes" :key="index" v-if="item.title != '被保险人年龄'">
	                            			{{item.title}}
	                            		</td>
		                            	</template>
	                            	
		                            </tr>
	                            	<tr v-for="(item, index) in main" :key="index" v-if="index <= len">
	                            		<template v-if="formID == '370'">
		                            		<td v-for="(data, i) in item" v-if="i != nl && i < 25">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
	                            		</template>
	                            		<template v-else-if="formID == '16217'">
		                            		<td v-for="(data, i) in item" v-if="i != nl && i < 23">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
	                            		</template>
	                            		<template v-else>
		                            		<td v-for="(data, i) in item" v-if="i != nl">
		                            			<template v-if="i != njbf">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index <= pay_year">
		                            				{{data | ToFixed}}
		                            			</template>
		                            			<template v-else-if="i == njbf && index > pay_year">
		                            				0
		                            			</template>
		                            		</td>
	                            		</template>
	                            	</tr>
	                            </tbody>
	                        </table>
                    	</div>
                    </div>
				
				</div>	
				<!--利益演示表-->
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript">
		mui.init();
		var popu;
		var modal = new Vue({
			el: '#modal',
			data: {
				isHide: '', //要弹哪个框
				formID: '', 
				main: {},
				children: {},
				mainDescribes: {},
				childrenDescribes: {},
				pay_year: '',
				safe_year: '',
				levelNum : '',
				indeLv: '',
				behalfLevelNum: [348, 370, 16217], //有中高低
				behalfTable: [256, 354, 16201, 16197, 370, 347, 272, 340, 16217, 16221], //主险利益演示表和附加险有关系的
				//国华康运一生a,国华康运金生,国华少儿,鑫丰盈年金保险，万年红,信泰千万人生，恒久健康，万年青，万年福,复星联合康乐B
				behalfChildren: [87, 355, 16202, 16198, 373, 404, 367, 16216, 16222], //主险利益演示表和附加险有关系的
				//国华康运一生附加年金，国华康运金生养老年金  ,国华少儿年金,鑫丰盈养老年金，万年红,信泰千万人生，恒大养老年金，复星联合康乐B轻症
				status: false,//和附加险有没有关系
				nl : null, //年龄index
				njbf: null, //保费index
				len: null
			},
			filters: {  
	            capitalize: function (mainValue, childrenValue) {  
	               var a = mainValue ? Number(mainValue) : 0 ;
	               var b = childrenValue ? Number(childrenValue) : 0 ;
	               return (a + b).toFixed(0)
	            },
	            ToFixed:  function (mainValue) {
			        var a = mainValue ? Number(mainValue) : 0 ;
			        return a.toFixed(0)
			    },
        	},
        	methods :{
        		close: function() {
        			popu.closepop();
        		}
        	}
        	
		})

		mui.plusReady(function() {
			
				
			var right_div2 = document.getElementById("right_div2");
	        right_div2.onscroll = function () {
	            var right_div2_top = this.scrollTop;
	            var right_div2_left = this.scrollLeft;
	            document.getElementById("right_div1").scrollLeft = right_div2_left;
	        }

			// 实例化关闭窗口对象
			popu = new ClosePopu();
			var data = plus.webview.currentWebview().data;
			var user_id = JSON.parse(plus.storage.getItem("userinfo")).id
			var manData;
			modal.isHide = data.modalID
			modal.formID = data.formID
			modal.pay_year = data.pay_year;
			modal.safe_year = data.safe_year
			modal.levelNum = data.levelNum
			modal.flag = data.flag
			
			if (data.levelNum == 'min'){
				modal.indeLv = 1
			} else if (data.levelNum == 'mid'){
				modal.indeLv = 2
			} else if (data.levelNum == 'max'){
				modal.indeLv = 3
			} else{
				modal.indeLv = 0
			}
			manData = data.manData
			var design = data.design
			if(data.safe_year == 0){
				//终身
				modal.safe_year = 999
			}else if(data.safe_year > 999){
				modal.safe_year = Number(String(data.safe_year).substring(0, 2))
			}else{
				modal.safe_year = data.safe_year
			}
			// 判断是不是需要附加险，是分别赋值，不是只赋值主险
			if(modal.behalfTable.indexOf(Number(modal.formID)) > -1){
				var describes = {}
				mui.each(data.list.main.describes, function(index, item){
					if(data.list.main.list[1][index] || data.list.main.list[1][index] == 0){
						describes[index] = item
					}
				})
				modal.main = data.list.main.list
				modal.mainDescribes = describes
				mui.each(data.list.children, function(index, item){
					if(modal.behalfChildren.indexOf(Number(index)) > -1){
						modal.status = true
						modal.children = data.list.children[index].list
						modal.childrenDescribes = data.list.children[index].describes
					}
				})
//				alert(JSON.stringify(	modal.childrenDescribes))
//				alert(JSON.stringify(modal.mainDescribes ))
			}else{
				var describes = {}
				mui.each(data.list.describes, function(index, item){
					if(data.list.list[1][index] || data.list.list[1][index] == 0){
						describes[index] = item
					}
				})
				modal.main = data.list.list
				modal.mainDescribes = describes
				
			}
			var njy,
                nje,
                tbnj;
			mui.each(modal.mainDescribes, function(index,item){
				if(item.title == '被保险人年龄'){
					modal.nl = index
				}
				if(item.title == '年缴保费' || item.title == '年缴保费(元)'){
					modal.njbf = index
				}
				if(modal.formID == '16197' && item.title == '年金'){
					njy = index
					nje = index
					tbnj = index
				}
			})
			//处理渲染的行数
			if(modal.formID == '16201'){
				modal.len = modal.safe_year - modal.main[1][modal.nl] +1
			}else{
				modal.len = 105
			}
			
			var calMoney = function (exparam) {
				var ret = {};
				ret.user_id = user_id;
                ret.applicant = '';
                ret.appl_sex = manData.appl_sex;
                ret.appl_age = manData.appl_age;
                ret.assured = '';
                ret.assu_sex =  manData.assu_sex;
                ret.assu_age = manData.assu_age;
                ret.pay_year = manData.pay_year;
                ret.safe_year = manData.safe_year;
                ret.year_fee = manData.year_fee;
                ret.genre = modal.formID;
                ret.derate_money = 0;
                ret.base_money = 0;
                ret.warranty_year = 105;
                ret.fj = false; // 包含附加险
                ret.type = "";
                ret.is_save = 0;
                ret.flag = modal.flag;
                ret.check= 0;
				ret.alias= null
                ret.sa_one = 0;
                ret.fa_one = 0;
                ret.money_one = 0;
                ret.sa_two = 0;
                ret.fa_two = 0;
                ret.money_two = 0;
                ret.sa_three = 0;
                ret.fa_three = 0;
                ret.money_three = 0;
                ret.sa_four = 0;
                ret.fa_four = 0;
                ret.money_four = 0;
                ret.sa_five = 0;
                ret.fa_five = 0;
                ret.money_five = 0;
                ret.sa_six = 0;
                ret.fa_six = 0;
                ret.money_six = 0;
                ret.sa_seven = 0;
                ret.fa_seven = 0;
                ret.money_seven = 0;
                ret.sa_eight = 0;
                ret.fa_eight = 0;
                ret.money_eight = 0;
                ret.sa_night = 0;
                ret.fa_night = 0;
                ret.money_night = 0;
                ret.sa_ten = 0;
                ret.fa_ten = 0;
                ret.money_ten = 0;
                ret.level = modal.indeLv;
                if(modal.formID == '16197') {
                	ret.pay_year = 1;
                	ret.level=0;
                	ret.safe_year = 10500;
                	ret.njy = njy;
                    ret.nje = nje;
                    ret.tbnj = tbnj;
                    ret.fj = true;
                    ret.genre = 16198;
                    ret.year_fee = 100;
                    ret.flag = 75;
                	ret.base_money = 0;
                }
                // 是否存在资金规划队列领取金额，存在即合并覆盖
	            if (exparam) {
	                ret = mui.extend(ret, exparam);
	            }
                  console.log(JSON.stringify({
					safes: JSON.stringify([ret])
				}))
                    luckyAjax({
						data: {
							server: 'Proposal.add',
							device: 'mobile',
							data: JSON.stringify({
								safes: JSON.stringify([ret])
							})
						},
						success: function(ret) {
							if(ret.data.data[0]) {
								modal.main = ret.data.data[0][modal.formID].main.list
							} else if(ret.data.data[-1] && ret.data.data[-1]['373']) {
								modal.children = ret.data.data[-1]['373'].main.list
							}else if(ret.data.data[-1] && ret.data.data[-1]['16198']){
								//工银安盛附加养老年金保险
								modal.children = ret.data.data[-1]['16198'].main.list
							} else {
								mui.toast('计算出错,请重试！')
							}
						}
					});
			}
			if(modal.formID == '370' || modal.formID == '16217'){
				//万年红
//				njy = modal.main[11][njy]
//				nje = modal.main[104-manData.assu_age][nje];
//				tbnj = modal.main[5][tbnj]
				addXuanr()
			}else if(modal.formID == '347'){
				addXuanr()
			}else if(modal.formID == '16197'){
				njy = modal.main[5][njy]
				nje = modal.main[68-manData.assu_age][nje];
				tbnj = modal.main[104-manData.assu_age][tbnj]
				addXuanr()
			}else if (modal.formID == '348'){
				calMoney()
			}
			 function addXuanr() {
                //添加内容的长度，循环渲染列表数据
                var arr = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'night', 'ten'];
                var data = {};
                    if (design && design.length > 0) {
                        for (var z = 0; z < design.length; z++) {
                            data["sa_" + arr[z]] = design[z].sAge;
                            data["fa_" + arr[z]] = design[z].fAge;
                            data["money_" + arr[z]] = design[z].getMoney;
                        }
                       	calMoney(data)
                    } else {
                        calMoney()
                    }
            }
			
			// 点击关闭遮罩层，弹框
			mui('body').on('tap', '#maskInit', function() {
				// 关闭遮罩层，弹框
				popu.closepop();
			}, false);
			
			plus.key.addEventListener("backbutton",function(){
				popu.closepop();
			});
		});
	</script>

</html>