<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/member.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
	</head>

	<body class="BL-bg-f2f">
		<div id="Js-content" class="mui-content BL-bg-f2f" v-cloak>
			<div class="BL-bg-fff BL-pad-b-1">
				<!--日期搜索 begin-->
				<div id="Js-teamFilter" class="member-team-search BL-ub BL-ub-ac BL-ub-f1">
					<div class="search-date BL-ub BL-ub-ac"  data-options='{"type":"date","beginYear":2000}'>
						<div id="start_time" class="BL-ub BL-ub-f1 date BL-pad-l-1">开始日期</div>
						<div class="down">
							<span class="BL-bimg-contain search-down"></span>
						</div>
					</div>
					<div class="search-date BL-ub BL-ub-ac" data-options='{"type":"date","beginYear":2000}'>
						<div id="end_time" class="BL-ub BL-ub-f1 date BL-pad-l-1">结束日期</div>
						<div class="down">
							<span class="BL-bimg-contain search-down"></span>
						</div>
					</div>
					<a id="search" class="searchbtn BL-ub BL-ub-pc">搜索</a>
				</div>
				<!--日期搜索 end -->
				<div id="Js-teamtab" class="BL-rel">
					<table width="100%" class="member-team-tab"> 
						<thead>
							<tr>
								<th width="18%"></th>
								<th width="17%">承保件数</th>
								<th width="25%">承保标保</th>
								<th width="20%">出单人数</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item,index) in policy" :key="index">
                                <td>{{ item.rank_name }}</td>
                                <td>{{ item.count }}</td>
                                <td>{{ item.money==""?'0': item.money }}</td>
                                <td>{{ item.people_num == null? "-" : item.people_num }}</td>
                                <td class="item_check BL-col-3b9cf5" :data-json="JSON.stringify(item)">查看</td>
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="Js-teamRole" class="member-team-search BL-ub BL-ub-ac BL-ub-f1 BL-bg-fff" style="border-bottom: 1px solid #C7C7CC;">
				<div class="search-role BL-rel" style="width: 13rem;">
					<div class="BL-pad-lr-1" id="rank_search">{{rank_txt.text}}</div>
					<div class="down BL-abs" style="right: 0rem; top: 1rem">
						<span class="BL-bimg-contain search-down"></span>
					</div>
				</div>
			</div>
			<div class="BL-rel BL-mar-t-1 BL-mar-b-2" id="Js-person">
				<template v-if="person">
					<ul v-if="person.length > 0" class="mui-table-view">
					    <li v-for="(item,index) in person" :key="index" class="mui-table-view-cell member-team-list-item">
					        <a :data-uid="item.id" class="mui-navigate-right BL-ub BL-ub-ac item">
					        	<div class="img">
					        		<img :src="item.avatar | isErrorImg"/>
					        	</div>
					        	<div class="context BL-ub-f1">
					        		<div class="team-per-intro">
					        			<span>{{ item.user_name }}</span>
					        			<span>{{ item.rank_name }}</span>
					        		</div>
					        		<div class="team-per-ins">
					        			<span>承保<i class="BL-col-3b9cf5">{{ item.count }}</i>件</span>
					        			<span>标保<i class="BL-col-3b9cf5">{{ item.money }}</i>元</span>
					        		</div>
					        	</div>
					        </a>
					    </li>
					</ul>
					<div v-if="person.length == 0" class="BL-txt-c BL-ftz-42 BL-col-999">没有更多数据了</div>
				</template>
				<template v-else>
					<div class="BL-txt-c BL-ftz-42 BL-col-999">正在加载...</div>
				</template>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script src="js/mui.poppicker.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/Date.js"></script>
	<script type="text/javascript">
		mui.init()
		
		var team = new Vue({
			el: '#Js-content',
			data: {
				policy: null,
				policy_detail: null,
				rank_list: null,
				page: 1,
				row: 10,
				person: null,
				show: true,
				rank: [],
	            rank_txt: {
	            	value: '',
	            	text: '全部'
	            }
			},
			methods: {
				show_detail: function(item) {
                    this.policy_detail = item
                    this.show = false
                },
                hide_detail: function() {
                	this.show = true
                }
			}
		});
		//定义合伙人头像过滤器
        Vue.filter('isErrorImg', function(imgUrl) {
            var reg = new RegExp("(https|http)?://.+\.(jpg|gif|png|jpeg|bmp)");
            if(imgUrl && reg.test(imgUrl)){
                return imgUrl;
            }else{
                return "images/pic/logo.png";
            }
        });
        
        var user_id;    // 用户id
        
		(function($){
			// 阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			$('.mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: false, //是否显示滚动条
				deceleration: deceleration
			});
			
			// 设置内容区域
			$.plusReady(function() {
				user_id = JSON.parse(plus.storage.getItem("userinfo")).id
				
				// 预加载个人业绩详情页
				mui.preload({
					url: 'team-personal-performance.html',
					id: 'team_personal_performance',
				});
				
				// 定义全局变量： 开始时间start_time, 结束时间end_time
				var start_time = document.getElementById("start_time")
				var end_time = document.getElementById("end_time")
				
				// 日期选择插件
				var dates = $('.search-date');
				dates.each(function(i, d) {
					d.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var _this = this
						var picker = new $.DtPicker(options);
						picker.show(function(rs) {
							_this.querySelector('.date').innerHTML = rs.text;
							picker.dispose();
						});
					}, false);
				});
				
				// 初始化当前月份和上个月份的团队业绩数据
				start_time.innerHTML = new Date().addMonth(-1).Format('yyyy-MM-dd')
				end_time.innerHTML = new Date().addDays(0).Format('yyyy-MM-dd')
				
				var rankSearch = new mui.PopPicker();
				document.querySelector('#rank_search').addEventListener('tap', function() {
					var _self = this;
					rankSearch.show(function(items) {
						team.rank_txt.text= items[0].text;
						team.rank_txt.value  = items[0].value;
						// 搜索时间判断
						if (start_time.innerHTML == '') {
							mui.toast('请选择开始时间', {duration: 'short', type: 'div'})
							return false
						} else if (start_time.innerHTML == '') {
							mui.toast('请选择结束时间', {duration: 'short', type: 'div'})
							return false
						} else if (start_time.innerHTML > end_time.innerHTML) {
							mui.toast('结束时间不能大于开始日期', {duration: 'short', type: 'div'})
							return false
						}
						// 重置页数, 总页数
						team.page = 1
						team.totalPage = ''
						team.person = null
						getTempList(start_time.innerHTML,end_time.innerHTML,team.rank_txt.value)
					});
				}, false);
				
				/**
			     * 获取团队业绩
			     * @param {String} start_time 开始时间
			     * @param {String} end_time  结束时间
			     */
				var getScore = function (start_time,end_time) {
					luckyAjax({
						data: {
				            server: 'team.getScore',
				            data: JSON.stringify({
			            		user_id: user_id,
			            		start_time: start_time,
				            	end_time: end_time
			            	}),
				        },
				        success: function (ret) {
			                if (ret.code == 1) {
			                    team.policy = ret.data.policy;
			                    $.each(ret.data.rank_list, function(index, item) {
									team.rank.push({
										value: item.id,
										text: item.rank_name
									})
								});
								rankSearch.setData(team.rank);
			                } else {
			                	mui.toast(ret.msg, {duration: 'short', type: 'div'})
			                }
			            },
					});
				}
				/**
				 * 获取团队成员列表
				 * @param {String} start_time 开始时间
				 * @param {String} end_time  结束时间
				 * @param {String} rank_id 角色ID
				 */
				var getTempList = function(start_time,end_time,rank_id) {
					luckyAjax({
						data: {
				            server: 'team.getTempList',
				            data: JSON.stringify({
								user_id: user_id,
								rank_id: rank_id,
								page: team.page,
								row: team.row,
								start_time: start_time,
								end_time: end_time,
							}),
				        },
			            success: function (ret) {
							if (ret.code == 1) {
								team.totalPage = ret.data.totalPage;
			                    if(team.page == 1) {
			                    	team.person = ret.data.list
			                    } else {
			                    	team.person = team.person.concat(ret.data.list)
			                    }
							} else {
			                	mui.toast(ret.msg, {duration: 'short', type: 'div'})
		                	}
			            },
					});
				}
				// 获取业绩表格，获取团队成员业绩列表
				getScore(start_time.innerHTML, end_time.innerHTML)
				getTempList(start_time.innerHTML,end_time.innerHTML,'')
				
				var parent_self = plus.webview.getWebviewById('member_team')
				
				// 详情查看事件
				mui('.member-team-tab').on('tap','.item_check', function(e){
					var dataTeam = e.target.getAttribute('data-json')
					if (JSON.parse(dataTeam).details.length!=0) {
						// 调用弹出框
						mui.fire(parent_self,'show', {
							formID : 'member_team_performance',
							goIns_data: JSON.parse(dataTeam)
						});
					} else {
						mui.toast('暂无数据可查看', {duration: 'short', type: 'div'})
					}
				});
				
				
				// 点击顶部搜索按钮事件
				document.querySelector('#search').addEventListener('tap', function(){
					// 搜索时间判断
					if (start_time.innerHTML == '') {
						mui.toast('请选择开始时间', {duration: 'short', type: 'div'})
						return false
					} else if (end_time.innerHTML == '') {
						mui.toast('请选择结束时间', {duration: 'short', type: 'div'})
						return false
					} else if (start_time.innerHTML > end_time.innerHTML) {
						mui.toast('结束时间不能大于开始日期', {duration: 'short', type: 'div'})
						return false
					}
					// 重置页数、总页数
					team.page = 1
					team.totalPage = ''
					team.person = null
					getScore (start_time.innerHTML, end_time.innerHTML)
					getTempList(start_time.innerHTML,end_time.innerHTML,team.rank_txt.value)
				});
				
				//触发详情页面的id事件
				mui('#Js-person').on('tap', 'a', function(e) {
				  	var uid = this.getAttribute('data-uid');
					mui.fire(plus.webview.getWebviewById('team_personal_performance'),'uId',{
					    'uid': uid
					});
					
					//打开新窗口
					mui.openWindow({
						id:"team_personal_performance",
						show:animateObj.aniDetal
					});
				});
				
			//--------------上拉加载更多---------------
		        //获取滚动条当前的位置 
		        function getScrollTop() {
		            var scrollTop = 0;
		            if(document.documentElement && document.documentElement.scrollTop) {
		                scrollTop = document.documentElement.scrollTop;
		            } else if(document.body) {
		                scrollTop = document.body.scrollTop;
		            }
		            return scrollTop;
		        }
		
		        //获取当前可视范围的高度 
		        function getClientHeight() {
		            var clientHeight = 0;
		            if(document.body.clientHeight && document.documentElement.clientHeight) {
		                clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight);
		            } else {
		                clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight);
		            }
		            return clientHeight;
		        }
		
		        //获取文档完整的高度 
		        function getScrollHeight() {
		            return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
		        }
		        
		        //滚动事件触发
		        window.onscroll = function() {
					var scrollDistance = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					console.log(scrollDistance)
					if(scrollDistance > 1000) {
						document.getElementById('Js-teamRole').classList.add("member-team-roleFixed");
					} else {
						document.getElementById('Js-teamRole').classList.remove("member-team-roleFixed");
					}
					
		            if(getScrollTop() + getClientHeight() == getScrollHeight()) {
		            	// 获取下一页数据
		            	team.page++ 
						if (team.page > team.totalPage) {
							return false;
						} else {
			            	getTempList (start_time.innerHTML, start_time.innerHTML, team.rank_txt.value)
						}
		            }
		        }
		        //-----------------结束--------------------
			});
		}(mui));
	</script>
</html>
