<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="modal" v-cloak>

			<div id="modal-bottom" class="BL-modal-bottom">
				<!--泰康乐安康130-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '130_1'">
					<h3>22种轻症保障</h3>
					<p>1、极早期恶性肿瘤或者恶性病变</p>
					<p>2、脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>
					<p>3、不典型的急性心肌梗塞</p>
					<p>4、冠状动脉介入手术（非开胸手术）</p>
					<p>5、心脏瓣膜介入手术（非开胸手术）</p>
					<p>6、主动脉内手术（非开胸手术）</p>
					<p>7、特定周围动脉疾病的血管介入治疗</p>
					<p>8、原发性肺动脉高压</p>
					<p>9、胆道重建手术</p>
					<p>10、视力严重受损</p>
					<p>11、单眼视力丧失</p>
					<p>12、轻度颅脑手术</p>
					<p>13、面部重建手术</p>
					<p>14、双侧睾丸切除手术</p>
					<p>15、肾脏切除</p>
					<p>16、单个肢体缺失</p>
					<p>17、肝叶切除</p>
					<p>18、肺切除</p>
					<p>19、单耳失聪</p>
					<p>20、较小面积Ⅲ度烧伤</p>
					<p>21、轻度面部烧伤</p>
					<p>22、Ⅲ度房室传导阻滞</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '130_2'">
					<h3>60种重大疾病</h3>
					<p>1、恶性肿瘤</p>
					<p>2、急性心肌梗塞</p>
					<p>3、脑中风后遗症</p>
					<p>4、重大器官移植术或者造血干细胞移植</p>
					<p>5、冠状动脉搭桥术（或者称冠状动脉旁路移植术）</p>
					<p>6、终末期肾病（或者称慢性肾功能衰竭尿毒症期）</p>
					<p>7、多个肢体缺失</p>
					<p>8、急性或者亚急性重症肝炎</p>
					<p>9、良性脑肿瘤</p>
					<p>10、慢性肝功能衰竭失代偿期</p>
					<p>11、脑炎后遗症或者脑膜炎后遗症</p>
					<p>12、深度昏迷</p>
					<p>13、双耳失聪</p>
					<p>14、双目失明</p>
					<p>15、瘫痪</p>
					<p>16、心脏瓣膜手术</p>
					<p>17、严重阿尔茨海默病</p>
					<p>18、严重脑损伤</p>
					<p>19、严重帕金森病</p>
					<p>20、严重Ⅲ度烧伤</p>
					<p>21、严重原发性肺动脉高压</p>
					<p>22、严重运动神经元病</p>
					<p>23、语言能力丧失</p>
					<p>24、重型再生障碍性贫血</p>
					<p>25、主动脉手术</p>
					<p>26、严重多发性硬化</p>
					<p>27、终末期肺病</p>
					<p>28、颅脑手术</p>
					<p>29、严重Ｉ型糖尿病</p>
					<p>30、严重类风湿性关节炎</p>
					<p>31、急性出血坏死性胰腺炎开腹手术</p>
					<p>32、侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
					<p>33、经输血导致的感染艾滋病病毒或者患艾滋病</p>
					<p>34、系统性红斑狼疮并发重度的肾功能损害</p>
					<p>35、重症肌无力</p>
					<p>36、持续植物人状态</p>
					<p>37、严重心肌病</p>
					<p>38、严重溃疡性结肠炎</p>
					<p>39、溶血性链球菌引起的坏疽</p>
					<p>40、坏死性筋膜炎</p>
					<p>41、系统性硬皮病</p>
					<p>42、严重克隆病</p>
					<p>43、进行性核上性麻痹</p>
					<p>44、非阿尔茨海默病所致严重痴呆</p>
					<p>45、肺泡蛋白质沉积症</p>
					<p>46、严重慢性复发性胰腺炎</p>
					<p>47、严重面部烧伤</p>
					<p>48、因职业关系导致的感染艾滋病病毒或者患艾滋病</p>
					<p>49、原发性硬化性胆管炎</p>
					<p>50、肺淋巴管肌瘤病</p>
					<p>51、象皮病</p>
					<p>52、胰腺移植</p>
					<p>53、严重川崎病</p>
					<p>54、肾髓质囊性病</p>
					<p>55、克雅氏病</p>
					<p>56、埃博拉病毒感染</p>
					<p>57、失去一肢及一眼</p>
					<p>58、特发性慢性肾上腺皮质功能减退</p>
					<p>59、严重传染性心内膜炎</p>
					<p>60、嗜铬细胞瘤</p>
				</div>
				<!--泰康乐安康130end-->
				<!--泰康乐安心363-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '363_1'">
					<h3>30种轻症保障</h3>
					<p>1、极早期恶性肿瘤或者恶性病变</p>
					<p>2、脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>
					<p>3、不典型的急性心肌梗塞</p>
					<p>4、冠状动脉介入手术（非开胸手术）</p>
					<p>5、心脏瓣膜介入手术（非开胸手术）</p>
					<p>6、主动脉内手术（非开胸手术）</p>
					<p>7、特定周围动脉疾病的血管介入治疗</p>
					<p>8、原发性肺动脉高压</p>
					<p>9、胆道重建手术</p>
					<p>10、视力严重受损</p>
					<p>11、单眼视力丧失</p>
					<p>12、颅脑手术（轻症）</p>
					<p>13、面部重建手术</p>
					<p>14、双侧睾丸切除手术</p>
					<p>15、单侧肾脏切除手术</p>
					<p>16、单个肢体缺失</p>
					<p>17、肝叶切除</p>
					<p>18、单侧肺脏切除手术</p>
					<p>19、单耳失聪</p>
					<p>20、较小面积Ⅲ度烧伤</p>
					<p>21、轻度面部烧伤</p>
					<p>22、Ⅲ度房室传导阻滞</p>
					<p>23、急性心肌梗塞（轻症）</p>
					<p>24、脑中风后遗症（轻症）</p>
					<p>25、颈动脉血管成形手术或内膜切除手术</p>
					<p>26、脑损伤 </p>
					<p>27、运动神经元病</p>
					<p>28、颅脑手术、瘫痪（轻症）</p>
					<p>29、心包膜切除手术</p>
					<p>30、腔静脉过滤器植入手术</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '363_2'">
					<h3>60种重大疾病</h3>
					<p>1、恶性肿瘤</p>
					<p>2、急性心肌梗塞</p>
					<p>3、脑中风后遗症</p>
					<p>4、重大器官移植术或者造血干细胞移植</p>
					<p>5、冠状动脉搭桥术（或者称冠状动脉旁路移植术）</p>
					<p>6、终末期肾病（或者称慢性肾功能衰竭尿毒症期）</p>
					<p>7、多个肢体缺失</p>
					<p>8、急性或者亚急性重症肝炎</p>
					<p>9、良性脑肿瘤</p>
					<p>10、慢性肝功能衰竭失代偿期</p>
					<p>11、脑炎后遗症或者脑膜炎后遗症</p>
					<p>12、深度昏迷</p>
					<p>13、双耳失聪</p>
					<p>14、双目失明</p>
					<p>15、瘫痪</p>
					<p>16、心脏瓣膜手术</p>
					<p>17、严重阿尔茨海默病</p>
					<p>18、严重脑损伤</p>
					<p>19、严重帕金森病</p>
					<p>20、严重Ⅲ度烧伤</p>
					<p>21、严重原发性肺动脉高压</p>
					<p>22、严重运动神经元病</p>
					<p>23、语言能力丧失</p>
					<p>24、重型再生障碍性贫血</p>
					<p>25、主动脉手术</p>
					<p>26、严重多发性硬化</p>
					<p>27、终末期肺病</p>
					<p>28、颅脑手术</p>
					<p>29、严重Ｉ型糖尿病</p>
					<p>30、严重类风湿性关节炎</p>
					<p>31、急性出血坏死性胰腺炎开腹手术</p>
					<p>32、侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
					<p>33、经输血导致的感染艾滋病病毒或者患艾滋病</p>
					<p>34、系统性红斑狼疮并发重度的肾功能损害</p>
					<p>35、重症肌无力</p>
					<p>36、持续植物人状态</p>
					<p>37、严重心肌病</p>
					<p>38、严重溃疡性结肠炎</p>
					<p>39、溶血性链球菌引起的坏疽</p>
					<p>40、坏死性筋膜炎</p>
					<p>41、系统性硬皮病</p>
					<p>42、严重克隆病</p>
					<p>43、进行性核上性麻痹</p>
					<p>44、非阿尔茨海默病所致严重痴呆</p>
					<p>45、肺泡蛋白质沉积症</p>
					<p>46、严重慢性复发性胰腺炎</p>
					<p>47、严重面部烧伤</p>
					<p>48、因职业关系导致的感染艾滋病病毒或者患艾滋病</p>
					<p>49、原发性硬化性胆管炎</p>
					<p>50、肺淋巴管肌瘤病</p>
					<p>51、象皮病</p>
					<p>52、胰腺移植</p>
					<p>53、严重川崎病</p>
					<p>54、肾髓质囊性病</p>
					<p>55、克雅氏病</p>
					<p>56、埃博拉病毒感染</p>
					<p>57、失去一肢及一眼</p>
					<p>58、特发性慢性肾上腺皮质功能减退</p>
					<p>59、严重传染性心内膜炎</p>
					<p>60、嗜铬细胞瘤</p>
				</div>
				<!--泰康乐安心363end-->
				<!--国华康运一生272-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '272_1'">
					<h3>23种轻症保障</h3>

					<p>非危及生命的（极早期的）恶性病变</p>

					<p>不典型的急性心肌梗塞及冠状动脉成形手术</p>

					<p>轻微脑中风</p>

					<p>心脏瓣膜介入手术</p>

					<p>视力严重受损</p>

					<p>主动脉内手术</p>

					<p>脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>

					<p>较小面积III度烧伤（10%）</p>

					<p>重症头部外伤</p>

					<p>单个肢体缺失</p>

					<p>急性坏死性胰腺炎</p>

					<p>严重脑炎或脑膜炎</p>

					<p>中度昏迷</p>

					<p>中度重症肌无力 </p>

					<p>单耳失聪 </p>

					<p>单肾切除手术</p>

					<p>左肝叶或右肝叶切除术</p>

					<p>单肺切除手术 </p>

					<p>中度系统性红斑狼疮</p>

					<p>植入人工耳蜗手术 </p>

					<p>植入大脑内分流器 </p>

					<p>胆总管小肠吻合术</p>

					<p>意外受伤所需的面部重建手术</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '272_2'">
					<h3>60种重大疾病</h3>

					<p>恶性肿瘤</p>

					<p>终末期肾病</p>

					<p>脑炎后遗症或脑膜炎后遗症</p>

					<p>心脏瓣膜手术</p>

					<p>严重原发性肺动脉高压</p>

					<p>慢性呼吸功能衰竭</p>

					<p>经输血导致的人类免疫缺陷病毒感染</p>

					<p>植物人状态</p>

					<p>严重溃疡性结肠炎</p>

					<p>主动脉夹层血肿</p>

					<p>丝虫病所致象皮病</p>

					<p>肌营养不良症</p>

					<p>急性心肌梗塞</p>

					<p>多个肢体缺失</p>

					<p>深度昏迷</p>

					<p>严重阿尔茨海默病</p>

					<p>严重运动神经元病</p>

					<p>严重多发性硬化</p>

					<p>因职业关系导致的人类免疫缺陷病毒感染</p>

					<p>全身性重症肌无力</p>

					<p>严重原发性硬化性胆管炎</p>

					<p>严重弥漫性系统性硬皮病</p>

					<p>胰腺移植</p>

					<p>嗜铬细胞瘤</p>

					<p>脑中风后遗症</p>

					<p>急性或亚急性重症肝炎</p>

					<p>双耳失聪</p>

					<p>严重脑损伤</p>

					<p>语言能力丧失</p>

					<p>严重冠心病</p>

					<p>脊髓灰质炎</p>

					<p>重症急性坏死性筋膜炎</p>

					<p>II 级重症急性胰腺炎</p>

					<p>严重慢性复发性胰腺炎</p>

					<p>严重心肌炎</p>

					<p>人类疯牛病</p>

					<p>重大器官移植术或造血干细胞移植术</p>

					<p>良性脑肿瘤</p>

					<p>双目失明</p>

					<p>严重帕金森病</p>

					<p>重型再生障碍性贫血</p>

					<p>严重心肌病</p>

					<p>特发性慢性肾上腺皮质功能减退</p>

					<p>严重类风湿性关节炎</p>

					<p>非阿尔茨海默病所致严重痴呆</p>

					<p>完全性房室传导阻滞</p>

					<p>肺源性心脏病</p>

					<p>严重川崎病</p>

					<p>冠状动脉搭桥术</p>

					<p>慢性肝功能衰竭失代偿期</p>

					<p>瘫痪</p>

					<p>严重III度烧伤</p>

					<p>主动脉手术</p>

					<p>系统性红斑狼疮</p>

					<p>自主生活能力完全丧失</p>

					<p>严重克隆病</p>

					<p>破裂脑动脉瘤夹闭手术</p>

					<p>肾髓质囊性病</p>

					<p>I型糖尿病</p>

					<p>埃博拉病毒感染</p>
				</div>
				<!--国华康运一生272end-->
				<!--国华康运金生384-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '384_1'">

					<h3>50种重大疾病</h3>
					<p>恶性肿瘤</p>
					<p>急性心肌梗塞</p>
					<p>脑中风后遗症</p>
					<p>重大器官移植术或造血干细胞移植术</p>
					<p>冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
					<p>终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
					<p>重型再生障碍性贫血</p>
					<p>特发性慢性肾上腺皮质功能衰竭</p>
					<p>严重风湿性关节炎</p>
					<p>严重瑞氏综合症（Reye 综合征，也称赖氏综合征、雷氏综合征）</p>
					<p>坏死性筋膜炎</p>
					<p>多个肢体缺失</p>
					<p>急性出血坏死性胰腺炎开腹手术</p>
					<p>严重克隆病</p>
					<p>严重溃疡性结肠炎</p>
					<p>系统性红斑狼疮并发肾功能损害</p>

					<p>肝豆状核变性</p>

					<p>胰腺移植</p>

					<p>原发性硬化性胆管炎</p>

					<p>严重自身免疫性肝炎</p>

					<p>慢性肝功能衰竭失代偿期 </p>
					<p>深度昏迷</p>

					<p>终末期肺病</p>

					<p>肾髓质囊性病</p>

					<p>急性或亚急性重症肝炎</p>

					<p>严重的原发性心肌病</p>

					<p>严重川崎病</p>

					<p>严重慢性缩窄型心包炎</p>

					<p>肺源性心脏病</p>

					<p>瘫痪</p>

					<p>心脏瓣膜手术</p>

					<p>严重原发性肺动脉高压</p>

					<p>嗜铬细胞瘤</p>

					<p>肺泡蛋白质沉积症</p>

					<p>严重感染性心内膜炎</p>

					<p>主动脉手术</p>

					<p>进行性风疹性全脑炎</p>

					<p>严重运动神经元病</p>

					<p>疾病或外伤所致智力障碍</p>

					<p>双目失明</p>

					<p>严重多发性硬化症</p>

					<p>肌营养不良症</p>

					<p>严重阿尔茨海默病</p>

					<p>非阿尔茨海默病所致严重痴呆</p>

					<p>严重帕金森病</p>

					<p>严重克雅氏症</p>

					<p>重症手足口病</p>

					<p>系统性硬皮病</p>

					<p>双耳失聪</p>

					<p>埃博拉病毒感染</p>
				</div>
				<!--国华康运金生384end-->

				<!--工银御享人生283-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '283_1'">

					<h3>第一组</h3>

					<p>⒈ 极早期恶性肿瘤或恶性病变</p>

					<p>⒉ 单侧肺脏切除</p>

					<p>⒊ 慢性肾功能障碍</p>

					<p>⒋ 早期肝硬化</p>

					<p>⒌ 肝脏手术</p>

					<p>⒍ 双侧卵巢或双侧睾丸切除术</p>

					<p>⒎ 胆道重建手术</p>
					<h3>第二组</h3>

					<p>⒈ 轻微脑中风</p>

					<p>⒉ 脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>

					<p>⒊ 轻度脑炎或脑膜炎后遗症</p>

					<p>⒋ 深度昏迷72小时</p>

					<p>⒌ 中度瘫痪</p>

					<p>⒍ 中度帕金森氏病</p>

					<p>⒎ 早期运动神经性疾病 </p>

					<p>⒏ 重度头部外伤 </p>
					<h3>第三组</h3>
					<p>⒈ 不典型心肌梗塞</p>

					<p>⒉ 冠状动脉介入手术（非开胸手术</p>

					<p>⒊ 心脏瓣膜介入手术（非开胸手术 </p>

					<p>⒋ 主动脉内手术（非开胸手术</p>

					<p>⒌ 继发性肺动脉高压 </p>

					<p>⒍ 特定周围动脉疾病的血管介入治疗 </p>

					<p>⒎ 心包膜切除术</p>
					<h3>第四组</h3>

					<p>⒈ 可逆性再生障碍性贫血</p>
					<p>⒉ 较小面积Ⅲ度烧伤</p>
					<p>⒊ 中度听力受损</p>
					<p>⒋ 视力严重受损</p>
					<p>⒌ 一肢缺失</p>
					<p>⒍ 中度阿尔茨海默病</p>
					<p>⒎ 人工耳蜗植入术</p>
					<p>⒏ 单眼失明</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '283_2'" >
					<h3>第一组</h3>

					<p>⒈ 恶性肿瘤</p>

					<p>⒉ 重大器官移植术或造血干细胞移植术</p>

					<p>⒊ 终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>

					<p>⒋ 慢性肝功能衰竭失代偿期</p>

					<p>⒌ 慢性呼吸功能衰竭</p>

					<p>⒍ 严重溃疡性结肠炎</p>

					<p>⒎ 严重哮喘</p>

					<p>⒏ 原发性硬化性胆管炎</p>

					<p>⒐ 侵蚀性葡萄胎（或称恶性葡萄胎)</p>

					<p>⒑ 严重的胰岛素依赖型糖尿病 （Ⅰ型糖尿病</p>

					<p>⒒ 急性或亚急性重症肝炎</p>

					<p>⒓ 急性出血坏死性胰腺炎</p>

					<p>⒔ 慢性复发性胰腺炎</p>

					<p>⒕ 胰腺移植</p>

					<p>⒖ 慢性肾上腺皮质功能衰竭</p>

					<p>⒗ 肾髓质囊性病</p>

					<p>⒘ 肺淋巴管肌瘤病</p>

					<p>⒙ 原发性骨髓纤维化</p>

					<p>⒚ 严重骨髓增生异常综合征(myelodysplastic syndromes，MDS)</p>

					<p>⒛ 肺泡蛋白质沉积症</p>

					<p>21. 嗜铬细胞瘤</p>

					<p>22. 严重自身免疫性肝炎</p>

					<p>23. 肝豆状核变性</p>
					<h3>第二组</h3>

					<p>⒈ 脑中风后遗症</p>

					<p>⒉ 良性脑肿瘤</p>

					<p>⒊ 脑炎后遗症或脑膜炎后遗症</p>

					<p>⒋ 深度昏迷</p>

					<p>⒌ 瘫痪</p>

					<p>⒍ 严重帕金森病</p>

					<p>⒎ 严重运动神经元病</p>

					<p>⒏ 语言能力丧失</p>

					<p>⒐ 多发性硬化</p>

					<p>⒑ 颅脑手术</p>

					<p>⒒ 严重脑损伤</p>

					<p>⒓ 重症肌无力</p>

					<p>⒔ 脊髓灰质炎</p>

					<p>⒕ 严重肌营养不良症</p>

					<p>⒖ 植物人</p>

					<p>⒗ 破裂脑动脉瘤夹闭手术</p>

					<p>⒘ 疯牛病</p>

					<p>⒙ 严重癫痫</p>

					<p>⒚ 严重细菌性脑脊髓膜炎</p>

					<p>⒛ 重症手足口病</p>

					<p>21. 成骨不全症</p>

					<p>22. 进行性核上性麻痹</p>

					<p>23. 严重瑞氏综合征</p>

					<p>24. 肾上腺脑白质营养不良</p>

					<h3>第三组</h3>
					<p>⒈ 急性心肌梗塞</p>
					<p>⒉ 冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
					<p>⒊ 心脏瓣膜手术</p>
					<p>⒋ 主动脉手术</p>
					<p>⒌ 严重原发性肺动脉高压</p>
					<p>⒍ 严重心肌病</p>
					<p>⒎ 象皮病</p>
					<p>⒏ 系统性红斑狼疮-Ⅲ型或以上狼疮性肾炎</p>
					<p>⒐ 严重类风湿性关节炎</p>
					<p>⒑ 严重冠心病</p>
					<p>⒒ 严重心肌炎</p>
					<p>⒓ 主动脉夹层血肿</p>
					<p>⒔ Ⅲ度房室传导阻滞</p>
					<p>⒕ 严重传染性心内膜炎</p>
					<p>⒖ 肺源性心脏病</p>
					<p>⒗ 全身型幼年类风湿性关节炎（斯蒂尔氏病）</p>
					<p>⒘ 严重川崎病</p>

					<h3>第四组</h3>
					<p>⒈ 重型再生障碍性贫血</p>
					<p>⒉ 严重Ⅲ度烧伤</p>
					<p>⒊ 双耳失聪</p>
					<p>⒋ 双目失明</p>
					<p>⒌ 多个肢体缺失</p>
					<p>⒍ 严重阿尔茨海默症</p>
					<p>⒎ 溶血性链球菌引起的坏疽</p>
					<p>⒏ 坏死性筋膜炎</p>
					<p>⒐ 非阿尔茨海默病所致严重痴呆</p>
					<p>⒑ 经输血导致的人类免疫缺陷病毒（HIV）感染</p>
					<p>⒒ 因职业关系导致的人类免疫缺陷病毒（HIV）感染</p>
					<p>⒓ 系统性硬皮病</p>
					<p>⒔ 严重克隆病</p>
					<p>⒕ 埃博拉病毒感染</p>
					<p>⒖ 严重肠道疾病并发症</p>
					<p>⒗ 小肠移植</p>
				</div>
				<!--工银御享人生283 end-->
				
				<!--信泰健康100重大疾病保险(铂金版)210 begin-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '210_1'"  >
					 <h3>20种轻度重疾</h3>
        <p>1 原位癌</p>
        <p>2 轻微脑中风</p>
        <p>3 继发性肺动脉高压</p>
        <p>4 早期肝硬化</p>
        <p>5 视力严重受损</p>
        <p>6 心脏瓣膜经皮经导管介入手术</p>
        <p>7 主动脉内手术</p>
        <p>8 脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>
        <p>9 轻度帕金森病</p>
        <p>10 脑损伤</p>
        <p>11 单侧肺脏切除</p>
        <p>12 微创冠状动脉搭桥手术（或称微创冠状动脉旁路移植术）</p>
        <p>13 一肢缺失</p>
        <p>14 深度昏迷72小时</p>
        <p>15 中度瘫痪</p>
        <p>16 中度阿尔茨海默病</p>
        <p>17 早期肌萎缩性侧索硬化症</p>
        <p>18 人工耳蜗植入手术</p>
        <p>19 可逆性再生障碍性贫血</p>
        <p>20 早期进行性延髓麻痹症</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '210_2'" >
					 <h3>80种重疾A组</h3>
        <p>1 恶性肿瘤</p>
        <p>2 急性心肌梗塞</p>
        <p>3 重大器官移植术或造血干细胞移植术</p>
        <p>4 冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
        <p>5 终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
        <p>6 嗜铬细胞瘤</p>
        <p>7 侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
        <p>8 急性或亚急性重症肝炎</p>
        <p>9 慢性肝功能衰竭失代偿期</p>
        <p>10 重型再生障碍性贫血</p>
        <p>11 器官移植导致的HIV感染</p>
        <p>12 严重原发性骨髓纤维化</p>
        <p>13 慢性呼吸功能衰竭</p>
        <p>14 胰腺移植</p>
        <p>15 特发性慢性肾上腺皮质功能减退</p>
        <p>16 重症骨髓增生异常综合征</p>
        <p>17 自体造血干细胞移植</p>
        <p>18 肾髓质囊性病</p>
        <p>19 小肠移植</p>
        <p>20 系统性硬皮病</p>
        <p>21 肺泡蛋白质沉积症</p>
        <p>22 肺淋巴管肌瘤病</p>
        <p>23 心脏瓣膜手术</p>
        <p>24 严重原发性肺动脉高压</p>
        <p>25 主动脉手术</p>
        <p>26 严重心肌炎</p>
        <p>27 严重肺源性心脏病</p>
        <p>28 夹层主动脉瘤</p>
        <p>29 艾森曼格综合征</p>
        <p>30 严重慢性缩窄型心包炎</p>
        <p>31 严重传染性心内膜炎</p>
        <p>32 慢性复发性胰腺炎</p>
        <p>33 原发性硬化性胆管炎</p>
        <p>34 严重肠道疾病并发症</p>
        <p>35 严重溃疡性结肠炎</p>
        <p>36 严重克隆病</p>
        <p>37 急性坏死性胰腺炎开腹手术</p>
        <p>38 严重自身免疫性肝炎</p>
        <p>39 肝豆状核变性</p>
        <p>40 川崎病合并严重并发症</p>
        <h3>80种重疾B组</h3>
        <p>1 脑中风后遗症</p>
        <p>2 脑炎后遗症或脑膜炎后遗症</p>
        <p>3 严重运动神经元病</p>
        <p>4 严重阿尔茨海默病</p>
        <p>5 良性脑肿瘤</p>
        <p>6 植物人状态</p>
        <p>7 颅脑手术</p>
        <p>8 深度昏迷</p>
        <p>9 严重脑损伤</p>
        <p>10 进行性核上性麻痹</p>
        <p>11 非阿尔茨海默病所致严重痴呆</p>
        <p>12 多发性硬化症</p>
        <p>13 瘫痪</p>
        <p>14 进行性脊髓性肌萎缩</p>
        <p>15 进行性延髓麻痹症</p>
        <p>16 肌萎缩性侧索硬化症</p>
        <p>17 破裂脑动脉瘤夹闭手术</p>
        <p>18 严重帕金森病</p>
        <p>19 疾病或外伤所致智力障碍</p>
        <p>20 严重肌营养不良症</p>
        <p>21 严重脊髓灰质炎</p>
        <p>22 严重Ⅲ度烧伤</p>
        <p>23 严重面部烧伤</p>
        <p>24 多个肢体缺失</p>
        <p>25 失去一肢及一眼</p>
        <p>26 溶血性链球菌引起的坏疽</p>
        <p>27 重症急性坏死性筋膜炎</p>
        <p>28 经输血导致的人类免疫缺陷病毒（HIV）感染</p>
        <p>29 因职业关系导致的人类免疫缺陷病毒（HIV）感染</p>
        <p>30 双耳失聪</p>
        <p>31 双目失明</p>
        <p>32 语言能力丧失</p>
        <p>33 重症肌无力</p>
        <p>34 埃博拉病毒感染</p>
        <p>35 出血性登革热</p>
        <p>36 丝虫病所致象皮肿</p>
        <p>37 疯牛病</p>
        <p>38 严重幼年型类风湿性关节炎</p>
        <p>39 婴儿进行性肌脊肌萎缩症</p>
        <p>40 严重瑞氏综合征</p>
				</div>
				<!--信泰健康100重大疾病保险(铂金版)210 end-->

				<!--信泰百万健康重大疾病保险361 begin-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '361_1'">
					  <h3>50种轻症疾病分为 A、B、C、D、E 五组(轻症疾病的定义详见本合同 10.2 部分）。</h3>
            <h3>A组</h3>
            <p>1.极早期恶性肿瘤或恶性病变</p>
            <p>2.单侧肺脏切除</p>
            <p>3.肝脏手术</p>
            <p>4.慢性肾功能障碍</p>
            <p>5.早期肝硬化</p>
            <p>6.可逆性再生障碍性贫血</p>
            <p>7.中度严重溃疡性结肠炎</p>
            <p>8.双侧睾丸切除术</p>
            <p>9.双侧卵巢切除术</p>
            <p>10.单侧肾脏切除</p>
            <p>11.因肾上腺皮质腺瘤切除肾上腺</p>
            <p>12.系统性红斑狼疮</p>
            <p>13.视力严重受损</p>
            <h3>B组</h3>
            <p>1.不典型心肌梗塞</p>
            <p>2.微创冠状动脉搭桥手术（或称微创冠状动脉旁路移植术）</p>
            <p>3. 心脏瓣膜介入手术（非开胸手术）</p>
            <p>4.主动脉内手术（非开胸手术）</p>
            <p>5.于颈动脉进行血管成形术或内膜切除术</p>
            <p>6. 心包膜切除术</p>
            <p>7. 特定周围动脉疾病的血管介入治疗</p>
            <p>8. 植入腔静脉过滤器</p>
            <p>9. 激光心肌血运重建术</p>
            <p>10. 早期原发性心肌病</p>
            <p>11. 心脏起搏器或除颤器植入</p>
            <p>12. 糖尿病导致脚趾截除</p>
            <p>13. 糖尿病视网膜晚期增生性病变</p>
            <p>14. 严重阻塞性睡眠呼吸暂停综合征</p>
            <p>15. 轻度原发性肺动脉高压</p>
            <h3>C组</h3>
            <p>1. 一肢缺失</p>
            <p>2. 重度头部外伤</p>
            <p>3. 人工耳蜗植入术</p>
            <p>4. 单耳失聪</p>
            <p>5. 视力严重受损</p>
            <p>6. 单眼失明</p>
            <p>7. 角膜移植</p>
            <p>8. 硬脑膜下血肿手术</p>
            <p>9. 面部重建手术</p>
            <p>10. 严重骨质疏松</p>
            <h3>D组</h3>
            <p>1. 轻微脑中风</p>
            <p>2. 脑垂体瘤、脑囊肿</p>
            <p>3. 脑动脉瘤、脑血管瘤</p>
            <p>4. 早期运动神经元疾病</p>
            <p>5. 轻度脑炎或脑膜炎后遗症</p>
            <p>6. 中度帕金森氏病</p>
            <p>7. 中度肌营养不良症</p>
            <p>8. 中度脊髓灰质炎</p>
            <p>9. 微创颅脑手术</p>
            <p>10. 植入大脑内分流器</p>
            <h3>E组</h3>
            <p>1. 较小面积Ⅲ度烧伤</p>
            <p>2. 早期象皮病</p>
            <p>3. 出血性登革热</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '361_2'">
					 <h3>105种重大疾病分为 A、B、C、D、E 五组。</h3>
            <h3>A组</h3>
            <p>1、恶性肿瘤</p>
            <p>2、侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
            <h3>B组</h3>
            <p>1、急性心肌梗塞</p>
            <p>2、冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
            <p>3、心脏瓣膜手术</p>
            <p>4、严重原发性肺动脉高压</p>
            <p>5、主动脉手术</p>
            <p>6、严重冠状动脉粥样硬化性心脏病</p>
            <p>7、严重心肌病（严重原发性心肌病）</p>
            <p>8、严重心肌炎</p>
            <p>9、Ⅲ度房室传导阻滞</p>
            <p>10、感染性心内膜炎</p>
            <p>11、肺源性心脏病</p>
            <p>12、嗜铬细胞瘤</p>
            <p>13、严重慢性缩窄性心包炎</p>
            <p>14、主动脉夹层瘤</p>
            <p>15、艾森门格综合征</p>
            <p>16、严重川崎病</p>
            <p>17、严重继发性肺动脉高压</p>
            <p>18、神经白塞病</p>
            <p>19、严重 I 型糖尿病</p>
            <h3>C组</h3>
            <p>1、重大器官移植术或造血干细胞移植术</p>
            <p>2、终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
            <p>3、多个肢体缺失</p>
            <p>4、急性或亚急性重症肝炎</p>
            <p>5、慢性肝功能衰竭失代偿期</p>
            <p>6、双耳失聪</p>
            <p>7、双目失明</p>
            <p>8、重型再生障碍性贫血</p>
            <p>9、胰腺移植</p>
            <p>10、原发性硬化性胆管炎</p>
            <p>11、失去一肢及一眼</p>
            <p>12、系统性红斑狼疮－（并发）Ⅲ型或以上狼疮性肾炎</p>
            <p>13、急性坏死性胰腺炎开腹手术</p>
            <p>14、系统性硬皮病</p>
            <p>15、严重克隆病</p>
            <p>16、严重溃疡性结肠炎</p>
            <p>17、慢性呼吸功能衰竭终末期肺病</p>
            <p>18、肺淋巴管肌瘤病</p>
            <p>19、肝豆状核变性</p>
            <p>20、肾髓质囊性病</p>
            <p>21、严重自身免疫性肝炎</p>
            <p>22、原发性骨髓纤维化</p>
            <p>23、严重获得性或继发性肺泡蛋白质沉积症</p>
            <p>24、胆道重建手术</p>
            <p>25、严重肠道疾病并发症</p>
            <p>26、严重骨髓异常增生综合征</p>
            <p>27、自体造血干细胞移植术</p>
            <p>28、严重哮喘</p>
            <p>29、严重甲型及乙型血友病</p>
            <p>30、重症急性坏死性筋膜炎</p>
            <p>31、弥漫性血管内凝血</p>
            <p>32、小肠移植</p>
            <p>33、溶血性链球菌引起的坏疽</p>
            <p>34.慢性复发性胰腺炎 </p>  
            <p>35.特发性慢性肾上腺皮质功能减退 </p>
            <p>36.经输血导致的 HIV感染</p>
            <p>37.器官移植导致的HIV感染  </p>
            <p>38.因职业关系导致的HIV感染</p>
            <h3>D组</h3>
            <p>1.脑中风后遗症</p>
            <p>2.良性脑肿瘤</p>
            <p>3.脑炎后遗症或脑膜炎后遗症</p>
            <p>4.深度昏迷</p>
            <p>5.瘫痪</p>
            <p>6.严重阿尔茨海默病</p>
            <p>7.严重脑损伤</p>
            <p>8.严重帕金森病</p>
            <p>9.严重运动神经元病</p>
            <p>10.语言能力丧失</p>
            <p>11.疯牛病</p>
            <p>12.破裂脑动脉瘤夹闭手术</p>
            <p>13.严重肌营养不良症</p>
            <p>14.脊髓灰质炎</p>
            <p>15.植物人状态</p>
            <p>16.非阿尔茨海默病所致严重痴呆</p>
            <p>17.多发性硬化</p>
            <p>18.全身性（型）重症肌无力</p>
            <p>19.进行性核上性麻痹</p>
            <p>20.颅脑手术</p>
            <p>21.瑞氏综合症</p>
            <p>22.骨生长不全症</p>
            <p>23.严重癫痫</p>
            <p>24.独立能力丧失</p>
            <p>25.肌萎缩脊髓侧索硬化后遗症</p>
            <p>26.严重结核性脑膜炎</p>
            <p>27.进行性多灶性白质脑病</p>
            <p>28.脊髓小脑变性症</p>
            <p>29.婴儿进行性脊肌萎缩症</p>
            <p>30.多处臂丛神经根性撕脱</p>
            <p>31.细菌性脑脊髓膜炎</p>
            <p>32.脊柱裂</p>
            <p>33.血管性痴呆</p>
            <p>34.额颞叶痴呆</p>
            <p>35.路易体痴呆</p>
            <p>36.亚急性硬化性全脑炎</p>
            <p>37.进行性风疹性全脑炎</p>
            <p>38.重症手足口病</p>
            <p>39.严重类风湿性关节炎</p>
            <p>40.严重幼年型类风湿性关节炎</p>
            <p>41.疾病或外伤所致智力障碍</p>
            <h3>E组</h3>
            <p>1.严重Ⅲ度烧伤</p>
            <p>2.埃博拉病毒感染</p>
            <p>3.丝虫病所致象皮肿</p>
            <p>4.严重面部烧伤</p>
            <p>5.原发性脊柱侧弯的矫正手术</p>
				</div>
				<!--信泰百万健康重大疾病保险361 end-->

				<!--中英爱加倍 319 begin-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '319_1'">
					 <h3>20种轻症疾病</h3>
            <p>1.心脏瓣膜经皮经导管介入手术</p>
            <p>2.不典型的急性心肌梗塞</p>
            <p>3.单侧肺脏切除</p>
            <p>4.极早期的恶性肿瘤或恶性病变</p>
            <p>5.继发性肺动脉高压</p>
            <p>6.可逆性再生障碍性贫血</p>
            <p>7.脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>
            <p>8.脑损伤</p>
            <p>9.轻度帕金森病</p>
            <p>10.轻微脑中风</p>
            <p>11. 人工耳蜗植入手术</p>
            <p>12. 深度昏迷72小时</p>
            <p>13.视力严重受损</p>
            <p>14.微创冠状动脉搭桥手术（或称微创冠状动脉旁路移植术）</p>
            <p>15.一肢缺失</p>
            <p>16. 早期肝硬化</p>
            <p>17. 早期运动神经性疾病</p>
            <p>18. 中度阿尔茨海默病</p>
            <p>19. 中度瘫痪</p>
            <p>20. 主动脉内手术</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '319_2'">
					 <h3>88种重大疾病</h3>
            <p>1、恶性肿瘤</p>
            <p>2、嗜铬细胞瘤</p>
            <p>3、侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
            <p>4、重大器官移植术或造血干细胞移植术</p>
            <p>5、终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
            <p>6、急性或亚急性重症肝炎</p>
            <p>7、慢性肝功能衰竭失代偿期</p>
            <p>8、重型再生障碍性贫血</p>
            <p>9、器官移植导致的 HIV感染</p>
            <p>10、严重原发性骨髓纤维化</p>
            <p>11、慢性呼吸功能衰竭</p>
            <p>12、胰腺移植</p>
            <p>13、特发性慢性肾上腺皮质功能减退</p>
            <p>14、重症骨髓增生异常综合征</p>
            <p>15、自体造血干细胞移植</p>
            <p>16、肾髓质囊性病</p>
            <p>17、小肠移植</p>
            <p>18、系统性硬皮病</p>
            <p>19、肺泡蛋白质沉积症</p>
            <p>20、肺淋巴管肌瘤病</p>
            <p>21、急性心肌梗塞</p>
            <p>22、冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
            <p>23、心脏瓣膜手术</p>
            <p>24、严重原发性肺动脉高压</p>
            <p>25、主动脉手术</p>
            <p>26、严重心肌炎</p>
            <p>27、严重肺源性心脏病</p>
            <p>28、夹层主动脉瘤</p>
            <p>29、艾森曼格综合征</p>
            <p>30、严重慢性缩窄型心包炎</p>
            <p>31、严重传染性心内膜炎</p>
            <p>32、慢性复发性胰腺炎</p>
            <p>33、原发性硬化性胆管炎</p>
            <p>34、严重肠道疾病并发症</p>
            <p>35、严重溃疡性结肠炎</p>
            <p>36、严重克隆病</p>
            <p>37、急性坏死性胰腺炎开腹手术</p>
            <p>38、严重自身免疫性肝炎</p>
            <p>39、肝豆状核变性</p>
            <p>40、川崎病合并严重并发症</p>
            <p>41、脑炎后遗症或脑膜炎后遗症</p>
            <p>42、严重运动神经元病</p>
            <p>43、严重阿尔茨海默病</p>
            <p>44、良性脑肿瘤</p>
            <p>45、脑中风后遗症</p>
            <p>46、植物人状态</p>
            <p>47、颅脑手术</p>
            <p>48、深度昏迷</p>
            <p>49、严重脑损伤</p>
            <p>50、进行性核上性麻痹</p>
            <p>51、非阿尔茨海默病所致严重痴呆</p>
            <p>52、多发性硬化症</p>
            <p>53、瘫痪</p>
            <p>54、进行性脊髓性肌萎缩</p>
            <p>55、进行性延髓麻痹症</p>
            <p>56、肌萎缩性侧索硬化症</p>
            <p>57、破裂脑动脉瘤夹闭手术</p>
            <p>58、严重帕金森病</p>
            <p>59、疾病或外伤所致智力障碍</p>
            <p>60、严重肌营养不良症</p>
            <p>61、严重脊髓灰质炎</p>坏
            <p>62、严重Ⅲ度烧伤</p>
            <p>63、严重面部烧伤</p>
            <p>64、多个肢体缺失</p>
            <p>65、失去一肢及一眼</p>
            <p>66、溶血性链球菌引起的坏疽</p>
            <p>67、重症急性坏死性筋膜炎</p>
            <p>68、经输血导致的人类免疫缺陷病毒（HIV）感染</p>
            <p>69、因职业关系导致的人类免疫缺陷病毒（HIV）感染</p>
            <p>70、双耳失聪</p>
            <p>71、双目失明</p>
            <p>72、语言能力丧失</p>
            <p>73、重症肌无力</p>
            <p>74、埃博拉病毒感染</p>
            <p>75、出血性登革热</p>
            <p>76、丝虫病所致象皮肿</p>
            <p>77、疯牛病</p>
            <p>78、严重幼年型类风湿性关节炎</p>
            <p>79、婴儿进行性脊肌萎缩症</p>
            <p>80、严重瑞氏综合征</p>
            <p>81、胆道重建术</p>
            <p>82、艾森门格综合征</p>
            <p>83、脊髓小脑变形症</p>
            <p>84、进行性多灶性全脑炎</p>
            <p>85、风湿热导致的心脏瓣膜疾病</p>
            <p>86、成骨不全症</p>
            <p>87、严重结合脑膜炎</p>
            <p>88、严重瑞氏综合症</p>   
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '319_3'">
					 <h3>31种特定疾病</h3>
            <p>1.特定恶性肿瘤：胃癌/肺癌/肝癌/结直肠癌/肾癌/乳腺癌/宫颈癌</p>
            <p>2.急性心肌梗塞</p>
            <p>3.冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
            <p>4.脑中风后遗症</p>
            <p>5.终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
            <p>6.急性或亚急性重症肝炎</p>
            <p>7.良性脑肿瘤</p>
            <p>8.脑炎后遗症或脑膜炎后遗症</p>
            <p>9.心脏瓣膜手术</p>
            <p>10.严重脑损伤</p>
            <p>11. 严重帕金森病</p>
            <p>12. 重型再生障碍性贫血</p>
            <p>13.主动脉手术</p>
            <p>14.胰岛素依赖型糖尿病（1型糖尿病）</p>
            <p>15.慢性呼吸功能衰竭</p>
            <p>16. 严重心肌病</p>
            <p>17. 重症肌无力</p>
            <p>18. 严重克隆病</p>
            <p>19. 严重溃疡性结肠炎</p>
            <p>20. 严重脊髓灰质炎</p>
            <p>21.重症急性坏死性筋膜炎</p>
            <p>22.严重川崎病</p>
            <p>23.丝虫病所致象皮肿</p>
            <p>24.急性坏死性胰腺炎开腹手术</p>
            <p>25.慢性复发性胰腺炎</p>
            <p>26.疯牛病</p>
            <p>27.特发性慢性肾上腺皮质功能减退</p>
            <p>28.重症骨髓增生异常综合征</p>
            <p>29.婴儿进行性脊肌萎缩症</p>
            <p>30.严重瑞氏综合征</p>
            <p>31.肝豆状核变性</p>   
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '319_4'">
					 <h3>20种高费用疾病</h3>
            <p>1.高费用恶性肿瘤：脑癌/骨癌/白血病/恶性淋巴瘤/食道癌/胰腺癌</p>
            <p>2.重大器官移植术或造血干细胞移植术</p>
            <p>3.多个肢体缺失</p>
            <p>4.慢性肝功能衰竭失代偿期</p>
            <p>5.严重Ⅲ度烧伤</p>
            <p>6.严重原发性肺动脉高压</p>
            <p>7.严重运动神经元病</p>
            <p>8.多发性硬化症</p>
            <p>9.系统性硬皮病</p>
            <p>10.胰腺移植</p>
            <p>11. 肾髓质囊性病</p>
            <p>12. 原发性硬化性胆管炎</p>
            <p>13.自体造血干细胞移植</p>
            <p>14.小肠移植</p>
            <p>15.肺泡蛋白质沉积症</p>
            <p>16. 肺淋巴管肌瘤病</p>
            <p>17. 严重自身免疫性肝炎</p>
            <p>18. 进行性核上性麻痹</p>
            <p>19. 严重肌营养不良症</p>
            <p>20. 严重脊髓灰质炎</p>
            <p>21.严重面部烧伤</p> 
				</div>
				<!--中英爱加倍 319 end-->
				
				<!--中英爱相随 165-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '165_1'">
					  <h3>80种重大疾病A组</h3>
        <p>1、恶性肿瘤</p>
        <p>2、嗜铬细胞瘤</p>
        <p>3、侵蚀性葡萄胎（或者称恶性葡萄胎）</p>
        <p>4、重大器官移植术或造血干细胞移植术</p>
        <p>5、终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
        <p>6、急性或亚急性重症肝炎</p>
        <p>7、慢性肝功能衰竭失代偿期</p>
        <p>8、重型再生障碍性贫血</p>
        <p>9、器官移植导致的 HIV感染</p>
        <p>10、严重原发性骨髓纤维化</p>
        <p>11、慢性呼吸功能衰竭</p>
        <p>12、胰腺移植</p>
        <p>13、特发性慢性肾上腺皮质功能减退</p>
        <p>14、重症骨髓增生异常综合征</p>
        <p>15、自体造血干细胞移植</p>
        <p>16、肾髓质囊性病</p>
        <p>17、小肠移植</p>
        <p>18、系统性硬皮病</p>
        <p>19、肺泡蛋白质沉积症</p>
        <p>20、肺淋巴管肌瘤病</p>
        <p>21、急性心肌梗塞</p>
        <p>22、冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
        <p>23、心脏瓣膜手术</p>
        <p>24、严重原发性肺动脉高压</p>
        <p>25、主动脉手术</p>
        <p>26、严重心肌炎</p>
        <p>27、严重肺源性心脏病</p>
        <p>28、夹层主动脉瘤</p>
        <p>29、艾森曼格综合征</p>
        <p>30、严重慢性缩窄型心包炎</p>
        <p>31、严重传染性心内膜炎</p>
        <p>32、慢性复发性胰腺炎</p>
        <p>33、原发性硬化性胆管炎</p>
        <p>34、严重肠道疾病并发症</p>
        <p>35、严重溃疡性结肠炎</p>
        <p>36、严重克隆病</p>
        <p>37、急性坏死性胰腺炎开腹手术</p>
        <p>38、严重自身免疫性肝炎</p>
        <p>39、肝豆状核变性</p>
        <p>40、川崎病合并严重并发症</p>
        <h3>80种重大疾病B组</h3>
        <p>1、脑炎后遗症或脑膜炎后遗症</p>
        <p>2、严重运动神经元病</p>
        <p>3、严重阿尔茨海默病</p>
        <p>4、良性脑肿瘤</p>
        <p>5、脑中风后遗症</p>
        <p>6、植物人状态</p>
        <p>7、颅脑手术</p>
        <p>8、深度昏迷</p>
        <p>9、严重脑损伤</p>
        <p>10、进行性核上性麻痹</p>
        <p>11、非阿尔茨海默病所致严重痴呆</p>
        <p>12、多发性硬化症</p>
        <p>13、瘫痪</p>
        <p>14、进行性脊髓性肌萎缩</p>
        <p>15、进行性延髓麻痹症</p>
        <p>16、肌萎缩性侧索硬化症</p>
        <p>17、破裂脑动脉瘤夹闭手术</p>
        <p>18、严重帕金森病</p>
        <p>19、疾病或外伤所致智力障碍</p>
        <p>20、严重肌营养不良症</p>
        <p>21、严重脊髓灰质炎</p>
        <p>22、严重Ⅲ度烧伤</p>
        <p>23、严重面部烧伤</p>
        <p>24、多个肢体缺失</p>
        <p>25、失去一肢及一眼</p>
        <p>26、溶血性链球菌引起的坏疽</p>
        <p>27、重症急性坏死性筋膜炎</p>
        <p>28、经输血导致的人类免疫缺陷病毒（HIV）感染</p>
        <p>29、因职业关系导致的人类免疫缺陷病毒（HIV）感染</p>
        <p>30、双耳失聪</p>
        <p>31、双目失明</p>
        <p>32、语言能力丧失</p>
        <p>33、重症肌无力</p>
        <p>34、埃博拉病毒感染</p>
        <p>35、出血性登革热</p>
        <p>36、丝虫病所致象皮肿</p>
        <p>37、疯牛病</p>
        <p>38、严重幼年型类风湿性关节炎</p>
        <p>39、婴儿进行性脊肌萎缩症</p>
        <p>40、严重瑞氏综合征</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '165_2'">
					 <h3>20种轻症疾病</h3>
        <p>1.原位癌</p>
        <p>2.轻微脑中风</p>
        <p>3.继发性肺动脉高压</p>
        <p>4.早期肝硬化</p>
        <p>5.视力严重受损</p>
        <p>6.心脏瓣膜经皮经导管介入手术</p>
        <p>7.主动脉内手术</p>
        <p>8.脑垂体瘤、脑囊肿、脑动脉瘤及脑血管瘤</p>
        <p>9.轻度帕金森病</p>
        <p>10.脑损伤</p>
        <p>11. 单侧肺脏切除</p>
        <p>12. 微创冠状动脉搭桥手术（或称微创冠状动脉旁路移植术）</p>
        <p>13.一肢缺失</p>
        <p>14.深度昏迷72小时</p>
        <p>15.中度瘫痪</p>
        <p>16. 中度阿尔茨海默病</p>
        <p>17. 早期肌萎缩性侧索硬化症</p>
        <p>18. 人工耳蜗植入手术</p>
        <p>19. 可逆性再生障碍性贫血</p>
        <p>20. 早期进行性延髓麻痹症</p>
				</div>
				<!--中英爱相随 165-->

				<!--恒大万年青369-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '369_1'">
					<h3>50种轻症保障</h3>
					<p>1、非危及生命的（极早期的）恶性病变</p>
					<p>2、恶性葡萄胎</p>
					<p>3、较轻再生障碍性贫血</p>
					<p>4、不典型急性心肌梗塞</p>
					<p>5、冠状动脉介入手术</p>
					<p>6、心脏瓣膜介入手术</p>
					<p>7、主动脉内手术</p>
					<p>8、原发性肺动脉高压</p>
					<p>9、主动脉夹层血肿血管内手术</p>
					<p>10、头臂动脉型大动脉炎非开胸旁路移植手术</p>
					<p>11、原发性心肌病心功能损害</p>
					<p>12、植入心脏起搏器</p>
					<p>13、感染性心内膜炎</p>
					<p>14、肺泡蛋白积症肺灌流治疗</p>
					<p>15、轻度中风后遗症</p>
					<p>16、中度昏迷</p>
					<p>17、轻度脑膜炎后遗症或脑炎后遗症</p>
					<p>18、颈动脉内膜切除手术</p>
					<p>19、垂体肿瘤、脑囊肿、脑血管瘤手术或放射治疗</p>
					<p>20、无颅内压增高的微小良性脑肿瘤</p>
					<p>21、颅内血肿清除术</p>
					<p>22、重度头部外伤</p>
					<p>23、运动神经元病</p>
					<p>24、多发性硬化症</p>
					<p>25、单肢体瘫痪</p>
					<p>26、脊髓灰质炎轻度后遗症</p>
					<p>27、慢性肾功能衰竭早期尿毒症</p>
					<p>28、系统性红斑狼疮性肾炎</p>
					<p>29、急性重型肝炎人工肝治疗</p>
					<p>30、强直性脊柱炎手术治疗</p>
					<p>31、肝硬化失代偿早期</p>
					<p>32、胆道重建手术</p>
					<p>33、急性坏死性胰腺炎腹腔镜手术</p>
					<p>34、坏死性筋膜炎组织肌肉切除术</p>
					<p>35、丝虫感染所致早期象皮病</p>
					<p>36、严重登革热</p>
					<p>37、视力严重损害</p>
					<p>38、单眼失明</p>
					<p>39、角膜移植</p>
					<p>40、人工耳蜗植入术</p>
					<p>41、双侧卵巢切除术</p>
					<p>42、较小面积烧伤</p>
					<p>43、一肢体缺失</p>
					<p>44、一侧肺切除</p>
					<p>45、一侧肾切除</p>
					<p>46、半肝切除</p>
					<p>47、骨质疏松骨折髋关节置换手术</p>
					<p>48、双侧睾丸切除术</p>
					<p>49、急性肾衰竭肾脏透析治疗</p>
					<p>50、脑动脉瘤夹闭手术或栓塞手术</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '369_2'">
					<h3>100种重大疾病</h3>
					<p>A组</p>
					<p>1. 恶性肿瘤</p>
					<p>2. 重大器官移植术或造血干细胞移植术</p>
					<p>3. 终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
					<p>4. 急性或亚急性重症肝炎</p>
					<p>5. 慢性肝功能衰竭失代偿期</p>
					<p>6. 重型再生障碍性贫血</p>
					<p>7. 慢性呼吸功能衰竭</p>
					<p>8. 职业原因致人类免疫缺陷病毒（HIV）感染</p>
					<p>9. 严重溃疡性结肠炎</p>
					<p>10. 输血原因致人类免疫缺陷病毒（HIV）感染</p>
					<p>11. 严重克隆氏病</p>
					<p>12. 严重慢性复发性胰腺炎</p>
					<p>13. 胰腺移植术</p>
					<p>14. 特发性慢性肾上腺皮质功能减退</p>
					<p>15. 严重原发性硬化性胆管炎</p>
					<p>16. 严重慢性自身免疫性肝炎</p>
					<p>17. 原发性骨髓纤维化</p>
					<p>18. 严重骨髓增生异常综合征</p>
					<p>19. 自体造血干细胞移植</p>
					<p>20. 肺淋巴管肌瘤</p>
					<p>21. 严重肺结节病</p>
					<p>22. 系统性红斑狼疮性肾炎尿毒症</p>
					<p>23. 席汉氏综合征</p>
					<p>24. 肾髓质囊性病</p>
					<p>25. 肝豆状核变性</p>
					<p>26. 重症急性出血坏死性胰腺炎开腹手术</p>
					<p>27. 小肠移植术</p>
					<p>28. 器官移植致人类免疫缺陷病毒（HIV）感染</p>
					<p>29. 严重肠道疾病并发症</p>
					<p>30. 急性肺损伤（ALI）或急性呼吸窘迫综合征（ARDS）</p>
					<p>31. 溶血性尿毒综合征</p>
					<p>32. 多发性骨髓瘤</p>
					<p>B组</p>

					<p>1. 急性心肌梗塞</p>
					<p>2. 冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
					<p>3. 严重原发性肺动脉高压</p>
					<p>4. 主动脉手术</p>
					<p>5. 心脏瓣膜手术</p>
					<p>6. 严重心肌病</p>
					<p>7. 严重弥漫性系统性硬皮病</p>
					<p>8. 严重冠心病</p>
					<p>9. 嗜铬细胞瘤</p>
					<p>10. 严重心肌炎</p>
					<p>11. 慢性肺源性心脏病</p>
					<p>12. 严重感染性心内膜炎</p>
					<p>13. 严重急性主动脉夹层血肿</p>
					<p>14. 严重慢性缩窄性心包炎</p>
					<p>15. 心脏粘液瘤</p>
					<p>16. 严重心脏衰竭CRT心脏再同步治疗</p>
					<p>17. 完全性房室传导阻滞</p>
					<p>18. 风湿热导致的心脏瓣膜病</p>
					</p>
					<p>19. 头臂动脉型多发性大动脉炎旁路移植手术</p>
					<p>20. 1型糖尿病严重并发症</p>
					<p>21. Brugada综合征</p>
					<p>22. 川崎病冠状动脉瘤手术</p>
					<p>23. 严重幼年型类风湿关节炎</p>
					<p>24. 室壁瘤切除手术</p>
					<p>25. 严重类风湿性关节炎</p>
					<p>C组</p>
					<p>1. 脑中风后遗症</p>
					<p>2. 脑炎后遗症或脑膜炎后遗症</p>
					<p>3. 瘫痪</p>
					<p>4. 严重帕金森病</p>
					<p>5. 严重阿尔茨海默病</p>
					<p>6. 严重脑损伤</p>
					<p>7. 严重多发性硬化</p>
					<p>8. 严重运动神经元病</p>
					<p>9. 肌营养不良症</p>
					<p>10. 脊髓灰质炎后遗症</p>
					<p>11. 语言能力丧失</p>
					<p>12. 深度昏迷</p>
					<p>13. 良性脑肿瘤</p>
					<p>14. 严重全身性重症肌无力</p>
					<p>15. 破裂脑动脉瘤开颅夹闭手术</p>
					<p>16. 植物人状态</p>
					<p>17. 非阿尔茨海默病至严重痴呆</p>
					<p>18. 进行性核上性麻痹</p>
					<p>19. 克-雅氏病（CJD、人类疯牛病）</p>
					<p>20. 亚急性硬化性全脑炎</p>
					<p>21. 进行性多灶性白质脑病</p>
					<p>22. 丧失独立生活能力</p>
					<p>23. 脊髓小脑变性症</p>
					<p>24. 神经白塞病</p>
					<p>25. 脊髓内肿瘤</p>
					<p>26. 横贯性脊髓炎后遗症</p>
					<p>27. 脊髓空洞症</p>
					<p>28. 脊髓血管病后遗症</p>
					<p>29. 开颅手术</p>
					<p>30. 严重强直性脊柱炎</p>
					<p>31. 因疾病或外伤导致智力缺陷</p>
					<p>32. 严重瑞氏综合征</p>
					<p>33. 亚历山大病</p>
					<p>C组</p>
					<p>1. 严重III度烧伤</p>
					<p>2. 多个肢体缺失</p>
					<p>3. 双耳失聪</p>
					<p>4. 双目失明</p>
					<p>5. 溶血性链球菌感染引起的坏疽</p>
					<p>6. 重症急性坏死性筋膜炎截肢</p>
					<p>7. 丝虫感染所致严重象皮病</p>
					<p>8. 意外导致的重度面部烧伤</p>
					<p>9. 失去一肢及一眼</p>
					<p>10. 埃博拉病毒感染</p>
				</div>
				<!--恒大万年青end-->
				
				<!--恒大恒久健康 288-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '288_1'">
					  <p>非危及生命的（极早期的）恶性病变 </p>
        <p> 恶性葡萄胎 </p>
        <p> 较轻再生障碍性贫血 </p>
        <p>不典型急性心肌梗塞 </p>
        <p> 冠状动脉介入手术 </p>
        <p> 心脏瓣膜介入手术 </p>
        <p> 主动脉内手术 </p>
        <p> 原发性肺动脉高压 </p>
        <p> 主动脉夹层血肿血管内手术 </p>
        <p> 头臂动脉型大动脉炎非开胸旁路移植手术 </p>
        <p> 原发性心肌病心功能损害 </p>
        <p> 植入心脏起搏器 </p>
        <p> 感染性心内膜炎 </p>
        <p> 肺泡蛋白沉积症肺灌流治疗 </p>
        <p> 轻度中风后遗症 </p>
        <p> 中度昏迷 </p>
        <p> 轻度脑膜炎后遗症或脑炎后遗症 </p>
        <p> 颈动脉内膜切除手术 </p>
        <p> 垂体肿瘤、脑囊肿、脑血管瘤手术或放射治疗 </p>
        <p> 无颅内压增高的微小良性脑肿瘤 </p>
        <p> 颅内血肿清除术 </p>
        <p> 重度头部外伤 </p>
        <p> 运动神经元病 </p>
        <p> 多发性硬化症 </p>
        <p> 单肢体瘫痪 </p>
        <p> 脊髓灰质炎轻度后遗症 </p>
        <p> 慢性肾功能衰竭早期尿毒症 </p>
        <p> 系统性红斑狼疮性肾炎 </p>
        <p> 急性重型肝炎人工肝治疗 </p>
        <p> 强直性脊柱炎手术治疗 </p>
        <p> 肝硬化失代偿早期 </p>
        <p> 胆道重建手术 </p>
        <p> 急性坏死性胰腺炎腹腔镜手术 </p>
        <p> 坏死性筋膜炎组织肌肉切除术 </p>
        <p> 丝虫感染所致早期象皮病 </p>
        <p> 严重登革热 </p>
        <p> 视力严重损害–三岁始理赔 </p>
        <p> 单眼失明 </p>
        <p> 角膜移植 </p>
        <p> 人工耳蜗植入术 </p>
        <p> 双侧卵巢切除术 </p>
        <p> 较小面积烧伤 </p>
        <p> 一肢体缺失 </p>
        <p> 一侧肺切除 </p>
        <p> 一侧肾切除 </p>
        <p> 半肝切除 </p>
        <p> 骨质疏松骨折髋关节置换手术 </p>
        <p> 双侧睾丸切除术 </p>
        <p> 急性肾衰竭肾脏透析治疗 </p>
        <p> 脑动脉瘤夹闭手术或栓塞手术 </p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '288_2'">
					  <p>恶性肿瘤 </p>
        <p>急性心肌梗塞 </p>
        <p>脑中风后遗症 </p>
        <p>重大器官移植手术或造血干细胞移植术 </p>
        <p>冠状动脉搭桥术 </p>
        <p>终末期肾病（慢性肾功能衰竭尿毒症期） </p>
        <p>多个肢体缺失 </p>
        <p>急性或亚急性重症肝炎 </p>
        <p>良性脑肿瘤 </p>
        <p>慢性肝功能衰竭失代偿期 </p>
        <p>脑炎后遗症或脑膜炎后遗症 </p>
        <p>深度昏迷 </p>
        <p> 双耳失聪 </p>
        <p> 双目失明 </p>
        <p> 瘫痪 </p>
        <p> 心脏瓣膜手术 </p>
        <p> 严重阿尔茨海默病 </p>
        <p> 严重脑损伤 </p>
        <p> 严重帕金森病 </p>
        <p> 严重三度烧伤 </p>
        <p> 严重原发性肺动脉高压 </p>
        <p> 严重运动神经元病 </p>
        <p> 语言能力丧失 </p>
        <p> 重型再生障碍性贫血 </p>
        <p> 主动脉手术 </p>
        <p> 严重心肌病 </p>
        <p> 慢性呼吸功能衰竭 </p>
        <p> 严重多发性硬化 </p>
        <p> 职业原因致人类免疫缺陷病毒（HIV）感染 </p>
        <p> 严重溃疡性结肠炎 </p>
        <p> 严重全身性重症肌无力 </p>
        <p> 严重类风湿性关节炎 </p>
        <p> 脊髓灰质炎后遗症 </p>
        <p> 输血原因致人类免疫缺陷病毒（HIV）感染 </p>
        <p> 严重克隆氏病 </p>
        <p> 肌营养不良症 </p>
        <p> 破裂脑动脉瘤开颅夹闭手术 </p>
        <p> 严重弥漫性系统性硬皮病 </p>
        <p> 严重冠心病 </p>
        <p> 严重慢性复发性胰腺炎 </p>
        <p> 植物人状态 </p>
        <p> 重症急性坏死性筋膜炎截肢 </p>
        <p> 嗜铬细胞瘤 </p>
        <p> 丝虫感染所致严重象皮病 </p>
        <p> 胰腺移植术 </p>
        <p> 特发性慢性肾上腺皮质功能减退 </p>
        <p> 严重心肌炎 </p>
        <p> 慢性肺源性心脏病 </p>
        <p> 严重原发性硬化性胆管炎 </p>
        <p> 严重慢性自身免疫性肝炎 </p>
        <p> 原发性骨髓纤维化 </p>
        <p> 严重骨髓增生异常综合征 </p>
        <p> 自体造血干细胞移植 </p>
        <p> 严重感染性心内膜炎 </p>
        <p> 严重急性主动脉夹层血肿 </p>
        <p> 严重慢性缩窄性心包炎 </p>
        <p> 心脏粘液瘤 </p>
        <p> 严重心脏衰竭CRT心脏再同步治疗 </p>
        <p> 完全性房室传导阻滞 </p>
        <p> 风湿热导致的心脏瓣膜病 </p>
        <p> 头臂动脉型多发性大动脉炎旁路移植手术 </p>
        <p> 肺淋巴管肌瘤 </p>
        <p> 严重肺结节病 </p>
        <p> 非阿尔茨海默病至严重痴呆 </p>
        <p> 进行核上性麻痹 </p>
        <p> 克-雅氏病（CJD、人类疯牛病） </p>
        <p> 亚急性硬化性全脑炎 </p>
        <p> 进行性多灶性白质脑病 </p>
        <p> 丧失独立生活能力-六岁开始理赔 </p>
        <p> 脊髓小脑变性症 </p>
        <p> 神经白塞病 </p>
        <p> 脊髓内肿瘤 </p>
        <p> 横贯性脊髓炎后遗症 </p>
        <p> 脊髓空洞症 </p>
        <p> 脊髓血管病后遗症 </p>
        <p> 开颅手术 </p>
        <p> 系统性红斑狼疮性肾炎尿毒症 </p>
        <p> 1型糖尿病严重并发症 </p>
        <p> 席汉氏综合征 </p>
        <p> 严重强直性脊柱炎 </p>
        <p> 肾髓质囊性病 </p>
        <p> 肝豆状核变性 </p>
        <p> 重症急性出血坏死性胰腺炎开腹手术 </p>
        <p> 小肠移植术 </p>
        <p> 意外导致重度度面部烧伤 </p>
        <p> 失去一肢及一眼 </p>
        <p> 溶血性链球菌感染引起的坏疽 </p>
        <p> 器官移植致人类免疫缺陷病毒（HIV）感染 </p>
        <p> 埃波拉病毒感染 </p>
        <p> Brugada综合征 </p>
        <p> 川崎病冠状动脉瘤手术 </p>
        <p> 严重幼年型类风湿关节炎 </p>
        <p> 因疾病或外伤导致智力缺陷 </p>
        <p> 严重肠道疾病并发症 </p>
        <p> 严重瑞氏综合征 </p>
        <p> 急性肺损伤（ALI）或急性呼吸窘迫综合征（ARDS） </p>
        <p> 溶血性尿毒综合征 </p>
        <p> 亚历山大病 </p>
        <p> 多发性骨髓瘤 </p>
        <p> 室壁瘤切除手术 </p>
				</div>
				<!--恒大恒久健康 288-->
				
				<!--复星联合a款364-->
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '364_1'">
					  <h3>35种轻症保障</h3>
        <p>恶性肿瘤相关疾病</p>
        <p>1、极早期恶性肿瘤或恶性病变</p>
        <p>心脏或脑血管相关疾病</p> 
        <p>2、心脏瓣膜介入手术（非开胸手术）</p>
        <p>3、主动脉内手术（非开胸手术）</p>
        <p>4、冠状动脉介入手术（非开胸手术）</p>
        <p>5、轻度原发性肺动脉高压</p>
        <p>6、心包膜切除术</p>
        <p>7、于颈动脉进行血管成形术或内膜切除术</p>
        <p>8、微创冠状动脉搭桥术</p>
        <p>9、Ⅲ度房室传导阻滞-已放置心脏起搏器</p>
        <p>10、早期原发性心肌病</p>
        <p>11、轻微脑中风</p>
        <p>器官功能相关疾病</p> 
        <p>12、可逆性再生障碍性贫血</p>
        <p>13、视力严重受损</p>
        <p>14、单侧肾脏切除</p>
        <p>15、单眼失明</p>
        <p>16、胆道重建手术</p>
        <p>17、肝脏手术</p>
        <p>18、肝硬化失代偿早期</p>
        <p>19、中度严重克隆症</p>
        <p>21、人工耳蜗植入术</p>
        <p>22、单耳失聪</p>
        <p>23、双侧卵巢或睾丸切除术</p>
        <p>24、肺叶切除</p>
        <p>25、慢性肝功能衰竭</p>
        <p>26、慢性肾功能损害-肾功能衰竭期</p>
        <p>神经系统相关疾病</p> 
        <p>27、脑垂体瘤,脑囊肿,脑动脉瘤及脑血管瘤</p>
        <p>28、轻度脑炎或脑膜炎后遗症</p>
        <p>29、硬脑膜下血肿手术</p>
        <p>30、中度帕金森氏病</p>
        <p>31、早期运动神经性疾病</p>
        <p>其他轻症疾病</p>
        <p>31、特定面积 III 度烧伤</p>
        <p>32、因意外伤害毁容而施行的面部整形手术</p>
        <p>33、一肢缺失</p>
        <p>34、重度头部外伤</p>
        <p>35、严重阻塞性睡眠窒息症</p>
				</div>
				<div class="BL-modal-content BL-pad-lr-1_5" v-if="formID == '364_2' || formID == '365_1'">
					  <h3>80种重大疾病</h3>
        <p>1、恶性肿瘤</p>
        <p>2、侵蚀性葡萄胎</p>
        <p>心脏或脑血管相关疾病</p>
        <p>3、急性心肌梗塞</p>
        <p>4、脑中风后遗症</p>
        <p>5、冠状动脉搭桥术（或者称冠状动脉旁路移植术）</p>
        <p>6、心脏瓣膜手术</p>
        <p>7、主动脉手术</p>
        <p>8、严重原发性肺动脉高压</p>
        <p>9、严重心肌炎</p>
        <p>10、肺源性心脏病</p>
        <p>11、严重感染性心内膜炎</p>
        <p>12、严重冠心病</p>
        <p>13、严重慢性狭窄型心包炎</p>
        <p>14、严重Ⅲ度房室传导阻滞</p>
        <p>15、严重川崎病</p>
        <p>器官功能相关疾病</p>
        <p>16、重大器官移植或造血干细胞移植</p>
        <p>17、终末期肾病（或者称慢性肾移植功能衰竭尿毒症期）</p>
        <p>18、急性或亚急性重症肝炎</p>
        <p>19、慢性肝功能衰竭失代偿期</p>
        <p>20、双耳失聪</p>
        <p>21、双目失明</p>
        <p>22、语言能力丧失</p>
        <p>23、重型再生障碍性贫血</p>
        <p>24、终末期肺病</p>
        <p>25、慢性呼吸功能衰竭</p>
        <p>26、严重克隆病</p>
        <p>27、严重哮喘</p>
        <p>28、肾髓质囊性病</p>
        <p>29、严重肠道疾病并发症</p>
        <p>30、肺淋巴管肌瘤病</p>
        <p>31、严重溃疡性结肠炎</p>
        <p>32、急性坏死性胰腺炎</p>
        <p>33、严重慢性复发性胰腺炎</p>
        <p>34、严重原发性硬化性胆管炎</p>
        <p>35、特发性慢性肾上腺皮质功能减退</p>
        <p>36、胰腺移植</p>
        <p>37、肝豆状核变性</p>
        <p>38、严重自身免疫性肝炎</p>
        <p>39、系统性红斑性狼疮并严重的肾功能损害</p>
        <p>40、小肠移植</p>
        <p>41、肺泡蛋白质沉积症</p>
        <p>42、自体造血干细胞移植</p>
        <p>神经系统相关疾病</p>
        <p>43、良性脑肿瘤</p>
        <p>44、脑炎或脑膜炎后遗症</p>
        <p>45、深度昏迷</p>
        <p>46、瘫痪</p>
        <p>47、严重阿尔茨海默症</p>
        <p>48、严重脑损伤</p>
        <p>49、严重帕金森病</p>
        <p>50、严重运动神经元病</p>
        <p>51、植物人</p>
        <p>52、进行性核上性麻痹（Steele-Rchardson-Olszewski 综合症）</p>
        <p>53、严重多发性硬化</p>
        <p>54、脊髓灰质炎</p>
        <p>55、重症肌无力</p>
        <p>56、细菌性脑脊髓膜炎</p>
        <p>57、疯牛病</p>
        <p>58、脊髓肌肉萎缩症</p>
        <p>59、破裂脑动脉瘤夹闭手术</p>
        <p>60、颅脑手术</p>
        <p>61、严重癫痫</p>
        <p>传染性疾病</p>
        <p>62、经输血导致的人类免疫缺陷病毒感染</p>
        <p>63、重症手足口病</p>
        <p>64、丝虫病所致象皮肿</p>
        <p>65、特定职业导致的人类免疫缺陷病毒感染</p>
        <p>66、埃博拉病毒感染</p>
        <p>其他重大疾病</p>
        <p>67、多个肢体缺失</p>
        <p>68、严重 III 度烧伤</p>
        <p>69、严重的胰岛素依赖型糖尿病</p>
        <p>70、肌营养不良症</p>
        <p>71、严重幼年性类风湿性关节炎</p>
        <p>72、严重瑞氏综合症</p>
        <p>73、重症急性坏死性筋膜炎</p>
        <p>74、严重弥漫性系统性硬皮症</p>
        <p>75、溶血性链球菌引起的坏疽</p>
        <p>76、需手术切除的嗜铬细胞瘤</p>
        <p>77、严重骨髓增生异常综合症</p>
        <p>78、Ⅲ型成骨不全症</p>
        <p>79、严重类风湿关节炎</p>
        <p>80、原发性骨髓纤维化</p>
				</div>
				<!--复星联合a款364-->
				

			</div>

		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript">
		mui.init();
		var popu;
		var modal = new Vue({
			el: '#modal',
			data: {
				isHide: '', //要弹哪个框
				formID: '' //要谈哪个险种详情
			}
		})

		mui.plusReady(function() {

			// 实例化关闭窗口对象
			popu = new ClosePopu();
			var data = plus.webview.currentWebview().data;
			modal.isHide = data.modalID
			modal.formID = data.formID

			// 点击关闭遮罩层，弹框
			mui('body').on('tap', '#maskInit', function() {
				// 关闭遮罩层，弹框
				popu.closepop();
			}, false);

		});
	</script>

</html>