<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/plans.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="modal" v-cloak>

			<div id="modal-bottom" class=" BL-modal-bottom-2 clearfloat" style="height: 80% !important;">
				<header id="Js-header" class="BL-bg-fff">
					<div class="BL-title">利益演示表</div>
					
				</header>
				 
				<!--利益演示表-->
				<div>
					<div  style="width: 12%; float: left;">
                        <table class="BL-ftz-46">
                            <thead class=" BL-col-3b9cf5">
	                            <tr>
	                                <th>年龄</th>
	                            </tr>
                            </thead>
                        </table> 
                    </div>
                    <div id="right_div1" class="plans-detail-table" style="width: 88%;float: left;">
                   		 <table class="BL-ftz-46">
                			 <thead class=" BL-col-3b9cf5">
	                            <tr>
	                            	<th v-for="(item, index) in describes" :key="index" v-if="item.title !== '被保险人年龄'">
                            			{{item.title}}
                            		</th>
	                            </tr>
                            </thead>
                		</table>
                	</div>
				</div>
				
				<div id="Js-content"  class="BL-overFlow-autoY" style="width:100%;height: 90%;overflow-y: scroll;overflow-x: hidden;">	
					<div  style="width: 12%; float: left;">
                        <table class="BL-ftz-46">
                            <tbody class="BL-bg-f2f">
	                            <tr v-for="(item, index) in main" :key="index"  v-if="Number(index) < safe_year">
	                            	<td >
                            			{{item[nl]}} 
                            		</td>
	                            </tr>
	                        </tbody>
                        </table> 
                    </div>
                    <div id="right_div2" class="plans-detail-table" style="width: 88%;float: left;">
                    	<div>
                    		<table class="BL-ftz-46">
	                            <tbody v-if="status">
	                            	<tr v-for="(item, index) in main" :key="index">
	                            		<td v-for="(data, i) in item" v-if="i !== '被保险人年龄'">
	                            			{{data , children[index][i] | capitalize}}
	                            		</td>
	                            		<td v-if="formID == '384' && status">
	                            			{{children[index]['生存保险金']}}
	                            		</td>
	                            		<div v-else-if="formID == '401' && status">
			                            	<td>
			                            		{{children[index]['部分领取']}}
			                            	</td>
			                            	<td v-if="levelNum == 'min'">
			                            		{{children[index]['万能账户低档']}}
			                            	</td>
			                            	<td v-else-if="levelNum == 'mid'">
			                            		{{children[index]['万能账户中档']}}
			                            	</td>
			                            	<td v-else>
			                            		{{children[index]['万能账户高档']}}
			                            	</td>
			                            	<td v-if="levelNum == 'min'">
			                            		{{children[index]['退保总利益中档']}}
			                            	</td>
			                            	<td v-else-if="levelNum == 'mid'">
			                            		{{children[index]['退保总利益中档']}}
			                            	</td>
			                            	<td v-else>
			                            		{{children[index]['退保总利益中档']}}
			                            	</td>
	                            		</div>
	                            	</tr>
	                            </tbody>
	                            <tbody  v-else>
	                            	<tr style="height: 0;visibility: hidden;">
		                            	<td style="height: 0;padding-top: 0; padding-bottom: 0; line-height: 0;" v-for="(item, index) in describes" :key="index" v-if="item.title !== '被保险人年龄'">
	                            			{{item.title}}
	                            		</td>
		                            </tr>
	                            	<tr v-for="(item, index) in main" :key="index">
	                            		<td v-for="(data, i) in item" v-if="i === njbf && index > pay_year">
	                            			{{0}}
	                            		</td>
	                            		<td v-for="(data, i) in item" v-if="i === njbf && index <= pay_year">
	                            			{{data}}
	                            		</td>
	                            		<td v-for="(data, i) in item" v-if="i !== njbf && i !== nl ">
	                            			{{data}}
	                            		</td>
	                            	</tr>
	                            	<!--<tr v-for="(item, index) in main" :key="index" v-if="index > pay_year">
	                            		
	                            	</tr>-->
	                            </tbody>
	                        </table>
                    	</div>
                    </div>
				
				</div>	
				<!--利益演示表-->
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript">
		mui.init();
		var popu;
		var modal = new Vue({
			el: '#modal',
			data: {
				isHide: '', //要弹哪个框
				formID: '', 
				main: {},
				children: {},
				describes: {},
				
				pay_year: '',
				safe_year: '',
				levelNum : '',
				behalfTable: [365, 377, 382, 384, 401, 19384, 19388], //主险利益演示表和附加险有关系的
				behalfChildren: [368, 398, 183, 383, 385, 404, 19385, 19389], //主险利益演示表和附加险有关系的
				status: false,//和附加险有没有关系
				nl : null, //年龄index
				njbf: null //保费index
			},
			filters: {  
	            capitalize: function (mainValue, childrenValue) {  
	               var a = mainValue ? Number(mainValue) : 0 ;
	               var b = childrenValue ? Number(childrenValue) : 0 ;
	               return (a + b).toFixed(2)
	            }  
        	},
        	methods :{
        		
        	}
        	
		})

		mui.plusReady(function() {
			
				
			var right_div2 = document.getElementById("right_div2");
	        right_div2.onscroll = function () {
	            var right_div2_top = this.scrollTop;
	            var right_div2_left = this.scrollLeft;
	            document.getElementById("right_div1").scrollLeft = right_div2_left;
	        }

			// 实例化关闭窗口对象
			popu = new ClosePopu();
			var data = plus.webview.currentWebview().data;
			modal.isHide = data.modalID
			modal.formID = data.formID
			modal.pay_year = data.pay_year
			modal.levelNum = data.levelNum
			
			if(data.safe_year == 0){
				//终身
				modal.safe_year = 999
			}
//			alert(modal.safe_year)
			// 判断是不是需要附加险，是分别赋值，不是只赋值主险
			if(modal.behalfTable.indexOf(Number(modal.formID)) > -1){
				modal.main = data.list.main.list
//				modal.children = data.list.children
				mui.each(data.list.children, function(index, item){
					if(modal.behalfChildren.indexOf(Number(index)) > -1){
						modal.status = true
						modal.children = data.list.children[index].list
					}
				})
				alert(JSON.stringify(modal.main))
				alert(JSON.stringify(modal.children))
			}else{
				modal.main = data.list.list
				modal.describes = data.list.describes
//				alert(JSON.stringify(modal.main))
				
			}
			mui.each(modal.describes, function(index,item){
				if(item.title == '被保险人年龄'){
					modal.nl = index
				}
				if(item.title == '年缴保费' || item.title == '年缴保费(元)'){
					modal.njbf = index
				}
			})
			

			// 点击关闭遮罩层，弹框
			mui('body').on('tap', '#maskInit', function() {
				// 关闭遮罩层，弹框
				popu.closepop();
			}, false);

		});
	</script>

</html>