<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>寿险订单详情</title>
    <link href="css/mui.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/module.css" rel="stylesheet" />
    <link href="css/member.css" rel="stylesheet" />
    <script src="js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
</head>

<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">订单详情</h1>
    </div>
</header>
<div id="Js-content" class="mui-content">
    <div class="BL-bg-fff BL-mar-t-1">
        <ul class="mui-table-view mui-table-view-chevron">
            <li class="mui-table-view-cell member-warranty-detail-item">
                <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l">
                    <span class="BL-col-3b9cf5">保单状态</span>
                </a>
                <div class=" BL-pad-lr-1_5 BL-pad-tb-1_5 mui-table-view mui-table-view-chevron">
                    <table>
                    	<thead>
                    		<tr>
	                            <td class="BL-bg-f2f">保单状态</td>
	                            <td class="BL-bg-f2f">交单日期</td>
	                            <td class="BL-bg-f2f">生效日期</td>
	                        </tr>
                        <tr>
                            <td>{{policyInfo.state}}</td>
                            <td>{{policyInfo.present_date}}</td>
                            <td>{{policyInfo.underwrite_date}}</td>
                        </tr>
                    	</thead>
                    </table>
                </div>
            </li>
            <li class="mui-table-view-cell  member-warranty-detail-item">
                <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l mui-navigate-right">
                    <span class="BL-col-3b9cf5">险种信息</span>
                </a>
                <div class=" BL-pad-lr-1_5 BL-pad-tb-1_5  mui-table-view mui-table-view-chevron"  style="overflow: hidden">
					<ul style="width: 30%;float: left;" class="BL-bg-f2f">
                		<li>险种名称</li>
                		<li>保额/份数</li>
                		<li>交费频次</li>
                		<li>交费年限</li>
                		<li>保险期间</li>
                		<li>期/趸交保费</li>
                		<li>本期保费</li>
                		<li>保险生效</li>
                		
                	</ul>
                    <div class="BL-ub" style="width: 70%;float: left;overflow-y: hidden;overflow-x: scroll;">
                    	<ul style="width:50%;" v-for="item in productInfo">
                    		<li>{{item.product_name}}</li>
                    		<li>{{item.amount}}</li>
                    		<li>{{item.period_payment}}</li>
                    		<li>{{item.period_payment}}</li>
                    		<li>{{item.period_guanantee}}</li>
                    		<li>{{item.fee}}</li>
                    		<li>{{item.fee}}</li>
                    		<li>{{item.underwrite_date}}</li>
                    	</ul>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell member-warranty-detail-item">
                <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l mui-navigate-right">
                    <span class="BL-col-3b9cf5">投保人信息</span>
                </a>
                <div class=" BL-pad-lr-1_5 BL-pad-tb-1_5 mui-table-view mui-table-view-chevron"  style="overflow: hidden">
                    <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                		<li>姓名</li>
                		<li>性别</li>
                		<li>出生日期</li>
                		<li>婚姻状况</li>
                		<li>证件类型</li>
                		<li>证件号码</li>
                		<li>证件有效期</li>
                		<li>联系电话</li>
                		<li>职业</li>
                		<li>通讯地址</li>
                	</ul>
                	<ul style="width: 60%;float: left;">
                		<li>{{holderInfo.holder_name}}</li>
                		<li>{{holderInfo.holder_gender_text}}</li>
                		<li>{{holderInfo.holder_birthday}}</li>
                		<li>{{holderInfo.holder_marriage_text}}</li>
                		<li>{{holderInfo.holder_ID_no}}</li>
                		<li>{{holderInfo.holder_ID_no}}</li>
                		<li>{{holderInfo.holder_id_expire_end_text}}</li>
                		<li>{{holderInfo.holder_mobile}}</li>
                		<li>{{holderInfo.holder_job_code}}</li>
                		<li>{{holderInfo.holder_home_address}}</li>
                		 
                	</ul>
                </div>
            </li>
            <li class="member-warranty-detail-item">
                <div class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l">
                    <span class="BL-col-3b9cf5">被保人信息</span>
                    <div class="fr">同投保人</div>
                </div>
                <div class=" BL-pad-lr-1_5 BL-pad-tb-1">
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse member-warranty-detail-item">
                <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l mui-navigate-right">
                    <span class="BL-col-3b9cf5">被保人信息</span>
                </a>
                <div class=" BL-pad-lr-1_5 BL-pad-tb-1_5 mui-table-view mui-table-view-chevron"  style="overflow: hidden">
                    <ul style="width: 40%;float: left;" class="BL-bg-f2f">
                		<li>姓名</li>
                		<li>性别</li>
                		<li>出生日期</li>
                		<li>婚姻状况</li>
                		<li>证件类型</li>
                		<li>证件号码</li>
                		<li>证件有效期</li>
                		<li>联系电话</li>
                		<li>职业</li>
                		<li>通讯地址</li>
                	</ul>
                	<ul style="width: 60%;float: left;">
                		<li>{{insuredInfo.insured_name}}</li>
                		<li>{{insuredInfo.insured_gender_text}}</li>
                		<li>{{insuredInfo.insured_birthday}}</li>
                		<li>{{insuredInfo.insured_marriage_text}}</li>
                		<li>{{insuredInfo.insured_ID_no}}</li>
                		<li>{{insuredInfo.insured_ID_no}}</li>
                		<li>{{insuredInfo.insured_id_expire_end_text}}</li>
                		<li>{{insuredInfo.insured_mobile}}</li>
                		<li>{{insuredInfo.insured_job_code}}</li>
                		<li>{{insuredInfo.insured_home_address}}</li>
                	</ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse member-warranty-detail-item">
                <a class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-52 BL-txt-l mui-navigate-right">
                    <span class="BL-col-3b9cf5">受益人信息</span>
                </a>
                 <div class=" BL-pad-lr-1_5 BL-pad-tb-1_5  mui-table-view mui-table-view-chevron"  style="overflow: hidden">
					<ul style="width: 30%;float: left;" class="BL-bg-f2f">
                		<li>险种名称</li>
                		<li>保额/份数</li>
                		<li>交费频次</li>
                		<li>交费年限</li>
                		<li>保险期间</li>
                		<li>期/趸交保费</li>
                		<li>本期保费</li>
                		<li>保险生效</li>
                		
                	</ul>
                    <div class="BL-ub" style="width: 70%;float: left;overflow-y: hidden;overflow-x: scroll;">
                    	<ul style="width:50%;" v-for="item in productInfo">
                    		<li>{{item.product_name}}</li>
                    		<li>{{item.amount}}</li>
                    		<li>{{item.period_payment}}</li>
                    		<li>{{item.period_payment}}</li>
                    		<li>{{item.period_guanantee}}</li>
                    		<li>{{item.fee}}</li>
                    		<li>{{item.fee}}</li>
                    		<li>{{item.underwrite_date}}</li>
                    	</ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/mui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var lifeDetail = new Vue({
			el: '#Js-content',
			data: {
				policyInfo: '', //保单信息
				productInfo: '',//险种信息
				holderInfo: '',// 投保人信息
				insuredInfo: '',//被保人信息
				beneficiaryInfo: ''//受益人信息
			},
			methods: {

			}
		});
	
    mui.init();
    (function($){
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;

        $.plusReady(function() {
            statusbar();
            var winH = window.innerHeight;
			var titHeight = document.querySelector('#Js-header').offsetHeight;
            document.querySelector('#Js-content').style.height = winH - titHeight + 'px';
            
            var data = {
				server: 'PolicyIns.policyDetails',
				data: JSON.stringify({
					policy_id: 6101,
					state: '', // 保单类型
				}),
				device: 'pad'
			};
			$.post("http://www.luckyins.com/api/api/invoke", data, function(res) {
				if(res.code) {
					lifeDetail.policyInfo = res.data.policyInfo
					lifeDetail.productInfo = res.data.productInfo
					lifeDetail.holderInfo = res.data.holderInfo
					lifeDetail.insuredInfo = res.data.insuredInfo
					lifeDetail.beneficiaryInfo = res.data.beneficiaryInfo
				} 
			});
        });
    }(mui));
</script>
</html>
