<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/form.css"  rel="stylesheet" />
		<link href="css/member.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body class="BL-bg-f2f">
		<header id="Js-header" class="BL-bg-fff">
			<div class="BL-mod-headbar BL-mod-headbar-pos">
				<a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
				<h1 class="BL-title">考勤打卡</h1>
			</div>
		</header>
		
		<div id="Js-duty" class="mui-content" v-cloak>
			<!--个人信息区begin-->
			<div  v-if="userInfo" class="member-duty-perinfo BL-ub BL-ub-ac BL-bg-fff">
				<div class="img">
	        		<img :src="userInfo.avatar" onerror="this.src='images/pic/logo.png'"/>
	        	</div>
	        	<div class="context BL-ub-f1">
	        		<p class="name BL-col-333">{{ userInfo.user_name }}</p>
	        		<div class="other BL-col-3b9cf5">
	        			<span>考勤组：<i>{{ userInfo.rank_name }}</i></span>
	        			<span>
	        				<i>{{ curtimeData.date }}</i>
	        			</span>
	        		</div>
	        	</div>
			</div>
			<!--个人信息区end-->
			<!--考勤打卡begin-->
			<div v-if="status" class="member-duty-content BL-mar-t-1 BL-bg-fff">
				<!-- 上班 Begin -->
				<p class="duty-tip" v-show="dutyInfo.sign_in_state == 0">上班时间09:00</p>
				<div v-if="status && dutyInfo.sign_in_state == 0" class="member-duty-btn-box">
					<div class="member-duty-btn" :class="{ 'duty-in': wifiInfo, 'duty-out': !wifiInfo }" onclick="clock(0,0)">
						<div class="duty-type">上班打卡</div>
						<div class="duty-time BL-pad-t-1">{{ curtimeData.time }}</div>
					</div>
					<p class="duty-tip BL-ub BL-ub-ac BL-ub-pc BL-pad-tb-1_5" v-if="wifiInfo">
						<i class="member-duty-hswifi BL-bimg-contain BL-ub BL-ub-pc"></i>
						已进入Wifi考勤范围：{{ wifiInfo.ssid }}
					</p>
					<p class="duty-tip BL-ub BL-ub-ac BL-ub-pc BL-pad-tb-1_5" v-else>
						<i class="member-duty-nowifi BL-bimg-contain BL-ub BL-ub-pc"></i>
						当前不在考勤范围内
					</p>
				</div>
				<div v-if="status && dutyInfo.sign_in_state != 0" class="member-duty-context">
					<p class="duty-tip BL-ub BL-ub-ac">上班时间09:00 <span v-if="dutyInfo.sign_in_time" class="BL-col-333">（打卡时间{{ dutyInfo.sign_in_time }}）</span></p>
					<p v-if="dutyInfo.sign_in_wifi" class="duty-tip BL-ub BL-ub-ac">
						<i class="member-duty-wifi BL-bimg-contain BL-ub BL-ub-pc BL-mar-r-1"></i>
						{{ dutyInfo.sign_in_wifi | getWifiName }}
					</p>
					<p v-if="dutyInfo.sign_in_location" class="duty-tip BL-ub BL-ub-ac">
						<i class="member-duty-address BL-bimg-contain BL-ub BL-ub-pc BL-mar-r-1"></i>
						{{ dutyInfo.sign_in_location }}
					</p>
					<p class="duty-tip BL-ub BL-ub-ac">
						<span v-if="dutyInfo.sign_in_state==1" class="duty-status duty-normal BL-ub BL-ub-ac BL-ub-pc">
							正常
						</span>
						<span v-if="dutyInfo.sign_in_state==2" class="duty-status duty-abnormal BL-ub BL-ub-ac BL-ub-pc">
							迟到
						</span>
						<span v-if="dutyInfo.sign_in_state=='-1'" class="duty-status duty-abnormal BL-ub BL-ub-ac BL-ub-pc">
							缺卡
						</span>
						<i v-if="dutyInfo.sign_in_diff">{{ dutyInfo.sign_in_diff | formatMinutes }}</i>
					</p>
					<p v-if="curtimeData.time && curtimeData.time.split(':')[0] < 12" class="duty-tip BL-ub BL-ub-ac">
						<span class="duty-updatebtn" onclick="clock(0,1)">更新打卡</span>
					</p>
				</div>
				<p class="member-duty-line" v-if="dutyInfo.waycard != 'outside'"></p>
				<!-- 下班 Begin 外勤人员outside不需要打下班卡-->
				<template v-if="dutyInfo.waycard != 'outside'">
					<p class="duty-tip" v-show="dutyInfo.sign_out_state == 0">下班时间17:30</p>
					<div v-if="dutyInfo.sign_out_state == 0 && dutyInfo.waycard != 'outside' && dutyInfo.sign_in_state != 0" class="member-duty-btn-box">
						<div class="member-duty-btn" :class="{ 'duty-in': wifiInfo, 'duty-out': !wifiInfo }" onclick="clock(1,0)">
							<div class="duty-type">下班打卡</div>
							<div class="duty-time BL-pad-t-1">{{ curtimeData.time }}</div>
						</div>
						<p class="duty-tip BL-ub BL-ub-ac BL-ub-pc BL-pad-tb-1_5" v-if="wifiInfo">
							<i class="member-duty-hswifi BL-bimg-contain BL-ub BL-ub-pc"></i>
							已进入Wifi考勤范围：{{ wifiInfo.ssid }}
						</p>
						<p class="duty-tip BL-ub BL-ub-ac BL-ub-pc BL-pad-tb-1_5" v-else>
							<i class="member-duty-nowifi BL-bimg-contain BL-ub BL-ub-pc"></i>
							当前不在考勤范围内
						</p>
					</div>
					<div v-if="dutyInfo.sign_out_state != 0 && dutyInfo.waycard != 'outside' && dutyInfo.sign_in_state != 0" class="member-duty-context">
						<p class="duty-tip BL-ub BL-ub-ac">下班时间17:30 <span v-if="dutyInfo.sign_out_time" class="BL-col-333">（打卡时间{{ dutyInfo.sign_out_time }}）</span></p>
						<p v-if="dutyInfo.sign_out_wifi" class="duty-tip BL-ub BL-ub-ac">
							<i class="member-duty-wifi BL-bimg-contain BL-ub BL-ub-pc BL-mar-r-1"></i>
							{{ dutyInfo.sign_out_wifi | getWifiName }}
						</p>
						<p v-if="dutyInfo.sign_out_location" class="duty-tip BL-ub BL-ub-ac">
							<i class="member-duty-address BL-bimg-contain BL-ub BL-ub-pc BL-mar-r-1"></i>
							{{ dutyInfo.sign_out_location }}
						</p>
						<p class="duty-tip BL-ub BL-ub-ac">
							<span v-if="dutyInfo.sign_out_state==1" class="duty-status duty-normal BL-ub BL-ub-ac BL-ub-pc">
								正常
							</span>
							<span v-if="dutyInfo.sign_out_state==2" class="duty-status duty-abnormal BL-ub BL-ub-ac BL-ub-pc">
								早退
							</span>
							<i v-if="dutyInfo.sign_out_diff">{{ dutyInfo.sign_out_diff | formatMinutes }}</i>
						</p>
						<p class="duty-tip BL-ub BL-ub-ac">
							<span class="duty-updatebtn" onclick="clock(1,1)">更新打卡</span>
						</p>
					</div>
				</template>
				<!-- 下班 End -->
				<div class="BL-ub BL-ub-pc BL-mar-t-3">
					<a class="statsbtn-duty" data-wid="member_duty_stats" href="member-duty-stats.html" style="display: block;">查看考勤记录</a>
				</div>
			</div>
			<div v-else id="message" class="member-duty-message BL-pad-tb-3 BL-txt-c"></div>
			<!--考勤打卡end-->
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/vue.min.js" type="text/javascript" ></script>
	<script src="js/moment.min.js" type="text/javascript" ></script>
	<script src="js/wifi.js" type="text/javascript"></script>
	<script src="js/Date.js"></script>
	<script type="text/javascript">
		mui.init();
		
		var duty_address = null; 							// 设备所在地址
		var inter = null
		var duty = new Vue({
			el: '#Js-duty',
			data: {
				// 当前日期与时间
				curtimeData: { 	
					date: moment().format('YYYY.MM.DD') +' '+ moment().format('dddd'),   // 日期
					time: ''	// 时间
				},
				// 用户信息
				userInfo: null,
				status: '',  	// 能否考勤标志
				// 考勤信息
				dutyInfo: {
					"waycard": '',  // 内外勤卡标志   outside外勤(外勤无需打下班卡),其他需要
					// 上班
					"sign_in_state": 0,   		// 状态
	                "sign_in_wifi": '',			// wifi的mac地址，SSID码
	                "sign_in_location": '',		// 打卡位置
	                "sign_in_time": '',     	// 上班卡时间
	                "sign_in_diff": '',	// 迟到分钟数
					// 下班
					"sign_out_state": 0,   		// 状态
	                "sign_out_wifi": '',		// wifi的mac地址，SSID码
	                "sign_out_location": '',	// 打卡位置
	                "sign_out_time": '',    	// 下班卡时间
	                "sign_out_diff": '',	// 早退分钟数
				},
				// 考勤范围内的wifi列表
				wifiList: null,
				// 当前考勤范围内的wifi信息
				wifiInfo: null
			},
			created: function () {
	            setInterval(function () {
	                duty.curtimeData.time = duty.getCurTime();
	            }, 1000)
        	},
        	methods: {
        		// 获取当前时间
	            getCurTime: function () {
	                return moment().format('HH:mm:ss');
	            }
        	}
		});
		//定义vue过滤器
	    Vue.filter("getWifiName", function (mac) {
	        if (!mac || !duty.wifiList) return "unknow";
	        return duty.wifiList[mac] || 'unknow';
	    });
	
	    Vue.filter("formatMinutes", function (minutes) {
	        if (!minutes) return ''
	        var minutes = Math.abs(minutes);
	        if (minutes > 60) {
	            return (Math.floor(minutes / 60) + "小时" + (minutes % 60) + "分钟");
	        } else {
	            return minutes + "分钟"
	        }
	    });
	    
	    var user_id;    // 用户id
	    
		mui.plusReady(function() {
			user_id = JSON.parse(plus.storage.getItem("userinfo")).id
			
			mui('body').on('tap', '.statsbtn-duty', function(){
		        var href = this.getAttribute('href');
		        var id = this.getAttribute("data-wid");
				mui.openWindow({
                    url: href,
                    id: id,
                    show: animateObj.aniDetal
                });
			});
			
			// 获取个人详细信息
			luckyAjax({
				data: {
		            server: 'user.getUserInfo',
		            data: JSON.stringify({
						user_id: user_id
					})
		        },
		        success: function (ret) {
	                if (ret.code == 1) {
	                    duty.userInfo = ret.data.data;
	                } else {
	                	mui.toast(ret.msg, {duration: 'short', type: 'div'})
	                }
				}
			});
        	
			// 获取考勤记录
			clockRecord ()
			
	        // 获取考勤范围内的WiFi
	        luckyAjax({
				data: {
		            server: 'Attendance.WifiList'
		        },
		        success: function (ret) {
	                if (ret.code == 1) {
	                    duty.wifiList = ret.data;
	                    inter = setInterval(function () {
	                    	if (isAndroid) {
	                    		duty.wifiInfo = getWifiInfo(ret.data);
	                    	} else if (isiOS) {
	                    		duty.wifiInfo = getMac(ret.data);
	                    	}
	                    }, 1000)
	                } else {
	                    mui.toast(ret.msg, {duration: 'short', type: 'div'})
	                }
				}
			});
	        
	        // 获取当前设备所处的位置
	        plus.geolocation.watchPosition(function (p) {
	            var address = p.address
	            address = [address.province, address.city, address.district, address.street, address.streetNum, address.poiName]
	            var addresses = address.join('') || p.addresses
	            duty_address = addresses;
	        }, function (e) {
	            plus.nativeUI.toast('无法获取当前位置，请检查是否开启定位', {
	                duration: 'long'
	            })
	            duty_address = null
	        }, {
	            provider: 'baidu',
	            enableHighAccuracy: true,
	        });
	        
	        // 设置内容区域
			statusbar();
			var winH = window.innerHeight;
			var titHeight = document.querySelector('#Js-header').offsetHeight;
			document.querySelector('#Js-duty').style.height = winH - titHeight + 'px';
		});
		/**
		 * 获取打卡记录
		 */
		function clockRecord() {
			luckyAjax({
				data: {
		            server: 'Attendance.PunchCardRecord',
		            data: JSON.stringify({
	            		type: 'day',
	            		date: new Date().addDays(0).Format('yyyy-MM-dd')
	            	})
		        },
		        success: function (ret) {
		        	console.log(JSON.stringify(ret))
	                if (ret.code == 1) {
	                	var data = ret.data
	                	duty.status = true
	                    duty.dutyInfo.waycard = data.waycard
	                    if (data) {
	                        duty.dutyInfo = data;
	                    }
	                    if (!data || (data && data.sign_out_time < 1)) {
	                        if (plus.networkinfo.CONNECTION_WIFI !== plus.networkinfo.getCurrentType()) {
	                            plus.nativeUI.toast('切换内勤打卡，请开启WiFi')
	                        }
	                    }
	                } else {
	                    document.getElementById("message").innerHTML = ret.msg;
	                }
				}
			});
		}
		
		/**
	     * 考勤打卡
	     * @param {String} type 0  上班卡， 1 下班卡
	     * @param {String} flag = 0 正常打卡， flag = 1 更新打卡
	     */
	    function clock(type, flag) {
	        if (!duty_address) {
	            plus.nativeUI.toast('请开启手机定位，获取当前位置')
	            return false
	        }
	        var jsonData = {};
	
	        if (type === 0) {
	            jsonData['sign_type'] = 'in'
	        } else {
	        	jsonData['sign_type'] = 'out'
	        }
	
	        jsonData['mac'] = plus.device.uuid
	
	        //判断是否更新打卡
	        if (flag == 0) {
	            //判断是否处于外勤模式
	            if (duty.wifiInfo == null) {
	                jsonData['wifi'] = getMac(null,true);
	                jsonData['location'] = duty_address
	                dutyAjax(jsonData, type);
	            } else {
	                jsonData['wifi'] = duty.wifiInfo.bssid;
	                jsonData['location'] = duty_address
	                dutyAjax(jsonData, type);
	            }
	        } else if (flag == 1) {
	            mui.confirm('确定要更新此次打卡记录？', '提示', ['确定', '取消'], function (e) {
	                if (e.index == 0) {
	                    //判断是否处于外勤模式
	                    if (duty.wifiInfo == null) {
	                        jsonData['wifi'] = getMac(null, true);
	                        jsonData['location'] = duty_address
	                        dutyAjax(jsonData, type);
	                    } else {
	                        jsonData['wifi'] = duty.wifiInfo.bssid;
	                        jsonData['location'] = duty_address
	                        dutyAjax(jsonData, type);
	                    }
	                }
	            })
	        }
	    }
	    
	    /**
         * 上传打卡记录
         * @param {Object} jsonData 打卡数据
         * @param {String} type 0: 上班卡    1：下班卡
         */
        function dutyAjax(jsonData, type) {            
            luckyAjax({
				data: {
		            server: 'Attendance.PunchCard',
		            data: JSON.stringify(jsonData)
		        },
		        success: function (ret) {
                    if (ret.code == 1) {
						clockRecord ()    // 获取打卡记录
                        mui.toast('打卡成功', {duration: 'short', type: 'div'})
                    } else {
                    	mui.toast(ret.msg, {duration: 'short', type: 'div'})
                    }
                },
			});
        }
	</script>
</html>

