<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>计划书汇总</title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/plans.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body class="BL-bg-f2f">

		<div id="Js-plansTotal" class="mui-content BL-overFlow-autoY" v-cloak>
			<!--描述：一个投保人计划书 -->
			<div class="plans-total BL-pad-b-1  BL-mar-t-1 BL-bg-fff" v-for="(content, index) in plansData" :key='index' v-if="!del[index]">
				<div class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-46 BL-txt-l">
					<span>投保人</span>
					<span class="BL-col-3b9cf5">{{content.mainList.applicant}}</span>
					<span class="BL-pad-l-3">被保人</span>
					<span class="BL-col-3b9cf5">{{content.mainList.assured}}</span>
				</div>
				<!--描述：主險信息 begin -->
				<div class="BL-pad-lr-1_5 BL-pad-t-2 BL-bg-fff" >
					<div class="BL-ub plans-total-content BL-pad-b-1">
						<div class="BL-ub-f4">
							<span class="plans-total-font BL-ftz-46">{{content.mainList.name}}</span>
							<!--<span class="BL-col-3b9cf5 plans-total-font BL-ftz-46 BL-pad-l-1" @click="detailLink(index)">详情</span>-->
						</div>
						<div class="BL-ub-f1 BL-txt-r">
							<button class="BL-btn-white BL-ftz-42" v-if="index !== 0" 
								@click="delIns(content.mainList.pl_id, content.mainList.genre, index, index, false)">删除</button>
							<button class="BL-btn-blue BL-ftz-42" @click="edit(content.mainList)">编辑</button>
						</div>
					</div>
					<ul class="BL-ul BL-col-999 BL-col-999 BL-ftz-42">
						<li>
							<span>保险金额</span>
							<span>保险期间</span>
							<span>缴费年限</span>
							<span>首年保费</span>
						</li>
						<li>
							<span>{{content.mainList.base_money}}</span>
							<span>{{content.mainList.safe_year}}</span>
							<span>{{content.mainList.pay_year}}</span>
							<span class="year_fee">{{content.mainList.year_fee}}</span>

						</li>
					</ul>
				</div>
				<!--描述：主險信息 end-->
				<!--描述：附加險信息 begin-->
				<div class="BL-pad-lr-1_5 BL-pad-t-2 BL-bg-fff" v-for="(child, i) in content.childrenList" :key="i" v-if="!del[String(index) + i]">
					<div class="BL-ub plans-total-content BL-pad-b-1">
						<div class="BL-ub-f4">
							<!--乐健一生门急诊医疗保险是主险-->
							<!--泰康健康优享住院费用医疗保险是主险-->
							<span class="BL-col-ff8201 plans-total-font BL-ftz-46" v-if="child.genre !== '344' && child.genre !== '10455'">[附加]</span>
							<span class="plans-total-font BL-ftz-46">{{child.name}}</span>
						</div>
						<!--必须附加的附加险不能删除-->
						<div class="BL-ub-f1 BL-txt-r" v-if="mustSelected.indexOf(child.genre) < 0">
							<button class="BL-btn-white BL-ftz-42" @click="delIns(content.mainList.pl_id, child.genre, String(index) + i , index, true)">删除</button>
						</div>
					</div>
					<ul class="BL-ul BL-col-999 BL-ftz-42">
						<li>
							<span>保险金额</span>
							<span>保险期间</span>
							<span>缴费年限</span>
							<span>首年保费</span>
						</li>
						<li>
							<span>{{child.base_money}}</span>
							<span>{{child.safe_year}}</span>
							<span>{{child.pay_year}}</span>
							<span class="year_fee">{{child.year_fee}}</span>
						</li>
					</ul>
				</div>
				<!--描述：附加險信息 end-->
			</div>
			<!--描述：一个投保人计划书 end-->

			<!------------计划书汇总 end  ------------->
			
		</div>
		<footer id="Js-footer" class="BL-footer BL-bg-fff BL-pad-tb-1">
			<div class="BL-ub BL-ub-ac BL-ub-f1">
				<div id="" class="BL-ub BL-ub-f1 BL-ub-ac BL-foot-selectAll">
					<div class="context">
						总保费: <span class="BL-col-ff8201" id="totalMoney"></span>
					</div>
				</div>
				<button class="BL-btn-white BL-pad-tb-1 BL-pad-lr-1 BL-mar-r-1 BL-ftz-46" id="addPlan">新增方案</button>
				<button class="BL-btn-blue BL-pad-tb-1 BL-pad-lr-1 BL-mar-r-1 BL-ftz-46" id="goIns">在线投保</button>
				<!--<a id="goIns" class="BL-foot-btn-sign BL-foot-btn-det BL-bg-3b9cf5">
					在线投保
				</a>-->
			</div>
		</footer>
		
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/plansData.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var user_id;
		mui.init();
		var parent_self;
		var plansTotal = new Vue({
			el: '#Js-plansTotal',
			data: {
				total_list: [],
				plansData: [],
				parent_pl_id: '',
				mustSelected: ['304', '305'], //必须附加的附加险
				delPl_id: '',
				delGenre: '',
				delId: '', //附加险下标
				delIndex: '',//主险下标
				fj: null,
				del:{},
				goIns_data: []
			},
			methods: {
				delIns: function(pl_id, genre, id, index, fj) {
					this.delPl_id = pl_id;
					this.delGenre = genre;
					this.delId = id;
					this.delIndex = index;
					this.fj = fj;
					mui.fire(parent_self, 'show', {
						formID: 'member_plans_total'
					});
				},
				detailLink: function(index){ //详情按钮，去父页面触发
					mui.fire(parent_self, 'link', {
						index: index
					});
				},
				edit: function(item){
					mui.openWindow({
						id: 'prospect_product',
						url: 'prospect-product.html',
						show: animateObj.aniDetal,
						extras: {
							totalData: item,
							parent_pl_id :this.parent_pl_id
						}
					});
				}
			}
		});

		(function($) {
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;

			$.plusReady(function() {
				plus.nativeUI.showWaiting();
				var winH = window.innerHeight;
				var fotHeight = document.querySelector('#Js-footer').offsetHeight;
				document.querySelector('#Js-plansTotal').style.height = (winH - fotHeight) + 'px';

				mui('body').on('tap', '#btn', function() {
					var _self = plus.webview.getWebviewById('member_plans_detail.html')
					mui.fire(_self, 'show');
				});

				var pl_id = plus.webview.currentWebview().pl_id //获取从列表从过来的plid,最大的
				plansTotal.parent_pl_id = pl_id
				parent_self = plus.webview.getWebviewById('member_plans_detail') //父级id
				user_id = JSON.parse(plus.storage.getItem("userinfo")).id;

				//获取汇总数据
				luckyAjax({
					data: {
						server: 'Proposal.log',
						view: false,
						data: JSON.stringify({
							user_id: user_id,
							fields: "",
							pl_id: pl_id
						})
					},
					success: function(res) {
						if(res.code == 1) {
							if(res.data.content) {
//								alert(JSON.stringify(res.data.content))
								// 第一个plid下面的数据，主plid
								mui.each(res.data.content, function(index, item) {
									groupList(item, res.data.id)
								})
							}
							if(res.data.child) {
//								alert(JSON.stringify(res.data.child))
								mui.each(res.data.child, function(index, item) {
									var pl_id = item.id
									mui.each(res.data.child[index].content, function(i, m) {
										groupList(m, pl_id)
									})
								})
							}
							plus.nativeUI.closeWaiting();
						} else {
							mui.toast(res.msg)
						}
					}
				});

				//添加弹框sure自定义事件监听,从弹框返回来的确定状态
				window.addEventListener('sure', function(event) {
					luckyAjax({
						data: {
							server: 'Proposal.delete',
							device: 'mobile',
							data: JSON.stringify({
                                pl_id: plansTotal.delPl_id,
                                genre: plansTotal.delGenre
                            })
						},
						success: function(res) {
							if(res.code == 1) {
								plansTotal.del[plansTotal.delId]= true 
//								alert(JSON.stringify(plansTotal.del))
								plansTotal.$forceUpdate()
								mui.fire(parent_self, 'delIns', {
									index: plansTotal.delIndex,
									genre: plansTotal.delGenre,
									fj: plansTotal.fj
								});
								var totalMoney = 0;
								setTimeout(function(){
									mui('.year_fee').each(function(i, d) {
										totalMoney += Number(this.innerText)
										document.querySelector('#totalMoney').innerText = totalMoney.toFixed(2);
									})
								}, 100)
								
								mui.toast('删除成功')
							} else {
								mui.toast('删除失败')
							}
						}
					});
				});
				//在线投保按钮
				document.querySelector('#goIns').addEventListener('tap', function() {
					//打开弹框
					mui.fire(parent_self, 'show', {
						formID: 'member_plans_total',
						goIns_data: plansTotal.goIns_data
					});
				});
				//新增方案按钮
				document.querySelector('#addPlan').addEventListener('tap', function() {
					mui.openWindow({
						id: 'prospect_product',
						url: 'prospect-product.html',
						show: animateObj.aniDetal,
						extras: {
							totalData: 'addPlan',
							parent_pl_id :plansTotal.parent_pl_id
						}
					});
				});
			});
		}(mui));
	</script>

</html>