<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/plans.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body class="BL-bg-f2f">
		<!--
        	作者：383938231@qq.com
        	时间：2018-03-07
        	描述：单个计划书详情 begin
        -->
		<div id="Js-alone" class="mui-content plans-detail-content BL-bg-3b9cf5 plans-detail BL-overFlow-autoY" v-cloak> 
			
				<div class="plans-detail-banner">
					<img :src="'images/plans/prospectus/'+ Number(list.genre) + '.jpg'" alt="导航图" >
				</div>
				<div class="plans-detail-fixed">
					<div v-if="tk.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">泰康人寿</div>
					<div v-else-if="gh.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">国华人寿</div>
					<div v-else-if="gy.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">工银安盛</div>
					<div v-else-if="pa.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">平安人寿</div>
					<div v-else-if="xt.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">信泰人寿</div>
					<div v-else-if="zy.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">中英人寿</div>
					<div v-else-if="hd.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">恒大人寿</div>
					<div v-else-if="al.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">安联财险</div>
					<div v-else-if="fx.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">复星联合</div>
					<div v-else-if="zs.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">招商仁和</div>
					<div v-else-if="cc.indexOf(Number(list.genre)) > -1" @tap="company(list.genre)">长城人寿</div>
					<div @tap="clause">条款详情</div>
					<div @tap="company_green(list.genre)" v-if="green_server">绿通服务</div>
				</div>
				<!--保险计划-->
                <div class="plans-detail-box plans-detail-box-first BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff">
					<div class="BL-title">保险计划</div>
                    <div class="BL-title BL-bg-ebf5fe">
                        <span class="BL-col-3b9cf5">{{list.assured}}</span>
                        <span class="BL-col-3b9cf5 BL-pad-l-2" v-if="list.assu_sex == 1">男</span>
                        <span class="BL-col-3b9cf5 BL-pad-l-2" v-else>女</span>
                        <span class="BL-col-3b9cf5 BL-pad-l-2">{{list.assu_age}}</span>
                    </div>
                    <ul class="BL-ul plans-detail-item BL-ftz-46">
                        <li>
                        	<span>保险金额</span>
                        	<span>保险期间</span>
                        	<span>交费期间</span>
                        	<span>年交保费</span>
                        </li>
                        <li class="BL-col-ff8201">
                        	<span>{{main.base_money}}</span>
                        	<span>{{main.safe_year}}</span>
                        	<span>{{main.pay_year}}</span>
                        	<span>{{main.year_fee}}</span>
                        </li>
                    </ul>
				</div>
				<!--保险计划-->
				<!--险种信息-->
				<div class="plans-detail-box BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff" style="overflow: hidden;">
					<ul class="BL-ul">
                        <li class="BL-ftz-42">
                        	<span>险种</span>
                        	<span>保险金额</span>
                        	<span>保险期间</span>
                        	<span>交费期间</span>
                        	<span>年交保费</span>
                        </li>
                        <li class="BL-ftz-46">
                        	<span v-if="main.short_name">{{main.short_name}}</span>
                        	<span v-else>{{main.name}}</span>
                        	<span>{{main.base_money}}</span>
                        	<span>{{main.safe_year}}</span>
                        	<span>{{main.pay_year}}</span>
                        	<span v-if="zs.indexOf(Number(list.genre)) > -1">{{Number(main.year_fee).toFixed(0)}}</span>
                        	<span v-else>{{main.year_fee}}</span>
                        </li>
                        <li class="BL-ftz-46" v-for="item in children">
                        	<span v-if="item.short_name">{{item.short_name}}</span>
                        	<span v-else>{{item.name}}</span>
                        	<span>{{item.base_money}}</span>
                        	<span>{{item.safe_year}}</span>
                        	<span>{{item.pay_year}}</span>
                        	<span v-if="zs.indexOf(Number(list.genre)) > -1">{{Number(item.year_fee).toFixed(0)}}</span>
                        	<span  v-else>{{item.year_fee}}</span>
                        </li>
                    </ul>
                    <div class="BL-mar-t-1">
						<span class="BL-ftz-46" style="font-weight: 600;">总保费</span>
						<span class="BL-ftz-46 fr" style="font-weight: 600;" v-if="zs.indexOf(Number(list.genre)) > -1">{{Number(total).toFixed(0)}}</span>
						<span class="BL-ftz-46 fr" style="font-weight: 600;" v-else>{{total}}</span>
					</div>
				</div>
				<!--险种信息-->
				<!--产品图片-->
				<div class="plans-detail-box plans-detail-box-img BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff" v-if="imageDescribe" v-html="imageDescribe">
					<!--<img :src="'images/plans/prospectus/'+ Number(list.genre) + '_2.jpg'" alt="产品图片" >-->
				</div>
				<!--产品图片-->
				<!--保险利益-->
				<div class="plans-detail-box BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff" >
					<div class="BL-title">保险利益</div>
					<template v-for="(item1,index1) in plansText">
						<div class="plans-detail-behalf" v-for="(item,index) in item1" v-if="item.content">
	                    	<div class="title BL-ftz-52 clearfloat">
	                    		<div class="title-flex">
		                    		<em v-if="index1 == 0">
		                    			<img :src="'images/plans/plansIcon/icon-plans'+ index +'.png'" alt="icon" v-if="index < 11"/>
		                    			<img :src="'images/plans/plansIcon/icon-plans10.png'" alt="icon" v-else/>
		                    		</em>
		                    		<i v-else>
		                    			<img :src="'images/plans/plansIcon/icon-plans2'+ index +'.png'" alt="icon" v-if="index < 11"/>
										<img :src="'images/plans/plansIcon/icon-plans210.png'" alt="icon" v-else/>
									</i>
		                    		<span>{{item.title}}</span>
		                    		<button class="BL-btn-white BL-ftz-42 BL-mar-l-1" v-if="item.isEntity == 1" @tap="detail(index1, item.title)">明细</button>
	                    		</div>
	                    		<div class="BL-ftz-46 fr" v-if="item.value > 0">
	                               <span class="BL-col-ff8201">{{item.value}}</span>元
	                            </div>
	                    	</div>
	                        <div class="content BL-pad-l-1" v-html="item.content">
	                        </div>
	                    </div>
					</template>
				</div>
				<!--保险利益-->
			
				<!--资金规划-->
				<div class="plans-detail-box BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff" v-if="haveDesign.indexOf(Number(list.genre)) > -1 || haveDesign16197">
					<!--v-if="list.genre == '19385' || list.genre == '377' || list.genre == '404'"-->
					<div class="BL-title">资金规划</div>
					<div class="plans-detail-design-button BL-mar-b-2 BL-ub BL-ub-pc" v-if="haveLevel || list.genre == 348">
						<button type="button" class="BL-ftz-42 BL-mar-l-1 BL-pad-lr-2" :class="{'BL-btn-blue': levelNum[pl_id] === 'min', 'BL-btn-gray': levelNum[pl_id] !== 'min'}"  @tap="changeLevel('min')">低档 </button>
						<button type="button" class="BL-ftz-42 BL-mar-l-1 BL-pad-lr-2" :class="{'BL-btn-blue': levelNum[pl_id] === 'mid', 'BL-btn-gray': levelNum[pl_id] !== 'mid'}"  @tap="changeLevel('mid')">中档 </button>
						<button type="button" class="BL-ftz-42 BL-mar-l-1 BL-pad-lr-2" :class="{'BL-btn-blue': levelNum[pl_id] === 'max', 'BL-btn-gray': levelNum[pl_id] !== 'max'}"  @tap="changeLevel('max')">高档 </button>
					</div>
					<div v-if="manual_content[pl_id] && manual_content[pl_id][levelNum[pl_id]] && manual_content[pl_id][levelNum[pl_id]].length > 0 && list.genre != 348">
						<div class="plans-detail-design BL-ub BL-pad-t-1" v-for="(item, index) in manual_content[pl_id][levelNum[pl_id]]">
							<img :src="item.imgUrl" class="BL-ub-f3">
							<div class="BL-ub-f3 BL-pad-l-1">
								<div class="BL-ftz-52 BL-pad-b-1">{{item.title}}</div>
								<div class="BL-col-999 BL-ftz-46">年龄<span class="BL-col-3b9cf5">{{item.sAge}}-{{item.fAge}}</span>岁</div>
								<div class="BL-col-999 BL-ftz-46">领取<span class="BL-col-3b9cf5">{{item.getMoney}}</span>元</div>
							</div>
							<i class="BL-icon" @tap="designDel(index)"></i>
						</div>
					</div>
					<div class="BL-txt-c BL-ftz-42" v-else-if="list.genre != 348">未添加资金规划</div>
					
					<div class="BL-txt-r BL-pad-t-1 plans-detail-design-button" v-if="list.genre !== 348">
						<button class="BL-btn-white BL-ftz-42 BL-mar-l-1 BL-pad-lr-1" @tap="design(list.genre)">+添加规划</button>
						<button class="BL-btn-blue BL-ftz-42 BL-mar-l-1 BL-pad-lr-1" @tap="designSave(list.genre)">保存</button>
					</div>
				</div>
				<!--资金规划-->
				<!--利益演示表-->
				<!--平安和安联没有利益演示表-->
				<div class="plans-detail-box BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5 BL-bg-fff clearfloat" v-if="list.genre !== '280' || list.genre !== '309'">
					<div class="BL-title">利益演示表</div>
					<div class="plans-detail-design-button BL-mar-b-2 BL-ub BL-ub-pc" >
						<button class="BL-btn-blue BL-ftz-42 BL-mar-l-1 BL-pad-lr-2"  @tap="table(list.genre)">查看</button>
					</div>
				
				</div>
			
				<!--利益演示表-->
				<!--风险提示-->
				
				<div class="plans-detail-box plans-detail-box-img BL-pad-lr-1 BL-pad-tb-1 BL-radiu-a_5  BL-bg-fff">
					<div class="BL-title">风险提示</div>
					<p class="BL-ftz-46 BL-pad-b-1">*投保人在保单犹豫期后解除合同会遭受一定损失，具体保单利益请以保单合同为准。</p>
					<p class="BL-ftz-46 BL-pad-b-1">*温馨提示：以上演示说明为本平台对上述产品的理解，便于保险从业员学习、交流、演示数据仅供参考，请以保险公司的条款为准。</p>
				</div>
					<!--风险提示-->
				<div id="Js-plansDetail"></div>
				<footer id="Js-footer" class="BL-footer BL-bg-fff">
					<div class="BL-ub BL-ub-ac BL-ub-f1">
						<div id="" class="BL-ub BL-ub-f1 BL-ub-ac BL-foot-selectAll">
							<div class="context">
								{{adviser.user_name}} 
								<a class="plans-detail-phone BL-abs">
									<i></i>
									<span>{{adviser.tel}} </span>
								</a>
							</div>
						</div>
						<a id="goIns" class="BL-foot-btn-sign BL-foot-btn-det BL-bg-3b9cf5">
							在线投保
						</a>
					</div>
				</footer>
			</div>		
		<!--
        	作者：383938231@qq.com
        	时间：2018-03-07
        	描述：一个投保人计划书 end
       -->
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/plansData.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/plans.js" type="text/javascript"></script>
</html>