<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>寿险订单</title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/member.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
	</head>

	<body class="BL-bg-f2f">
		<div id="Js-content" class="mui-content" v-cloak>
			<!--搜索 begin-->
			<div id="Js-teamFilter" class="member-team-search member-warranty-search BL-ub BL-ub-ac BL-bg-fff">
				<div class="search-date BL-rel">
					<div class="BL-pad-lr-1" id='warranty_date' data-options='{"type":"month","beginYear":1950}'>{{warranty_date.text}}</div>

					<div class="down BL-abs">
						<span class="BL-bimg-contain search-down"></span>
					</div>
				</div>
				<div class="search-date BL-rel">
					<div class="BL-pad-lr-1" id="warranty_type">{{warranty_type.text}}</div>
					<div class="down BL-abs">
						<span class="BL-bimg-contain search-down"></span>
					</div>
				</div>
				<div class="search-date BL-rel">
					<div class="BL-pad-lr-1" id="warranty_state">{{warranty_state.text}}</div>
					<div class="down BL-abs">
						<span class="BL-bimg-contain search-down"></span>
					</div>
				</div>
			</div>
			<!--搜索 end -->
			<!------------寿险订单列表 begin-------------> 
			<div id="Js-warrantyList">
				<div class="mui-content mui-scroll-wrapper BL-bg-f2f" style="top: 6.625rem;">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="member-warranty-list-item" v-for="item in warranty_list">
								<div class="BL-title BL-pad-lr-1_5 BL-bg-ebf5fe BL-ftz-46 BL-txt-l">
									<span>保单号:</span>
									<span>{{item.policy_sn}}</span>
									<span class="BL-col-3b9cf5 fr">{{item.state_name}}</span>
								</div>
								<div class="BL-pad-lr-1_5 BL-pad-tb-1_5">
									<div class="BL-ub-f1 context">
										<div class="team-per-ins BL-pad-b-1">
											<span>险种:<i>{{item.product_name}}</i></span>
										</div>
										<div class="team-per-ins BL-pad-b-1 context-w-50 clearfloat">
											<span>投保人:<i>{{item.holder_name}}</i></span>
											<span>交单日期:<i>{{item.present_date}}</i></span>
										</div>
										<div class="team-per-ins BL-pad-b-1 context-w-50 clearfloat">
											<span>被保人:<i>{{item.insured_name}}</i></span>
											<span>生效日期:<i>{{item.underwrite_date}}</i></span>
										</div>
										<div class="team-per-ins BL-pad-b-1  context-w-50 clearfloat">
											<span>保额:<i>{{item.amount}}</i></span>
											<span>保费:<i>{{item.total}}</i></span>
										</div>
										<div class="team-per-ins BL-pad-b-1">
											<span>保险类型:<i class="BL-col-3b9cf5">{{item.ins_type}}</i></span>
										</div>
									</div>
									<div class="BL-txt-r button">
										<template v-if="item.company_name == '恒大人寿'">
											<!-- 纸质回执 -->
											<button class="BL-btn-white BL-pad-lr-1 BL-mar-r-1" :disabled ="['0', '2', '4', '6'].indexOf(item.receipt_state) != -1">纸质回执</button>
											<!-- 电子回执 -->
											<button class="BL-btn-white BL-pad-lr-1" v-if="item.email_state == ''||item.receipt_state == ''" disabled="true">邮件待发送</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '0'" disabled>邮件待发送</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '2'" disabled>邮件发送中</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '10'" disabled>邮件无法发送</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '12'" disabled>邮件退回</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '22'" disabled>邮件错误</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '23'" disabled>保存错误</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.email_state == '-1'" disabled>发送异常</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '0'" disabled>回执通过</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '1' && ['11','21'].indexof(item.email_state) > -1">回执未通过</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '2'">回执未处理</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '3' && ['11','21'].indexof(item.email_state) > -1">电子回执</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '4'" disabled>影像上传中</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '5' && ['11','21'].indexof(item.email_state) > -1">影像上传失败</button>
											<button class="BL-btn-white BL-pad-lr-1" v-else-if="item.receipt_state == '6'" disabled>已线下处理</button>
										</template>
										<a :data-wid="item.policy_id" href="member-warranty-manageLife-detail.html" class="BL-btn-blue BL-pad-lr-2 BL-mar-l-1">详情</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!------------寿险订单列表 end  ------------->
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script src="js/mui.poppicker.js"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script src="js/vue.min.js"></script>
	<script type="text/javascript">
		var user_id;
		var manageLife = new Vue({
			el: '#Js-content',
			data: {
				warranty_date: {
					value: '',
					text: '选择日期'
				},

				warranty_type: {
					value: '',
					text: '保单类型'
				},
				ins_type: [], // 后台返回类型
				warranty_state: {
					value: '',
					text: '保单状态'
				},
				state: [], // 后台返回状态
				warranty_list: [], // 列表数据
				isReceipt: true, // 是否有回执
				selectData: '' //选择框选中数据
			},
			methods: {

			}
		});
		mui.init();
		(function($) {
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			$('#Js-warrantyList .mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: false, //是否显示滚动条
				deceleration: deceleration
			});
			$.plusReady(function() {
				user_id = JSON.parse(plus.storage.getItem("userinfo")).id
				var winH = window.innerHeight;
				var divHeight = document.querySelector('#Js-teamFilter').offsetHeight;
				document.querySelector('#Js-warrantyList').style.height = winH - divHeight + 'px';
				var i = 0;
				var self; // $('#Js-warrantyList .mui-scroll')的this
						 
				//保单类型
				var warrantyType = new mui.PopPicker();
				document.querySelector('#warranty_type').addEventListener('tap', function() {
					var _self = this;
					warrantyType.show(function(items) {
						manageLife.warranty_type.text = items[0].text;
						manageLife.warranty_type.value = items[0].value;
						manageLife.warranty_state.value = ''
						manageLife.warranty_date.value = '';
						manageLife.selectData = items[0].value;
						i = 0; 
						manageLife.warranty_list = []
						mui('.mui-scroll-wrapper').scroll().scrollTo(0,0);
	                   	pullAjax() 
					});
				}, false);
				//保单状态
				var warrantyState = new mui.PopPicker();
				document.querySelector('#warranty_state').addEventListener('tap', function() {
					var _self = this;
					warrantyState.show(function(items) {
						manageLife.warranty_state.text = items[0].text;
						manageLife.warranty_state.value  = String(items[0].value);
						manageLife.warranty_type.value = ''
						manageLife.warranty_date.value = '';
						manageLife.selectData = String(items[0].value);
						i = 0
						manageLife.warranty_list = []
						mui('.mui-scroll-wrapper').scroll().scrollTo(0,0);
						pullAjax()
					});
				}, false);
				//选择日期月
				document.querySelector('#warranty_date').addEventListener('tap', function() {
					var _self = this;
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					_self.picker = new mui.DtPicker(options);
					_self.picker.show(function(rs) {
						manageLife.warranty_date.text = rs.text;
						manageLife.warranty_date.value = rs.text;
						manageLife.warranty_type.value = ''
						manageLife.warranty_state.value = ''
						_self.picker.dispose();
						_self.picker = null;
						i = 0;
						manageLife.warranty_list = []
						mui('.mui-scroll-wrapper').scroll().scrollTo(0,0);
						pullAjax() 
					}, false);
				});
				//循环初始化所有下拉刷新，上拉加载。
				var pullAjax = function() {
					plus.nativeUI.showWaiting();
					luckyAjax({
						data: {
				            server: 'PolicyIns.PolicyManage',
				            data: JSON.stringify({
								user_id: user_id,
								ins_type: manageLife.warranty_type.value, // 保单类型
								state: manageLife.warranty_state.value, // 保单状态必选传的是对象
								month: manageLife.warranty_date.value,
								isRenewal: '2', //传1显示代理人接收的保单，传2或者不传表示显示代理人自己保单
								page: i
							})
				        },
				        success:function(res){
							plus.nativeUI.closeWaiting();
			               	if(res.code == 1) {
								if(res.data.totalRows > manageLife.warranty_list.length && !manageLife.selectData){
									manageLife.warranty_list = manageLife.warranty_list.concat(res.data.list)
									self.endPullUpToRefresh(false)
								}else if(manageLife.selectData && i == 0){
									manageLife.warranty_list = res.data.list
									self.endPullUpToRefresh(false)
									self.refresh(true);
								}else if(manageLife.selectData && i != 0 && res.data.totalRows > manageLife.warranty_list.length){
									manageLife.warranty_list = manageLife.warranty_list.concat(res.data.list)
									self.endPullUpToRefresh(false)
								}else{
									self.endPullUpToRefresh(true)
								}
								$.each(res.data.ins_type, function(index, item) {
									manageLife.ins_type.push({
										value: item.id,
										text: item.enum_name
									})
								});
								$.each(res.data.state, function(index, item) {
									manageLife.state.push({
										value: index,
										text: item
									})
								});
								warrantyType.setData(manageLife.ins_type);
								warrantyState.setData(manageLife.state);
						
				        	} else if (res.code == 0){
                                $.each(res.data.ins_type, function(index, item) {
                                    manageLife.ins_type.push({
                                        value: item.id,
                                        text: item.enum_name
                                    })
                                });
                                $.each(res.data.state, function(index, item) {
                                    manageLife.state.push({
                                        value: index,
                                        text: item
                                    })
                                });
                                warrantyType.setData(manageLife.ins_type);
                                warrantyState.setData(manageLife.state);
                                self.endPullUpToRefresh(true)
							} else {
                                self.endPullUpToRefresh(true)
							}
				        }
					});
				}
				$('#Js-warrantyList .mui-scroll').pullToRefresh({
					up: { // 上拉加载更多
						auto: true, // 自动上拉一次
						callback: function() {
							i++;
							self = this;
							pullAjax()
						}
					}
				});
			});

			//跳转详情
			$('body').on('tap', 'a', function() {
				var href = this.getAttribute('href');
				var id = this.getAttribute("data-wid");

				//非plus环境，直接走href跳转
				if(!mui.os.plus) {
					location.href = href;
					return;
				};

				if(href && ~href.indexOf('.html')) {
					//打开新窗口
					mui.openWindow({
						id: id,
						url: href,
						show: animateObj.aniDetal,
						extras:{
							policy_id: id  //扩展参数
						}
					});
				}

			});
		}(mui));
	</script>

</html>