<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/member.css" rel="stylesheet" />
		<link href="css/form.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body class="BL-bg-f2f">
		<header id="Js-header" class="BL-bg-fff">
		    <div class="BL-mod-headbar BL-mod-headbar-pos">
		        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
		        <h1 class="BL-title">投保规则</h1>
		        <a class="BL-icon BL-icon-search"></a>
		    </div>
		</header>
		<div id="Js-content" class="mui-content" v-cloak>
			<!------------条件筛选 begin------------->
			<div id="Js-teamFilter" class="member-list-filter">
				<!--筛选 begin-->
				<div class="member-date BL-bg-fff">
					<div class="BL-ub BL-ub-ac member-date-select">
						<a class="member-date-item" :class="{'mui-active':is_primary==''}" @click="is_primary='',page=0">全部</a>
						<a class="member-date-item" :class="{'mui-active':is_primary=='1'}" @click="is_primary='1',page=0">主险</a>
						<a class="member-date-item" :class="{'mui-active':is_primary=='0'}" @click="is_primary='0',page=0">附加险</a>
						<a class="BL-ub BL-ub-ac BL-ub-pc member-date-filter a-link" :class="{'mui-active':companyId!=''}" href="quickly-filter.html" data-wid="quickly_filter">
							筛选
							<div class="BL-ub BL-ub-ver">
								<i class="date-filter-ico"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!------------条件筛选 end------------->
			<!------------计划书明细 begin------------->
			<div id="Js-list" class="BL-rel">
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view form-list-cell BL-mar-t-1">
							<li class="fItem BL-ub BL-ub-f1">
					            <div class="form-list-label BL-ub-f1 BL-ub-f1">
					        		<div class="BL-ftz-52 BL-ellipsis BL-pad-r-2">
					        			险种名称
					        		</div>
					            </div>
					        </li>
					        <li class="fItem BL-ub BL-ub-f1" v-for="(item,index) in list" :key="index" v-if="list">
					            <a class="mui-navigate-right form-list-label BL-ub-f1 BL-ub-f1" :data-url="item.insured_rule">
					        		<div class="BL-ftz-52 BL-ellipsis BL-pad-r-2">
					        			{{ item.product_name }}
					        		</div>
					            </a>
					        </li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/interval-dtpicker.js" type="text/javascript"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/pdf.js" type="text/javascript"></script>
	<script type="text/javascript">
		mui.init();
		var self;
		var promote = new Vue({
			el: '#Js-content',
			data: {
				list: [],
				row: 10,
				page: 0,
				companyId: '',  // 公司ID
				is_primary: '',  // 是否主险
				insured_rule: 1	  // 是否存在投保规则
			},
			watch: {
	            is_primary: {
	                handler: function () {
                        this.page = 0;
                        mui('#Js-list .mui-scroll-wrapper').each(function(){
			    			this.setAttribute('data-scroll', '');
				    	});
                        loaddata(true);
	                }
	            }
	        }
		});
		
		(function($){
			//阻尼系数
			var deceleration = mui.os.ios?0.003:0.0009;
			$('.mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: false, //是否显示滚动条
				deceleration: deceleration
			});
			
			// 设置内容区域
			$.plusReady(function() {
				user_id = JSON.parse(plus.storage.getItem("userinfo")).id
				
				statusbar();
				var winH = window.innerHeight;
	            var titHeight = document.querySelector('#Js-header').offsetHeight;
	            var divHeight = document.querySelector('#Js-teamFilter').offsetHeight;
	            document.querySelector('#Js-list').style.height = winH - titHeight - divHeight + 'px';
				

				//循环初始化所有下拉刷新，上拉加载。
				$('#Js-list .mui-scroll').pullToRefresh({
					up: { // 上拉加载更多
						auto: true, // 自动上拉一次
						contentrefresh: '正在加载...',
        				contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: function() {
							self = this
							loaddata()
						}
					}
				});
			});	
		}(mui));
		
		//循环初始化和上拉加载。
		/**
	     * 获取投保规则(险种)列表
	     */
		//加载险种列表
	    var loaddata = function (e) {
	        promote.page++;
	        var basedata = {
	        	insured_rule: promote.insured_rule,
	            page: promote.page,
	            row: 10
	        };
	        
	        if (promote.companyId) {
	            basedata.company_id = promote.companyId
	        }
	        
	        if (promote.is_primary) {
	            basedata.is_primary = promote.is_primary
	        }

	        luckyAjax({
	            data: {
	                server: 'lifeProduct.getProductList',
	                data: JSON.stringify(basedata)
	            },
	            success: function (data) {
	            	console.log(JSON.stringify(data))
	                if (data.code) {
	                    if (promote.page >= data.data.totalPage) {
	                        self.endPullUpToRefresh(true);
	                    } else {
	                        self.endPullUpToRefresh();
	                    }
	                    if (e) {
	                        promote.list = data.data.list;
	                    } else {
	                        var list = data.data.list;
	                        mui.each(list, function (index, item) {
	                            promote.list.push(item);
	                        });
	                    }
	                } else {
	                    mui.toast(data.msg, {duration: 'short', type: 'div'});
	                    return false;
	                }
	            }
	        });
	    };
	    
	    //列表点击事件查看pdf
	    mui('body').on('tap', '.mui-navigate-right', function (e) {
	    	var pdf_url = this.getAttribute('data-url')
	    	var data = {};
	    	if (pdf_url) {
	    		data = {
					pdf: pdf_url
				}
				showPopu("pdf-modal.html", "pdf_modal", 'center',data);
	    	} else {
	    		mui.toast('暂无投保规则pdf可查看', {duration: 'short', type: 'div'})
	    		return false
	    	}
	    	
	    });
		
		//主列表点击事件
	    mui('body').on('tap', '.a-link', function () {
	        var href = this.getAttribute('href');
	        var id = this.getAttribute("data-wid");
	    	var extras = null;
            if (href) {
                //打开新窗口
                mui.openWindow({
                    url: href,
                    id: id,
                    show: animateObj.aniDetal,
                    extras: extras
                });
            }
	    });
	    
	    //接收筛选的公司id
	    window.addEventListener('companyId', function (e) {
	        promote.companyId = e.detail.id;
	        promote.page = 0;
	        mui('#Js-list .mui-scroll-wrapper').each(function(){
    			this.setAttribute('data-scroll', '');
	    	});
	        loaddata(true);
	    });
	</script>
</html>

