<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>风险测评</title>
    <link href="css/mui.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/module.css" rel="stylesheet" />
    <link href="css/form.css" rel="stylesheet" />
    <link href="css/member.css" rel="stylesheet" />
    <script src="js/config.js" type="text/javascript"></script>
    <style>
        .control-item {
            display: inline-block;
            width: auto;
            padding: 0 1.25rem !important;
            overflow: hidden;
            -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;
            border: 0;
            font-size: 1.4375rem;
            display: inline-block;
            line-height: 4.0625rem;
            padding: 0 .53125rem;
        }
        .control-item span {
            display: inline-block;
            line-height: 4.0625rem;
            padding: 0 .53125rem;
            border-bottom: 0.1875rem solid #ffffff !important;
        }
        .control-item.mui-active span {
            padding: 0 .53125rem;
            color: #3b9cf5 !important;
            border-bottom: 0.1875rem solid #3b9cf5 !important;
        }
    </style>
</head>

<body class="BL-bg-f2f">
    <div id="Js-main" v-cloak>
        <header id="Js-header" class="BL-bg-fff">
            <div class="BL-mod-headbar BL-mod-headbar-pos">
                <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
                <h1 class="BL-title">职业分类表</h1>
            </div>
            <div id="Js-Filter" class="BL-mod-headbar BL-bg-fff">
                <div class="BL-ub BL-ub-ac headbar-search">
                    <div class="BL-ub BL-ub-ac BL-ub-f1 mui-row" style="max-width: 10rem">
                        <div class="mui-col-xs-10 BL-ellipsis BL-ftz-48">
                            {{ company_item.txt }}
                        </div>
                        <div class="mui-col-xs-2" @click="show=true">
                            <span class="mui-icon mui-icon-arrowdown BL-ftz-2"></span>
                        </div>
                    </div>
                    <div class="search search-pro BL-ub BL-ub-ac BL-ub-pc BL-ub-f3 BL-col-999 BL-ftz-46">
                        <div class="button BL-noBorder-l">
                            <span class="BL-bimg-contain"></span>
                        </div>搜索职业
                    </div>
                </div>
            </div>
        </header>
        <div id="Js-control" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted BL-segmented-control">
            <div class="mui-scroll" style="left: 0; right: 0">
                <div v-for="(item,index) in level" class="control-item" :class="{'mui-active': index == cur_index}" @click="selectType(index)">
                    <span>第 {{ item+1 }} 分类</span>
                </div>
            </div>
        </div>
        <div id="Js-content" class="BL-rel"  v-cloak>
            <div class="mui-scroll-wrapper">
                <div id="slider" class="mui-scroll mui-slider">
                    <div id="Js-slider-group" class="mui-slider-group">
                        <div v-for="(item,index) in level" :id="'item'+(index+1)" class="mui-slider-item mui-control-content" :class="{'mui-active': index == flag}" v-if="flag>=index">
                            <ul class="mui-table-view form-list-cell" style="margin-top: 0rem !important;">
                                <li class="fItem BL-ub BL-ub-f1" v-for="(item,key) in joblist[index]" v-if="joblist[index]" @click="querySubJob(index,item)">
                                    <a class="form-list-label BL-ub-f1">
                                        <div class="BL-ftz-48 BL-ellipsis BL-pad-r-2"  :class="{'BL-col-3b9cf5': item.isActive}">
                                            {{ key + 1 }}.{{ item.name }}
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="BL-modal-bg" style="z-index: 10;" v-show="show">
            <div class="BL-modal BL-modal-w80" style="z-index: 10; border-radius: 0rem">
                <p class="BL-ftz-52 BL-pad-tb-1 BL-pad-lr-1_25 BL-col-333 BL-Border-b">选择公司</p>
                <ul v-if="company" class="mui-table-view mui-table-view-radio BL-overFlow-autoY" style="max-height: 30rem;">
                    <li class="mui-table-view-cell BL-ftz-52" v-for="(item,index) in company" :class="{'mui-selected': item.id == company_item.id }">
                        <a class="BL-pad-a1 mui-navigate-right" @click="setCompany(item),show = false">
                            {{ item.short_name != "" ? item.short_name : item.company_name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="js/mui.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script src="js/mui.pullToRefresh.js"></script>
<script src="js/mui.pullToRefresh.material.js"></script>
<script src="js/mui.picker.js" type="text/javascript"></script>
<script src="js/mui.poppicker.js" type="text/javascript"></script>
<script src="js/mui.dtpicker.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var gallery = null;
    var getJobList = null
    var getSubJobList = null

    var job = new Vue({
        el: '#Js-main',
        data: {
            company: null,
            company_item: {
                id: "",
                txt: "请选择"
            },
            level:[],
            show: false,
            flag: 0,   // 当前级别
            cur_index: 0,  // 当前分类
            joblist: []
        },
        methods: {
            activeFun: function(index, data){

            },
            setCompany: function (item) {
                this.level = []
                getJobList(item)
            },
            querySubJob: function (index, item) {
                this.joblist[index].forEach(function(obj){
                    obj.isActive = false;
                });
                item.isActive = !item.isActive;

                if ((index+1) == job.level.length) {
                    return
                } else {
                    this.flag = this.flag + 1
                }
                // 获取下一级
                getSubJobList(index, item.id)
            },
            selectType: function (index) {
                if (!job.joblist[index]) return
                job.cur_index = index
                gallery.slider().gotoItem(job.cur_index);
            }
        }
    })



    mui.plusReady(function() {
        statusbar();
        var winH = window.innerHeight;
        var topHeight = document.getElementById('Js-header').offsetHeight;
        var controlHeight = document.getElementById('Js-control').offsetHeight;
        document.querySelector('#Js-content').style.height = winH - topHeight - controlHeight + 'px';
        gallery = mui('.mui-slider');

        mui('.mui-scroll-wrapper').scroll({
            scrollY: true, //是否竖向滚动
            scrollX: false, //是否横向滚动
            startX: 0, //初始化时滚动至x
            startY: 0, //初始化时滚动至y
            indicators: false, //是否显示滚动条
            deceleration: 0.0006, //阻尼系数,系数越小滑动越灵敏
            bounce: true //是否启用回弹
        });

        // 获取保险公司
        luckyAjax({
            data: {
                server: 'PolicyIns.getDockedCompanyList',
            },
            success: function (res) {
                if (res.code == 1) {
                    job.company = res.data
                    job.company_item = res.data[0]
                    getJobList(job.company_item)
                }
            },
        });
        // 监测左右滑动事件
        document.getElementById('slider').addEventListener('slide', function(e) {
            job.cur_index = e.detail.slideNumber
        })

        // 获取第一分类列表
        getJobList = function (item) {
            job.company_item.id = item.id
            job.company_item.txt = item.short_name != ""? item.short_name : item.company_name
            job.$nextTick(function () {
                for(var i = 0; i < item.job_level; i++) {
                    job.level.push(i)
                }
            })
            luckyAjax({
                data: {
                    server: 'PolicyIns.getJobList',
                    data:JSON.stringify({
                        supplier_id: job.company_item.id
                    })
                },
                success: function (res) {
                    if(res.code == 1) {
                        job.joblist = []   // 清空
                        job.flag = 0
                        job.cur_index = 0

                        var data = []
                        mui.each(res.data, function (index, item) {
                            item.isActive = false
                            data.push(item)
                        })
                        job.joblist.push(data)

                        gallery.slider()
                    }
                }
            });
        }
        // 获取子分类列表
        getSubJobList = function (index, id) {
            luckyAjax({
                data: {
                    server: 'PolicyIns.getBasicEnumCode',
                    data:JSON.stringify({
                        id : id
                    })
                },
                success: function (res) {
                    if(res.code == 1) {
                        mui('#Js-content .mui-scroll-wrapper').scroll().scrollTo(0, 0, 100);
                        // 处理数据
                        var data = []
                        mui.each(res.data, function (index, item) {
                            item.isActive = false
                            data.push(item)
                        })

                        if (job.joblist[index + 1]) {
                            job.joblist.splice(index + 1, 1,data)
                        } else {
                            job.joblist.push(data)
                        }
                        gallery.slider().refresh();
                        gallery.slider().gotoItem(index + 1);
                    }
                }
            });
        }
    });
</script>
</html>