<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="modal" v-cloak>
			<!--列表(白豪)-->
			<div id="modal-list" class="BL-modal BL-modal-w90 BL-pad-lr-2 BL-pad-tb-1_5 BL-ub BL-ub-ac" :class="{'BL-hide': isHide !== 'modal-list'}">
				<div class="BL-modal-content">
					<div class="BL-modal-list" v-for="item in goIns_data">
						<i class="BL-modal-icon-0"></i>
						<span>{{item.name}}</span>
					</div>
				</div>
			</div>
			<!-- 业绩表格(雨晴)-->
			<div id="modal-table" class="BL-modal BL-modal-w100"  :class="{'BL-hide': isHide !== 'modal-table'}">
				<div class="BL-modal-content BL-modal-tab">
					<div class="BL-title">
						{{ goIns_data.name }}
					</div>
					<div class="BL-modal-tab-body">
						<table class="fixed-thead">
							<thead>
								<tr class="BL-col-3b9cf5">
									<th width="40%">
										<div>承保件数</div>
										<div>{{ goIns_data.count }}件</div>
									</th>
									<th width="40%">
										<div>承保标保</div>
										<div>{{ goIns_data.money =="" ? 0 : goIns_data.money }}元</div>
									</th>
									<th width="20%">出单件数</th>
								</tr>
							</thead>
						</table>
						<div class="BL-modal-tab-scroll">
							<table>
								<tbody>
									<template v-if="goIns_data.details">
										<tr v-for="(item,index) in goIns_data.details" :key="index">
											<td class="BL-txt-l" width="40%">{{ index+1 }}.{{ item.name }}</td>
											<td width="40%">标保 <span class="BL-col-3b9cf5">{{ item.money }}</span>元</td>
											<td width="20%">{{ item.count }}件</td>
										</tr>
									</template>
									<template v-else>
										<tr>
											<td colspan="3" class="BL-col-999">暂无数据</td>
										</tr>
									</template>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- 底部文字-->
			<div id="modal-bottom" class="BL-modal-bottom"  :class="{'BL-hide': isHide !== 'modal-bottom'}">
				<div class="BL-modal-content ">
					<div class="BL-modal-list">
						<i class="BL-modal-icon-0"></i>
						<span>工银安盛新丰盈</span>
					</div>
					<div class="BL-modal-list">
						<i class="BL-modal-icon-1"></i>
						<span>工银安盛新丰盈</span>
					</div>
				</div>
			</div>
			<!-- 确认删除提示 -->
			<div id="modal-config" class="BL-modal BL-modal-w70"  :class="{'BL-hide': isHide !== 'modal-config'}">
			<div class="BL-modal-content">
				<div class="BL-txt-c BL-pad-tb-1_5">确认删除 ?</div>
				<div class="BL-modal-content-button">
					<button type="button" @click="cancel">取消</button>
					<button type="button" @click="sure">确认</button>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/vue.min.js" ></script>
	<script type="text/javascript">
		var popu;
		mui.init();
		var modal = new Vue({
			el: '#modal',
			data: {
				isHide: '' , //要弹哪个框
				formID: '', //来自哪个页面
				goIns_data: ''
			},
			methods: {
				sure: function(){
					//点击确定，吧状态传回去
					if(this.formID == 'member_plans_manage'){
						mui.fire(plus.webview.getWebviewById('member_plans_manage'), 'sure');
					}else if(this.formID == 'member_plans_total2'){
						mui.fire(plus.webview.getWebviewById('member_plans_total2'), 'sure');
					}
					popu.closepop();
				},
				cancel: function(){
					popu.closepop();
				}
			}
		})
		
		
		mui.plusReady(function() {
			popu = new ClosePopu();
			 // 实例化关闭窗口对象
			var data = plus.webview.currentWebview().data;
			modal.isHide = data.modalID
			modal.formID = data.formID
			modal.goIns_data = data.goIns_data

//			mui('body').on('tap', '#btnClose', function() {
//				// 关闭遮罩层，弹框
//				popu.closepop();
//			});	
			
			// 点击关闭遮罩层，弹框
			mui('body').on('tap', '#maskInit', function(){
				// 关闭遮罩层，弹框
				popu.closepop();
			},false);
			
			 mui('body').on('tap', '#close-ins-pop', function () {
	            // 关闭遮罩层，弹框
	            popu.closepop();
	        });
		});
	</script>

</html>