<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/product.css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
</head>

<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">产品对比</h1>
    </div>
</header>
<div id="Js-vue">
    <div id="Js-content" class="mui-content BL-mar-t-b-1">
        <!------------产品列表 begin------------->
        <div id="Js-productList" class="product-contrast">
            <div class="mui-content mui-scroll-wrapper BL-bg-f2f">
                <div class="mui-scroll">
                    <!--活动中，数据列表-->
                    <div class="contr-listAdd" v-if="listdata">
                        <div class="BL-ub BL-ub-ac item item-active" v-if="flag===2">
                            <div class="selected a-disabled">
                                <div class="mui-icon mui-icon-checkmarkempty"></div>
                            </div>
                            <div class="context">
                                <div class="title">{{info.product_name}}</div>
                                <div class="business">{{info.company_name}}</div>
                            </div>
                        </div>
                        <div class="BL-ub BL-ub-ac item" :class="{'item-active':item.checked}"
                             @click="item.checked=!item.checked" v-for="(item,index) in listdata"
                             v-if="(item.id!=product_id&&flag===2&&item.compare)||(flag===1&&item.compare)">
                            <div class="selected">
                                <div class="mui-icon mui-icon-checkmarkempty">{{item.checked}}</div>
                            </div>
                            <div class="context">
                                <div class="title">{{item.product_name}}{{item.compare}}</div>
                                <div class="business">{{item.company_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------产品列表 end  ------------->
    <footer id="Js-footer" class="BL-footer BL-bg-fff">
        <div class="BL-ub BL-ub-ac BL-ub-f1">
            <div class="BL-ub BL-ub-f1 BL-ub-ae BL-foot-contrast">
                可选择对比产品
            </div>
            <a data-wid="product_contrast_detail" href="product-contrast-detail.html" :data-gid="checkedGoods"
               class="BL-foot-btn-sign a-link" v-if="length>1">
                对比(<span>{{length}}</span>)
            </a>
            <div class="BL-foot-btn-sign a-disabled" v-else>对比</div>
        </div>
    </footer>
</div>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/mui.pullToRefresh.js"></script>
<script src="js/mui.pullToRefresh.material.js"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var self;
    var contrast = new Vue({
        el: '#Js-vue',
        data: {
            page: 0, //当前页码
            type: '', //险种类别id
            flag: '',//1从列表页过来 2从详情页过来
            info: {}, //当前险种信息
            product_id: '',//当前险种id
            listdata: [], //同类险种列表
            length: '',
            checkedGoods: ''
        },
        watch: {
            listdata: {
                handler: function (val) {
                    var i = this.flag === 1 ? 0 : 1;
                    var j = this.flag === 1 ? '' : this.product_id
                    mui.each(val, function (index, item) {
                        if (item.checked) {
                            j += ',' + item.id;
                            i++;
                        }
                    });
                    this.length = i;
                    this.checkedGoods = this.flag === 1 ? j.substr(1) : j;
                },
                deep: true
            }
        }
    });

    (function ($) {
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        $('#Js-productList .mui-scroll-wrapper').scroll({
            bounce: true,
            indicators: false, //是否显示滚动条
            deceleration: deceleration
        });
        $.plusReady(function () {
            statusbar();

            var winH = window.innerHeight;
            var titHeight = document.querySelector('#Js-header').offsetHeight;
            var footHeight = document.querySelector('#Js-footer').offsetHeight + 60;
            document.querySelector('#Js-productList').style.height = winH - titHeight - footHeight + 'px';

            var flag = plus.webview.currentWebview().flag;
            contrast.flag = flag;
            if (flag === 1) {
                contrast.type = plus.webview.currentWebview().ins_type;
            } else if (flag === 2) {
                var info = plus.webview.currentWebview().list;
                contrast.info = info;
                contrast.type = info.ins_type;
                contrast.product_id = info.id;
            }

            console.log(contrast.product_id)
            //循环初始化所有下拉刷新，上拉加载。
            $('#Js-productList .mui-scroll').pullToRefresh({
                up: { // 上拉加载更多
                    auto: true, // 自动上拉一次
                    callback: function () {
                        self = this
                        loaddata();
                    }
                }
            });
        });

    }(mui));
    //加载险种列表
    var loaddata = function (e) {
        contrast.page++;

        var basedata = {
            page: contrast.page,
            row: 10,
            ins_type: contrast.type
        }
        console.log(JSON.stringify(basedata));
        plus.nativeUI.showWaiting();
        mui.ajax('http://www.luckyins.com/api/api/invoke', {
            data: {
                device: 'pad',
                server: 'lifeProduct.getProductList',
                data: JSON.stringify(basedata)
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: {'Content-Type': 'application/json'},
            success: function (data) {
//                console.log(JSON.stringify(data))
                plus.nativeUI.closeWaiting();
                if (data.code) {
                    if (contrast.page >= data.data.totalPage) {
                        self.endPullUpToRefresh(true);
                    } else {
                        self.endPullUpToRefresh();
                    }
                    var list = data.data.list;
                    mui.each(list, function (index, item) {
                        item.checked = false;
                    });
                    if (e) {
                        contrast.listdata = list;
                    } else {
                        mui.each(list, function (index, item) {
                            contrast.listdata.push(item);
                        });
                    }
//                    mui.toast(data.msg, {duration: 'short', type: 'div'});
                } else {
                    mui.toast(data.msg, {duration: 'short', type: 'div'});
                    return false;
                }
            },
            error: function (xhr, type, errorThrown) {
                mui.toast(errorThrown, {duration: 'short', type: 'div'});
                return false
            }
        });
    };

    //主列表点击事件
    var extras = null;
    var detailPage = null;
    mui('body').on('tap', '.a-link', function () {
        var href = this.getAttribute('href');
        var id = this.getAttribute("data-wid");
        var gid = this.getAttribute('data-gid');

        //非plus环境，直接走href跳转
        if (!mui.os.plus) {
            location.href = href;
            return;
        }

        if (href && ~href.indexOf('.html')) {
            //判断窗口是否存在
            if (!detailPage) {
                detailPage = plus.webview.getWebviewById(id);
            }
            //额外参数
            if (gid) {
                extras = {goods_id: gid};
            }
        }
        //打开新窗口
        mui.openWindow({
            url: href,
            id: id,
            show: animateObj.aniDetal,
            extras: extras
        });
    });

</script>

</html>