<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>产品详情</title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/product.css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
</head>

<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">产品详情</h1>
        <!--<a class="BL-icon BL-icon-share"></a>-->
    </div>
</header>

<div id="content" class="mui-content BL-rel" v-cloak>
    <div v-if="info" style="margin-bottom: 5rem;">
        <div class="plans-detail-fixed">
            <div class="a-link" href="product-company.html" data-wid="product_company" :data-pid="info.id">保险公司</div>
            <div @click="showStatement">条款详情</div>
        </div>
        <div id="Js-content" class="mui-content mobile_details BL-overFlow-autoY" v-html="info.mobile_details"></div>

        <footer id="Js-footer" class="BL-footer BL-bg-fff">
            <div class="BL-ub BL-ub-ac BL-ub-f1">
                <div class="BL-ub BL-ub-f1 BL-ub-ae BL-foot-integ">
                    <div class="integ-number">
                        {{info.price|priceFilter}}
                    </div>
                    <div class="integ-text BL-col-333">
                        元起
                    </div>
                </div>
                <div class="BL-foot-btn-sign a-link" data-wid="hd_insurance-index" href="hd_ins/insurance-index.html"
                     v-if="info.company_id===19">
                    我要投保
                </div>
                <div class="BL-foot-btn-sign" @tap="toastMsg" v-else>
                    我要投保
                </div>
            </div>
        </footer>
        <!------------悬浮控制按钮 begin-------------->
        <div class="popuer">
            <a class="popu-IconMenu a-link" data-wid="prospect_product" :data-pid="info.id"
               href="prospect-product.html"><img src="images/product/menu-prospect.png" alt="计划书"/></a>
            <a class="popu-IconMenu a-link" data-wid="product_contrast" href="product-contrast.html" :data-cid="1"
               v-show="info.compare"><img src="images/product/menu-pk.png" alt="产品对比"/></a>
        </div>
        <!------------悬浮控制按钮 end --------------->

    </div>

</div>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script src="js/pdf.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();

    mui.plusReady(function () {
        statusbar();
        var winH = window.innerHeight;
        var topHeight = document.querySelector('#Js-header').offsetHeight;

        var pid = plus.webview.currentWebview().product_id;

        //主列表点击事件
        var extras = null;
        mui('body').on('tap', '.a-link', function () {
            var href = this.getAttribute('href');
            var id = this.getAttribute("data-wid");
            var pid = this.getAttribute("data-pid");
            var cid = this.getAttribute("data-cid");

            //额外参数
            if (pid) { //公司介绍
                extras = {product_id: pid, form_id: 'child', name: '公司介绍'};
            } else {
                if (cid) { //产品对比
                    var data = JSON.parse(JSON.stringify(detail.info));
                    extras = {list: data, flag: 2};
                }
            }
            ;
            if (href) {
                mui.openWindow({
                    url: href,
                    id: id,
                    show: animateObj.aniDetal,
                    extras: extras
                });
            }
        });

        var detail = new Vue({
            el: '#content',
            data: {
                info: ''
            },
            //过滤器
            filters: {
                //保障期间
                priceFilter: function (value) {
                    return parseInt(value)
                }
            },
            methods: {
                //用手机浏览器打开pdf
                showStatement: function () {
                    var url = this.info.statement;
                    if (url) {
                        showPopu("pdf-modal.html", "pdf_modal", 'center', {
                            pdf: url
                        });
                    } else {
                        mui.toast('暂无条款详情', {duration: 'short', type: 'div'})
                        return false;
                    }
                },
                toastMsg: function () {
                    mui.toast('本产品暂不支持在线投保，敬请期待', {duration: 'short', type: 'div'})
                    return false;
                }
            }
        });
        getData(pid);

        //获取产品详情
        function getData(id) {
            console.log(JSON.stringify({product_id: id}));
            plus.nativeUI.showWaiting();
            luckyAjax({
                data: {
                    data: JSON.stringify({product_id: id}),
                    server: 'lifeProduct.getProductInfo'
                },
                success: function (data) {
                    plus.nativeUI.closeWaiting();
                    console.log(JSON.stringify(data))
                    if (data.code === 1) {
                        detail.info = data.data;
                        detail.$nextTick(function () {
                            var fotHeight = document.querySelector('#Js-footer').offsetHeight;
                            document.querySelector('#Js-content').style.height = winH - topHeight - fotHeight + 'px';
                        })
//                        mui.toast(data.msg, {duration: 'short', type: 'div'})
                    } else {
                        mui.toast(data.msg, {duration: 'short', type: 'div'})
                        return false;
                    }
                }
            });
        }
    })
</script>

</html>