<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/plans.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		<script src="js/config.js" type="text/javascript"></script>
	</head>
	<body class="BL-bg-f2f">
		<div id="prospect">
			<header id="Js-header" class="BL-bg-f2f">
				<div class="BL-mod-headbar BL-bg-fff">
					<h1 class="BL-title">计划书制作</h1>
				</div>
				<!--计划书方案选项 begin-->
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted BL-segmented-control">
					<div class="mui-scroll">
						<div data-wid="prospect_main" href="prospect-main.html" 
							class="plans-nav mui-active" v-for="plan,index in plans" :key="plan.id" :data-id="plans[index].id" :data-index="index" :id="'plan'+ plans[index].id">
							<span v-if="!plans[index].assu.name">保障计划</span>
							<span v-else>{{plans[index].assu.name}}</span>
							<i class="mui-icon mui-icon-clear" @tap="removePlan(index)" ></i>
						</div>
					</div>
				</div>
				<!--计划书方案选项 end -->
				<!--方案名称 begin -->
				<div class="BL-ub BL-rel BL-bg-fff BL-pad-lr-1_5 BL-pad-tb-1 input-item" style="margin: 1rem 0 0 0;">
					<label>计划名称</label>
					<div class="input-wrap input-wrap-planName box-f-1">
						<input type="text" placeholder="请输入">
						<div class="form-clear-icon">
							<span class="mui-icon mui-icon-clear"></span>
						</div>
					</div>
				</div>
				<!--方案名称 end -->
			</header>
			<div id="Js-content" class="mui-content BL-overFlow-autoY">
				<!--投保人信息 begin -->
				<div class="BL-bg-fff prospect-info BL-mar-t-1">
					<div class="BL-pad-tb-1 BL-ub BL-ub-ac BL-rel BL-border-b title">
						<div class="BL-pad-lr-1_5">投保人信息</div>
						<button class="BL-btn-blue BL-abs BL-pad-lr-1 BL-ub BL-ub-ac" @click="displace">
						<span>投</span><i class="displace-icon"></i><span>被</span>
					</button>
					</div>
					<div class="BL-pad-lr-1_5 BL-pad-b-1 main">
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label>姓名</label>
							<div class="input-wrap">
								<input v-model.lazy.trim="appl.name" @change="checkName(appl.name, '投保人')" type="text" placeholder="请输入真实姓名">
								<div class="form-clear-icon" v-show="appl.name != ''">
									<span class="mui-icon mui-icon-clear" @click="appl.name = '' "></span>
								</div>
							</div>
							<div class="right-orange-btn address-icon" @click="communic('appl')"> </div>
						</div>
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label class="">年龄</label>
							<div class="input-wrap box-f-1">
								<input v-model.number.lazy.trim="appl.age" @change="checkAge(appl.age, '投保人')" type="number" placeholder="输入年龄">
								<div class="form-clear-icon" v-show="appl.age != ''">
									<span class="mui-icon mui-icon-clear" @click="appl.age = '' "></span>
								</div>
							</div>
							<div class="input-wrap box-f-1 BL-mar-l-1 search-date" data-options='{"type":"date","beginYear":1950}'>
								<input v-model.lazy="appl.birthday" type="text" placeholder="选择生日">
								<div class="ins-date-icon"></div>
							</div>
						</div>
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label class="">性别</label>
							<div class="input-wrap box-f-1">
								<button :class="{'BL-btn-white': appl.sex == true, 'BL-btn-gray': appl.sex == false}" @click="applSex(true)" v-model="appl.sex">男</button>
								<button :class="{'BL-btn-white': appl.sex == false, 'BL-btn-gray': appl.sex == true}" @click="applSex(false)" v-model="appl.sex">女</button>
							</div>
						</div>
					</div>
				</div>
				<!--投保人信息 end -->
				<!--被保人信息 begin -->
				<div class="BL-bg-fff BL-mar-t-1 prospect-info">
					<div class="BL-pad-tb-1 BL-ub BL-ub-ac BL-rel BL-border-b title">
						<div class="BL-pad-lr-1_5">被保人信息</div>
						<button class="BL-btn-blue BL-abs BL-pad-lr-1 BL-ub BL-ub-ac" @click="keepSame">
							<span>同投保人</span>
						</button>
					</div>
					<div class="BL-pad-lr-1_5 BL-pad-b-1 main">
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label>姓名</label>
							<div class="input-wrap">
								<input v-model.lazy.trim="assu.name" @change="checkName(assu.name, '被保人')" type="text" placeholder="请输入真实姓名">
								<div class="form-clear-icon" v-show="assu.name != ''">
									<span class="mui-icon mui-icon-clear" @click="assu.name = '' "></span>
								</div>
							</div>
							<div class="right-orange-btn address-icon"  @click="communic('assu')"></div>
						</div>
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label class="">年龄</label>
							<div class="input-wrap box-f-1">
								<input v-model.number.lazy.trim="assu.age" @change="checkAge(assu.age, '被保人')" type="number" placeholder="输入年龄">
								<div class="form-clear-icon" v-show="assu.age != ''">
									<span class="mui-icon mui-icon-clear" @click="assu.age = '' "></span>
								</div>
							</div>
							<div class="input-wrap box-f-1 BL-mar-l-1 search-date" data-options='{"type":"date","beginYear":1950}'>
								<input v-model.lazy="assu.birthday" type="text" placeholder="选择生日">
								<div class="ins-date-icon"></div>
							</div>
						</div>
						<div class="BL-ub BL-rel BL-mar-t-1 input-item">
							<label class="">性别</label>
							<div class="input-wrap box-f-1">
								<button :class="{'BL-btn-white': assu.sex == true, 'BL-btn-gray': assu.sex == false}" @click="assuSex(true)" v-model="assu.sex">男</button>
								<button :class="{'BL-btn-white': assu.sex == false, 'BL-btn-gray': assu.sex == true}" @click="assuSex(false)" v-model="assu.sex">女</button>
							</div>
						</div>
					</div>
				</div>
				<!--被保人信息 end -->
				<!--险种信息 begin -->
				<div class="BL-bg-fff BL-mar-t-1 prospect-info clearfloat" :class="{'BL-pad-b-3' : planList[plan_id].length > 0}">
					<div class="BL-pad-tb-1 BL-ub BL-ub-ac BL-rel BL-border-b title">
						<div class="BL-pad-lr-1_5">险种信息</div>
						<button class="BL-btn-blue BL-abs BL-pad-lr-1" @click="addIns">添加险种</button>
					</div>
					<template v-if="planList&&planList[plan_id]" v-for="item1,index1 in planList[plan_id]" :key="index1">
						<div class="clearfloat" v-if="item1" v-for="item,index in item1" :key="index">
							<!--主险信息 begin -->
							<div class="BL-pad-lr-1_5 BL-pad-t-2 BL-bg-fff">
								<div class="BL-ub plans-total-content BL-pad-b-1">
									<div class="BL-ub-f4">
										<span class="BL-col-ff8201 plans-total-font BL-ftz-46" v-if="item.fj && item.safe_id !== 'LJYSMZ' && item.safe_id !== 'A47P'">[附加]</span>
										<span class="plans-total-font BL-ftz-46">{{item.name}}</span>
										<div class="plans-total-font BL-ftz-42">首年保费:{{item.period_money}}</div>
									</div>
									<div class="BL-ub-f1 BL-txt-r">
										<button class="BL-btn-white BL-ftz-42" @click="del(index1, index, item.fj)">删除</button>
										<button class="BL-btn-blue BL-ftz-42" v-if="!item.fj" @click="editIns(index1, item)">编辑</button>
									</div>
								</div>
								<ul class="BL-ul BL-col-999 BL-col-999 BL-ftz-42">
									<li>
										<span>保险金额</span>
										<span>保险期间</span>
										<span>缴费年限</span>
										<span>首年保费</span>
									</li>
									<li>
										<span v-if="item.money && item.safe_id !== 'DAR' && item.safe_id !== 'HI' && item.safe_id !== 'RP8P'">{{Number(item.money).toFixed(2)}}</span>
										<span v-else>—</span>
										<span>{{item.safe_year , item.safe_id | safeYearFilter}}</span>
										<span>{{item.pay_year | payYearFilter}}</span>
										<span class="hm-color__red year_fee">{{item.period_money}}</span>
									</li>
								</ul>

							</div>
							<!--主险信息 end -->

						</div>
						
						<div class="clearfloat BL-pad-b-1">
							<button class="BL-btn-white BL-ftz-42 BL-mar-t-1 BL-pad-lr-2 prospect-info-button BL-hide">+添加附加险</button>
						</div>

					</template>
				</div>
				<!--险种信息 end -->
				<div style="width: 100%;height: 5.625rem;"></div>
			</div>
			<footer id="Js-footer" class="BL-footer BL-bg-fff">
				<div class="BL-ub BL-ub-ac BL-ub-f1">
					<div id="" class="BL-ub BL-ub-f1 BL-ub-ac BL-foot-selectAll">
						<div class="context" id="aaaa">
							总保费: <span class="BL-col-ff8201">{{count}}</span>
						</div>
					</div>
					<a class="BL-foot-btn-sign BL-foot-btn-det BL-bg-3b9cf5" @click="pushPlan">
						生成计划书
					</a>
				</div>
			</footer>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script type="text/javascript">
		var getAge;
		var count;
		var prospect = new Vue({
			el: '#prospect',
			data: {
				alias: '',
				max_id: 1, //id叠加
				plan_id: 1, //当前的数据
				plans: [{
					id: 1,
					ins: [],
					appl: {
						age: '',
						name: '',
						sex: true
					},
					assu: {
						age: '',
						name: '',
						sex: true
					}
				}],
				appl: {
					name: '',
					age: '',
					sex: true,
					birthday: ''
				},
				assu: {
					name: '',
					age: '',
					sex: true,
					birthday: ''
				},
				planList: { //保险计划的列表
					1: []
				},
				count: 0, //总保费
				planTime: {}, //临时保存的数据
				edit: false, //是不是编辑状态
				Communic: null, //通讯录
				clickNav: false //没有点击nav
			},
			watch: {
				appl: {
					handler: function(val) {
						//更改了数据
						for(var i = 0; i < prospect.plans.length; i++) {
							if(prospect.plans[i].id == prospect.plan_id) {
								prospect.plans[i].appl = val
							}
						}
						this.appl.birthday&&getAge(val.birthday, 0)
					},
					deep: true
				},
				assu: {
					handler: function(val) {
						for(var i = 0; i < prospect.plans.length; i++) {
							if(prospect.plans[i].id == prospect.plan_id) {
								prospect.plans[i].assu = val
								if(this.clickNav){ // 切换为未点击nav的状态
									this.clickNav = false
								}else{ //未点击nav状态改变值
									prospect.plans[i].ins = [];
									prospect.planList[prospect.plan_id] = [];
									count()
								}
							}
						}
						this.assu.birthday&&getAge(val.birthday)
					},
					deep: true
				}

			},
			filters: {
				safeYearFilter: function(value, safeid) {
					if(value == 2500 && safeid == '1167'){
						return '至25岁';
					}else if(value == 10000 && safeid == '3188'){
						return '至100岁';
					} else if(value == 10500 && safeid == 'DAR'){
						return '至105岁';
					} else if(value > 50 && value !== '999' && value !== 999) {
						return '至' + value + '岁';
					} else if(value < 50 && value > 0) {
						return value + '年';
					} else {
						return '终身';
					}
				},
				payYearFilter: function(value) {
					if(value === 1) {
						return '趸交';
					} else if(value < 60) {
//						console.log('filter');
						return value + '年交';
					} else if(value > 1000){
						var age = String(value).substring(0, 2)
						return '至' + age + '岁';
					}else {
						return '至' + value + '岁';
					}
				},
				moneyFilter: function(value) {
					return value.toFixed(2)
				}
			},
			methods: {
				parseVueObj: function(Obj) {
					return JSON.parse(JSON.stringify(Obj))
				},
				applSex: function() {
					this.appl.sex = !this.appl.sex
				},
				assuSex: function() {
					this.assu.sex = !this.assu.sex
				},
				checkName: function(name, owner) { //校验姓名
					var toastText = false
					if(!name) {
						toastText = owner + '姓名不能为空'
					} else if(name.length > 20) {
						toastText = owner + '姓名长度不能超过20位'
					} else if(/[a-z]/i.test(name)) { // 英文
						if(name.replace(/\s/, '').length < 3) {
							toastText = owner + '姓名不小于3个字符'
						} else if(!/^[a-z]+[a-z\s]*[a-z]+$/i.test(name) || /(\s)\1/.test(name)) {
							toastText = owner + '姓名填写有误'
						}
					} else if(/[\u4e00-\u9fa5·]/i.test(name)) { // 中文
						if(name.length < 2) {
							toastText = owner + '姓名不小于2个汉字'
						} else if(!/^[\u4e00-\u9fa5]+[\u4e00-\u9fa5·]*[\u4e00-\u9fa5]+$/i.test(name) || /(·)\1/.test(name)) {
							toastText = owner + '姓名填写有误'
						}
					} else if(!/^[a-z]+[\sa-z]*[a-z]+$/i.test(name) && !/^[\u4e00-\u9fa5]+[\u4e00-\u9fa5·]*[\u4e00-\u9fa5]+$/i.test(name)) { // 中英文
						toastText = owner + '姓名填写有误'
					}
					if(toastText) {
						mui.toast(toastText);
						return false;
					} else {
						return true;
					}
				},
				checkAge: function(age, owner) { //校验年龄
					var toastText = false
					if(age == '' && age != 0) {
						toastText = owner + '年龄不能为空'
					}else if(Number(age) < 18 && owner == '投保人'){
						toastText = owner + '不能小于18周岁'
					}
					if(toastText) {
						mui.toast(toastText);
						return false;
					} else {
						return true;
					}
				},
				keepSame: function() { //同投保人
					this.assu = Object.assign({}, this.assu, this.parseVueObj(this.appl))
				},
				displace: function() { //投被保人替换
					var appl = this.appl
					var assu = this.assu
					if(!appl.name && !appl.age){
						appl = this.plans[0].appl
						assu = this.plans[0].assu
					}
					this.appl = Object.assign({}, this.appl, this.parseVueObj(assu))
					this.assu = Object.assign({}, this.assu, this.parseVueObj(appl))
					
				},
				addIns: function() { //添加险种
					if(!this.checkName(this.appl.name, '投保人')) {
						return false;
					} else if(!this.checkAge(this.appl.age, '投保人')) {
						return false;
					} else if(!this.checkName(this.assu.name, '被保人')) {
						return false;
					} else if(this.assu.age === '') {
						mui.toast('被保人年龄不能为空')
						return false;
					} else {
						mui.openWindow({
							id: 'prospect_addIns',
							url: 'prospect-addIns.html',
							show: animateObj.aniDetal,
							extras: {
								appl: this.appl,
								assu: this.assu,
								plan_id: this.plan_id,
								planTime: this.planTime
							}
						});
					}
				},
				del: function(index1, index, fj) { //删除险种
					//找到plans对应的ins中的一个
					var ins;
					for(var i = 0; i < prospect.plans.length; i++) {
						if(this.plans[i].id == this.plan_id) {
							
							ins = this.plans[i].ins
						}
					}
					if(fj){ //附加
						this.$delete(ins[index1].addon, index)
						this.$delete(this.planList[this.plan_id][index1], index)
					}else{ //主险
						ins.splice(index1, 1)
						this.$delete(this.planList[this.plan_id], index1)
					}
					count()
					this.$forceUpdate()
				},
				communic: function(type){
						//通讯录
					this.Communic = type
			        mui.openWindow({
			            url: 'communic.html',
			            id: 'communic',
			            show: animateObj.aniDetal,
			            extras:{
			            	pageid: 'prospect',
			            	tip: 1,
							flag: 'onlineIns'
						}
			        }) 
				},
				editIns:function(index1, item) { //编辑险种
					//找到plans对应的ins中的一个,险删掉当前的数据
					var ins;
					for(var i = 0; i < prospect.plans.length; i++) {
						if(this.plans[i].id == this.plan_id) {
							ins = this.plans[i].ins
						}
					}
					ins.splice(index1, 1)
					alert(JSON.stringify(this.plans))
					this.$delete(this.planList[this.plan_id], index1)
					//打开ins把数据传过去
					mui.openWindow({
						id: 'prospect_addIns',
						url: 'prospect-addIns.html',
						show: animateObj.aniDetal,
						extras: {
							appl: this.appl,
							assu: this.assu,
							plan_id: this.plan_id,
							planTime: item
						}
					});
					this.$forceUpdate()
				},
				removePlan: function(index) { //删除方案
					if(this.plans.length < 2) {
						mui.toast('只剩一个方案，不能删除')
						return false
					}
					var data = {
						modalID: 'modal-config',
						formID: 'prospect',
						goIns_data: index
					}
					showPopu("popup-content.html", "popup_content", 'center', data);
					event.stopPropagation()
				},
				pushPlan: function() {
					//点击生成计划书，弹框判断是否要添加方案
					var data = {
						modalID: 'modal-plan',
						formID: 'prospect'
					}
					showPopu("popup-content.html", "popup_content", 'center', data);
				}
			}
		})

		mui.init();

		mui.plusReady(function() {
			statusbar();
			var winH = window.innerHeight;
			var topHeight = document.querySelector('#Js-header').offsetHeight;
			var fotHeight = document.querySelector('#Js-footer').offsetHeight;
			document.querySelector('#Js-content').style.height = winH - topHeight - fotHeight + 'px';
			
		
			mui(".mui-scroll").on("tap", ".plans-nav ", function(e) {
				prospect.clickNav = true; // 点击变为true
				var c = document.querySelector(".plans-nav.mui-active");
				if(c) {
					c.classList.remove("mui-active");
				}
				this.classList.add("mui-active");
				var wid = this.getAttribute("data-wid");
				var id = this.getAttribute("data-id");
				var index = this.getAttribute("data-index");
				if(id) {
					var data;
					for(var i = 0; i < prospect.plans.length; i++) {
						if(prospect.plans[i].id == id) {
							data = prospect.plans[i]
							prospect.appl = prospect.plans[i].appl
							prospect.assu = prospect.plans[i].assu
						}
					}
					prospect.plan_id = id
				}

			});

			// 日期选择插件
			var dates = mui('.search-date');
			dates.each(function(i, d) {
				d.addEventListener('tap', function() {
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					var _this = this
					var picker = new mui.DtPicker(options);
					picker.show(function(rs) {
						if(i == 0) {
							prospect.appl.birthday = rs.text
						} else {
							prospect.assu.birthday = rs.text
						}
						picker.dispose();
						getAge(rs.text, i)
					});
				}, false);
			});
			//时间
			getAge = function(birthday, i) {
				var now = new Date()
				var year = now.getFullYear()
				var month = now.getMonth() + 1
				var day = now.getDate()
				var r = birthday.split('-').map(function(item){
				    return parseInt(item)
				})
				var age = year - r[0]
				if(r[1] > month || (r[1] === month && r[2] > day)) { // 当月
					age -= 1
				}
				if(i == 0 && age < 18) {
					mui.toast('投保人年龄不能小于18周岁')
				} else if(i == 0 && age > 18) {
					prospect.appl.age = age
				} else if(age < 0){
					mui.toast('被保人年龄不能小于28天')
				} else {
					prospect.assu.age = age
				}
			};
		
			count = function(){
				//算总保费
					var count = 0;
					for(var i in prospect.planList) {
						var item = prospect.planList[i]
							for(var j = 0; j < item.length; j++) {
								for(var k in item[j]) {
									count += Number(item[j][k].period_money)
								}
							}
					}
					prospect.count = count.toFixed(2)
			}
			
			//通讯录回传信息
	        window.addEventListener('getMemberId', function (event) {
		        var memberid = event.detail.id
		        luckyAjax({
					data: {
			            server: 'team.getContactsInfo',
			            data: JSON.stringify({card_no:memberid})
			        },
			        success:function(data){
		                if(data.code){
		                 	var info = data.data;
		                	if(prospect.Communic == 'appl'){
		                		prospect.appl.name = info.name;
		                		prospect.appl.sex = info.sex == '男' ? true : false;
		                		prospect.appl.birthday = info.birthday
		                	}else{
		                		prospect.assu.name = info.name;
		                		prospect.assu.sex = info.sex == '男' ? true : false;
		                		prospect.assu.birthday = info.birthday
		                	}

		                }
			        }
				});
		    })
		
		
			//确定添加方案
			window.addEventListener('addPlan', function(event) {
				prospect.max_id++;
				var data = {
					id: prospect.max_id,
					ins: [],
					appl: {
						name: '',
						name: '',
						age: '',
						sex: true,
						birthday: ''
					},
					assu: {
						name: '',
						age: '',
						sex: true,
						birthday: ''
					}
				}
				prospect.plans.push(data);
				prospect.planList[prospect.max_id] = [];
				prospect.$forceUpdate();
				setTimeout(function() {
					var btn = document.getElementById('plan' + prospect.max_id);
					//监听点击事件
					btn.addEventListener("tap", function() {
						var c = document.querySelector(".plans-nav.mui-active");
						if(c) {
							c.classList.remove("mui-active");
						}
						this.classList.add("mui-active");
						var wid = this.getAttribute("data-wid");
						var id = this.getAttribute("data-id");
						var index = this.getAttribute("data-index");
						if(id) {
							var data;
							for(var i = 0; i < prospect.plans.length; i++) {
								if(prospect.plans[i].id == id) {
									data = prospect.plans[i]
									prospect.appl = prospect.plans[i].appl
									prospect.assu = prospect.plans[i].assu
								}
							}
							prospect.plan_id = id
						}
					});
					mui.trigger(btn, 'tap');
				}, 100)

			});
			//确认删除
			window.addEventListener('sure', function(event) {
				var index = event.detail.data
				prospect.plans.splice(index, 1)
			});
			//接收险种数据
			window.addEventListener('SET_INS', function(event) {
				var id = event.detail.plan_id
				var data = event.detail.ins
				var safeid = event.detail.safeid
				var planList = event.detail.planList
				for(var i = 0; i < prospect.plans.length; i++) {
					if(prospect.plans[i].id == id) {
						prospect.plans[i].ins.push(data)
					}
				}
				prospect.planList[id] = prospect.planList[id].concat(event.detail.planList)
				count();
				prospect.planTime = {}
				prospect.$forceUpdate()
			});
			//接收没有完成的险种数据
			window.addEventListener('SET_TIME', function(event) {
				var data = event.detail.ins
				prospect.planTime = data
			});
			//不添加，即生成
			window.addEventListener('pushPlan', function(event) {
				var data = []
				var fristChild = []
				var otherChild = []
				for(var i = 0; i < prospect.plans.length; i++) {
					var id = prospect.plans[i].id
					var planIns = prospect.plans[i].ins

					for(var j = 0; j < planIns.length; j++) {
						if(!planIns[j]) continue
						var item = prospect.parseVueObj(planIns[j])
						item.main.alias = prospect.alias
						item.main.is_save = 1
						item.main.warranty_year = 105
						item.main.need_packet = 1
						item.main.check = 0
						item.main.flag = item.main.flag ? item.main.flag : 0
						data.push(item.main)
						if(i === 0 && id === 1 && j === 0) {
							fristChild.push(item.main)
						} else {
							otherChild.push(item.main)
						}
						for(var k in item.addon) {
							if(!item.addon[k]) continue
							item.addon[k].is_save = 1
							item.addon[k].warranty_year = 105
							item.addon[k].need_packet = 1
							item.addon[k].check = 0
							item.addon[k].flag = item.addon[k].flag ? item.addon[k].flag : 0
							data.push(item.addon[k])
							if(i === 0 && id === 1 && j === 0) {
								fristChild.push(item.addon[k])
							} else {
								otherChild.push(item.addon[k])
							}
						}
					}
				}
				if(data.length < 1){
					mui.toast('请先完成一个方案') 
					return false;
				}
		     
	        	luckyAjax({
					data: {
			            server: 'Proposal.add',
			            data: JSON.stringify({
			              safes: JSON.stringify(data)
			            })
			        },
			        success:function(res){
						if(res.code == 1){
							var id = res.data.data[0].pl_id
							mui.openWindow({
								id: 'member_plans_detail',
								url: 'member-plans-detail.html',
								show: animateObj.aniDetal,
								extras: {
									pl_id: id //pl_id
								}
							});
							
								prospect.alias= '';
								prospect.max_id= 1; //id叠加
								prospect.plan_id= 1; //当前的数据
								prospect.plans= [{
									id: 1,
									ins: [],
									appl: {
										age: '',
										name: '',
										sex: true
									},
									assu: {
										age: '',
										name: '',
										sex: true
									}
								}];
								prospect.appl= {
									name: '',
									age: '',
									sex: true,
									birthday: ''
								};
								prospect.assu= {
									name: '',
									age: '',
									sex: true,
									birthday: ''
								};
								prospect.planList= { //保险计划的列表
									1: []
								};
								prospect.count= 0; //总保费
								prospect.planTime= {}; //临时保存的数据
								prospect.edit= false //是不是编辑状态
							
						}

			        }
				});
		        

			});

		});
	</script>

</html>