<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/product.css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
</head>

<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">筛选</h1>
        <!--<div class="control">-->
        <!--<a>确认</a>-->
        <!--</div>-->
    </div>
</header>

<div id="Js-content" class="mui-content product">
    <!------------条件筛选 begin------------->
    <!--<div id="Js-productFilter" class="product-filter">-->

    <!--&lt;!&ndash;分类栏目 begin&ndash;&gt;-->
    <!--<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted BL-segmented-control">-->
    <!--<div class="mui-scroll">-->
    <!--<a class="mui-control-item mui-active">-->
    <!--医疗-->
    <!--</a>-->
    <!--<a class="mui-control-item">-->
    <!--重疾-->
    <!--</a>-->
    <!--<a class="mui-control-item">-->
    <!--意外-->
    <!--</a>-->
    <!--<a class="mui-control-item">-->
    <!--航旅-->
    <!--</a>-->
    <!--<a class="mui-control-item">-->
    <!--车险-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;分类栏目 end &ndash;&gt;-->

    <!--</div>-->
    <!------------条件筛选 end  ------------->

    <!------------保险公司列表 begin------------->
    <div id="Js-business" class="product-filter">
        <div class="filter-business">
            <div class="hd BL-ub BL-ub-ac BL-ub-pc">
                <div class="line BL-ub-f1">&nbsp;</div>
                <div class="title">
                    保险公司
                </div>
                <div class="line BL-ub-f1">&nbsp;</div>
            </div>
            <div class="mui-row bd group" v-if="list" v-cloak>
                <div class="item mui-col-sm-4 mui-col-xs-4" v-for="(item,key) in list" :key="key"
                     :class="{'item-active':companyId&&companyId===item.id}">
                    <div class="name" @click="chooseCompany(item.id)">{{item.company_name}}</div>
                </div>
            </div>
        </div>
    </div>
    <!------------保险公司列表 end  ------------->
</div>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();

    (function ($) {
        $.plusReady(function () {
            statusbar();
            var company = new Vue({
                el: '#Js-business',
                data: {
                    companyId: '',
                    list: []
                },
                methods: {
                    chooseCompany: function (e) {
                        this.companyId = e;
                        $.fire(plus.webview.currentWebview().opener(), 'companyId', {id: e});
                        $.back();
                    }
                }
            });
            //接收上一个页面传来的公司id
            company.companyId = plus.webview.currentWebview().company_id;
            plus.nativeUI.showWaiting();
            $.ajax('http://ts-www.luckyins.com/api/api/invoke', {
                data: {
                    device: 'pad',
                    server: 'lifeProduct.getCompanyList'
                },
                dataType: 'json',//服务器返回json格式数据
                type: 'post',//HTTP请求类型
                timeout: 10000,//超时时间设置为10秒；
                headers: {'Content-Type': 'application/json'},
                success: function (data) {
                    plus.nativeUI.closeWaiting();
                    console.log(JSON.stringify(data));
                    if (data.code === 1) {
                        company.list = data.data;
                        var winH = window.innerHeight;
                        var titHeight = document.querySelector('#Js-header').offsetHeight;
                        document.querySelector('#Js-business').style.height = winH - titHeight + 'px';
//                        $.toast(data.msg, {duration: 'short', type: 'div'});
                    } else {
                        $.toast(data.msg, {duration: 'short', type: 'div'});
                        return false;
                    }
                },
                error: function (xhr, type, errorThrown) {
                    $.toast(errorThrown, {duration: 'short', type: 'div'});
                    return false
                }
            });
        });

    }(mui));

</script>

</html>