<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
</head>

<body class="BL-overFlow-hiddenX">
	<header id="Js-header" style="position: fixed;left: 0;top: 0rem;width: 100%;z-index: 99;">
        <div class="BL-mod-headbar BL-mod-headbar-pos" style="border-bottom: 0 none; padding-left: 1.5rem; padding-right: 1.5rem;">
            <a id="Js-back" class="mui-action-back ico-back-bg">
                <div class="mui-icon-left-nav BL-icon BL-icon-left" style="color: rgba(255,255,255,1)"></div>
            </a>
            <h1 class="BL-title" style="color: rgba(0,0,0,0)">排行榜</h1>
            <div class="control">
                <a class="BL-icon-txt" style="color: rgba(255,255,255,1)">说明</a>
            </div>
        </div>
	</header>
	<div id="Js-content" class="mui-content" style="padding-top: 0;">
	    <div id="Js-main">
	    	<!-- 靠边按钮 -->
			<div class="rank-btn BL-ub BL-ub-pc BL-ub-ac">
		        <a class="mui-icon mui-icon-back" @click="showRank"></a>
		        <div class="rank-txt" v-show="show">
		            <span v-for="(item,index) in flagArr" v-show="index!=flag" @click="change(index)">{{ item }}</span>
		        </div>
		    </div>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll rank-skin">
                    <div class="rank-header">
                        <img src="images/rank/trophy.png"/>
                        <div class="rank-explain mui-row">
                            <span class="mui-col-sm-4 BL-txt-l">统计时间：本月</span>
                            <span class="mui-col-sm-8 BL-txt-r">以下数据每小时更新一次</span>
                        </div>
                    </div>
                    <div class="rank-body">
                    	<div class="rank-title BL-ub BL-ub-pc BL-ub-ac">
                            <span>{{ flagArr[flag] }}</span>
                        </div>
                        <div class="rank-list">
                            <!-- 精英榜 -->
                            <ul class="list"  v-if="flag == 0 && person_sale">
                                <li class="list-title mui-row">
                                    <span class="mui-col-sm-2">排名</span>
                                    <span class="mui-col-sm-4">机构名称</span>
                                    <span class="mui-col-sm-2">姓名</span>
                                    <span class="mui-col-sm-4">标保（万元）</span>
                                </li>
                                <li v-if="person_sale.length > 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac" v-for="(item,index) in person_sale">
                                    <span class="mui-col-sm-2">
                                        <i v-if="index==0 || index==1 || index==2" class="ico-rank BL-bimg-cover" :class="{'ico-rank-first': index==0, 'ico-rank-second': index==1, 'ico-rank-three': index==2 }"></i>
                                        <template v-else>{{ index + 1 }}</template>
                                    </span>
                                    <span class="mui-col-sm-4">{{ item.dept_name }}</span>
                                    <span class="mui-col-sm-2">{{ item.user_name }}</span>
                                    <span class="mui-col-sm-4">{{ item.std_premium }}</span>
                                </li>
                                <li v-if="person_sale.length == 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac">
                                    <span class="mui-col-sm-12 BL-txt-c">暂无数据</span>
                                </li>
                            </ul>
                            <!-- 明星机构 -->
                            <ul class="list"  v-if="flag == 1 && dept_sale">
                                <li class="list-title mui-row">
                                    <span class="mui-col-sm-2">排名</span>
                                    <span class="mui-col-sm-5">机构名称</span>
                                    <span class="mui-col-sm-5">标保（万元）</span>
                                </li>
                                <li v-if="dept_sale.length > 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac" v-for="(item,index) in dept_sale">
                                    <span class="mui-col-sm-2">
                                        <i v-if="index==0 || index==1 || index==2" class="ico-rank BL-bimg-cover" :class="{'ico-rank-first': index==0, 'ico-rank-second': index==1, 'ico-rank-three': index==2 }"></i>
                                        <template v-else>{{ index + 1 }}</template>
                                    </span>
                                    <span class="mui-col-sm-5">{{ item.dept_name }}</span>
                                    <span class="mui-col-sm-5">{{ item.std_premium }}</span>
                                </li>
                                <li v-if="dept_sale.length == 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac">
                                    <span class="mui-col-sm-12 BL-txt-c">暂无数据</span>
                                </li>
                            </ul>
                            <!-- 增员排行榜 -->
                            <ul class="list"  v-if="flag == 2 && person_add">
                                <li class="list-title mui-row">
                                    <span class="mui-col-sm-2">排名</span>
                                    <span class="mui-col-sm-4">机构名称</span>
                                    <span class="mui-col-sm-2">姓名</span>
                                    <span class="mui-col-sm-4">新增人数</span>
                                </li>
                                <li v-if="person_add.length > 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac" v-for="(item,index) in person_add">
                                    <span class="mui-col-sm-2">
                                        <i v-if="index==0 || index==1 || index==2" class="ico-rank BL-bimg-cover" :class="{'ico-rank-first': index==0, 'ico-rank-second': index==1, 'ico-rank-three': index==2 }"></i>
                                        <template v-else>{{ index + 1 }}</template>
                                    </span>
                                    <span class="mui-col-sm-4">{{ item.dept_name }}</span>
                                    <span class="mui-col-sm-2">{{ item.user_name }}</span>
                                    <span class="mui-col-sm-4">{{ item.add_num }}</span>
                                </li>
                                <li v-if="person_add.length == 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac">
                                    <span class="mui-col-sm-12 BL-txt-c">暂无数据</span>
                                </li>
                            </ul>
                            <!-- 件数排行榜 -->
                            <ul class="list"  v-if="flag == 3 && piece_num">
                                <li class="list-title mui-row">
                                    <span class="mui-col-sm-2">排名</span>
                                    <span class="mui-col-sm-4">机构名称</span>
                                    <span class="mui-col-sm-2">姓名</span>
                                    <span class="mui-col-sm-4">有效件数</span>
                                </li>
                                <li v-if="piece_num.length > 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac" v-for="(item,index) in piece_num">
                                    <span class="mui-col-sm-2">
                                        <i v-if="index==0 || index==1 || index==2" class="ico-rank BL-bimg-cover" :class="{'ico-rank-first': index==0, 'ico-rank-second': index==1, 'ico-rank-three': index==2 }"></i>
                                        <template v-else>{{ index + 1 }}</template>
                                    </span>
                                    <span class="mui-col-sm-4">{{ item.dept_name }}</span>
                                    <span class="mui-col-sm-2">{{ item.user_name }}</span>
                                    <span class="mui-col-sm-4">{{ item.count }}</span>
                                </li>
                                <li v-if="piece_num.length == 0" class="mui-row BL-ub BL-ub-pc BL-ub-ac">
                                    <span class="mui-col-sm-12 BL-txt-c">暂无数据</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
<script src="js/mui.min.js" type="text/javascript"></script>
<script src="js/mui.pullToRefresh.js"></script>
<script src="js/mui.pullToRefresh.material.js"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var rank = new Vue({
        el: '#Js-main',
        data: {
            flag: 0,
            show: false,
            flagArr: ['精英榜','明星机构榜','增员排行榜','件数排行榜'],
            person_sale: null, // 精英榜
            dept_sale: null,  // 明星机构榜
            person_add: null,
            piece_num: null,
            time: '',
            type: ['person_sale','dept_sale', 'person_add', 'piece_num'] // person_sale=精英榜，dept_sale=明星机构,person_add=增员排行,piece_num=件数排行
        },
        methods: {
            showRank: function () {
                var vm = this
                vm.show = true
                vm.time = setTimeout(function () {
                    vm.show = false
                },2500)
            },
            change: function (index) {
                var vm = this
                vm.flag = index
                vm.show = false
                clearTimeout(vm.time)
                // 回到顶部
                mui('.mui-scroll-wrapper').scroll().scrollTo(0,0);
                vm.getRank()
            },
            getRank: function () {
                luckyAjax({
                    data: {
                        server: 'team.honorList',
                        data: JSON.stringify({           	
		            		type: rank.type[rank.flag]
			            })
                    },
                    success:function(ret){
                        if (ret.code == 1) {
                        	switch (rank.flag)
                        	{
                        		case 0: 
	                        		rank.person_sale = ret.data.person_sale
	                        		break;
								case 1:
									rank.dept_sale = ret.data.dept_sale
									break;
								case 2:
									rank.person_add = ret.data.person_add
									break;
								case 3:
									rank.piece_num = ret.data.piece_num
									break;
								default:
								  	mui.toast("加载数据失败", {duration: 'short', type: 'div'})
                        	}
                        } else {
                            mui.toast(ret.msg, {duration: 'short', type: 'div'})
                        }
                    }
                });
            }
        }
    })
    mui.plusReady(function () {
        statusbar();
        var winH = window.innerHeight;
        document.querySelector('#Js-main').style.height = winH + "px";
        //阻尼系数
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        mui('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: false, //是否显示滚动条
            deceleration: deceleration
        });

        // 改变头部背景色等
        document.querySelector("#Js-content").addEventListener('scroll', function (e) {
            var y = Math.abs(e.detail.y) * 0.01;
            document.querySelector('#Js-header').style.background = "rgba(255,255,255," + y + ")";
            document.querySelector('.BL-title').style.color = "rgba(51,51,51," + y + ")";
            if (e.detail.y >= 0) {
                document.querySelector('.ico-back-bg').style.background = "rgba(0,0,0,.3)";
                document.querySelector('.BL-icon').style.color = "rgba(255,255,255,1)";
                document.querySelector('.BL-icon-txt').style.color = "rgba(255,255,255,1)";
            } else {
                document.querySelector('.ico-back-bg').style.background = "rgba(0,0,0,0)";
                document.querySelector('.BL-icon').style.color = "rgba(102,102,102,1)";
                document.querySelector('.BL-icon-txt').style.color = "rgba(0,122,255,1)";
            }
        });

        rank.getRank()
        
        // 说明查看事件
		mui('#Js-header').on('tap','.BL-icon-txt', function(e){
			var tax_id = this.getAttribute('data-tax')
			var data = {
				modalID : 'modal-rank',
				formID : 'rank',
				goIns_data: {}
	    	} 
            // 打开遮罩层，弹框
            showPopu("popup-content.html", "popup_content", 'center', data);
		});
    })
</script>

</html>