<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/module.css" rel="stylesheet" />
		<link href="css/member.css" rel="stylesheet" />
		<script src="js/config.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
	</head>
	<body class="BL-bg-f2f">
		<header id="Js-header" class="BL-bg-fff">
			<div class="BL-mod-headbar BL-mod-headbar-pos">
				<a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
				<h1 class="BL-title"></h1>
			</div>
		</header>
		<!--日期搜索 begin-->
		<div id="Js-teamFilter" class="member-team-search BL-ub BL-ub-ac BL-bg-fff">
			<div class="search-date BL-ub BL-ub-ac">
				<input id="start_time" class="BL-ub BL-ub-f1 date" type="text" data-options='{"type":"date"}'/>
				<div class="down">
					<span class="BL-bimg-contain search-down"></span>
				</div>
			</div>
			<div class="search-date BL-ub BL-ub-ac">
				<input id="end_time" class="BL-ub BL-ub-f1 date" type="text" data-options='{"type":"date"}'/>
				<div class="down">
					<span class="BL-bimg-contain search-down"></span>
				</div>
			</div>
			<a id="search" class="searchbtn BL-ub BL-ub-pc">搜索</a>
		</div>
		<!--日期搜索 end -->
		<div id="Js-content" class="mui-content BL-overFlow-autoY">
			<div id="Js-teamtab" class="BL-bg-fff BL-mar-t-1">
				<div class="mui-row member-team-tab-title">
					<span>承保<i class="BL-col-ff8201">{{ count }}</i>件</span>
					<span>标保<i class="BL-col-ff8201">{{ money == "" ? 0 : money }}</i>元</span>
					<span>活动积分<i class="BL-col-ff8201">922593.02</i></span>
				</div>
				<div class="BL-rel">
					<table width="100%" class="member-team-tab"> 
						<thead>
							<tr>
								<th width="10%">序号</th>
								<th width="30%">承保</th>
								<th width="20%">标保（元）</th>
								<th width="15%">活动积分</th>
								<th width="20%">日期</th>
							</tr>
						</thead>
						<tbody>
							<template v-if="list">
								<template v-if="list.length > 0">
									<tr v-for="(item,index) in list" :key="index">
										<td>{{ index+1 }}</td>
										<td>{{ item.product_name }}</td>
										<td class="BL-col-3b9cf5">{{ item.money }}</td>
										<td class="BL-col-3b9cf5">10000</td>
										<td>2018-11-20</td>
									</tr>
								</template>
								<template v-else>
									<tr>
										<td colspan="5">
											<div class="BL-txt-c BL-ftz-42 BL-col-999">没有相关数据</div>
										</td>
									</tr>
								</template>
							</template>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript"></script>
	<script src="js/mui.picker.js"></script>
	<script src="js/mui.dtpicker.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/Date.js"></script>
	<script type="text/javascript">
		mui.init();
		var team = new Vue({
			el: '#Js-teamtab',
			data: {
				count: '',
				money: '',
				list: null  // 业绩列表
			}
		});
		
		var uid;
		var start_time = document.getElementById("start_time");
		var end_time = document.getElementById("end_time");
		
		(function($){
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			$('#Js-teamtab .mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: false, //是否显示滚动条
				deceleration: deceleration
			});
			
			// 设置内容区域
			$.plusReady(function() {
				statusbar();
				var winH = window.innerHeight;
				var titHeight = document.querySelector('#Js-header').offsetHeight;
				var divHeight = document.querySelector('#Js-teamFilter').offsetHeight;
				document.querySelector('#Js-content').style.height = (winH - titHeight - divHeight) +'px';
			});
			
			// 日期选择
			var dates = $('.date');
			dates.each(function(i, d) {
				d.addEventListener('tap', function() {
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					var _this = this
					var picker = new $.DtPicker(options);
					picker.show(function(rs) {
						_this.value = rs.text;
						picker.dispose();
					});
				}, false);
			});
			
			// 点击搜索按钮事件
			document.querySelector('#search').addEventListener('tap', function(){
				var s_time = start_time.value
				var e_time = end_time.value
				getMembers (uid, s_time, e_time)
			})
		}(mui));
		
		window.addEventListener('uId',function(e){
			// 初始化当前月份和上个月份的个人业绩数据
			start_time.value = new Date().addMonth(-1).Format('yyyy-MM-dd');
			end_time.value = new Date().addDays(0).Format('yyyy-MM-dd');
			uid = e.detail.uid;
			getMembers(uid,start_time.value,end_time.value)
		});
		/**
		 * 获取个人业绩列表
		 * @param {String} start_time 开始时间
		 * @param {String} end_time  结束时间
		 */
		function getMembers(uid,start_time, end_time) {
			mui.ajax(config.baseUrl, {
	            data: {
	            	data: JSON.stringify({
	            		user_id: uid,
	            		start_time: start_time,
	            		end_time: end_time
	            	}),
	                server: 'team.getMembers',
	                device: 'mobile'
	            },
	            dataType: 'json',
	            type: 'post',
	            success: function (ret) {
	                if (ret.code) {
	                	alert(JSON.stringify(ret))
	                	team.count = ret.data.count
	                	team.money = ret.data.money
	                    team.list = ret.data.list
	                    document.querySelector('.BL-title').innerHTML = ret.data.name
	                }
	            },
	            error: function () {
	                plus.nativeUI.toast('网络异常：101')
	            }
        	});
		}
	</script>
</html>
