<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
</head>

<body>

<div id="Js-content" class="mui-content BL-rel">
    <!--弹窗 begin-->
    <div class="ins-dialog lg">
        <div class="dialog-header">
            <div class="mui-icon mui-icon-closeempty" id="close-ins-pop"></div>
            <p class="ins-font-md box-f-1">受益人信息</p>
            <div class="header-btn-save">
                <button class="ins-btn sm-btn blue">保存</button>
            </div>
        </div>
        <div class="form-content margin-t-6_125 BL-pad-b-2">
            <div class="form-wrap">
                <div class="input-item box-f-1 box-align-center">
                    <div class="box-f-2 ins-font-sm">是否法定</div>
                    <div class="box-f-1">
                        <div class="mui-switch mui-switch-mini" @click="is_legal_benefic=!is_legal_benefic">
                            <div class="mui-switch-handle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!is_legal_benefic">
                <div class="form-wrap margin-t_875">
                    <div class="input-item box-f-1 box-align-center">
                        <div class="box-f-1 ins-font-sm BL-col-3b9cf5">受益人</div>
                        <div class="box-f-2">
                            <button class="ins-btn xxs-btn">收起
                            </button>
                            <button class="ins-btn xxs-btn">删除
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-wrap margin-t_875">
                    <div class="border-b-e7e7e7">
                        <div class="item-title">证件信息</div>
                    </div>
                    <div class="input-item">
                        <label class="">证件类型</label>
                        <div class="input-wrap box-f-1">
                            <div class="input" id="ID_type">
                                {{beneficiary.ID_type_name}}
                            </div>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">证件号码</label>
                        <div class="input-wrap box-f-1">
                            <input type="number" v-model.trim.lazy="beneficiary.ID_no" placeholder="请输入">
                            <div class="form-clear-icon" v-show="beneficiary.ID_no!=''" @click="beneficiary.ID_no=''">
                                <span class="mui-icon mui-icon-clear"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">证件有效期</label>
                        <div class="input-wrap search-date" data-options='{"type":"date"}'>
                            <input type="text" v-model.lazy="beneficiary.ID_expire_end" placeholder="请选择" readonly>
                        </div>
                        <div class="right-btn orange" @click="beneficiary.longTerm=!beneficiary.longTerm">长期有效</div>
                    </div>
                </div>
                <div class="form-wrap margin-t_875">
                    <div class="border-b-e7e7e7">
                        <div class="item-title">个人信息</div>
                    </div>
                    <div class="input-item">
                        <label class="">姓名</label>
                        <div class="input-wrap box-f-1">
                            <input type="text" v-model.trim.lazy="beneficiary.fullname" placeholder="请输入">
                            <div class="form-clear-icon" v-show="beneficiary.fullname!=''"
                                 @click="beneficiary.fullname=''">
                                <span class="mui-icon mui-icon-clear"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-item" v-if="init&&init.gender">
                        <label class="">性别</label>
                        <div class="input-wrap box-f-1">
                            <button class="ins-btn sm-btn"
                                    :class="{'blue':beneficiary.gender===item.value}"
                                    v-for="(item,index) in init.gender"
                                    @click="beneficiary.gender=item.value">{{item.text}}
                            </button>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">出生日期</label>
                        <div class="input-wrap box-f-1 search-date" data-options='{"type":"date"}'>
                            <input type="text" v-model.lazy="beneficiary.birthday" placeholder="请选择" readonly>
                            <div class="ins-date-icon"></div>
                        </div>
                    </div>
                    <div class="input-item" v-if="init&&init.relation_beneficiary">
                        <label class="">是被保人的</label>
                        <div class="input-wrap box-f-1 multi-btn">
                            <button class="ins-btn xs-btn"
                                    :class="{'blue':item.value===beneficiary.beneficiary_is_insured}"
                                    v-for="(item,index) in init.relation_beneficiary"
                                    @click="beneficiary.beneficiary_is_insured=item.value">
                                {{item.text}}
                            </button>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">受益顺序</label>
                        <div class="input-wrap box-f-1">
                            <input type="number" v-model.number="beneficiary.sort_order" placeholder="请输入">
                            <div class="form-clear-icon" v-show="beneficiary.sort_order!=''"
                                 @click="beneficiary.sort_order=''">
                                <span class="mui-icon mui-icon-clear"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">受益比例(%)</label>
                        <div class="input-wrap box-f-1">
                            <input type="number" v-model.number="beneficiary.rate" placeholder="请输入">
                            <div class="form-clear-icon" v-show="beneficiary.rate!=''" @click="beneficiary.rates=''">
                                <span class="mui-icon mui-icon-clear"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-item ins-font-xs BL-col-999">同一受益顺序的受益人受益份额之和为<span
                            class="BL-col-ff8201">100%</span>
                    </div>
                    <div class="input-item box-f-1 box-align-center">
                        <div class="box-f-1 ins-font-sm BL-col-3b9cf5">是否与投被保人同地址？</div>
                        <div class="box-f-2">
                            <button class="ins-btn xxs-btn" @click="beneficiary.addr_type=1"
                                    :class="{'blue':beneficiary.addr_type===1}">同投保人
                            </button>
                            <button class="ins-btn xxs-btn" @click="beneficiary.addr_type=2"
                                    :class="{'blue':beneficiary.addr_type===2}">同被保人
                            </button>
                            <button class="ins-btn xs-btn" @click="beneficiary.addr_type=3"
                                    :class="{'blue':beneficiary.addr_type===3}">否
                            </button>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">通讯地址</label>
                        <div class="input-wrap box-f-1">
                            <input type="text" placeholder="请选择" readonly>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">详细地址</label>
                        <div class="input-wrap box-f-1">
                            <input type="text" placeholder="请输入" v-model.lazy="beneficiary.address">
                        </div>
                    </div>
                    <div class="input-item">
                        <label class="">邮编</label>
                        <div class="input-wrap box-f-1">
                            <input type="number" placeholder="请输入" v-model.lazy="beneficiary.zip">
                        </div>
                    </div>
                </div>
                <div class="BL-mar-t-b-2 BL-pad-lr-1">
                    <a type="button" class="form-btn" href="auto2c-choose.html" data-wid="auto2c_choose">+添加受益人</a>
                </div>
            </div>
        </div>
    </div>
    <!--弹窗 end-->

</div>
</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mui.picker.js"></script>
<script src="../js/mui.poppicker.js"></script>
<script src="../js/mui.dtpicker.js"></script>
<script src="../js/IDValidator.min.js"></script>
<script src="method.js"></script>
<script type="text/javascript">
    mui.init();

    var bene = new Vue({
        el: '#Js-content',
        data: {
            init: {},
            is_legal_benefic: false,
            beneficiary: {
                beneficiary_is_insured: '',//与被保人关系
                fullname: '',//姓名
                ID_type: '',//证件类型
                ID_type_name: '请选择',//证件类型名称
                ID_no: '',//证件号码
                longTerm: false,//长期有效
                ID_expire_end: '',//证件有效期
                gender: '',//性别
                birthday: '',//出生日期
                zip: '',//邮编
                sort_order: '',//受益顺序
                rate: '',//受益比例
                type: '',//受益类型：身故
                addr_type: 3,//地址类型 1同投保人 2同被保人 3否
                province: '',
                city: '',
                district: '',
                address: ''//详细地址
            }
        },
        created: function () {
            //字段初始化
            this.beneficiary.gender = MALE;
        }
    });
    mui.plusReady(function () {
        var init = plus.webview.currentWebview().data;
        bene.init = init;
        //证件类型选择
        var idtype = new mui.PopPicker();
        idtype.setData(init.ID_type);
        document.querySelector('#ID_type').addEventListener('tap', function () {
            idtype.show(function (items) {
                bene.beneficiary.ID_type = items[0].value;
                bene.beneficiary.ID_type_name = items[0].text;
            })
        })
        //日期选择
        mui('.search-date').each(function (i, d) {
            d.addEventListener('tap', function () {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var _this = this
                var picker = new mui.DtPicker(options);
                picker.show(function (rs) {
                    if (i === 0) {
                        bene.beneficiary.ID_expire_end = rs.text;
                    } else if (i === 1) {
                        bene.beneficiary.birthday = rs.text;
                    }
                    _this.querySelector('input').value = rs.text;
                    picker.dispose();
                });
            }, false);
        });
        //
        var popu = new ClosePopu(); // 实例化关闭窗口对象
        mui('body').on('tap', '#close-ins-pop', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        });
        mui('body').on('tap', '#maskInit', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        }, false);
    });
</script>
</html>