<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/form.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
    <link href="../css/signature.css" rel="stylesheet"/>
</head>

<body>

<div id="Js-content" class="mui-content BL-rel">
    <!--弹窗 begin-->
    <div class="ins-dialog lg">
        <div class="dialog-header">
            <div class="mui-icon mui-icon-closeempty" id="close-ins-pop"></div>
            <p class="ins-font-md box-f-1">信息确认</p>
            <div class="header-btn-save">
                <button class="ins-btn sm-btn blue" id="saveSign">保存</button>
            </div>
        </div>
        <div class="form-content margin-t-6_125 BL-pad-b-1">
            <div class="form-wrap">
                <div class="border-b-e7e7e7">
                    <div class="item-title">签名提示</div>
                </div>
                <div class="BL-pad-a1">
                    <p class="BL-ftz-46 BL-col-333"><i class="mui-icon mui-icon-info"></i>分享签名链接操作提示：</p>
                    <div class="BL-ftz-46 BL-pad-l-2_5">
                        1. 点击下方按钮，复制链接<br>
                        2. 切换到微信或QQ，选择好友并粘贴发送<br>
                        3. 待客户（投被保人）完成签名后，并在签名处点击获取签名<br>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1">
                        <button class="form-btn ins-btn sm-btn btn-copy" data-url="https://ts-cloud.ehuimeng.com/Wechat/signature?owner=appl_signature">复制投保人签名链接
                        </button>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1">
                        <button class="form-btn ins-btn sm-btn btn-copy" data-url="https://ts-cloud.ehuimeng.com/Wechat/signature?owner=assu_signature">复制被保人签名链接
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">信息确认</div>
                </div>
                <div class="BL-pad-a1">
                    <!--<div class="BL-ftz-46">-->
                    <!--1. 本人已阅读<a class="BL-col-3b9cf5"><strong>《恒大万年红终身年金保险条款》</strong></a>、和<a class="BL-col-3b9cf5"><strong>《投保提示书》</strong></a>，了解本产品的特点。<br>-->
                    <!--2. 本人已阅读<a class="BL-col-3b9cf5"><strong>《投保须知》</strong></a>、<a class="BL-col-3b9cf5"><strong>《声明授权与签名》</strong></a>。-->
                    <!--</div>-->
                    <div class="mui-input-row mui-checkbox mui-left BL-mar-t-1">
                        <label style="padding-left: 3rem;line-height: 2rem;">本人已阅读<a class="BL-col-3b9cf5"><strong>《恒大万年红终身年金保险条款》</strong></a>、和<a
                                class="BL-col-3b9cf5"><strong>《投保提示书》</strong></a>、<a class="BL-col-3b9cf5"><strong>《投保须知》</strong></a>、<a
                                class="BL-col-3b9cf5"><strong>《声明授权与签名》</strong></a>，并确认无误
                            <input name="checkbox" value="Item1" type="checkbox" style="top: 20px; left: 0px;">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">手写签名</div>
                </div>
                <!-- 投保人签名Begin -->
                <div class="BL-pad-a1">
                    <div class="BL-ub BL-ub-ac BL-ub-pc">
                        <button class="form-btn ins-btn sm-btn" @click="getSignature(1)">获取投保人签名</button>
                    </div>
                    <div class="input-item sign-item">
                        <label>投保人签名：</label>
                        <div class="input-wrap">
                            <img class="signature-img" slot="input" :src="previewImg[1]" v-if="previewImg[1]">
                        </div>
                        <div class="sign-btn" @click="showSign[1] = true">签名</div>
                    </div>
                    <sign v-if="showSign[1]" index="1"></sign>
                </div>
                <!-- 投保人签名End -->
                <!-- 被保人签名Begin -->
                <div class="BL-pad-a1">
                    <div class="BL-ub BL-ub-ac BL-ub-pc">
                        <button class="form-btn ins-btn sm-btn" @click="getSignature(2)">获取被保人签名</button>
                    </div>
                    <div class="input-item sign-item">
                        <label>被保人签名：</label>
                        <div class="input-wrap">
                            <img class="signature-img" slot="input" :src="previewImg[2]" v-if="previewImg[2]">
                        </div>
                        <div class="sign-btn" @click="showSign[2] = true">签名</div>
                    </div>
                    <sign v-if="showSign[2]" index="2"></sign>
                </div>
                <!-- 被保人签名End -->
            </div>
        </div>
    </div>
</div>
<!--弹窗 end-->
<template id="sign">
    <div class="signature-box">
        <div :id="'signature-pad' + index" class="m-signature-pad">
            <div class="m-signature-pad--body" :style="styles">
                <canvas :id="'canvas'+index"></canvas>
            </div>
            <div class="m-signature-pad--footer">
                <div class="description">请用正楷字体签名</div>
                <div class="left">
                    <button type="button" class="ins-btn xs-btn clear" @click="clear">清除</button>
                </div>
                <div class="right">
                    <button type="button" class="ins-btn xs-btn save" @click="save(index)">保存</button>
                </div>
            </div>
        </div>
    </div>
</template>
</div>
</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/signature/signature_pad.js" type="text/javascript"></script>
<script src="../js/copy.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var popu;

    mui.plusReady(function () {
        popu = new ClosePopu(); // 实例化关闭窗口对象
        //
        //保存
        document.querySelector('#saveSign').addEventListener('tap', function () {
            if (!img.checkForm()) {
                return false
            }
            plus.storage.setItem('hengda_sign', JSON.stringify({
                appl_signature: img.appl_signature,
                assu_signature: img.assu_signature
            }));
            mui.fire(plus.webview.getWebviewById('hd_insurance-index'), 'saveFlag', {
                item: 'sign_save'
            });
            popu.closepop();
            mui.back();
        })
        //
        mui('body').on('tap', '#close-ins-pop', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        });

        mui('body').on('tap', '.btn-copy', function (e) {
            var copy_url = this.getAttribute('data-url')
            if (Clipbord(copy_url)) {
                mui.toast("复制成功", {duration: 'short', type: 'div'})
            }
        });
    });

    Vue.component('sign', {
        template: '#sign',
        props: ['index'],
        data() {
            return {
                signature: null,
                styles: null
            }
        },
        mounted() {
            const lwRatio = 2 / 5
            var canvas = document.getElementById('canvas' + this.index)
            if (!canvas) return
            this.styles = {
                height: (canvas.parentNode.offsetWidth * lwRatio).toFixed(0) + 'px'
            }
            var vm = this

            function resizeCanvas() {
                var ratio = Math.max(window.devicePixelRatio || 1, 1)
                canvas.width = canvas.offsetWidth * ratio
                canvas.height = canvas.offsetWidth * lwRatio * ratio
                canvas.getContext('2d').scale(ratio, ratio)
            }

            window.onresize = resizeCanvas
            resizeCanvas()
            vm.signature = new SignaturePad(canvas, {
                minWidth: 2,
                maxWidth: 3.5
            })
        },
        destroyed() {
            this.signature.off()
            this.signature = null
        },
        methods: {
            clear() {
                this.signature && this.signature.clear()
            },
            save(index) {
                if (this.signature.isEmpty()) {
                    mui.toast("签名不能为空", {duration: 'short', type: 'div'})
                    return
                }
                var base64 = this.signature.toDataURL()
                if (index == 1) {
                    this.setApplSN(base64)
                } else if (index == 2) {
                    this.setAssuSN(base64)
                }
                this.$parent.showSign[this.index] = false
                this.clear()
            },
            setApplSN(base64) {
                base64 && (this.$parent.appl_signature = base64, this.$parent.previewImg[1] = base64)
                this.$forceUpdate()
            },
            setAssuSN(base64) {
                base64 && (this.$parent.assu_signature = base64, this.$parent.previewImg[2] = base64)
                this.$forceUpdate()
            },
        }
    })
    var img = new Vue({
        el: '#Js-content',
        data: {
            appl_signature: '',
            assu_signature: '',
            showSign: {
                1: false,
                2: false
            },
            previewImg: [], //上传图片
        },
        methods: {
            sure: function () {
                popu.closepop();
            },
            checkForm: function () {
                var toast_text = null;
                if (!this.appl_signature) {
                    toast_text = '投保人签名不能为空';
                } else if (!this.assu_signature) {
                    toast_text = '被保人签名不能为空';
                }
                if (toast_text) {
                    mui.toast(toast_text, {duration: 'short', type: 'div'});
                    return false;
                }
                return true;
            },
            getSignature: function (index) {
                if (!index) return
                plus.nativeUI.showWaiting();
                // 获取签名的ajax
                alert(index)
//			    mui.ajax(config.baseUrl, {
//	                data: JSON.stringify({
//	                	id: warId
//	                }),
//	                dataType: 'json',
//	                type: 'post',
//	                timeout: 10000,
//	                headers: {'Content-Type': 'application/json'},
//	                success: function (data) {
//	                    plus.nativeUI.closeWaiting();
//	                    console.log(JSON.stringify(data))
//	                    if (data.code === 1) {
//	                        console.log(JSON.stringify(data.data))
//	                        if ( index === 1 ) {
//	                        	this.appl_signature = res.data.warranty.appl_signature
//	                        	this.$set(this.previewImg, 1, this.baseURL + res.data.warranty.appl_signature)
//	                        } else if ( index === 2 ) {
//	                        	this.warranty.assu_signature = res.data.warranty.assu_signature
//				        		this.$set(this.previewImg, 2, this.baseURL + res.data.warranty.assu_signature)
//	                        }
//	                    } else {
//	                        mui.toast('签名不存在', {duration: 'short', type: 'div'});
//	                        return false;
//	                    }
//	                },
//	                error: function (xhr, type, errorThrown) {
//	                	plus.nativeUI.closeWaiting();
//	                    mui.toast(errorThrown, {duration: 'short', type: 'div'});
//	                    return false;
//	                }
//	            });
            },
        }
    })
</script>
</html>