<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
</head>

<body class="BL-bg-f2f">

<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">恒大在线投保</h1>
    </div>
</header>
<div id="Js-content" class="mui-content BL-rel BL-overFlow-autoY">
    <form class="mui-input-group BL-mar-t-1">
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-applicant">
            <label class="ins-font-md">投保人信息</label>
            <input name="applicant" value="1" type="checkbox" v-model="applicant_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-assured">
            <label class="ins-font-md">被保人信息</label>
            <input name="assured" value="2" type="checkbox" v-model="assured_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-beneficiary">
            <label class="ins-font-md">受益人信息</label>
            <input name="beneficiary" value="3" type="checkbox" v-model="beneficiary_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-safegood">
            <label class="ins-font-md">险种信息</label>
            <input name="safegood" value="4" type="checkbox" v-model="safegood_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-healthinfo">
            <label class="ins-font-md">健康告知信息</label>
            <input name="healthinfo" value="5" type="checkbox" v-model="healthinfo_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-bank">
            <label class="ins-font-md">付款信息</label>
            <input name="bank" value="6" type="checkbox" v-model="bank_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
    </form>
    <div class="BL-mar-t-3 BL-pad-lr-1_5">
        <a type="button" class="form-btn blue" href="auto2c-choose.html" data-wid="auto2c_choose">下一步</a>
    </div>
</div>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var index = new Vue({
        el: '#Js-content',
        data: {
            applicant_save: true,
            assured_save: false,
            beneficiary_save: false,
            safegood_save: false,
            healthinfo_save: false,
            bank_save: false,
            userinfo: '',
            init: {}
        }
    });

    mui.plusReady(function () {
        statusbar();
        var winH = window.innerHeight;
        var titHeight = document.querySelector('#Js-header').offsetHeight;
        document.querySelector('#Js-content').style.height = winH - titHeight + 'px';

        mui('body').on('tap', '#ins-applicant', function () {
//            console.log(JSON.stringify(index.init))
            // 打开遮罩层，弹框
            showPopu("insurance-applicant.html", "insurance_applicant", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-assured', function () {
            // 打开遮罩层，弹框
            showPopu("insurance-assured.html", "insurance_assured", "bottom");
        });
        mui('body').on('tap', '#ins-beneficiary', function () {
            // 打开遮罩层，弹框
            showPopu("insurance-beneficiary.html", "insurance_beneficiary");
        });
        mui('body').on('tap', '#ins-bank', function () {
            // 打开遮罩层，弹框
            showPopu("insurance-bank.html", "insurance_bank");
        });
        mui('body').on('tap', '#ins-healthinfo', function () {
            // 打开遮罩层，弹框
            showPopu("insurance-healthinfo.html", "insurance_healthinfo", "bottom");
        });
        mui('body').on('tap', '#ins-safegood', function () {
            // 打开遮罩层，弹框
            showPopu("insurance-safegood.html", "insurance_safegood", "bottom");
        });

        var userinfo = JSON.parse(plus.storage.getItem('userinfo'));
//        mui.ajax(baseURL + '/invoke', {
//            data: {device: 'mobile', server: 'PolicyIns.getCompanyList'}, //获取保险公司
//            data: {data: JSON.stringify({'supplier_id': 23}), device: 'mobile', server: 'PolicyIns.getProductList'}, //获取险种列表
//            data: {data: JSON.stringify({'supplier_id': 23}), device: 'mobile', server: 'PolicyIns.initPolicyField'}, //初始化

        //试算
//        var productInfo = {productId: "277", pay: 10, insure: "999", amount: "100000"};
//        var insurant = {name: "abc", birthday: "1992-01-10", genderCode: "LAB0001"};
//        mui.ajax(baseURL + '/onlineInsured', {
//            data: {
//                data: JSON.stringify({
//                    user_id: userinfo.user_id,
//                    productInfo: [productInfo],
//                    insurant: insurant
//                }),
//                company_code: 'HengDa',
//                method: 'test_calc'
//            },
        function dataToselect(data) {
            var arr = [];
            mui.each(data, function (ind, ite) {
                arr.push({
                    text: ite.enum_name,
                    value: ite.id
                });
            });
            return arr;
        }

        mui.ajax(baseURL + '/invoke', {
            data: {data: JSON.stringify({'supplier_id': 23}), device: 'mobile', server: 'PolicyIns.initPolicyField'},
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            headers: {'Content-Type': 'application/json'},
            success: function (data) {
                console.log(JSON.stringify(data));
                if (data.code) {
                    var res = {}
                    var data = data.data;
                    mui.each(data, function (index, item) {
                        var itemdata = item.child;
                        if (item.cate === 'AA') {
                            res.ID_type = dataToselect(itemdata); //证件类型
                        } else if (item.cate === 'AB') {
                            res.gender = dataToselect(item.child); //性别
                        } else if (item.cate === 'AC') {
                            res.is_assured = dataToselect(item.child); //与投保人关系
                        } else if (item.cate === 'AD') {
                            res.marriage = dataToselect(item.child); //婚姻状况
                        } else if (item.cate === 'AE') {
                            res.occupation = dataToselect(item.child); //职业
                        } else if (item.cate === 'AF') {
                            res.annual_source = dataToselect(item.child);//收入来源
                        } else if (item.cate === 'AG') {
                            res.social_security = dataToselect(item.child); //是否有社保
                        } else if (item.cate === 'AH') {
                            res.tax_type = dataToselect(item.child); //税收类型
                        } else if (item.cate === 'AI') {
                            res.nation = dataToselect(item.child); //国籍
                        } else if (item.cate === 'AJ') {
                            res.drving_type = dataToselect(item.child); //驾照类型
                        } else if (item.cate === 'AL') {
                            res.resident_type = dataToselect(item.child); //居民类型
                        } else if (item.cate === 'AM') {
                            res.relation_beneficiary = dataToselect(item.child); //受益人与被保人关系
                        } else if (item.cate === 'AM') {
                            res.beneficiary_type = dataToselect(item.child); //受益人类型 法定 指定
                        } else if (item.cate === 'AP') {
                            res.benefit_type = dataToselect(item.child); //受益类型 身故
                        } else if (item.cate === 'AV') {
                            res.bank_code = dataToselect(item.child); //银行代码
                        } else if (item.cate === 'area') {
                            res.province = dataToselect(item.child); //银行代码
                        } else if (item.cate === 'BB') {
                            res.nj_safe_year = dataToselect(item.child); //年金保障年限
                        } else if (item.cate === 'BC') {
                            res.nj_get_way = dataToselect(item.child); //年金领取方式
                        } else if (item.cate === 'BD') {
                            res.nj_get_type = dataToselect(item.child); //年金领取类型
                        }
                    });
                    index.init = res;
                }
            },
            error: function (xhr, type, errorThrown) {
//                mui.toast(errorThrown, {duration: 'short', type: 'div'})
                return false
            }
        });
        //
    })
</script>
</body>
</html>