<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
</head>

<body>

<div id="Js-content" class="mui-content BL-rel" v-cloak>
    <!--弹窗 begin-->
    <div class="ins-dialog lg">
        <div class="dialog-header">
            <div class="mui-icon mui-icon-closeempty" id="close-ins-pop"></div>
            <p class="ins-font-md box-f-1">投保人信息</p>
            <div class="header-btn-save">
                <button class="ins-btn sm-btn blue" @click="checkAppl">保存</button>
            </div>
        </div>
        <div class="form-content margin-t-6_125 BL-pad-b-2" v-cloak>
            <div class="form-wrap" v-if="init&&init.tax_type">
                <div class="border-b-e7e7e7">
                    <div class="item-title">投保人声明</div>
                </div>
                <form class="mui-input-group BL-pad-b-1">
                    <div class="mui-input-row mui-radio mui-left ins-radio-left" v-for="(item,index) in init.tax_type">
                        <label class="ins-font-sm">{{item.text}}</label>
                        <input name="radio" type="radio" :value="item.value" v-model="applicant.holder_isTaxResidents">
                    </div>
                </form>
            </div>
            <div class="form-wrap margin-t_875" v-if="init">
                <div class="border-b-e7e7e7">
                    <div class="item-title">证件信息</div>
                </div>
                <div class="input-item">
                    <label class="">证件类型</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" v-model="applicant.holder_ID_type_name" class="BL-col-666" readonly>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">证件号码</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" placeholder="请输入" v-model.trim.lazy="applicant.holder_ID_no">
                        <div class="form-clear-icon" v-show="applicant.holder_ID_no!=''"
                             @click="applicant.holder_ID_no=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">证件有效期</label>
                    <div class="input-wrap search-date" data-options='{"type":"date"}'>
                        <input type="text" v-model.lazy="applicant.holder_ID_expire_end" placeholder="请选择"
                               :disabled="longTerm">
                    </div>
                    <div class="right-btn orange" :class="{'active':longTerm}" @click="longTerm=!longTerm">长期有效</div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">个人信息</div>
                </div>
                <div class="input-item">
                    <label class="">姓名</label>
                    <div class="input-wrap">
                        <input type="text" v-model.trim.lazy="applicant.holder_name"
                               @change="checkName('投保人',applicant.holder_name)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_name!=''"
                             @click="applicant.holder_name=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                    <div class="right-btn orange address-icon"></div>
                </div>
                <div class="input-item">
                    <label class="">性别</label>
                    <div class="input-wrap box-f-1">
                        <button class="ins-btn sm-btn"
                                :class="{'blue':applicant.holder_gender===item.value}"
                                v-for="(item,index) in init.gender" disabled>{{item.text}}
                        </button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">出生日期</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" v-model.lazy="applicant.holder_birthday" placeholder="请选择" readonly>
                        <div class="ins-date-icon"></div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">国籍</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" class="BL-col-666" v-model.lazy="applicant.holder_nation" readonly>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">手机号码</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.lazy="applicant.holder_mobile"
                               @change="checkPhone('投保人',applicant.holder_mobile)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_mobile!=''"
                             @click="applicant.holder_mobile=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <template>
                    <div class="input-item">
                        <label class="">职业</label>
                        <div class="input-wrap box-f-1" id="occu-first">
                            <input type="text" placeholder="请选择" readonly v-model="applicant.holder_job_name" readonly>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class=""></label>
                        <div class="input-wrap box-f-1">
                            <input type="text" placeholder="请选择" readonly v-model="applicant.holder_job_code" readonly>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class=""></label>
                        <div class="input-wrap box-f-1">
                            <input type="text" placeholder="请选择" readonly v-model="applicant.holder_job_code" readonly>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label class=""></label>
                        <div class="input-wrap box-f-1">
                            <input type="text" placeholder="请选择" readonly v-model="applicant.holder_job_code" readonly>
                            <div class="ins-down-icon"></div>
                        </div>
                    </div>
                </template>
                <div class="input-item ins-pd-r-0" v-if="init&&init.marriage">
                    <label class="">婚姻状况</label>
                    <div class="input-wrap box-f-1 multi-btn">
                        <button class="ins-btn xs-btn" :class="{'blue':item.value===applicant.holder_marriage}"
                                v-for="(item,index) in init.marriage" @click="applicant.holder_marriage=item.value">
                            {{item.text}}
                        </button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">年收入(万元)</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.trim="applicant.holder_salary_avg"
                               @change="checkEarnings(1,applicant.holder_salary_avg)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_salary_avg!=''"
                             @click="applicant.holder_salary_avg=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">收入来源</label>
                    <div class="input-wrap box-f-1">
                        <div class="input" id="annual_source" :data-value="applicant.holder_salary_from">
                            {{applicant.holder_salary_from_name}}
                        </div>
                        <div class="ins-down-icon"></div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">身高(cm)</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.number.lazy="applicant.holder_height"
                               @change="checkHeight('投保人',applicant.holder_height)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_height!=''"
                             @click="applicant.holder_height=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">体重(kg)</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.number.lazy="applicant.holder_weight"
                               @change="checkWeight('投保人',applicant.holder_weight)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_weight!=''"
                             @click="applicant.holder_weight=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">邮箱</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" v-model.lazy="applicant.holder_email"
                               @change="checkEmail('投保人',applicant.holder_email)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_email!=''"
                             @click="applicant.holder_email=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">居住信息</div>
                </div>
                <div class="input-item" v-if="init&&init.resident_type">
                    <label class="">居民类型</label>
                    <div class="input-wrap box-f-1">
                        <button class="ins-btn sm-btn"
                                :class="{'blue':applicant.resident_type===item.value}"
                                v-for="(item,index) in init.resident_type"
                                @click="applicant.resident_type=item.value">{{item.text}}
                        </button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">投保地区</label>
                    <div class="input-wrap box-f-1">
                        <div class="input flex">
                            <div class="flex-1 BL-col-999">广东省</div>
                            <div class="flex-1 BL-col-999">深圳市</div>
                            <div class="flex-1" id="appl-district">{{applicant.holder_home_district_name}}</div>
                        </div>
                        <div class="ins-down-icon"></div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">详细地址</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" v-model="applicant.holder_home_address"
                               @change="checkAddress(applicant.holder_home_address,'投保人')" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_home_address!=''"
                             @click="applicant.holder_home_address=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">邮编</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.lazy="applicant.holder_home_zip"
                               @change="checkZipcode('投保人',applicant.holder_home_zip)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_home_zip!=''"
                             @click="applicant.holder_home_zip=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item box-f-1 box-align-center">
                    <div class="box-f-1 ins-font-sm BL-col-3b9cf5">通讯地址是否同现在住址？</div>
                    <div class="box-f-2">
                        <button class="ins-btn xs-btn BL-mar-r-1" :class="{'blue':applicant.mail_addr_type}"
                                @click="applicant.mail_addr_type=!applicant.mail_addr_type">是
                        </button>
                        <button class="ins-btn xs-btn" :class="{'blue':!applicant.mail_addr_type}"
                                @click="applicant.mail_addr_type=!applicant.mail_addr_type">否
                        </button>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">通讯地区</label>
                    <div class="input-wrap box-f-1">
                        <div class="input" id="address-select">
                            请选择
                        </div>
                        <div class="ins-down-icon"></div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">详细地址</label>
                    <div class="input-wrap box-f-1">
                        <input type="text" v-model="applicant.holder_contact_address" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_contact_address!=''"
                             @change="checkAddress(applicant.holder_contact_address,'投保人通讯')"
                             @click="applicant.holder_contact_address=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="input-item">
                    <label class="">邮编</label>
                    <div class="input-wrap box-f-1">
                        <input type="number" v-model.lazy="applicant.holder_contact_zip"
                               @change="checkZipcode('投保人',applicant.holder_contact_zip)" placeholder="请输入">
                        <div class="form-clear-icon" v-show="applicant.holder_contact_zip!=''"
                             @click="applicant.holder_contact_zip=''">
                            <span class="mui-icon mui-icon-clear"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-item box-f-1">
                <div class="box-f-3 ins-font-sm BL-col-3b9cf5">是否已参加当地社会基本医疗保险（或公费医疗）？</div>
                <div class="box-f-1 ins-switch">
                    <div class="mui-switch mui-switch-mini"
                         @click="applicant.holder_has_SSID=!applicant.holder_has_SSID">
                        <div class="mui-switch-handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹窗 end-->

</div>
</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mui.picker.js"></script>
<script src="../js/mui.poppicker.js"></script>
<script src="../js/mui.dtpicker.js"></script>
<script src="../js/city.data-3.js"></script>
<script src="../js/IDValidator.min.js"></script>
<script src="method.js"></script>
<script type="text/javascript">
    mui.init();

    var appl = new Vue({
        el: '#Js-content',
        data: {
            init: {},
            districts: {},//深圳区
            longTerm: false,
            appl_age: '',//投保人年龄
            applicant: {
                holder_name: '', //姓名
                holder_ID_type: '', //证件类型
                holder_ID_type_name: '身份证', //证件类型名
                holder_ID_no: '', //证件号码
                holder_birthday: '', //出生日期
                holder_ID_expire_end: '', //证件有效期
                holder_gender: '',//性别  1男  2女
                holder_mobile: '',//手机号
                holder_email: '',//邮箱
                holder_height: '',//身高
                holder_weight: '',//体重
                holder_nation: '中国',//国籍
                holder_salary_from: '',//收入来源
                holder_salary_from_name: '请选择',//收入来源名
                holder_salary_avg: '',//年收入

                holder_home_province: '20',//现在住址【省】
                holder_home_city: '323',//现在住址【市】
                holder_home_district: '',//现在住址【区】
                holder_home_district_name: '请选择',//现在住址【区】名称
                holder_home_address: '', //现在住址【地址详情】
                holder_home_zip: '',//现在住址【邮编】
                mail_addr_type: false,//（通讯地址）同现在住址
                holder_contact_province: '',//通讯地址【省】
                holder_contact_city: '',//通讯地址【市】
                holder_contact_district: '',//通讯地址【区】
                holder_contact_province_name: '请选择',//通讯地址【省】名称
                holder_contact_city_name: '请选择',//通讯地址【市】名称
                holder_contact_district_name: '请选择',//通讯地址【区】名称
                holder_contact_address: '', //通讯地址【地址详情】
                holder_contact_zip: '',//通讯地址【邮编】

                holder_has_SSID: '',//是否有社保
                holder_marriage: '',//婚姻状况
                holder_job_code: '',//职业
                holder_isTaxResidents: '', //税收标识
                resident_type: '' //居民类型
            }
        },
        created: function () {
//            字段初始化
            this.applicant.holder_ID_type = IDcard;
            this.applicant.holder_gender = MALE;

            this.$watch('applicant.holder_isTaxResidents', function (val) {
                if (val && val !== TAXTYPE) {
                    mui.toast('根据您声明的内容，请选择线下投保并提交相关资料', {duration: 'short', type: 'div'});
                    return false;
                }
            });
            this.$watch('applicant.holder_ID_no', function (val) {
                IDValidate(IDcard, val, '投保人');
            });
            this.$watch('longTerm', function (val) {
                this.applicant.holder_ID_expire_end = val ? '9999-12-31' : ''
            });

            this.$watch('applicant.holder_birthday', function (val) {
                this.appl_age = getAge(val);
                var toast_text = null;
                if (this.appl_age < 18) {
                    toast_text = '投保人不能小于18岁';
                } else if (this.appl_age > 60) {
                    toast_text = '投保人不能大于60岁';
                }
                if (toast_text) {
                    mui.toast(toast_text, {duration: 'short', type: 'div'});
                    return false;
                }
            })
        },
        checkPhone: function (owner, val) {
            checkPhone(owner, val);
        },
        checkEmail: function (owner, val) {
            checkEmail(owner, val);
        },
        checkName: function (owner, val) {
            checkName(owner, val);
        },
        checkEarnings: function (owner, val) {
            checkEarnings(owner, val);
        },
        checkWeight: function (owner, val) {
            checkWeight(owner, val);
        },
        checkHeight: function (owner, val) {
            checkHeight(owner, val);
        },
        checkAppl: function () {
            if (!checkAppl()) {
                return false;
            }
            console.log(JSON.stringify(this.applicant));
        }
    });

    mui.plusReady(function () {
        var init = plus.webview.currentWebview().data;
        appl.init = init;
        //收入来源选择
        var annual = new mui.PopPicker();
        annual.setData(init.annual_source);
        document.querySelector('#annual_source').addEventListener('tap', function () {
            annual.show(function (items) {
                appl.applicant.holder_salary_from = items[0].value;
                appl.applicant.holder_salary_from_name = items[0].text;
            })
        })
        //深圳投保地区
        var district = new mui.PopPicker();
        document.querySelector('#appl-district').addEventListener('tap', function () {
            district.show(function (items) {
                appl.applicant.holder_home_district = items[0].value;
                appl.applicant.holder_home_district_name = items[0].text;
                appl.applicant.holder_home_zip = items[0].zip;

            })
        })
        //选择省市区
        var _getParam = function (obj, param) {
            return obj[param] || '';
        };
        var cityPicker3 = new mui.PopPicker({
            layer: 3
        });
        cityPicker3.setData(cityData3);
        document.querySelector('#address-select').addEventListener('tap', function () {
            var _self = this;
            cityPicker3.show(function (items) {
                appl.applicant.holder_contact_province = _getParam(items[0], 'value')
                appl.applicant.holder_contact_city = _getParam(items[1], 'value')
                appl.applicant.holder_contact_district = _getParam(items[2], 'value')
                appl.applicant.holder_contact_zip = _getParam(items[2], 'zip')
                _self.innerText = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
            });
        }, false);
        //日期选择
        mui('.search-date').each(function (i, d) {
            d.addEventListener('tap', function () {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var picker = new mui.DtPicker(options);
                picker.show(function (rs) {
                    if (i === 0) {
                        appl.applicant.holder_ID_expire_end = rs.text;
                    } else if (i === 1) {
                        appl.applicant.holder_birthday = rs.text;
                    }
//                    _this.querySelector('input').value = rs.text;
                    picker.dispose();
                });
            }, false);
        });
        //深圳区获取
        getCityArea(appl.applicant.holder_home_city, function (e) {
            district.setData(e)
        })
        //职业
        var occuFirst = new mui.PopPicker();
        var occuSecond = new mui.PopPicker();
        var occuThree = new mui.PopPicker();
        occuFirst.setData(init.occupation);
        document.querySelector('#occu-first').addEventListener('tap', function () {
            occuFirst.show(function (items) {
                appl.applicant.holder_job_name = items[0].text;
                appl.applicant.holder_job_code = items[0].value;
                getOccu(items[0].value, function (res) {
                    occuSecond.setData(res)
                    console.log(JSON.stringify(res))
                    getOccu(items[0].value, function (ret) {
                        occuThree.setData(ret)
                    })
                })
            });
        });
        var popu = new ClosePopu(); // 实例化关闭窗口对象
        mui('body').on('tap', '#close-ins-pop', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        });
        mui('body').on('tap', '#maskInit', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        }, false);
    });
</script>
</html>