<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
</head>

<body class="BL-bg-f2f">

<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">恒大在线投保</h1>
    </div>
</header>
<div id="Js-content" class="mui-content BL-rel BL-overFlow-autoY">
    <form class="mui-input-group BL-mar-t-1">
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-applicant">
            <label class="ins-font-md">投保人信息</label>
            <input name="applicant" value="1" type="checkbox" v-model="applicant_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-assured">
            <label class="ins-font-md">被保人信息</label>
            <input name="assured" value="2" type="checkbox" v-model="assured_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-beneficiary">
            <label class="ins-font-md">受益人信息</label>
            <input name="beneficiary" value="3" type="checkbox" v-model="beneficiary_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-safegood">
            <label class="ins-font-md">险种信息</label>
            <input name="safegood" value="4" type="checkbox" v-model="safegood_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-healthinfo">
            <label class="ins-font-md">健康告知信息</label>
            <input name="healthinfo" value="5" type="checkbox" v-model="healthinfo_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-bank">
            <label class="ins-font-md">付款信息</label>
            <input name="bank" value="6" type="checkbox" v-model="bank_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-pic">
            <label class="ins-font-md">上传证件</label>
            <input name="bank" value="6" type="checkbox" v-model="upload_save" disabled>
            <div class="form-list-icon">
                <div class="mui-icon mui-icon-arrowright"></div>
            </div>
        </div>
        <!--<div class="mui-input-row mui-checkbox ins-checkbox-right" id="ins-sign">-->
            <!--<label class="ins-font-md">签名信息</label>-->
            <!--<input name="bank" value="6" type="checkbox" v-model="sign_save" disabled>-->
            <!--<div class="form-list-icon">-->
                <!--<div class="mui-icon mui-icon-arrowright"></div>-->
            <!--</div>-->
        <!--</div>-->
    </form>
    <div class="BL-mar-t-3 BL-pad-lr-1_5">
        <a type="button" id="ins-save" class="form-btn blue">保存</a>
    </div>
</div>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="method.js"></script>
<script type="text/javascript">
    mui.init();
    var index = new Vue({
        el: '#Js-content',
        data: {
            applicant_save: false,
            assured_save: false,
            beneficiary_save: false,
            safegood_save: false,
            healthinfo_save: false,
            bank_save: false,
            sign_save: false,
            upload_save: false,
            userinfo: '',
            init: {}
        }
    });

    mui.plusReady(function () {
        statusbar();
        var winH = window.innerHeight;
        var titHeight = document.querySelector('#Js-header').offsetHeight;
        document.querySelector('#Js-content').style.height = winH - titHeight + 'px';
        console.log(plus.storage.getItem('hengda_ids'))

        mui('body').on('tap', '#ins-applicant', function () {
            showPopu("insurance-applicant.html", "insurance_applicant", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-assured', function () {
            showPopu("insurance-assured.html", "insurance_assured", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-beneficiary', function () {
            showPopu("insurance-beneficiary.html", "insurance_beneficiary", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-bank', function () {
            showPopu("insurance-bank.html", "insurance_bank", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-healthinfo', function () {
            showPopu("insurance-healthinfo.html", "insurance_healthinfo", "bottom");
        });
        mui('body').on('tap', '#ins-safegood', function () {
            showPopu("insurance-safegood.html", "insurance_safegood", "bottom", index.init);
        });
        mui('body').on('tap', '#ins-pic', function () {
            showPopu("insurance-upload.html", "insurance_upload", "bottom");
        });

		window.addEventListener('saveFlag', function (e) {
			index[e.detail.item] = true
        });
        //整理下拉框需要的数据
        function dataToselect(data, type) {
            var arr = [];
            mui.each(data, function (ind, ite) {
                arr.push({
                    text: type ? ite.name : ite.enum_name,
                    value: ite.id
                });
            });
            return arr;
        }

        //初始化下拉数据获取
        luckyAjax({
            data: {
                data: JSON.stringify({'supplier_id': SCID}),
                server: 'PolicyIns.initPolicyField'
            },
            success: function (data) {
                if (data.code) {
                    var res = {}
                    var data = data.data;
                    mui.each(data, function (index, item) {
                        var itemdata = item.child;
                        if (item.cate === 'AA') {
                            res.ID_type = dataToselect(itemdata); //证件类型
                        } else if (item.cate === 'AB') {
                            res.gender = dataToselect(item.child); //性别
                        } else if (item.cate === 'AC') {
                            res.is_assured = dataToselect(item.child); //与投保人关系
                        } else if (item.cate === 'AD') {
                            res.marriage = dataToselect(item.child); //婚姻状况
                        } else if (item.cate === 'AE') {
                            res.occupation = dataToselect(item.child); //职业
                        } else if (item.cate === 'AF') {
                            res.annual_source = dataToselect(item.child);//收入来源
                        } else if (item.cate === 'AG') {
                            res.social_security = dataToselect(item.child); //是否有社保
                        } else if (item.cate === 'AH') {
                            res.tax_type = dataToselect(item.child); //税收类型
                        } else if (item.cate === 'AI') {
                            res.nation = dataToselect(item.child); //国籍
                        } else if (item.cate === 'AJ') {
                            res.drving_type = dataToselect(item.child); //驾照类型
                        } else if (item.cate === 'AL') {
                            res.resident_type = dataToselect(item.child); //居民类型
                        } else if (item.cate === 'AN') {
                            res.relation_beneficiary = dataToselect(item.child); //受益人与被保人关系
                        } else if (item.cate === 'AO') {
                            res.beneficiary_type = dataToselect(item.child); //受益人类型 法定 指定
                        } else if (item.cate === 'AP') {
                            res.benefit_type = dataToselect(item.child); //受益类型 身故
                        } else if (item.cate === 'AV') {
                            res.bank_code = dataToselect(item.child); //银行代码
                        } else if (item.cate === 'area') {
                            res.province = dataToselect(item.child, true); //省
                        } else if (item.cate === 'BB') {
                            res.nj_safe_year = dataToselect(item.child); //年金保障年限
                        } else if (item.cate === 'BC') {
                            res.nj_get_way = dataToselect(item.child); //年金领取方式
                        } else if (item.cate === 'BD') {
                            res.nj_get_type = dataToselect(item.child); //年金领取类型
                        }
                    });
                    index.init = res;
                }
            }
        });
        //申请核保
        document.querySelector('#ins-save').addEventListener('tap', function () {
            var toast_text = null
            var userinfo = JSON.parse(plus.storage.getItem('userinfo'));
            var ids = plus.storage.getItem('hengda_ids')?JSON.parse(plus.storage.getItem('hengda_ids')):'';
            var war_id = ids && ids.policy_id ? Number(ids.policy_id) : ''
            var insured_id = ids && ids.insured_id ? Number(ids.insured_id) : ''
            console.log(JSON.stringify(ids))
//            "policy_id":"6278","insured_id":6278,"content_id":[12314,12315,12316],"beneficiary_id":[6598],"matterValue_id":[20]
            war_id && deleteItem(war_id, '', 'content')
            war_id && deleteItem(war_id, '', 'beneficiary')
            war_id && deleteItem(war_id, '', 'matter_value')

            var applicant = JSON.parse(plus.storage.getItem('hengda_applicant'))
            var assured = JSON.parse(plus.storage.getItem('hengda_assured'))
            var beneficiary = plus.storage.getItem('hengda_beneficiary') ? JSON.parse(plus.storage.getItem('hengda_beneficiary')) : ''
            var safegoods = JSON.parse(plus.storage.getItem('hengda_safegoods'))
            var bank = JSON.parse(plus.storage.getItem('hengda_bank'))
            var upload = JSON.parse(plus.storage.getItem('hengda_upload'))
            var sign = JSON.parse(plus.storage.getItem('hengda_sign'))
            var healthinfo = JSON.parse(plus.storage.getItem('hengda_healthinfo'))
            //
            if (!applicant) {
                toast_text = '请填写投保人信息';
            } else if (!assured) {
                toast_text = '请填写被保人信息';
            } else if (!beneficiary) {
                toast_text = '请填写受益人信息';
            }
            if(toast_text){
                mui.toast(toast_text);
                return false;
            }
            //
            console.log(JSON.stringify(sign))
            //
            var pushdata = {}
            pushdata.id = war_id
            pushdata.supplier_id = SCID
            pushdata.ins_area = '323' //深圳
            pushdata.sales_channel = '2'
            pushdata.is_first = '1'
            pushdata.user_id = userinfo.id
            //投保人信息
            let applfieldFilter = ['resident_type', 'temp_holder_job_code','mail_addr_type', 'holder_ID_type_name', 'holder_nation_name', 'holder_salary_from_name', 'holder_home_district_name', 'holder_contact_province_name', 'holder_contact_city_name', 'holder_contact_district_name', 'holder_job_name', 'holder_isTaxResidents']
            for (let i in applicant) {
                if (applfieldFilter.indexOf(i) > -1) continue
                pushdata[i] = applicant[i]
            }

            //被保人信息
            var insured = {}
            insured.id = insured_id
            let assufieldFilter = ['insured_has_SSID','insured_temp_job_code','addr_type', 'insured_isTaxResidents', 'insured_job_name', 'insured_ID_type_name', 'insured_nation_name', 'insured_salary_from_name', 'insured_home_district_name']
            for (let i in assured) {
                if (assufieldFilter.indexOf(i) > -1) continue
                insured[i] = assured[i]
            }
            insured.has_insured_SSID = assured.insured_has_SSID ? has_social_security : no_social_security
            pushdata.insured = insured
            //险种信息
            var content = []

            var totalfee = 0
            mui.each(safegoods, function (index, item) {
                var safeitem = {}
                safeitem.is_main = item.is_main ? 1 : 0 //是主险
                safeitem.product_id = item.safe_id
                safeitem.period_payment = item.pay_year
                safeitem.period_guanantee = item.safe_year
                safeitem.fee = item.period_money
                safeitem.amount = item.money
                totalfee += Number(item.period_money)
                if (item.safe_id === qwhh) {
                    safeitem.quantity = (item.money / 50000).toString()
                }
                safeitem.extend_items = {
                    autoApl: item.autoApl ? 1 : 0,
                    guarantee_term: item.guarantee_term,
                    draw_freq: item.draw_freq,
                    draw_age: item.draw_age,
                    shareDrawType: item.shareDrawType
                }
                content.push(safeitem)
            })

            pushdata.total = totalfee.toFixed(2) //总保费
            pushdata.content = content
            //受益人信息
            pushdata.beneficiary = []
            if (!beneficiary) {
                pushdata.is_legal_benefic = 1
            } else {
                pushdata.is_legal_benefic = 0
                mui.each(beneficiary, function (index, item) {
                    pushdata.beneficiary.push(item)
                })
            }
            //银行信息
            for (let i in bank) {
                pushdata[i] = bank[i]
            }
            //健康告知
            pushdata.matter = healthinfo
            //影像
            pushdata.img_json = upload
            //
            var extend_items = {}
            extend_items.resident_type = applicant.resident_type;
            extend_items.isTaxResidents = applicant.holder_isTaxResidents;
            extend_items.isTaxResidentsInsured = assured.insured_isTaxResidents;
            extend_items.mail_addr_type = applicant.mail_addr_type ? 1 : 0
            extend_items.addr_type = assured.addr_type ? 1 : 0
            pushdata.extend_items = extend_items

            console.log('==================')
            console.log(JSON.stringify(pushdata))

            save_ins(pushdata);
        });
        //删除保存的某条数据
        function deleteItem(war_id, itemId, type) {
            luckyAjax({
                data: {
                    data: JSON.stringify({"table": type, "id": itemId, "policy_id": war_id}),
                    server: 'PolicyIns.deleteInsInfo'
                },
                success: function (res) {
                    console.log(JSON.stringify(res));
                    if (res.code) {
                        //
                    } else {
                        mui.toast(res.msg)
                    }
                }
            });
        }
        //保存保单
        function save_ins(data) {
            luckyAjax({
                data: {data: JSON.stringify(data), server: 'PolicyIns.save'},
                success: function (res) {
                    console.log(JSON.stringify(res));
                    if (res.code) {
                        plus.storage.setItem('hengda_ids',JSON.stringify(res.data));
                        showPopu("insurance-sign.html", "insurance_sign", "bottom", res.data.policy_id);
                    } else {
                        mui.toast(res.msg)
                    }
                }
            });
        };

        //核保
        function online_ins(id) {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: id},
                        company_code: 'HengDa',
                        method: 'insure'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                success: function (res) {
                    if (res.code) {
                        upload_img(id)
                    } else {

                    }
                }
            });
        };

        //上传影像
        function upload_img(id) {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: id},
                        company_code: 'HengDa',
                        method: 'update_img'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                success: function (res) {
                    console.log(JSON.stringify(res));
                    if (res.code) {
                        //影像上传成功
                    } else {

                    }
                }
            });
        };
        //
    })

</script>
</body>
</html>
