<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
</head>

<body>

<div id="Js-content" class="mui-content BL-rel">
    <!--弹窗 begin-->
    <div class="ins-dialog lg">
        <div class="dialog-header">
            <div class="mui-icon mui-icon-closeempty" id="close-ins-pop"></div>
            <p class="ins-font-md box-f-1">健康告知信息</p>
            <div class="header-btn-save">
                <button class="ins-btn sm-btn blue" id="saveHealthinfo">保存</button>
            </div>
        </div>
        <div class="form-content margin-t-6_125 BL-pad-b-2">
            <div class="form-wrap">
            	<!--投保人-->
                <div class="table-wrap" v-if="showAppl&&matters" v-cloak>
                    <div class="item">
                        <ul class="flex table-title">
                            <li class="flex-1">投保人健康告知</li>
                            <li class="item-operate" @tap="appfolder=!appfolder">操作</li>
                        </ul>
                    </div>
                    <div v-for="(item,index) in matters" v-if="isShow(index,1)" v-show="!appfolder">
                        <ul class="flex">
                            <li class="flex-1">{{item.entry}}.&nbsp;{{item.content}}</li>
                            <li class="item-operate BL-mar-t-1" v-if="['10','11','5'].indexOf(item.entry)===-1">
                                <button class="ins-btn sm-btn BL-mar-b_5" :class="{'blue':clientvalue.app_amswer[item.id]}" :disabled="clientvalue.app_amswer[item.id]" @tap="appChange(item.id,true)">是</button>
                                <button class="ins-btn sm-btn" :class="{'blue':!clientvalue.app_amswer[item.id]}" :disabled="!clientvalue.app_amswer[item.id]" @tap="appChange(item.id,false)">否</button>
                            </li>
                        </ul>
                        <template v-if="appforms[item.id] && (clientvalue.app_amswer[item.id]||item.entry==11)">
                            <app-form :forms="appforms[item.id]"></app-form>
                        </template>
                        <template v-if="item.child">
                            <div v-for="childitem in item.child" :key="childitem.id">
                                <ul class="flex">
                                    <li class="flex-1">{{childitem.entry}}.&nbsp;{{childitem.content}}</li>
                                    <li class="item-operate BL-mar-t-1">
                                        <button class="ins-btn sm-btn BL-mar-b_5" :class="{'blue':clientvalue.app_amswer[childitem.id]}" :disabled="clientvalue.app_amswer[childitem.id]" @tap="appChange(childitem.id,true)">是</button>
                                        <button class="ins-btn sm-btn" :class="{'blue':!clientvalue.app_amswer[childitem.id]}" :disabled="!clientvalue.app_amswer[childitem.id]" @tap="appChange(childitem.id,false)">否</button>
                                    </li>
                                </ul>
                                <template v-if="appforms[childitem.id] && clientvalue.app_amswer[childitem.id]">
                                    <app-form :forms="appforms[childitem.id]"></app-form>
                                </template>
                        </template>
        			</div>
                </div>
                <!--投保人-->
            	<!--被保人-->
                <div class="table-wrap" v-if="matters" v-cloak>
                    <div class="item">
                        <ul class="flex table-title">
                            <li class="flex-1">被保人健康告知</li>
                            <li class="item-operate" @tap="assfolder=!assfolder">操作</li>
                        </ul>
                    </div>
                    <div v-for="(item,index) in matters" v-if="isShow(index,2)" v-show="!assfolder">
                        <ul class="flex">
                            <li class="flex-1">{{item.entry}}.&nbsp;{{item.content}}</li>
                            <li class="item-operate BL-mar-t-1" v-if="['10','11','5'].indexOf(item.entry)===-1">
                                <button class="ins-btn sm-btn BL-mar-b_5" :class="{'blue':clientvalue.ass_amswer[item.id]}" :disabled="clientvalue.ass_amswer[item.id]" @tap="assChange(item.id,true)">是</button>
                                <button class="ins-btn sm-btn" :class="{'blue':!clientvalue.ass_amswer[item.id]}" :disabled="!clientvalue.ass_amswer[item.id]" @tap="assChange(item.id,false)">否</button>
                            </li>
                        </ul>
                        <template v-if="assforms[item.id] && (clientvalue.ass_amswer[item.id]||item.entry==11)">
                            <app-form :forms="assforms[item.id]"></app-form>
                        </template>
                        <template v-if="item.child">
                            <div v-for="childitem in item.child" :key="childitem.id">
                                <ul class="flex">
                                    <li class="flex-1">{{childitem.entry}}.&nbsp;{{childitem.content}}</li>
                                    <li class="item-operate BL-mar-t-1">
                                        <button class="ins-btn sm-btn BL-mar-b_5" :class="{'blue':clientvalue.ass_amswer[childitem.id]}" :disabled="clientvalue.ass_amswer[childitem.id]" @tap="assChange(childitem.id,true)">是</button>
                                        <button class="ins-btn sm-btn" :class="{'blue':!clientvalue.ass_amswer[childitem.id]}" :disabled="!clientvalue.ass_amswer[childitem.id]" @tap="assChange(childitem.id,false)">否</button>
                                    </li>
                                </ul>
                                <template v-if="assforms[childitem.id] && clientvalue.ass_amswer[childitem.id]">
                                    <app-form :forms="assforms[childitem.id]"></app-form>
                                </template>
                        </template>
        			</div>
                </div>
                <!--被保人-->
            	<div class="mui-input-row mui-checkbox mui-left">
                    <label>1. 本人承诺上述内容与客户告知事实一致，并无虚假和重大遗漏。<br>2. 本人愿意承担因不实告知带来的所有责任</label>
                    <input name="checkbox" value="Item 1" type="checkbox" v-model="promise">
                </div>
            </div>
        </div>
    </div>
    <!--弹窗 end-->

</div>
</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="method.js"></script>
<script type="text/javascript">
    mui.init();
    const assforms = {
        '144': [{
            type: 'textarea',
            value: ''
        }],
        '145': [{
            type: 'textarea',
            value: ''
        }],
        '146': [{
            type: 'textarea',
            value: ''
        }],
        '147': [{
            type: 'textarea',
            value: ''
        }],
        '149': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '150': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '151': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '152': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '153': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '154': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '155': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '156': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '157': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '158': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '159': [{
            chief: '148',
            type: 'textarea',
            value: ''
        }],
        '160': [{
            type: 'textarea',
            value: ''
        }],
        '161': [{
            title: '吸烟数量(支)',
            type: 'number',
            msg: '请输入吸烟数量, 保留整数',
            reg: /^\d+$/,
            value: ''
        }, {
            title: '烟龄(年)',
            type: 'number',
            msg: '请输入烟龄, 保留整数',
            reg: /^\d+$/,
            value: ''
        }, {
            type: 'textarea',
            value: '',
            must: false
        }],
        '162': [{
            title: '饮酒种类',
            type: 'text',
            value: ''
        }, {
            title: '每天饮酒量(两)',
            type: 'number',
            msg: '请输入每天饮酒量, 保留整数',
            reg: /^\d+$/,
            value: ''
        }, {
            title: '酒龄(年)',
            type: 'number',
            msg: '请输入酒龄, 保留整数',
            reg: /^\d+$/,
            value: ''
        }, {
            title: '停止原因及时间',
            type: 'textarea',
            value: '',
            must: false
        }],
        '163': [{
            type: 'textarea',
            value: ''
        }],
        '165': [{
            chief: '164',
            type: 'textarea',
            value: ''
        }],
        '166': [{
            chief: '164',
            type: 'textarea',
            value: ''
        }],
        '167': [{
            title: '怀孕周数',
            type: 'number',
            msg: '请输入怀孕周数, 保留整数',
            reg: /^\d+$/,
            chief: '164',
            value: ''
        }, {
            type: 'textarea',
            chief: '164',
            value: ''
        }],
        '168': [{
            title: '出生身高(cm)',
            type: 'number',
            msg: '请输入出生身高, 保留整数',
            reg: /^\d+$/,
            value: ''
        }, {
            title: '出生体重(Kg)',
            msg: '请输入正确的出生体重，保留2位小数',
            reg: /^\d+(.\d{0,2})?$/,
            type: 'number',
            value: ''
        }],
        '169': [{
            chief: '168',
            type: 'textarea',
            value: ''
        }],
        '170': [{
            chief: '168',
            type: 'textarea',
            value: ''
        }],
        '172': [{
            type: 'textarea',
            value: ''
        }],
        '173': [{
            type: 'textarea',
            value: ''
        }],
        '174': [{
            type: 'textarea',
            value: ''
        }],
        '175': [{
            type: 'textarea',
            value: ''
        }],
        '176': [{
            title: '公司名称',
            type: 'text',
            value: ''
        }, {
            title: '索赔日期',
            type: 'date',
            value: ''
        }, {
            title: '索赔金额',
            type: 'text',
            value: ''
        }, {
            title: '索赔事由',
            type: 'textarea',
            value: ''
        }],
        '177': [{
            title: '驾照类型',
            type: 'select',
            options: {
                'A1': 'A1',
                'A2': 'A2',
                'A3': 'A3',
                'B1': 'B1',
                'B2': 'B2',
                'C1': 'C1',
                'C2': 'C2',
                'C3': 'C3',
                'C4': 'C4',
                'D': 'D',
                'E': 'E',
                'F': 'F',
                'M': 'M',
                'N': 'N',
                'P': 'P'
            },
            value: ''
        }, {
            title: '签发日期',
            type: 'date',
            value: ''
        }, {
            title: '驾龄(年)',
            msg: '请输入整数',
            type: 'number',
            reg: /^\d+$/,
            value: '',
            must: false
        }, {
            title: '车辆类型',
            type: 'text',
            /*     options: {
                  '00': '自用',
                  '01': '货用',
                  '99': '其他'
                }, */
            value: '',
            must: false
        }, {
            title: '用途',
            type: 'text',
            value: '',
            must: false
        }],
        '178': [{
            type: 'textarea',
            value: ''
        }],
        '179': [{
            title: '国家/地区',
            type: 'text',
            value: ''
        }, {
            title: '缘由',
            type: 'text',
            value: ''
        }, {
            title: '滞留时间',
            type: 'text',
            value: ''
        }]
    };
    const appforms = {
      '144': [{
        type: 'textarea',
        value: ''
      }],
      '145': [{
        type: 'textarea',
        value: ''
      }],
      '146': [{
        type: 'textarea',
        value: ''
      }],
      '147': [{
        type: 'textarea',
        value: ''
      }],
      '149': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '150': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '151': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '152': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '153': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '154': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '155': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '156': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '157': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '158': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '159': [{
        chief: '148',
        type: 'textarea',
        value: ''
      }],
      '160': [{
        type: 'textarea',
        value: ''
      }],
      '161': [{
        title: '吸烟数量',
        type: 'number',
        msg: '请输入吸烟数量, 保留整数',
        reg: /^\d+$/,
        value: ''
      }, {
        title: '烟龄',
        type: 'number',
        msg: '请输入烟龄, 保留整数',
        reg: /^\d+$/,
        value: ''
      }, {
        type: 'textarea',
        value: '',
        must: false
      }],
      '162': [{
        title: '饮酒种类',
        type: 'text',
        value: ''
      }, {
        title: '每天饮酒量(两)',
        type: 'number',
        msg: '请输入每天饮酒量, 保留整数',
        reg: /^\d+$/,
        value: ''
      }, {
        title: '酒龄',
        type: 'number',
        msg: '请输入酒龄, 保留整数',
        reg: /^\d+$/,
        value: ''
      }, {
        title: '停止原因及时间',
        type: 'textarea',
        value: '',
        must: false
      }],
      '163': [{
        type: 'textarea',
        value: ''
      }],
      '165': [{
        chief: '164',
        type: 'textarea',
        value: ''
      }],
      '166': [{
        chief: '164',
        type: 'textarea',
        value: ''
      }],
      '167': [{
        title: '怀孕周数',
        type: 'number',
        msg: '请输入怀孕周数, 保留整数',
        reg: /^\d+$/,
        chief: '164',
        value: ''
      }, {
        type: 'textarea',
        chief: '164',
        value: ''
      }],
      '168': [{
        title: '出生身高(cm)',
        type: 'number',
        msg: '请输入出生身高, 保留整数',
        reg: /^\d+$/,
        value: ''
      }, {
        title: '出生体重(Kg)',
        msg: '请输入正确的出生体重，保留2位小数',
        reg: /^\d+(.\d{0,2})?$/,
        type: 'number',
        value: ''
      }],
      '169': [{
        chief: '168',
        type: 'textarea',
        value: ''
      }],
      '170': [{
        chief: '168',
        type: 'textarea',
        value: ''
      }],
      '172': [{
        type: 'textarea',
        value: ''
      }],
      '173': [{
        type: 'textarea',
        value: ''
      }],
      '174': [{
        type: 'textarea',
        value: ''
      }],
      '175': [{
        type: 'textarea',
        value: ''
      }],
      '176': [{
        title: '公司名称',
        type: 'text',
        value: ''
      }, {
        title: '索赔日期',
        type: 'date',
        value: ''
      }, {
        title: '索赔金额',
        type: 'text',
        value: ''
      }, {
        title: '索赔事由',
        type: 'textarea',
        value: ''
      }],
      '177': [{
        title: '驾照类型',
        type: 'select',
        options: {
          'A1': 'A1',
          'A2': 'A2',
          'A3': 'A3',
          'B1': 'B1',
          'B2': 'B2',
          'C1': 'C1',
          'C2': 'C2',
          'C3': 'C3',
          'C4': 'C4',
          'D': 'D',
          'E': 'E',
          'F': 'F',
          'M': 'M',
          'N': 'N',
          'P': 'P'
        },
        value: ''
      }, {
        title: '签发日期',
        type: 'date',
        value: ''
      }, {
        title: '驾龄(年)',
        msg: '请输入整数',
        type: 'number',
        reg: /^\d+$/,
        value: '',
        must: false
      }, {
        title: '车辆类型',
        type: 'text',
        /*     options: {
              '00': '自用',
              '01': '货用',
              '99': '其他'
            }, */
        value: '',
        must: false
      }, {
        title: '用途',
        type: 'text',
        value: '',
        must: false
      }],
      '178': [{
        type: 'textarea',
        value: ''
      }],
      '179': [{
        title: '国家/地区',
        type: 'text',
        value: ''
      }, {
        title: '缘由',
        type: 'text',
        value: ''
      }, {
        title: '滞留时间',
        type: 'text',
        value: ''
      }]
    };

    var health = new Vue({
        el: '#Js-content',
        components: {
		    'app-form': {
		      	template: `
		      	<li class="border-l-r">
		      		<div v-for="(item,index) in forms">
	                    <div class="input-item" v-if="item.type=='number'">
	                        <label class="">{{item.title}}</label>
	                        <div class="input-wrap box-f-1">
	                            <input type="number" v-model="item.value" placeholder="请输入" @change="$parent.change(item)">
	                        </div>
	                    </div>
	                    <div class="input-item box-f-1 box-align-center" v-else-if="item.type=='radio'">
		                    <div class="box-f-2 ins-font-sm">{{item.title}}</div>
		                    <div class="box-f-1">
		                        <div class="mui-switch mui-switch-mini" @click="item.value=!item.value,$parent.change(item)">
		                            <div class="mui-switch-handle"></div>
		                        </div>
		                    </div>
		                </div>
	                    <div class="input-item" v-else-if="item.type=='text'">
	                        <label class="">{{item.title}}</label>
	                        <div class="input-wrap box-f-1">
	                            <input type="text" v-model="item.value" placeholder="请输入" @change="$parent.change(item)">
	                        </div>
	                    </div>
	                    <div class="input-item" v-else-if="item.type=='date'">
                            <label class="">{{item.title}}</label>
                            <div class="input-wrap box-f-1">
                                <input type="date" v-model="item.value" placeholder="请选择" @change="$parent.change(item)">
                            </div>
                        </div>
                        <div class="input-item" v-else-if="item.type=='select'">
                        	<label class="">{{item.title}}</label>
                        	<div class="input-wrap box-f-1">
                                <select class="input" v-model="item.value" @change="$parent.change(item)">
                                  <option disabled value="">请选择</option>
                                  <option :value="ind" v-for="(ite,ind) in item.options" :key="ind">{{ite}}</option>
                                </select>
                            </div>
                        </div>
                    	<textarea name="" placeholder="请说明" v-else-if="item.type=='textarea'" v-model="item.value" @change="$parent.change(item)"></textarea>
                    </div>
                </li>
		      `,
		      	props: {
			        forms: Array,
			        index: String
			    }
		    }
    	},
        data: function() {
            return {
                info: '',
                appfolder: false,
                assfolder: false,
                isAssuWm: false, //被保人是否为女性
                isApplWm: false, //投保人是否为女性
                matters: {},
                promise: false,
                showAppl: false,
                assuAge: '',//被保人年龄
                assforms,
                appforms,
                clientvalue: {
                    ass_amswer: {}, //被保险人勾选
                    fields: {}, //被保人用户字段
                    app_amswer: {}, //投保人勾选
                    app_fields: {} //投保人填写字段
                }
            }
        },
        creadted(){
          console.log('created')
        },
        methods:{
        	change:function(item) {
		      var ret = {
		        status: true,
		        msg: ''
		      }
		      var msg = ''
		      if (item.reg && item.msg && !item.reg.test(item.value)) { // 正则
		        mui.toast(item.msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg: item.msg }
		      } else if ((item.type === 'number') && !/^\d+\.?\d*$/.test(item.value)) {
		        msg = item.msg || '请输入正确的数字'
		        mui.toast(msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg }
		      } else if (item.type === 'text' && !item.value) {
		        msg = item.msg || '请输入' + item.title
		        mui.toast(msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg }
		      } else if (item.type === 'date' && !/^[1-2][0-9][0-9][0-9]-[0-1]{0,1}[0-9]-[0-3]{0,1}[0-9]$/.test(item.value)) {
		        msg = '请输入日期，形如 1999-12-31'
		        mui.toast(msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg }
		      } else if (item.type === 'textarea' && !item.value) {
		        msg = '请完成说明'
		        mui.toast(msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg }
		      } else if (item.type === 'select' && !item.value) {
		        msg = '请完成选择'
		        mui.toast(msg, {duration: 'short', type: 'div'});
		        ret = { status: false, msg }
		      }
		      return ret
		    },
            isShow:function(i, type) {
                if (i === 0 || i === 12) {
                    return false
                }
                if (i === 10 && type === 1 && !this.isApplWm ) {
                    return false
                }
                if (i === 10 && type === 2 && !this.isAssuWm ) {
                    return false
                }
                if (i === 11 && (type === 1 || (i === 11 && type === 2 && this.assuAge > 2))) {
                    return false
                }
                return true
            },
			assChange:function(id,state){
				this.clientvalue.ass_amswer[id] = state;
				this.$forceUpdate();
			},
			appChange:function(id,state){
				this.clientvalue.app_amswer[id] = state;
				this.$forceUpdate();
			},
			getIndex:function(id, chief) {
		      for (var i in this.matters) {
		        var item = this.matters[i]
		        if (item.id === id && !chief) {
		          return i
		        }
		        if (item.id === chief) {
		          for (var j = 0; j < item.child.length; j++) {
		            if (item.child[j].id === id) {
		              return i + item.child[j].entry
		            }
		          }
		        }
		      }
		      return -1
		    },
			checkForm:function() {
		      var toast_text = null
		      var input = null
		      var title = ''
		      var msg = ''
		      for (var i in this.clientvalue.ass_amswer) {
		        if (this.clientvalue.ass_amswer[i] === true) {
		          var item = this.assforms[i]
		          if (item && item.length) {
		            var val = []
		            for (var k = item.length - 1; k >= 0; k--) {
		              input = item[k]
		              title = input.title ? input.title : ''
		              var who = this.showAppl ? '被保人' : ''
		              msg = '问题'+ this.getIndex(Number(i), Number(input.chief)) + who + title + ','
		
		              if (input.must !== false || input.value) {
		                var ret = this.change(input)
		                if (!ret.status) {
		                  toast_text = msg + ret.msg
		                  break
		                }
		              }
		
		              val.push(input.type !== 'textarea' ? input.value : '(' + input.value + ')')
		            }
		            this.clientvalue.fields[i] = val.reverse().join('|')
		          }
		        } else {
		          this.clientvalue.fields[i] = ''
		        }
		      }
		      if (this.showAppl) {
		        for (var j in this.clientvalue.app_amswer) {
		          if (this.clientvalue.app_amswer[j] === true) {
		            var jitem = this.appforms[j]
		            if (jitem && jitem.length) {
		              var jval = []
		              for (var l = jitem.length - 1; l >= 0; l--) {
		                input = jitem[l]
		                title = input.title ? input.title : ''
		                msg = '投保人问题【' + this.getIndex(Number(j), Number(input.chief)) + '】' + title + '，'
		
		                if (input.must !== false || input.value) {
		                  var jret = this.change(input)
		                  if (!jret.status) {
		                    toast_text = msg + jret.msg
		                    break
		                  }
		                }
		
		                jval.push(input.type !== 'textarea' ? input.value : '(' + input.value + ')')
		              }
		              this.clientvalue.app_fields[j] = jval.reverse().join('|')
		            }
		          } else {
		            this.clientvalue.app_fields[j] = ''
		          }
		        }
		      }
		      if (toast_text) {
		      	mui.toast(toast_text, {duration: 'short', type: 'div'});
		        return false
		      }
		      this.$forceUpdate()
		      if (!this.promise) {
		        mui.toast('请阅读用户承诺并确认', {duration: 'short', type: 'div'});
		        return false
		      }
		      return true
		    }
        }
    });
    mui.plusReady(function () {
        var popu = new ClosePopu(); // 实例化关闭窗口对象
        //安卓监听返回事件
        plus.key.addEventListener("backbutton",function(){
            popu.closepop();
        });
        //赋值
        var info = plus.storage.getItem('hengda_healthinfo') ? JSON.parse(plus.storage.getItem('hengda_healthinfo')) : '';
//        if (info) {
//            console.log('plus.ready')
//            health.$nextTick(function () {
//                health.clientvalue = info
//            })
//        }
        //
        var safegoods = JSON.parse(plus.storage.getItem('hengda_safegoods'));
        if (safegoods) {
            mui.each(safegoods, function (index, item) {
                if (item.safe_id === tbrhm) {
                    health.showAppl = true
                    health.appfolder = false
                }
            })
        }
        var applicant = JSON.parse(plus.storage.getItem('hengda_applicant'));
        var assured = JSON.parse(plus.storage.getItem('hengda_assured'));
        health.assuAge = getAge(assured.insured_birthday)
        health.isApplWm = applicant.holder_gender === FEMALE ? true : false
        health.isAssuWm = assured.insured_gender === FEMALE ? true : false
        //保存
        document.querySelector('#saveHealthinfo').addEventListener('tap', function () {
            document.activeElement.blur();
        	if (!health.checkForm()) {
		      return false
		    }
        	//
            var appitems = []
            mui.each(health.matters, function (index, item) {
                var insured_answer = health.clientvalue.ass_amswer[item.id] ? '1' : '0'
                var holder_answer = health.clientvalue.app_amswer[item.id] ? '1' : '0'
                var insured_fields = health.clientvalue.fields[item.id]?health.clientvalue.fields[item.id]:''
                var holder_fields = health.clientvalue.app_fields[item.id]?health.clientvalue.app_fields[item.id]:''
                if (item.id === 46) {
                    //投被保人身高、体重
                    holder_answer = '1'
                    insured_answer = '1'
                    holder_fields = parseInt(applicant.holder_height) + '|' + Number(applicant.holder_weight).toFixed(2)
                    insured_fields = parseInt(assured.insured_height) + '|' + Number(assured.insured_weight).toFixed(2)
                } else if (item.id === 171) {
                    //投被保人年收入、收入来源
                    holder_answer = '1'
                    insured_answer = '1'
                    holder_fields = applicant.holder_salary_avg + '|' + applicant.holder_salary_from
                    insured_fields = assured.insured_salary_avg + '|' + assured.insured_salary_from
                } else if (item.id === 173) {
                    //投被保人是否有社保
                    holder_answer = '1'
                    insured_answer = '1'
                    holder_fields = applicant.holder_has_SSID ? '有社保' : '无社保'
                    insured_fields = assured.insured_has_SSID ? '有社保' : '无社保'
                }
                //168: 2岁及以下
                //164: 女性补充告知
                if ((item.id === 168 && health.assuAge <= 2) || (item.id === 164 && ((health.showAppl && health.isApplWm) || health.isAssuWm)) || (item.id !== 168 && item.id !== 164)) {
                    appitems.push({
                        mv_id: item.id,
                        insured_answer: insured_answer,
                        holder_answer: holder_answer,
                        insured_fields: insured_fields,
                        holder_fields: holder_fields
                    })
                    //子题目
                    item.child && mui.each(item.child, function (key, value) {
                        appitems.push({
                            mv_id: value.id,
                            insured_answer: health.clientvalue.ass_amswer[value.id] ? '1' : '0',
                            holder_answer: health.clientvalue.app_amswer[value.id] ? '1' : '0',
                            insured_fields: health.clientvalue.fields[value.id] ? health.clientvalue.fields[value.id] : '',
                            holder_fields: health.clientvalue.app_fields[value.id] ? health.clientvalue.app_fields[value.id] : ''
                        })
                    })
                }
                //
            })
            plus.storage.setItem('hengda_healthinfo', JSON.stringify(appitems));
            mui.fire(plus.webview.getWebviewById('hd_insurance-index'), 'saveFlag', {
                item: 'hengda_healthinfo',
                data: 'healthinfo'
            });
            popu.closepop();
            mui.back();
        })
        //
        mui('body').on('tap', '#close-ins-pop', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        });

        //获取健康告知题目
        luckyAjax({
            data: {data: JSON.stringify({'supplier_id': SCID, 'version': '1'}), server: 'PolicyIns.getMatterList'},
            success: function (res) {
                if (res.code) {
                    health.matters = res.data;
                } else {

                }
            }
        });
    });
</script>
</html>
