<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/form.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
    <link href="../css/signature.css" rel="stylesheet"/>
</head>

<body>

<div id="Js-content" class="mui-content BL-rel">
    <!--弹窗 begin-->
    <div class="ins-dialog lg">
        <div class="dialog-header">
            <div class="mui-icon mui-icon-closeempty" id="close-ins-pop"></div>
            <p class="ins-font-md box-f-1">信息确认</p>
            <div class="header-btn-save">
                <button class="ins-btn sm-btn blue" id="saveSign">核保</button>
            </div>
        </div>
        <div class="form-content margin-t-6_125 BL-pad-b-1">
            <div class="form-wrap">
                <div class="border-b-e7e7e7">
                    <div class="item-title">签名提示</div>
                </div>
                <div class="BL-pad-a1">
                    <p class="BL-ftz-46 BL-col-333"><i class="mui-icon mui-icon-info"></i>分享签名链接操作提示：</p>
                    <div class="BL-ftz-46 BL-pad-l-2_5">
                        1. 点击下方按钮，复制链接<br>
                        2. 切换到微信或QQ，选择好友并粘贴发送<br>
                        3. 待客户（投被保人）完成签名后，并在签名处点击获取签名<br>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1">
                        <button class="form-btn ins-btn sm-btn btn-copy" :data-url="config.domain + '/ins_sign/signature3.0.html?owner=appl_signature&war_id='+war_id">复制投保人签名链接
                        </button>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1" v-if="assured.rel_insured_holder!==ISASSURED">
                        <button class="form-btn ins-btn sm-btn btn-copy" :data-url="config.domain + '/ins_sign/signature3.0.html?owner=assu_signature&war_id='+war_id">复制被保人签名链接
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">信息确认</div>
                </div>
                <div class="BL-pad-a1">
                    <div class="mui-input-row mui-checkbox mui-left BL-mar-t-1">
                        <label style="padding-left: 3rem;line-height: 2rem;">本人已阅读<a class="BL-col-3b9cf5" type="button" @tap="showStatement"><strong>《{{main_insurance.name}}保险条款》</strong></a>、和<a type="button" id="safenotice"
                                class="BL-col-3b9cf5"><strong>《投保提示书》</strong></a>、<a type="button" id="statement"
                                class="BL-col-3b9cf5"><strong>《自动转账授权说明》</strong></a>，并确认无误
                            <input name="checkbox" value="Item1" type="checkbox" style="top: 20px; left: 0px;">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">手写签名</div>
                </div>
                <!-- 投保人签名Begin -->
                <div class="BL-pad-a1">
                    <div class="BL-ub BL-ub-ac BL-ub-pc">
                        <button class="form-btn ins-btn sm-btn" @click="getSignature(1)">获取投保人签名</button>
                    </div>
                    <div class="input-item sign-item">
                        <label>投保人签名：</label>
                        <div class="input-wrap">
                            <img class="signature-img" slot="input" :src="previewImg[1]" v-if="previewImg[1]">
                        </div>
                        <div class="sign-btn" @click="showSign[1] = true">签名</div>
                    </div>
                    <sign v-if="showSign[1]" index="1"></sign>
                </div>
                <!-- 投保人签名End -->
                <!-- 被保人签名Begin -->
                <div class="BL-pad-a1" v-if="assured.rel_insured_holder!==ISASSURED">
                    <div class="BL-ub BL-ub-ac BL-ub-pc">
                        <button class="form-btn ins-btn sm-btn" @click="getSignature(2)">获取被保人签名</button>
                    </div>
                    <div class="input-item sign-item">
                        <label>被保人签名：</label>
                        <div class="input-wrap">
                            <img class="signature-img" slot="input" :src="previewImg[2]" v-if="previewImg[2]">
                        </div>
                        <div class="sign-btn" @click="showSign[2] = true">签名</div>
                    </div>
                    <sign v-if="showSign[2]" index="2"></sign>
                </div>
                <!-- 被保人签名End -->
            </div>
        </div>
    </div>
</div>
<!--弹窗 end-->
<template id="sign">
    <div class="signature-box">
        <div :id="'signature-pad' + index" class="m-signature-pad">
            <div class="m-signature-pad--body" :style="styles">
                <canvas :id="'canvas'+index"></canvas>
            </div>
            <div class="m-signature-pad--footer">
                <div class="description">请用正楷字体签名</div>
                <div class="left">
                    <button type="button" class="ins-btn xs-btn clear" @click="clear">清除</button>
                </div>
                <div class="right">
                    <button type="button" class="ins-btn xs-btn save" @click="save(index)">保存</button>
                </div>
            </div>
        </div>
    </div>
</template>
</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/signature/signature_pad.js" type="text/javascript"></script>
<script src="../js/copy.js" type="text/javascript"></script>
<script src="method.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    var popu;
    mui('body').on('tap', '#statement', function () {
        mui.openWindow({
            url: 'pay-statement.html',
            id: 'pay_statement',
            show: animateObj.aniDetal
        })
        return false
    })
    mui('body').on('tap', '#safenotice', function () {
        mui.openWindow({
            url: 'safe-notice.html',
            id: 'safe_notice',
            show: animateObj.aniDetal
        })
        return false
    })
    mui.plusReady(function () {
        popu = new ClosePopu(); // 实例化关闭窗口对象

        var itemName = ['hengda_applicant','hengda_assured','hengda_beneficiary','hengda_safegoods','hengda_healthinfo','hengda_bank','hengda_upload','hengda_ids'];
        var assured = plus.storage.getItem('hengda_assured') ? JSON.parse(plus.storage.getItem('hengda_assured')): ''
        var safegoods = plus.storage.getItem('hengda_safegoods') ? JSON.parse(plus.storage.getItem('hengda_safegoods')): ''
        mui.each(safegoods, function (index, item) {
            if(item.is_main == 1){
                img.main_insurance = item
                luckyAjax({
                    data: {
                        data: JSON.stringify({product_id: item.safe_id}),
                        server: 'lifeProduct.getProductInfo'
                    },
                    success: function (data) {
                        plus.nativeUI.closeWaiting();
                        if (data.code === 1) {
                            img.pdfurl = data.data.statement;
                        }
                    }
                })
            }
        })
        img.assured = assured
        var ids = plus.storage.getItem('hengda_ids') ? JSON.parse(plus.storage.getItem('hengda_ids')): ''
        img.war_id = ids ? Number(ids.policy_id) : ''
        console.log(plus.storage.getItem('hengda_safegoods'))
        //赋值
        img.getSignature(1,true);
        img.getSignature(2,true);
        //安卓监听返回事件
        plus.key.addEventListener("backbutton",function(){
            popu.closepop();
        });
        //保存
        document.querySelector('#saveSign').addEventListener('tap', function () {
            if (!img.checkForm()) {
                return false
            }
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {insured_ID_no: assured.insured_ID_no},
                        company_code: 'HengDa',
                        method: 'getLastInsured'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 10000,
                success: function (res) {
                    if (res.code) {
                        mui.toast('核保中...', {duration: 'short', type: 'div'})
                        online_ins()
                    } else {
                        mui.toast("该被保人有正在处理的保单，请稍后再次尝试。", {duration: 'long', type: 'div'})
                    }
                }
            });
        })
        //
        mui('body').on('tap', '#close-ins-pop', function () {
            // 关闭遮罩层，弹框
            popu.closepop();
        });

        mui('body').on('tap', '.btn-copy', function (e) {
            var copy_url = this.getAttribute('data-url')
            if (Clipbord(copy_url)) {
                mui.toast("复制成功", {duration: 'short', type: 'div'})
            }
        });

        //核保
        function online_ins() {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: img.war_id},
                        company_code: 'HengDa',
                        method: 'insure'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 10000,
                success: function (res) {
                    if (res.code) {
                        if (res.data.resultCode === '00') {
                            mui.toast('自核通过，影像上传中', {duration: 'short', type: 'div'})
                            upload_img(img.war_id)
                        } else if (res.data.resultCode === '02') {
                            mui.toast('进入人工核保，影像上传中', {duration: 'short', type: 'div'})
                            upload_img(img.war_id)
                        } else {
                            mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'})
                            return false
                        }
                    } else {
                        mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'})
                        return false
                    }
                }
            });
        };

        //上传影像
        function upload_img(id) {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: id},
                        company_code: 'HengDa',
                        method: 'update_img'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 10000,
                success: function (res) {
                    for (var i = 0; i < 8; i++) {
                        console.log(itemName[i])
                        plus.storage.removeItem(itemName[i])
                    }
                    if (res.code) {
                        if (res.data.resultCode === '00') {
                            mui.toast('上传成功，承保中', {duration: 'short', type: 'div'})
                            ins_pay(id)
                            return false
                        } else {
                            mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'})
                            return false
                        }
                    } else {
                        mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'})
                        return false
                    }
                }
            });
        };
        //
        //承保
        function ins_pay(id) {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: id},
                        company_code: 'HengDa',
                        method: 'pay'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 10000,
                success: function (res) {
                    if (res.code) {
                        if (res.data.resultCode === '00') {
                            mui.toast('承保成功', {duration: 'short', type: 'div'});
                            //清除本地缓存
                            for (var i = 0; i < itemName.length; i++) {
                                plus.storage.removeItem(itemName[i])
                            }
                            //
                            plus.webview.close('hd_insurance-index');
                            popu.closepop();
                            mui.back();
                        } else if (res.data.resultCode === '02') {
                            mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'});
                            //清除本地缓存
                            for (var i = 0; i < itemName.length; i++) {
                                plus.storage.removeItem(itemName[i])
                            }
                            //
                            plus.webview.close('hd_insurance-index');
                            popu.closepop();
                            mui.back();
                        } else {
                            mui.toast(res.data.resultMsg, {duration: 'short', type: 'div'})
                            return false
                        }
                    } else {
                        mui.toast('承保失败', {duration: 'short', type: 'div'})
                        return false
                    }
                }
            });
        };
        //
    });

    Vue.component('sign', {
        template: '#sign',
        props: ['index'],
        data:function() {
            return {
                signature: null,
                styles: null
            }
        },
        mounted:function() {
            const lwRatio = 2 / 5
            var canvas = document.getElementById('canvas' + this.index)
            if (!canvas) return
            this.styles = {
                height: (canvas.parentNode.offsetWidth * lwRatio).toFixed(0) + 'px'
            }
            var vm = this

            function resizeCanvas() {
                var ratio = Math.max(window.devicePixelRatio || 1, 1)
                canvas.width = canvas.offsetWidth * ratio
                canvas.height = canvas.offsetWidth * lwRatio * ratio
                canvas.getContext('2d').scale(ratio, ratio)
            }

            window.onresize = resizeCanvas
            resizeCanvas()
            vm.signature = new SignaturePad(canvas, {
                minWidth: 2,
                maxWidth: 3.5
            })
        },
        destroyed:function() {
            this.signature.off()
            this.signature = null
        },
        methods: {
            clear:function() {
                this.signature && this.signature.clear()
            },
            save:function(index) {
                if (this.signature.isEmpty()) {
                    mui.toast("签名不能为空", {duration: 'short', type: 'div'})
                    return
                }
                var base64 = this.signature.toDataURL()
                if (index == 1) {
                    this.setApplSN(base64)
                } else if (index == 2) {
                    this.setAssuSN(base64)
                }
                this.$parent.save_ins(index)
                this.$parent.showSign[this.index] = false
                this.clear()
            },
            setApplSN:function(base64) {
                base64 && (this.$parent.appl_signature = base64, this.$parent.previewImg[1] = base64)
                this.$forceUpdate()
            },
            setAssuSN:function(base64) {
                base64 && (this.$parent.assu_signature = base64, this.$parent.previewImg[2] = base64)
                this.$forceUpdate()
            },
        }
    });
    var img = new Vue({
        el: '#Js-content',
        data:function() {
            return {
                pdfurl: '',
                main_insurance: '',
                war_id: '',
                assured: {},
                appl_signature: '',
                assu_signature: '',
                showSign: {
                    1: false,
                    2: false
                },
                previewImg: [] //上传图片
            }
        },
        methods: {
            //主险条款
            showStatement: function () {
                var url = this.pdfurl;
                if (url) {
                    showPopu("pdf-modal.html", "pdf_modal", 'center', {
                        pdf: url
                    });
                } else {
                    mui.toast('暂无条款详情', {duration: 'short', type: 'div'});
                    return false;
                }
            },
            //保存签名
            save_ins: function(type) {
                const vm = this
                var data = {}
                if (type == 1) {
                    data.img_json = {
                        '06': vm.appl_signature
                    }
                } else {
                    data.img_json = {
                        '07': vm.assu_signature
                    }
                }
                data.id = vm.war_id
                luckyAjax({
                    data: {data: JSON.stringify(data), server: 'PolicyIns.save'},
                    success: function (res) {
                        if (res.code) {
                            mui.toast(res.msg, {duration: 'short', type: 'div'})
                        } else {
                            mui.toast(res.msg, {duration: 'short', type: 'div'})
                        }
                    }
                });
            },
            sure: function () {
                popu.closepop();
            },
            checkForm: function () {
                var toast_text = null;
                if (!this.appl_signature) {
                    toast_text = '投保人签名不能为空';
                } else if (this.assured.rel_insured_holder!==ISASSURED && !this.assu_signature) {
                    toast_text = '被保人签名不能为空';
                }
                if (toast_text) {
                    mui.toast(toast_text, {duration: 'short', type: 'div'});
                    return false;
                }
                return true;
            },
            getSignature: function (index,notoast) {
                var toast_text = null
                var vm = this
                if (!index) return
                // 获取签名的ajax
                luckyAjax({
                    data: {
                        data: JSON.stringify({policy_id: this.war_id}),
                        server: 'PolicyIns.policyDetails',
                        device: 'mobile'
                    },
                    success: function (res) {
                        if (res.code) {
                            var image = res.data.policyInfo.img_json
                            if ( index === 1 && image['06']) {
                                toast_text = '成功获取投保人签名'
	                        	vm.appl_signature = config.domain + image['06']
                                vm.$set(vm.previewImg, 1, config.domain + image['06'])
	                        } else if ( index === 2 && image['07']) {
                                toast_text = '成功获取被保人签名'
                                vm.assu_signature = config.domain + image['07']
                                vm.$set(vm.previewImg, 2,  config.domain + image['07'])
	                        } else {
                                toast_text = '签名不存在'
                            }
                            if (toast_text && !notoast) {
                                mui.toast(toast_text, {duration: 'short', type: 'div'});
                                return false;
                            }
                        } else {
                            if (!notoast) {
                                mui.toast('签名不存在', {duration: 'short', type: 'div'});
                                return false;
                            }
                        }
                    }
                });
            },
        }
    })
</script>
</html>