<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/module.css" rel="stylesheet"/>
    <link href="../css/form.css" rel="stylesheet"/>
    <link href="../css/insurance.css" rel="stylesheet"/>
    <script src="../js/config.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
    <link href="../css/signature.css" rel="stylesheet"/>
</head>

<body class="BL-bg-f2f">
<header id="Js-header" class="BL-bg-fff">
    <div class="BL-mod-headbar BL-mod-headbar-pos">
        <a class="mui-action-back mui-icon-left-nav BL-icon BL-icon-left"></a>
        <h1 class="BL-title">信息确认</h1>
    </div>
</header>
<div id="Js-content" class="mui-content BL-rel" v-cloak="">
    <!--弹窗 begin-->
    <div class="BL-mar-t-1">
        <div class="form-content BL-pad-b-1">
            <div class="form-wrap">
                <div class="border-b-e7e7e7">
                    <div class="item-title">签名提示</div>
                </div>
                <div class="BL-pad-a1">
                    <p class="BL-ftz-46 BL-col-333"><i class="mui-icon mui-icon-info"></i>分享签名链接操作提示：</p>
                    <div class="BL-ftz-46 BL-pad-l-2_5">
                        1. 点击下方按钮，复制链接<br>
                        2. 切换到微信或QQ，选择好友并粘贴发送<br>
                        3. 待客户（投被保人）完成签名后，请在下方点击获取手机验证码<br>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1"v-show="appSignAddress">
                        <button class="form-btn ins-btn sm-btn btn-copy" :data-url="appSignAddress">复制投保人签名链接
                        </button>
                    </div>
                    <div class="BL-ub BL-ub-ac BL-ub-pc BL-pad-t-1" v-if="!isinsured">
                        <button class="form-btn ins-btn sm-btn btn-copy" :data-url="insuredSignAddress">复制被保人签名链接
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">信息确认</div>
                </div>
                <div class="BL-pad-a1">
                    <div class="mui-input-row mui-checkbox mui-left BL-mar-t-1">
                        <label style="padding-left: 3rem;line-height: 2rem;">本人已阅读
                            <a class="BL-col-3b9cf5" type="button" disabled @tap="showStatement(item.safe_id,item.name)" v-for="(item,index) in safegoods" v-show="item.name"><strong>《{{item.name}}条款》</strong></a>
                            、和<a type="button" id="safenotice"
                                 class="BL-col-3b9cf5"><strong>《客户声明与授权》</strong></a>、<a type="button" id="statement"
                                                                                         class="BL-col-3b9cf5"><strong>《自动转账授权说明》</strong></a>，并确认无误
                            <input name="checkbox" v-model="agree" type="checkbox" style="top: 10px; left: 0px;">
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-wrap margin-t_875">
                <div class="border-b-e7e7e7">
                    <div class="item-title">身份验证</div>
                </div>
                <div class="input-item">
                    <label class="">验证码</label>
                    <div class="BL-ub BL-ub-pj BL-ub-f1">
                        <div class="input-wrap BL-ub-f1">
                            <input type="number" v-model="smscode">
                        </div>
                        <button class="right-btn orange" @click="getSignature" :disabled="disabled">{{text}}</button>
                    </div>
                </div>
            </div>
            <div class="BL-mar-t-3 BL-pad-lr-1_5">
                <a type="button" id="saveSign" class="form-btn blue">确认扣款</a>
            </div>
        </div>
    </div>

</div>
<!--弹窗 end-->

</body>
<script src="../js/mui.min.js" type="text/javascript"></script>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/signature/signature_pad.js" type="text/javascript"></script>
<script src="../js/copy.js" type="text/javascript"></script>
<script src="../js/pdf.js" type="text/javascript"></script>
<script src="method.js" type="text/javascript"></script>
<script type="text/javascript">
    mui.init();
    mui('body').on('tap', '#statement', function () {
        mui.openWindow({
            url: 'pay-statement.html',
            id: 'pay_statement',
            show: animateObj.aniDetal
        })
        return false
    })
    mui('body').on('tap', '#safenotice', function () {
        mui.openWindow({
            url: 'safe-notice.html',
            id: 'safe_notice',
            show: animateObj.aniDetal
        })
        return false
    })
    mui.plusReady(function () {
        statusbar();
        var winH = window.innerHeight;
        var titHeight = document.querySelector('#Js-header').offsetHeight;
        document.querySelector('#Js-content').style.height = winH - titHeight + 'px';

        var pay = new Vue({
            el: '#Js-content',
            data:function() {
                return {
                    safegoods: '',
                    agree: false,
                    pdfurl: '',
                    main_insurance: '',
                    war_id: '',
                    appSignAddress: '', //投保人签名链接
                    insuredSignAddress: '',//被保人签名链接
                    signflag: false, //签名状态
                    isinsured: false,
                    smscode: '',
                    assured: {},
                    previewImg: [], //上传图片
                    disabled: false,
                    second: 60,
                    time: 0
                }
            },
            computed: {
                text: function () {
                    return this.time > 0 ? this.time + 's后可重新获取' : '点击获取'
                }
            },
            methods: {
                //险种条款
                showStatement: function (id, name) {
                    luckyAjax({
                        data: {
                            data: JSON.stringify({product_id: id}),
                            server: 'lifeProduct.getProductInfo'
                        },
                        success: function (data) {
                            plus.nativeUI.closeWaiting();
                            if (data.code === 1) {
                                if (data.data.statement) {
                                    mui.openWindow({
                                        url: '../pdf-modal.html',
                                        id: 'pdf_modal',
                                        show: animateObj.aniDetal,
                                        extras: {
                                            pdf: data.data.statement,
                                            name: name
                                        },
                                        waiting: {
                                            auto: false,
                                        }
                                    });
                                } else {
                                    mui.toast('暂无条款详情', {duration: 'short', type: 'div'});
                                    return false;
                                }
                            }
                        }
                    })
                },
                //07发送验证码
                sendsms: function () {
                    luckyAjax({
                        data: {
                            data: JSON.stringify({
                                msg: {policy_id: this.war_id},
                                company_code: 'ZhaoShang',
                                method: 'sendSms'
                            }),
                            server: 'PolicyIns.onlineInsured',
                            device: 'mobile'
                        },
                        timeout: 30000,
                        success: function (res) {
                            if (res.data.flag === 'Y') {
                                mui.toast(res.msg, {duration: 'long', type: 'div'})
                                pay.sended()
                            } else if (res.data.flag === 'N') {
                                mui.toast(res.data.message, {duration: 'long', type: 'div'})
                            } else {
                                mui.toast(res.data && res.data.message ? res.data.message : '网络出错，请稍后再试', {
                                    duration: 'long',
                                    type: 'div'
                                })
                                return false
                            }
                        }
                    });
                },
                run: function () {
                    this.time = this.second
                    this.timer()
                },
                sended: function () {
                    this.run()
                    this.disabled = true
                },
                timer: function () {
                    if (this.time > 0) {
                        this.time--
                        setTimeout(function () {
                            pay.timer()
                        }, 1000)
                    } else {
                        this.disabled = false
                    }
                },
                // 03查看签名状态
                getSignature: function () {
                    luckyAjax({
                        data: {
                            data: JSON.stringify({
                                msg: {policy_id: this.war_id},
                                company_code: 'ZhaoShang',
                                method: 'sign'
                            }),
                            server: 'PolicyIns.onlineInsured',
                            device: 'mobile'
                        },
                        timeout: 30000,
                        success: function (res) {
                            if (res.data.flag === 'Y') {
                                if (res.data.isSignFinish === 'Y') {
                                    pay.signflag = true
                                    mui.toast('签名已完成', {duration: 'long', type: 'div'})
                                    pay.sendsms()
                                } else {
                                    mui.toast(res.msg, {duration: 'long', type: 'div'})
                                    return false
                                }
                            } else if (res.data.flag === 'N') {
                                mui.toast('接口调用失败', {duration: 'long', type: 'div'})
                                return false
                            } else {
                                mui.toast('网络出错，请稍后再试', {
                                    duration: 'long',
                                    type: 'div'
                                })
                                return false
                            }
                        }
                    });
                }
            }
        })

        var war_id = plus.webview.currentWebview().policy_id ? plus.webview.currentWebview().policy_id : '';
        if (war_id) {
            pay.war_id = war_id
            luckyAjax({
                data: {
                    data: JSON.stringify({policy_id: war_id}),
                    server: 'PolicyIns.edit',
                    device: 'mobile'
                },
                success: function (res) {
                    if (res.code) {
                        var da = res.data
                        var safe_data = []
                        pay.appSignAddress = da.insData.extend_items.appSignAddress
                        pay.insuredSignAddress = da.insData.extend_items.insuredSignAddress
                        if (da.insured.rel_holder_insured === 'LAC001C') {
                            pay.isinsured = true
                        }
                        //险种信息
                        if (!da.contentList.length) {
                            safe_data = ''
                        } else {
                            var sitem = {}
                            for (var s in da.contentList) {
                                sitem = da.contentList[s]
                                console.log(JSON.stringify(sitem))
                                var pdata = {}
                                pdata = {
                                    is_main: sitem.is_main,
                                    safe_id: sitem.product_id,
                                    code: sitem.code,
                                    safe_year: sitem.period_guanantee,
                                    pay_year: sitem.period_payment,
                                    money: sitem.amount, // 基本保险金额
                                    period_money: sitem.fee, // 年交保费
                                    name: sitem.product_name
                                }
                                if (sitem.is_main) {
                                    pdata.bcestype = da.insData.extend_items.bcestype//生存金领取方式 累计生息 现金领取
                                    pdata.BonusGetMode = sitem.extend_items.BonusGetMode//分红领取方式 累计生息 保额分红 现金领取
                                    pdata.autoApl = sitem.extend_items.autoApl === '1' ? true : false //是否自动垫交
                                }
                                safe_data.push(pdata)
                                pay.safegoods = safe_data
                            }
                        }
                    } else {
                        mui.toast('保单不存在', {duration: 'short', type: 'div'})
                        return false
                    }
                }
            })
        } else {
            mui.toast("保单不存在", {duration: 'long', type: 'div'})
            return false;
        }

        var safegoods = plus.storage.getItem('zhaos_safegoods') ? JSON.parse(plus.storage.getItem('zhaos_safegoods')): ''
        pay.safegoods = safegoods
        //保存
        document.querySelector('#saveSign').addEventListener('tap', function () {
            if (!pay.agree) {
                mui.toast("请确认阅读相关条款声明并同意转账授权与声明", {duration: 'short', type: 'div'})
                return false;
            }
            if (!pay.smscode) {
                mui.toast("请填写验证码", {duration: 'short', type: 'div'})
                return false
            }
            checksms()
        })
        //

        mui('body').on('tap', '.btn-copy', function () {
            var copy_url = this.getAttribute('data-url')
            if (Clipbord(copy_url)) {
                mui.toast("复制成功", {duration: 'short', type: 'div'})
            }
        });
        //
        //承保接口调完后
        function afterPay(e) {
            if (e) { //承保成功
                setTimeout(function () {
                    mui.openWindow({
                        url: '../member-warranty-manage.html',
                        id: 'member_warranty_manage',
                        show: animateObj.aniDetal
                    })
                    plus.webview.close('member_life_order');
                }, 3000)
            } else {
                setTimeout(function () {
                    mui.openWindow({
                        url: '../member-life-order.html',
                        id: 'member_life_order',
                        show: animateObj.aniDetal
                    })
                    setTimeout(function () {
                        mui.fire(plus.webview.getWebviewById('member_life_order'), 'reload');
                    }, 200)
                }, 3000)
            }
        }
        //06承保
        function ins_pay() {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: pay.war_id},
                        company_code: 'ZhaoShang',
                        method: 'accept'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 10000,
                success: function (res) {
                    if (res.data.flag === 'Y') {
                        if (res.data.isIssue === 'Y') {
                            mui.toast('承保成功', {duration: 'long', type: 'div'});
                            afterPay(true)
                        } else {
                            mui.toast(res.data.issueNotPassReason, {duration: 'long', type: 'div'});
                            return false
                        }
                    } else if (res.data.flag === 'N') {
                        mui.toast(res.data.message, {duration: 'long', type: 'div'});
                        return false
                    } else {
                        mui.toast('网络出错，请稍后再试', {duration: 'long', type: 'div'})
                        return false
                    }

                }
            });
        };
        //
        //05验证码验证
        function checksms() {
            luckyAjax({
                data: {
                    data: JSON.stringify({
                        msg: {policy_id: pay.war_id, smsCode:pay.smscode},
                        company_code: 'ZhaoShang',
                        method: 'validateSms'
                    }),
                    server: 'PolicyIns.onlineInsured',
                    device: 'mobile'
                },
                timeout: 30000,
                success: function (res) {
                    if (res.data.flag === 'Y') {
                        if (res.data.state && res.data.error) {
                            mui.toast(res.data.error, {duration: 'long', type: 'div'})
                            return false
                        } else {
                            mui.toast(res.msg, {duration: 'long', type: 'div'})
                            ins_pay()
                        }
                    } else if (res.data.flag === 'N') {
                        mui.toast(res.data.message, {duration: 'long', type: 'div'})
                        return false
                    } else {
                        mui.toast('网络出错，请稍后再试', {
                            duration: 'long',
                            type: 'div'
                        })
                        return false
                    }
                }
            });
        }
        //
    });


</script>
</html>